<div class="seo-text">
    <div class="g-content">
        <div class="seo-text__in">
            <input id="seotext_desc" name="seotext_desc" type="checkbox" class="mob-desc__check" aria-hidden="true" />
            <div class="seo-text__title g-heading">
                <span class="g-heading__txt t-h2">Национальный Диагностический центр</span>
            </div>
            <div class="seo-text__desc g-column_x2 mob-desc__wrap">
                <div class="g-editor g-editor--big">
                    <p>ООО «Национальный диагностический центр» представляет собой динамично развивающуюся всероссийскую сеть диагностических центров и многопрофильных клиник для людей любого возраста.</p>
                    <p>В наших медицинских центрах представлен широкий спектр амбулаторно-поликлинических и лабораторно-диагностических услуг, применяются новейшие методы лечения, основанные на лучших мировых достижениях в медицине. На помощь Вам готовы прийти высококвалифицированные специалисты (невролог, кардиолог, травматолог, терапевт, педиатр,  мануальный терапевт, гирудотерапевт), опыт и знания которых помогут сохранить Ваше здоровье и здоровье Ваших близких.</p>
                    <p>ООО «Национальный диагностический центр» представляет собой динамично развивающуюся всероссийскую сеть диагностических центров и многопрофильных клиник для людей любого возраста.</p>
                    <p>Мы обладаем серьезной диагностической базой, что помогает нашим докторам точно ставить диагноз и назначать нужное лечение. В наших центрах установлены:</p>
                    <ul>
                        <li>Современные компьютерные томографы (КТ), позволяющие получать серии поперечных сканов практически любого органа человека</li>
                        <li>Магнитно-резонансные томографы (МРТ)</li>
                        <li>Новейшие рентгеновские аппараты</li>
                        <li>Ультразвуковые сканеры (УЗИ) последнего поколения</li>
                        <li>Проводится полная лабораторная диагностика</li>
                    </ul>
                    <p>Таким образом, пройдя все необходимые обследования, Вы можете быть полностью уверены в том, что никакая, даже самая малая проблема, связанная с Вашим здоровьем, не останется незамеченной. Это особенно важно при диагностике онкологических заболеваний, ведь выявление процесса на ранней стадии способствует полному выздоровлению.</p>
                    <p>В отличие от других крупных медицинских компаний мы имеем собственную круглосуточную инженерную службу, осуществляющую контроль за работой медицинского оборудования.</p>
                    <p>Мы оказываем максимум услуг на дому, экономим время наших пациентов и создаем им дополнительный комфорт, соблюдаем конфиденциальность лечебного процесса, выдаем больничные листы. Постоянно уделяем особое внимание качеству предоставляемых услуг, регулярно повышаем профессионыльный уровень наших специалистов, внедряем новейшие передовые технологии, следим за мировыми инновациями в медицине. В своей работе мы следуем всем законам и требованиям, которые применяются к медицинской деятельности в Российской Федерации. Все это позволяет обеспечить идеальное качество медицинских услуг и безупречный сервис.</p>
                    <p>Миссия ООО «НДЦ» - предоставление пациентам комплексной персонифицированной медицинской помощи, обеспечение пациентам доступа к полной и достоверной информации о состоянии их здоровья и о лечебно-диагностическом процессе, внесение вклада в оздоровление нации, улучшение качества и продолжительности жизни.</p>
                </div>
            </div>
            <label for='seotext_desc' class="g-btn-color g-btn-color--desc mob-desc__btn">
                <span class="g-btn-color__txt"></span>
            </label>
        </div>
    </div>
</div>
<!-- /* seo-text -->
