{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--mb">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>О центре</div>
                    </div>
                </div>
            </div>
            <div class="g-block">
                <div class="g-heading g-heading--mb">
                    <a href="news.html" class="g-heading__link">
                        <span class="g-heading__txt">О центре</span>
                    </a>
                </div>
                <div class="g-numbers">
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">12 545</div>
                        <div class="g-numbers__title">услуг</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">162</div>
                        <div class="g-numbers__title">специалиста</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">530</div>
                        <div class="g-numbers__title">единиц техники</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">23</div>
                        <div class="g-numbers__title">филиала в городах</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/slider/slider_staff.html" %}
    {% include "template/slider/slider_office.html" %}
    {% include "template/slider/slider_news.html" %}
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
