{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span>Взрослое отделение</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Взрослое отделение</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-inner-nav">
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По названию</span>
                        </div>
                        <a href="adult_department.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вид исследования</span>
                        </a>
                        <a href="adult_department.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Диагностический профиль</span>
                        </a>
                        <a href="adult_department.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По популярности</span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="alphabet__list alphabet__list--catalog">
                            <div class="alphabet__item">
                                <div class="alphabet__letter">А</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Аллерголо</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Андролог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">В</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Ведение беременности. Планирование</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Вертебролог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Г</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Гинеколог</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Гастроэнтеролог</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Гирудотерапевт</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Д</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Дерматолог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">К</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Кардиолог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Л</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Лор</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Врач ЛФК</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">М</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Маммолог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Н</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Невролог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">О</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Онколог</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Офтальмолог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">П</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Процедурный кабинет</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Т</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Терапевт</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Травматолог-ортопед</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">У</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Уролог</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Ф</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Функциональный диагност</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Х</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Хирург</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Э</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Эндокринолог</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
