{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span>Анализы</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Анализы</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-inner-nav">
                        <a href="analyzes.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По названию</span>
                        </a>
                        <a href="analyzes.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вид исследования</span>
                        </a>
                        <a href="analyzes_3.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Диагностический профиль</span>
                        </a>
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По популярности</span>
                        </div>
                    </div>

                    <div class="catalog__in">
                        <div class="alphabet__list alphabet__list--catalog">
                            <div class="alphabet__item">
                                <div class="alphabet__letter">H (EN)</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Helicobacter pylori – диагностика гастрита, язвы</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Д</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >иагностика заболеваний передающихся половым путем</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Диагностика сахарного диабета</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Диагностика состояния сердечно-сосудистой системы</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Диагностика состояния щитовидной железы</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Ж</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Женское здоровье</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">И</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследование кала на яйца глист</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследования для госпитализации и общего обследования</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">О</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Онкомаркеры</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">П</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Печень и поджелудочная железа: диагностика гепатоза, холецистита, цирроза, панкреатита</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
