{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span>Анализы</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Анализы</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-inner-nav">
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По названию</span>
                        </div>
                        <a href="analyzes.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вид исследования</span>
                        </a>
                        <a href="analyzes_3.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Диагностический профиль</span>
                        </a>
                        <a href="analyzes_4.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По популярности</span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="alphabet__list alphabet__list--catalog">
                            <div class="alphabet__item">
                                <div class="alphabet__letter">А</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Аллергологические исследования</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Б</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Биохимические исследования</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Г</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Гистологические исследования</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Генетические предрасположенности</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Гормональные исследования</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Д</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Диагностика инфекционных заболеваний</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Диагностические профили</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Дисбиотические состояния кишечника</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Дополнительные услуги</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">И</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Иммунологические исследования</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследование структуры почечного камня</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследования кала</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследования мочи</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Исследования спермы</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">М</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Маркеры аутоимунных заболеваний</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Микроэлементы</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Н</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Наследственные заболевания</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Наследственные заболевания обмена веществ</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">О</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Онкогематологические исследования</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Онкомаркеры</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Определение биологического родства</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">П</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Популярные исследования</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Ц</div>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Цитогенетические исследования</a>
                                <a href="catalog_in_in_analyzes.html" class="alphabet__link" >Цитологические исследования</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
