{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Корзина</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Корзина</h1>
                    </div>
                    <div class="cart">
                        <div class="catalog__list">
                            {% set items = [{
                                    "id": "el_1",
                                    "article": "71-85-200",
                                    "price": "2 650",
                                    "title": "МРТ головного мозга",
                                    "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.",
                                    "cart": true
                                },{
                                    "id": "el_2",
                                    "article": "71-85-200",
                                    "price": "2 700",
                                    "title": "Исследование на нейроваскулярный конфликт",
                                    "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии.",
                                    "cart": true
                                },{
                                    "id": "el_3",
                                    "article": "71-85-200",
                                    "price": "5 300",
                                    "title": "МРТ головного мозга",
                                    "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.",
                                    "cart": true
                                }]
                            %}
                            {% for item in items %}
                                {% include "template/catalog/card.html" %}
                            {% endfor %}
                        </div>
                        <div class="cart-amount">
                            <div class="cart-amount__title">
                                <span class="cart-amount__title-txt">Итого:</span>
                                <span class="cart-amount__title-val">123 490<span class="cart-amount__title-currency g-rub">₽</span></span>
                            </div>
                            <div class="cart-amount__btn">
                                <a href="order.html" class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">Оформить заказ</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__list-cont">
                        <div class="catalog__list-title">
                            <div class="catalog__list-title-txt">Вы смотрели</div>
                        </div>
                        <div class="catalog__list">
                            {% set items = [{
                                    "id": "el_1",
                                    "article": "71-85-200",
                                    "price": "2 650",
                                    "title": "МРТ головного мозга",
                                    "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                },{
                                    "id": "el_2",
                                    "article": "71-85-200",
                                    "price": "2 700",
                                    "title": "Исследование на нейроваскулярный конфликт",
                                    "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                },{
                                    "id": "el_3",
                                    "article": "71-85-200",
                                    "price": "5 300",
                                    "title": "МРТ головного мозга",
                                    "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                }]
                            %}
                            {% for item in items %}
                                {% include "template/catalog/card.html" %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
