{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→Карта услуг</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading g-inner-page__heading--top">
                <h1 class="g-inner-page__heading-txt">Карта услуг</h1>
            </div>

            <div class="catalog-nav">
                <div class="catalog-nav__list catalog-nav__list--open">
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-1.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Телемедицина</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Гематологические исследования"
                                },{
                                    "title": "Биохимические исследования"
                                },{
                                    "title": "Гормональные исследования"
                                },{
                                    "title": "Иммунологические исследования"
                                },{
                                    "title": "Аллергологические исследования"
                                },{
                                    "title": "Маркеры аутоимунных заболеваний"
                                },{
                                    "title": "Онкомаркеры"
                                },{
                                    "title": "Микроэлементы"
                                },{
                                    "title": "Исследования мочи"
                                },{
                                    "title": "Исследование структуры почечного камня"
                                },{
                                    "title": "Исследования кала"
                                },{
                                    "title": "Исследования спермы"
                                },{
                                    "title": "Диагностика инфекционных заболеваний"
                                },{
                                    "title": "Цитологические исследования"
                                },{
                                    "title": "Гистологические исследования"
                                },{
                                    "title": "Онкогематологические исследования"
                                },{
                                    "title": "Генетические предрасположенности"
                                },{
                                    "title": "Наследственные заболевания"
                                },{
                                    "title": "Наследственные заболевания обмена веществ"
                                },{
                                    "title": "Определение биологического родства"
                                },{
                                    "title": "Дисбиотические состояния кишечника и влагалища"
                                },{
                                    "title": "Диагностические профили"
                                },{
                                    "title": "Популярные исследования"
                                },{
                                    "title": "Дополнительные услуги"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="diagnostics.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-2.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Самодиагностика</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="analyzes.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-3.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Анализы</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Аллергологические исследования"
                                },{
                                    "title": "Биохимические исследования"
                                },{
                                    "title": "Гематологические исследования"
                                },{
                                    "title": "Генетические предрасположенности"
                                },{
                                    "title": "Гистологические исследования"
                                },{
                                    "title": "Гормональные исследования"
                                },{
                                    "title": "Диагностика инфекционных заболеваний"
                                },{
                                    "title": "Диагностические профили"
                                },{
                                    "title": "Дисбиотические состояния кишечника и влагалища"
                                },{
                                    "title": "Дополнительные услуги"
                                },{
                                    "title": "Иммунологические исследования"
                                },{
                                    "title": "Исследование структуры почечного камня"
                                },{
                                    "title": "Исследования кала"
                                },{
                                    "title": "Исследования мочи"
                                },{
                                    "title": "Исследования спермы"
                                },{
                                    "title": "Маркеры аутоимунных заболеваний"
                                },{
                                    "title": "Микроэлементы"
                                },{
                                    "title": "Наследственные заболевания"
                                },{
                                    "title": "Наследственные заболевания обмена веществ"
                                },{
                                    "title": "Онкогематологические исследования"
                                },{
                                    "title": "Онкомаркеры"
                                },{
                                    "title": "Определение биологического родства"
                                },{
                                    "title": "Популярные исследования"
                                },{
                                    "title": "Цитогенетические исследования"
                                },{
                                    "title": "Цитологические исследования"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_diagnos.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-4.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Диагностика</span>
                        </a>

                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Кольпоскопия"
                                },{
                                    "title": "МРТ"
                                },{
                                    "title": "Офтальмоскопия"
                                },{
                                    "title": "Пальпация"
                                },{
                                    "title": "Рефрактометрия"
                                },{
                                    "title": "Тимпанометрия"
                                },{
                                    "title": "УЗДГ"
                                },{
                                    "title": "УЗИ"
                                },{
                                    "title": "Функция внешнего дыхания"
                                },{
                                    "title": "Функция внешнего дыхания"
                                },{
                                    "title": "Холтеровское мониторирование"
                                },{
                                    "title": "ЭКГ"
                                },{
                                    "title": "Электромиография"
                                },{
                                    "title": "Эндоскопия"
                                },{
                                    "title": "ЭЭГ"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-5.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Взрослое отделение</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Аллерголог"
                                },{
                                    "title": "Андролог"
                                },{
                                    "title": "Вакцинация"
                                },{
                                    "title": "Ведение беременности. Планирование"
                                },{
                                    "title": "Вертебролог"
                                },{
                                    "title": "Врач ЛФК"
                                },{
                                    "title": "Гастроэнтеролог"
                                },{
                                    "title": "Гинеколог"
                                },{
                                    "title": "Гинеколог (юверолог)"
                                },{
                                    "title": "Гирудотерапевт"
                                },{
                                    "title": "Дерматолог"
                                },{
                                    "title": "Диетолог"
                                },{
                                    "title": "Кардиолог"
                                },{
                                    "title": "Лор"
                                },{
                                    "title": "Маммолог"
                                },{
                                    "title": "Невролог"
                                },{
                                    "title": "Онколог"
                                },{
                                    "title": "Ортопед-травматолог"
                                },{
                                    "title": "Офтальмолог"
                                },{
                                    "title": "Педиатр"
                                },{
                                    "title": "Процедурный кабинет"
                                },{
                                    "title": "Терапевт"
                                },{
                                    "title": "Травматолог-ортопед"
                                },{
                                    "title": "Уролог"
                                },{
                                    "title": "Физиотерапевт"
                                },{
                                    "title": "Функциональный диагност"
                                },{
                                    "title": "Хирург"
                                },{
                                    "title": "Эндокринолог"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-6.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Детское отделение</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Аллерголог"
                                },{
                                    "title": "Андролог"
                                },{
                                    "title": "Вакцинация"
                                },{
                                    "title": "Ведение беременности. Планирование"
                                },{
                                    "title": "Вертебролог"
                                },{
                                    "title": "Врач ЛФК"
                                },{
                                    "title": "Гастроэнтеролог"
                                },{
                                    "title": "Гинеколог"
                                },{
                                    "title": "Гинеколог (юверолог)"
                                },{
                                    "title": "Гирудотерапевт"
                                },{
                                    "title": "Дерматолог"
                                },{
                                    "title": "Диетолог"
                                },{
                                    "title": "Кардиолог"
                                },{
                                    "title": "Лор"
                                },{
                                    "title": "Маммолог"
                                },{
                                    "title": "Невролог"
                                },{
                                    "title": "Онколог"
                                },{
                                    "title": "Ортопед-травматолог"
                                },{
                                    "title": "Офтальмолог"
                                },{
                                    "title": "Педиатр"
                                },{
                                    "title": "Процедурный кабинет"
                                },{
                                    "title": "Терапевт"
                                },{
                                    "title": "Травматолог-ортопед"
                                },{
                                    "title": "Уролог"
                                },{
                                    "title": "Физиотерапевт"
                                },{
                                    "title": "Функциональный диагност"
                                },{
                                    "title": "Хирург"
                                },{
                                    "title": "Эндокринолог"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-7.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Прививочный кабинет</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Гематологические исследования"
                                },{
                                    "title": "Биохимические исследования"
                                },{
                                    "title": "Гормональные исследования"
                                },{
                                    "title": "Иммунологические исследования"
                                },{
                                    "title": "Аллергологические исследования"
                                },{
                                    "title": "Маркеры аутоимунных заболеваний"
                                },{
                                    "title": "Онкомаркеры"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-8.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Профосмотр</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Гематологические исследования"
                                },{
                                    "title": "Биохимические исследования"
                                },{
                                    "title": "Гормональные исследования"
                                },{
                                    "title": "Иммунологические исследования"
                                },{
                                    "title": "Аллергологические исследования"
                                },{
                                    "title": "Маркеры аутоимунных заболеваний"
                                },{
                                    "title": "Онкомаркеры"
                                },{
                                    "title": "Микроэлементы"
                                },{
                                    "title": "Исследования мочи"
                                },{
                                    "title": "Исследование структуры почечного камня"
                                },{
                                    "title": "Исследования кала"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-9.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Вызов врача/медсестры</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Вызов врача/медсестры"
                                },{
                                    "title": "Вызов врача на дом"
                                },{
                                    "title": "Вызов медсестры на дом"
                                },{
                                    "title": "ЭКГ на дому"
                                },{
                                    "title": "Анализы на дому"
                                },{
                                    "title": "УЗИ на дому"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-10.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Травмпункт</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Вакцинация"
                                },{
                                    "title": "Вскрытие гнойников, нарывов"
                                },{
                                    "title": "Вывихи, травмы суставов"
                                },{
                                    "title": "Наложение гипса"
                                },{
                                    "title": "Ожоги, обморожения"
                                },{
                                    "title": "Переломы"
                                },{
                                    "title": "Растяжение связок"
                                },{
                                    "title": "Укусы животных/насекомых"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-11.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Косметология</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Аппликация ретинола"
                                },{
                                    "title": "Биоревитализация кожи"
                                },{
                                    "title": "Контурная пластика"
                                },{
                                    "title": "Механическая чистка"
                                },{
                                    "title": "Миостимуляция"
                                },{
                                    "title": "Обертывание"
                                },{
                                    "title": "Парафинотерапия рук"
                                },{
                                    "title": "Пилинг"
                                },{
                                    "title": "Фонофорез"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-12.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Стоматология</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Беременным"
                                },{
                                    "title": "Виниры"
                                },{
                                    "title": "Детская стоматология"
                                },{
                                    "title": "Диагностика"
                                },{
                                    "title": "Имплантация"
                                },{
                                    "title": "Исправление прикуса"
                                },{
                                    "title": "Лечение во сне"
                                },{
                                    "title": "Лечение десен"
                                },{
                                    "title": "Лечение зубов"
                                },{
                                    "title": "Отбеливание"
                                },{
                                    "title": "Протезирование"
                                },{
                                    "title": "Протезирование All-on-4"
                                },{
                                    "title": "Профессиональная чистка"
                                },{
                                    "title": "Средства для ухода"
                                },{
                                    "title": "Удаление зубов"
                                },{
                                    "title": "Эстетическая стоматология"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-13.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Справки и документы</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Заключение для поступающего"
                                },{
                                    "title": "Заключение об отсутствии медицинских противопоказаний к владению оружием по форме № 002-0/у"
                                },{
                                    "title": "Заключение при устройстве на работу по приказу 302н (профосмотр)"
                                },{
                                    "title": "Листок нетрудоспособности"
                                },{
                                    "title": "Медицинская карта ребенка по форме № 026/у-2000"
                                },{
                                    "title": "Медицинская справка 061/у"
                                },{
                                    "title": "Медицинские книжки (ЛМК) на государственную гражданскую службу по форме 001-ГС/у по форме 072/у-04"
                                },{
                                    "title": "Санаторно-курортная карта"
                                },{
                                    "title": "Справка в бассейн"
                                },{
                                    "title": "Справка для ГИБДД по форме № 003-В/у"
                                },{
                                    "title": "Справка для посещения спортивной секции по форме 083/5-89"
                                },{
                                    "title": "Справка для работы с использованием сведений, составляющих государственную тайну"
                                },{
                                    "title": "Справка о временной нетрудоспособности по форме № 095/у"
                                },{
                                    "title": "Справка о годности к управлению маломерным судном"
                                },{
                                    "title": "Справка по форме № 086/у"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-14.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Для организаций</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Аттестация рабочих мест (СОУТ)"
                                },{
                                    "title": "Вакцинация"
                                },{
                                    "title": "Организация здравпункта"
                                },{
                                    "title": "Предсменный и послесменный медицинский осмотр"
                                },{
                                    "title": "Профосмотр"
                                },{
                                    "title": "Профосмотр и предрейсовый осмотр"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-15.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Паллиативная медицина и реабилитация</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Паллиативная помощь взрослым"
                                },{
                                    "title": "Паллиативная помощь детям"
                                },{
                                    "title": "Стационар"
                                },{
                                    "title": "Служба сиделок"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-16.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Скорая помощь</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Госпитализация"
                                },{
                                    "title": "Транспортировка"
                                },{
                                    "title": "Сопровождение"
                                },{
                                    "title": "Неотложная помощь"
                                },{
                                    "title": "Реанимация"
                                },{
                                    "title": "Выезд врача на дом"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-17.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">ВВЭ</span>
                        </a>
                        <div class="catalog-nav-item-dop">
                            {% set items = [{
                                    "title": "Невропатолог"
                                },{
                                    "title": "Психиатр"
                                },{
                                    "title": "Стоматолог"
                                },{
                                    "title": "Хирург"
                                },{
                                    "title": "Терапевт"
                                },{
                                    "title": "Дерматовенеролог"
                                }]
                            %}
                            {% for item in items %}
                                <a href="catalog_detail.html" class="catalog-nav-item-dop__txt">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
