{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Диагностика</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">МРТ — магнитно-резонансная томография</a><span class="breadcrumbs-txt__split">→</span>МРТ головного мозга</div>
                        </div>
                    </div>

                    <div class="goods__top">
                        <div class="goods__img g-card__diz bg--cover" style="background-image: url(images/pages/goods/goods-img.jpg)">
                        </div>
                        <div class="goods__text">
                            <div class="goods-heading">
                                <h1 class="goods-heading__txt">МРТ головного мозга</h1>
                            </div>
                            <div class="goods-icon">
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-1.svg" alt="" />
                                </div>
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-2.svg" alt="" />
                                </div>
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-3.svg" alt="" />
                                </div>
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-4.svg" alt="" />
                                </div>
                            </div>
                            <div class="goods__desc">
                                <div class="g-editor g-editor--sm">
                                    <p>Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.</p>
                                    <p>Время процедуры 40 минут. Специальная подготовка не требуется.</p>
                                    <p>Нет ограничения по весу. Подходит для страдающих клаустрофобией.</p>
                                </div>
                            </div>
                        </div>
                        <div class="goods-info">
                            <div class="goods-info-article g-vac">
                                <div class="goods-info-article__txt g-vac__el">71-85-200</div>
                            </div>
                            <div class="goods-info__body">
                                <div class="goods-info__body-in">
                                    <div class="g-price goods-info__price">
                                        <span class="g-price__txt g-price__txt--sm">
                                            <span class="g-price__old">3 200</span>
                                            <span class="g-price__new">2 650
                                                <span class="g-price__cur currency">₽</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="goods-info-btn">
                                        <div class="goods-info-btn__item">
                                            <button class="g-btn g-btn--sm g-btn--wide">
                                                <span class="g-btn__txt">в корзину</span>
                                            </button>
                                        </div>
                                        <div class="goods-info-btn__item">
                                            <button class="g-btn-color g-btn-color--sm g-btn-color--grey" data-toggle="modal" data-target="#modal--buy-click" data-service="МРТ головного мозга" data-id="some_id_1">
                                                <span class="g-btn-color__txt">запись в один клик</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="goods-info-bank">
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-visa.svg" alt="" />
                                </div>
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-maestro.svg" alt="" />
                                </div>
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-mir.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">

                            <div class="g-tabs g-tabs_block" role="tabpanel">
                                <div class="nav-tabs__cont" >
                                    <div class="nav-tabs__wrapper">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac active" href="#gooods-desc" role="tab" data-toggle="tab" aria-controls="gooods-desc" aria-selected="true">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Описание</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-feature"  role="tab" data-toggle="tab" aria-controls="goods-feature" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Противопоказания</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-lead-up"  role="tab" data-toggle="tab" aria-controls="goods-lead-up" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Подготовка</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-how"  role="tab" data-toggle="tab" aria-controls="goods-how" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Как проходит</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-doctor"  role="tab" data-toggle="tab" aria-controls="goods-doctor" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Врачи</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-content__pane fade show active" id="gooods-desc" aria-labelledby="gooods-desc-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Как проходит обследование МРТ и есть ли противопоказания к нему - одна из самых распространенных тем, которые интересуют .....</p>
                                            <ul>
                                                <li>Первый триместр беременности</li>
                                                <li>Детский возраст</li>
                                                <li>Клаустрофобия</li>
                                                <li>Высокая возбудимость и нестабильные психические состояния больного</li>
                                                <li>Спазматические сокращения мышц, возникающие из-за тремора</li>
                                                <li>Наличие металла в органах или металлической краски в татуировках</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-feature" aria-labelledby="goods-feature-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Строго натощак. Между последним приемом пищи и сдачей анализа должно пройти не менее 8-12 часов. За 2 часа до сдачи анализов ребенку следует воздержаться от кофе, чая с сахаром, соков.</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-lead-up" aria-labelledby="goods-lead-up-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Аллерген попадает в организм и провоцирует выработку гистамина. Он вызывает проявления на теле у определенной группы людей. Причины воздействия аллергенов на организм до сих пор не найдены. Основные возбудители аллергии:</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-how" aria-labelledby="goods-how-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-doctor" aria-labelledby="goods-doctor-tab" role="tabpanel">
                                        {% set items = [{
                                                "img": "images/pages/staff/staff_1_sm.jpg",
                                                "title": "ШОГЕНОВ",
                                                "title2": "Рамиш Курбанович",
                                                "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                                                "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                                                "service": "357 услуг"
                                            },{
                                                "img": "images/pages/staff/staff_2_sm.jpg",
                                                "title": "ЗУРАБЯН",
                                                "title2": "Артур Араратович",
                                                "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                                "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                                "service": "154 услуг"
                                            },{
                                                "img": "images/pages/staff/staff_3_sm.jpg",
                                                "title": "РЕВЯКИН",
                                                "title2": "Александр Алексеевич",
                                                "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                                                "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                                "service": "101 услуг"
                                            },{
                                                "img": "images/pages/staff/staff_2_sm.jpg",
                                                "title": "ЗУРАБЯН",
                                                "title2": "Артур Араратович",
                                                "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                                "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                                "service": "154 услуг"
                                            }]
                                        %}
                                        <div class="staff__list-hor">
                                            {% for item in items %}
                                                <div class="staff__list-item-hor">
                                                {% include "template/staff/card-staff_hor.html" %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="g-tabs g-tabs_block" role="tabpanel">
                                <div class="nav-tabs__cont" >
                                    <div class="nav-tabs__wrapper">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac active" href="#gooods-tabs-2-1" role="tab" data-toggle="tab" aria-controls="gooods-tabs-2-1" aria-selected="true">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Заболевания</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-2"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-2" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Наше оборудование</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-3"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-3" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Что видно при исследовании</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-4"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-4" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Фото</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-content__pane fade show active" id="gooods-tabs-2-1" aria-labelledby="gooods-tabs-2-1-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Как проходит обследование МРТ и есть ли противопоказания к нему - одна из самых распространенных тем, которые интересуют .....</p>
                                            <ul>
                                                <li>Первый триместр беременности</li>
                                                <li>Детский возраст</li>
                                                <li>Клаустрофобия</li>
                                                <li>Высокая возбудимость и нестабильные психические состояния больного</li>
                                                <li>Спазматические сокращения мышц, возникающие из-за тремора</li>
                                                <li>Наличие металла в органах или металлической краски в татуировках</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-tabs-2-2" aria-labelledby="goods-tabs-2-2-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Строго натощак. Между последним приемом пищи и сдачей анализа должно пройти не менее 8-12 часов. За 2 часа до сдачи анализов ребенку следует воздержаться от кофе, чая с сахаром, соков.</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-tabs-2-3" aria-labelledby="goods-tabs-2-3-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>Аллерген попадает в организм и провоцирует выработку гистамина. Он вызывает проявления на теле у определенной группы людей. Причины воздействия аллергенов на организм до сих пор не найдены. Основные возбудители аллергии:</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-tabs-2-4" aria-labelledby="goods-tabs-2-4-tab" role="tabpanel">
                                        <div class="gallery gallery--x3">
                                            <div class="gallery__item">
                                                <a
                                                    href="images/pages/goods/photogallery_1_big.jpg"
                                                    class="gallery-el bg--cover" style="background-image: url(images/pages/goods/photogallery_1_sm.jpg)"
                                                    data-fancybox="gallery_1"
                                                    data-caption="Caption #1">
                                                    <svg role="presentation" aria-hidden="true" class="gallery-el__ico g-abs">
                                                        <use xlink:href="#symbol-zoom"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="gallery__item">
                                                <a
                                                    href="images/pages/goods/photogallery_1_big.jpg"
                                                    class="gallery-el bg--cover" style="background-image: url(images/pages/goods/photogallery_2_sm.jpg)"
                                                    data-fancybox="gallery_1"
                                                    data-caption="Caption #2">
                                                    <svg role="presentation" aria-hidden="true" class="gallery-el__ico g-abs">
                                                        <use xlink:href="#symbol-zoom"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="gallery__item">
                                                <a
                                                    href="images/pages/goods/photogallery_1_big.jpg"
                                                    class="gallery-el bg--cover" style="background-image: url(images/pages/goods/photogallery_3_sm.jpg)"
                                                    data-fancybox="gallery_1"
                                                    data-caption="Caption #3">
                                                    <svg role="presentation" aria-hidden="true" class="gallery-el__ico g-abs">
                                                        <use xlink:href="#symbol-zoom"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                            <div class="gallery__item">
                                                <a
                                                    href="images/pages/goods/photogallery_1_big.jpg"
                                                    class="gallery-el bg--cover" style="background-image: url(images/pages/goods/photogallery_1_sm.jpg)"
                                                    data-fancybox="gallery_1"
                                                    data-caption="Caption #4">
                                                    <svg role="presentation" aria-hidden="true" class="gallery-el__ico g-abs">
                                                        <use xlink:href="#symbol-zoom"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="catalog__list-cont">
                                <div class="catalog__list-title">
                                    <div class="catalog__list-title-txt">Сопутствующие услуги</div>
                                </div>
                                <div class="catalog__list">
                                    {% set items = [{
                                            "id": "el_1",
                                            "article": "71-85-200",
                                            "price": "2 650",
                                            "title": "МРТ головного мозга",
                                            "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                        },{
                                            "id": "el_2",
                                            "article": "71-85-200",
                                            "price": "2 700",
                                            "title": "Исследование на нейроваскулярный конфликт",
                                            "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                        },{
                                            "id": "el_3",
                                            "article": "71-85-200",
                                            "price": "5 300",
                                            "title": "МРТ головного мозга",
                                            "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                        }]
                                    %}
                                    {% for item in items %}
                                        {% include "template/catalog/card.html" %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            {% include "template/stock/stock_ver.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
