{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span>Анализы</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading g-inner-page__heading--top">
                <h1 class="g-inner-page__heading-txt">Анализы</h1>
            </div>

            <div class="catalog-nav">
                <div class="catalog-nav__list">

                    {% set items = [{
                            "title": "Гематологические исследования"
                        },{
                            "title": "Биохимические исследования"
                        },{
                            "title": "Гормональные исследования"
                        },{
                            "title": "Иммунологические исследования"
                        },{
                            "title": "Аллергологические исследования"
                        },{
                            "title": "Маркеры аутоимунных заболеваний"
                        },{
                            "title": "Онкомаркеры"
                        },{
                            "title": "Микроэлементы"
                        },{
                            "title": "Исследования мочи"
                        },{
                            "title": "Исследование структуры почечного камня"
                        },{
                            "title": "Исследования кала"
                        },{
                            "title": "Исследования спермы"
                        },{
                            "title": "Диагностика инфекционных заболеваний"
                        },{
                            "title": "Цитологические исследования"
                        },{
                            "title": "Гистологические исследования"
                        },{
                            "title": "Онкогематологические исследования"
                        },{
                            "title": "Генетические предрасположенности"
                        },{
                            "title": "Наследственные заболевания"
                        },{
                            "title": "Наследственные заболевания обмена веществ"
                        },{
                            "title": "Определение биологического родства"
                        },{
                            "title": "Дисбиотические состояния кишечника и влагалища"
                        },{
                            "title": "Диагностические профили"
                        },{
                            "title": "Популярные исследования"
                        },{
                            "title": "Дополнительные услуги"
                        }]
                    %}
                    {% for item in items %}
                        <div class="catalog-nav-dop">
                            <a href="catalog_in_in.html" class="catalog-nav-dop__in g-vac">
                                <span class="catalog-nav-dop__txt g-vac__el">{{ item.title }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
