{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→Услуги и цены</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading g-inner-page__heading--top">
                <h1 class="g-inner-page__heading-txt">Услуги и цены</h1>
            </div>

            <div class="catalog-nav">
                <div class="catalog-nav__list">
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-1.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Телемедицина</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="diagnostics.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-2.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Самодиагностика</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="analyzes.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-3.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Анализы</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_diagnos.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-4.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Диагностика</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="adult_department.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-5.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Взрослое отделение</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-6.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Детское отделение</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-7.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Прививочный кабинет</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-8.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Профосмотр</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-9.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Вызов врача/медсестры</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-10.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Травмпункт</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-11.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Косметология</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-12.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Стоматология</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-13.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Справки и документы</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-14.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Для организаций</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-15.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Паллиативная медицина и реабилитация</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-16.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">Скорая помощь</span>
                        </a>
                    </div>
                    <div class="catalog-nav-item">
                        <a href="catalog_in.html" class="catalog-nav-item__in g-vac">
                            <img class="catalog-nav-item__ico g-abs g-abs_l" src="images/pages/catalog/catalog-ico-17.svg" alt="" />
                            <span class="catalog-nav-item__txt g-vac__el">ВВЭ</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
