{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Диагностика</a><span class="breadcrumbs-txt__split">→</span>МРТ — магнитно-резонансная томография</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">МРТ — магнитно-резонансная томография</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-inner-nav">
                        <a href="catalog_in_in.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По&#160;виду исследования</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">По&#160;области тела</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">С&#160;контрастом</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Комплексные программы (со&#160;скидкой)</span>
                        </a>
                    </div>

                    <div class="catalog-dop-nav">
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Всё тело</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Голова</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Шея</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Грудная клетка</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Поясница</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac is-active">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Живот</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Малый таз</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Руки</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Ноги</span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">
                            <div class="catalog__list">
                                {% set items = [{
                                        "id": "el_1",
                                        "article": "71-85-200",
                                        "price": "2 650",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_2",
                                        "article": "71-85-200",
                                        "price": "2 700",
                                        "title": "Исследование на нейроваскулярный конфликт",
                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                    },{
                                        "id": "el_3",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_4",
                                        "article": "71-85-200",
                                        "price": "22 200",
                                        "title": "Исследование на нейроваскулярный конфликт",
                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                    },{
                                        "id": "el_5",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    }]
                                %}
                                {% for item in items %}
                                    {% include "template/catalog/card.html" %}
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            <div class="switch">
                                <input id="switch_woman"  class="switch__input" type="checkbox" value="" name="woman" />
                                <script>
                                    const switchInput = document.querySelector('#switch_woman');
                                    function switchMan(howis){
                                        howis == "woman" ? switchInput.checked = true : switchInput.checked = false;
                                    }
                                </script>
                                <div class="switch__in">
                                    <button class="switch__button switch__button--left" onclick="switchMan('woman')">
                                        <div class="switch__txt">Женщина</div>
                                    </button>
                                    <label for="switch_woman" class="switch-diz">
                                        <div class="switch-diz__in">
                                            <div class="switch-diz-bar">
                                                <svg role="presentation" aria-hidden="true" class="switch-diz-bar__arrow switch-diz-bar__arrow--l">
                                                    <use xlink:href="#symbol-slider_arrow_left"></use>
                                                </svg>
                                                <div class="switch-diz-bar__dot g-abs"></div>
                                                <svg role="presentation" aria-hidden="true" class="switch-diz-bar__arrow switch-diz-bar__arrow--r">
                                                    <use xlink:href="#symbol-slider_arrow_right"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </label>
                                    <button class="switch__button switch__button--right" onclick="switchMan('man')">
                                        <div class="switch__txt">Мужчина</div>
                                    </button>
                                </div>

                                <svg class="switch__dummy switch__dummy--man" width="195" height="597" viewBox="0 0 195 597" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M193.33 330.11C189.42 319.4 186.55 308.66 185.22 297.47C184.51 291.53 184.43 285.5 184.4 279.5C184.34 268.02 184.9 256.52 184.44 245.06C184.17 238.46 182.1 231.95 181.39 225.35C180.1 213.5 179.52 201.56 178.07 189.73C176.99 180.9 174.57 172.23 173.56 163.4C172.74 156.28 173.36 149.01 172.95 141.83C171.9 123.84 165.36 115.54 148.47 109.54C141.92 107.21 135.54 104.36 129.16 101.56C121.28 98.1 117.95 91.78 118.79 83.39C119.42 76.99 120.42 70.62 121.46 64.28C121.67 63 122.55 61.57 123.55 60.74C127.2 57.71 130.35 50.09 128.22 46.22C126.21 42.57 127.25 39.5 127.87 36.11C128.28 33.89 128.65 31.66 128.81 29.42C129.82 15.89 122.71 5.57999 109.71 1.75999C107.56 1.12999 105.31 0.749985 103.09 0.419985C90.31 -1.46001 79.69 3.11998 73.71 13.32C69.84 19.92 69.21 27.34 69.04 34.81C68.97 37.72 69.71 40.8 66.95 43.12C66.33 43.64 66.16 44.9 66.11 45.84C65.8 51.79 67.18 57.1 72.06 61.07C72.72 61.61 73.33 62.55 73.44 63.37C74.33 70.29 75.35 77.21 75.84 84.17C76.35 91.39 73.7001 97.22 66.94 100.69C65.32 101.52 63.78 102.54 62.11 103.27C55.02 106.36 47.92 109.39 40.79 112.4C30.94 116.56 24.73 123.68 22.93 134.34C22.45 137.2 22.09 140.09 21.88 142.98C21.17 152.61 20.92 162.29 19.82 171.87C18.44 183.91 16.3 195.85 14.71 207.87C13.65 215.85 13.48 223.97 12.05 231.87C9.37004 246.68 8.56004 261.48 9.92004 276.46C11.48 293.75 9.09004 310.52 2.23004 326.5C0.0100424 331.67 -0.449958 336.73 0.410042 342.2C1.12004 346.69 2.27004 350.74 5.87004 353.83C9.11004 356.62 11.64 359.79 16.98 359.35C20.42 359.07 22.11 357.83 24.3 355.53C17.85 349.3 12.39 342.93 16.26 333.17C19.24 334.48 20.08 336.51 19.83 339.49C19.58 342.45 19.65 345.51 20.14 348.44C20.31 349.46 22.09 350.76 23.25 350.9C24.15 351.01 25.96 349.62 26.12 348.68C27.7 339.4 29.68 330.14 27.44 320.62C26.67 317.34 25.97 313.67 26.65 310.48C28.97 299.58 31.6 288.71 34.69 278C38.97 263.2 42.02 248.42 38.97 232.92C38.13 228.65 38.14 224.31 40.37 220.05C42.68 215.63 44.57 210.88 45.9 206.07C47.75 199.37 48.9 192.48 50.39 185.49C51.42 190.25 52.24 194.88 53.44 199.42C57.8 215.9 58.72 232.37 54.85 249.15C50.75 266.97 47.62 285 47.68 303.36C47.73 317.01 48.16 330.66 48.75 344.3C49.37 358.47 50.67 372.55 53.4 386.54C54.93 394.37 55.62 402.57 55.21 410.53C54.62 421.98 52.68 433.37 51.31 444.78C49.16 462.61 50.09 480.08 55.97 497.28C60.52 510.58 64.44 524.11 68.11 537.67C72.11 552.45 69.3 565.35 56.11 574.76C53.67 576.5 51.29 578.39 49.14 580.47C46.01 583.51 46.23 586.2 49.77 588.7C51.79 590.13 54.05 591.25 56.25 592.41C58.14 593.41 60.27 594.03 62 595.23C64.94 597.27 66.8 597.25 69.27 594.67C70.44 593.45 71.47 591.8 72.91 591.2C76.87 589.56 78.79 586.56 79.34 582.62C79.96 578.2 81.6 574.49 84.86 571.3C88.31 567.93 88.7401 563.86 86.58 559.45C85.94 558.15 85.75 556.59 85.52 555.13C84.95 551.48 84.49 547.8 83.95 544.14C83.32 539.91 81.99 535.66 82.14 531.46C82.48 521.81 83.39 512.17 84.32 502.55C85.82 487.01 87.29 471.49 84.66 455.94C83.0201 446.29 84.5301 437 86.73 427.58C89.15 417.26 91.37 406.78 92.29 396.25C94.2701 373.45 95.36 350.57 96.83 327.72C96.89 326.85 97.08 325.99 97.21 325.13C97.5 325.12 97.8 325.11 98.09 325.1C98.31 326.7 98.6 328.29 98.75 329.9C100.24 345.52 101.75 361.13 103.15 376.76C104.07 387.03 105.36 397.3 105.47 407.58C105.55 415.11 106.05 422.42 108.72 429.41C110.52 434.13 111.01 438.82 109.96 443.62C105.97 461.79 107.06 479.89 110.14 498.05C112.92 514.38 115.14 530.81 114.15 547.44C113.91 551.51 112.71 555.66 111.18 559.46C109.51 563.59 109.26 567.42 112.39 570.52C116.2 574.3 117.78 578.79 118.91 583.83C119.42 586.11 121.33 588.22 122.98 590.06C124.58 591.83 126.78 593.04 128.51 594.71C131.03 597.15 133.06 597.38 135.81 595.19C136.14 594.93 136.42 594.59 136.78 594.41C140.45 592.58 144.3 591.04 147.77 588.89C151.83 586.36 151.91 583.65 148.51 580.24C147.53 579.26 146.33 578.5 145.29 577.57C140.96 573.72 136.5 570 132.38 565.93C128.93 562.52 127.46 558.08 128.04 553.24C128.79 547.06 129.46 540.83 130.79 534.76C134.23 519.14 138.04 503.61 141.68 488.03C144.8 474.68 147.4 461.22 144.43 447.52C142.07 436.63 140.63 425.77 141.96 414.61C142.28 411.89 142 408.97 141.34 406.3C139.47 398.67 140.86 391.4 143.03 384.11C146.55 372.31 148.57 360.18 148.92 347.93C149.86 314.8 149.35 281.75 143.04 249C140.24 234.47 137.77 219.76 141.38 204.88C142.63 199.74 143.46 194.49 144.48 189.29C145.09 189.76 145.16 190.16 145.24 190.55C147.2 200.43 148.38 210.56 153.68 219.44C155.96 223.26 156.63 227.24 155.77 231.51C153.19 244.32 154.07 256.96 157.53 269.47C160.17 278.99 163.11 288.43 165.49 298.01C167.14 304.62 169.77 311.38 167.67 318.27C164.65 328.18 166.83 337.86 168.06 347.61C168.3 349.5 169.03 351.23 171.48 351.09C173.96 350.94 174.76 349.19 174.86 347.13C174.99 344.34 175.03 341.53 174.77 338.75C174.51 335.93 175.8 334.37 178.14 333.27C180.07 337.41 180.02 343.15 177.78 346.57C176.25 348.89 174.42 351.02 172.62 353.16C170.22 356.02 170.09 357.38 173.55 358.55C176.4 359.51 180.53 359.98 182.86 358.6C193.78 352.13 197.51 341.58 193.33 330.11Z" fill="white"/>
                                    <path d="M193.33 330.11C189.42 319.4 186.55 308.66 185.22 297.47C184.51 291.53 184.43 285.5 184.4 279.5C184.34 268.02 184.9 256.52 184.44 245.06C184.17 238.46 182.1 231.95 181.39 225.35C180.1 213.5 179.52 201.56 178.07 189.73C176.99 180.9 174.57 172.23 173.56 163.4C172.74 156.28 173.36 149.01 172.95 141.83C171.9 123.84 165.36 115.54 148.47 109.54C141.92 107.21 135.54 104.36 129.16 101.56C121.28 98.1 117.95 91.78 118.79 83.39C119.42 76.99 120.42 70.62 121.46 64.28C121.67 63 122.55 61.57 123.55 60.74C127.2 57.71 130.35 50.09 128.22 46.22C126.21 42.57 127.25 39.5 127.87 36.11C128.28 33.89 128.65 31.66 128.81 29.42C129.82 15.89 122.71 5.57999 109.71 1.75999C107.56 1.12999 105.31 0.749985 103.09 0.419985C90.31 -1.46001 79.69 3.11998 73.71 13.32C69.84 19.92 69.21 27.34 69.04 34.81C68.97 37.72 69.71 40.8 66.95 43.12C66.33 43.64 66.16 44.9 66.11 45.84C65.8 51.79 67.18 57.1 72.06 61.07C72.72 61.61 73.33 62.55 73.44 63.37C74.33 70.29 75.35 77.21 75.84 84.17C76.35 91.39 73.7001 97.22 66.94 100.69C65.32 101.52 63.78 102.54 62.11 103.27C55.02 106.36 47.92 109.39 40.79 112.4C30.94 116.56 24.73 123.68 22.93 134.34C22.45 137.2 22.09 140.09 21.88 142.98C21.17 152.61 20.92 162.29 19.82 171.87C18.44 183.91 16.3 195.85 14.71 207.87C13.65 215.85 13.48 223.97 12.05 231.87C9.37004 246.68 8.56004 261.48 9.92004 276.46C11.48 293.75 9.09004 310.52 2.23004 326.5C0.0100424 331.67 -0.449958 336.73 0.410042 342.2C1.12004 346.69 2.27004 350.74 5.87004 353.83C9.11004 356.62 11.64 359.79 16.98 359.35C20.42 359.07 22.11 357.83 24.3 355.53C17.85 349.3 12.39 342.93 16.26 333.17C19.24 334.48 20.08 336.51 19.83 339.49C19.58 342.45 19.65 345.51 20.14 348.44C20.31 349.46 22.09 350.76 23.25 350.9C24.15 351.01 25.96 349.62 26.12 348.68C27.7 339.4 29.68 330.14 27.44 320.62C26.67 317.34 25.97 313.67 26.65 310.48C28.97 299.58 31.6 288.71 34.69 278C38.97 263.2 42.02 248.42 38.97 232.92C38.13 228.65 38.14 224.31 40.37 220.05C42.68 215.63 44.57 210.88 45.9 206.07C47.75 199.37 48.9 192.48 50.39 185.49C51.42 190.25 52.24 194.88 53.44 199.42C57.8 215.9 58.72 232.37 54.85 249.15C50.75 266.97 47.62 285 47.68 303.36C47.73 317.01 48.16 330.66 48.75 344.3C49.37 358.47 50.67 372.55 53.4 386.54C54.93 394.37 55.62 402.57 55.21 410.53C54.62 421.98 52.68 433.37 51.31 444.78C49.16 462.61 50.09 480.08 55.97 497.28C60.52 510.58 64.44 524.11 68.11 537.67C72.11 552.45 69.3 565.35 56.11 574.76C53.67 576.5 51.29 578.39 49.14 580.47C46.01 583.5 46.23 586.2 49.77 588.7C51.79 590.13 54.05 591.25 56.25 592.41C58.14 593.41 60.27 594.03 62 595.23C64.94 597.27 66.8 597.25 69.27 594.67C70.44 593.45 71.47 591.8 72.91 591.2C76.87 589.56 78.79 586.56 79.34 582.62C79.96 578.2 81.6 574.49 84.86 571.3C88.31 567.93 88.7401 563.86 86.58 559.45C85.94 558.15 85.75 556.59 85.52 555.13C84.95 551.48 84.49 547.8 83.95 544.14C83.32 539.91 81.99 535.66 82.14 531.46C82.48 521.81 83.39 512.17 84.32 502.55C85.82 487.01 87.29 471.49 84.66 455.94C83.0201 446.29 84.5301 437 86.73 427.58C89.15 417.26 91.37 406.78 92.29 396.25C94.2701 373.45 95.36 350.57 96.83 327.72C96.89 326.85 97.08 325.99 97.21 325.13C97.5 325.12 97.8 325.11 98.09 325.1C98.31 326.7 98.6 328.29 98.75 329.9C100.24 345.52 101.75 361.13 103.15 376.76C104.07 387.03 105.36 397.3 105.47 407.58C105.55 415.11 106.05 422.42 108.72 429.41C110.52 434.13 111.01 438.82 109.96 443.62C105.97 461.79 107.06 479.89 110.14 498.05C112.92 514.38 115.14 530.81 114.15 547.44C113.91 551.51 112.71 555.66 111.18 559.46C109.51 563.59 109.26 567.42 112.39 570.52C116.2 574.3 117.78 578.79 118.91 583.83C119.42 586.11 121.33 588.22 122.98 590.06C124.58 591.83 126.78 593.04 128.51 594.71C131.03 597.15 133.06 597.38 135.81 595.19C136.14 594.93 136.42 594.59 136.78 594.41C140.45 592.58 144.3 591.04 147.77 588.89C151.83 586.36 151.91 583.65 148.51 580.24C147.53 579.26 146.33 578.5 145.29 577.57C140.96 573.72 136.5 570 132.38 565.93C128.93 562.52 127.46 558.08 128.04 553.24C128.79 547.06 129.46 540.83 130.79 534.76C134.23 519.14 138.04 503.61 141.68 488.03C144.8 474.68 147.4 461.22 144.43 447.52C142.07 436.63 140.63 425.77 141.96 414.61C142.28 411.89 142 408.97 141.34 406.3C139.47 398.67 140.86 391.4 143.03 384.11C146.55 372.31 148.57 360.18 148.92 347.93C149.86 314.8 149.35 281.75 143.04 249C140.24 234.47 137.77 219.76 141.38 204.88C142.63 199.74 143.46 194.49 144.48 189.29C145.09 189.76 145.16 190.16 145.24 190.55C147.2 200.43 148.38 210.56 153.68 219.44C155.96 223.26 156.63 227.24 155.77 231.51C153.19 244.32 154.07 256.96 157.53 269.47C160.17 278.99 163.11 288.43 165.49 298.01C167.14 304.62 169.77 311.38 167.67 318.27C164.65 328.18 166.83 337.86 168.06 347.61C168.3 349.5 169.03 351.23 171.48 351.09C173.96 350.94 174.76 349.19 174.86 347.13C174.99 344.34 175.03 341.53 174.77 338.75C174.51 335.93 175.8 334.37 178.14 333.27C180.07 337.41 180.02 343.15 177.78 346.57C176.25 348.89 174.42 351.02 172.62 353.16C170.22 356.02 170.09 357.38 173.55 358.55C176.4 359.51 180.53 359.98 182.86 358.6C193.78 352.13 197.51 341.58 193.33 330.11ZM70.97 38.05C71.37 33.46 71.1701 28.77 71.98 24.26C74.82 8.47999 86.62 0.119985 102.55 2.28998C104.57 2.55998 106.59 2.91999 108.55 3.44999C121.03 6.81998 127.85 16.41 126.82 29.34C126.56 32.64 125.94 35.95 125.1 39.15C124.71 40.64 123.38 41.88 122.47 43.23C122.15 43.04 121.82 42.85 121.5 42.67C121.5 38.39 121.67 34.11 121.42 29.85C121.3 27.88 120.63 25.82 119.75 24.03C116.81 18.07 112.53 16.72 107.26 20.74C100.94 25.57 95.29 25.09 89.08 20.68C83.18 16.5 80.01 17.5 77.3 24.31C75.98 27.63 75.54 31.34 74.93 34.91C74.51 37.41 74.49 39.98 74.28 42.64C71.81 41.84 70.75 40.49 70.97 38.05ZM75.02 59.99C74.64 57.27 74.5301 54.52 74.3 51.79C73.86 51.75 73.4201 51.72 72.98 51.69C72.87 53.97 72.76 56.26 72.66 58.5C69.0601 56.29 66.66 48.09 68.5 44.25C69.28 42.63 70.4 42.48 71.51 43.62C72.59 44.73 73.37 46.14 74.28 47.42C74.78 47.19 75.29 46.95 75.79 46.72C76.16 42.75 76.2701 38.73 76.97 34.81C77.68 30.86 78.5601 26.82 80.15 23.17C81.74 19.52 83.46 19.38 86.83 21.44C87.47 21.83 88.12 22.22 88.73 22.66C95.14 27.43 101.34 27.55 107.9 22.61C112.83 18.89 116.53 20.11 118.44 26C119.47 29.18 119.53 32.72 119.63 36.12C119.73 39.5 119.34 42.9 119.11 47.16C121.43 45.77 122.99 44.83 124.51 43.92C128.14 47.89 127.03 54.93 121.94 58.94C121.94 56.31 121.94 54.01 121.94 51.71C121.68 51.67 121.42 51.63 121.15 51.58C120.9 52.17 120.5 52.74 120.44 53.35C120.13 56.23 119.79 59.12 119.69 62.01C119.3 73.66 110.81 78.9 102.05 83.33C98.2401 85.26 93.36 84.88 89.5 81.89C86.19 79.33 82.94 76.68 79.78 73.93C75.54 70.25 75.71 64.94 75.02 59.99ZM191.6 345.35C190.3 351.33 185.42 354.13 180.83 357.3C188.29 351.89 191.39 344.56 190.77 335.57C190.72 334.88 190.35 334.22 189.45 333.44C189.54 342.42 187.34 350.13 179.64 355.31C178.46 356.11 177.29 356.92 175.71 357.43C184.15 351.09 188.26 343.24 185.13 331.72C184.56 333.11 184.09 333.75 184.06 334.41C183.97 336.23 183.96 338.07 184.1 339.89C184.45 344.2 182.81 347.63 179.73 350.51C177.74 352.38 175.77 354.27 173.8 356.16C173.6 355.97 173.39 355.78 173.19 355.59C174.4 354.19 175.55 352.74 176.82 351.4C181.5 346.47 182.17 340.61 180.83 334.3C180.16 331.15 179.21 330.73 175.79 332.07C175.83 331.48 175.94 330.99 175.86 330.55C175.77 330.09 175.49 329.67 175.08 328.73C170.89 335.4 174.48 342.9 172.23 349.29C171.77 349.29 171.32 349.3 170.86 349.3C170.49 348.29 169.93 347.31 169.79 346.28C168.56 336.83 166.86 327.47 169.68 317.89C171.7 311.03 169.07 304.24 167.4 297.63C164.62 286.6 161.14 275.74 158.36 264.71C155.6 253.73 155.48 242.59 157.73 231.45C158.54 227.43 158.21 223.44 156.1 219.88C149.88 209.43 148.33 197.67 146.64 186C145.97 181.34 146.72 176.45 145.8 171.87C144.57 165.71 147.34 160.38 148.12 154.66C148.35 153.01 148.41 151.34 147.92 149.62C147.46 152.43 147.08 155.26 146.54 158.06C144.73 167.36 138.15 173.39 128.69 173.6C123.49 173.71 118.27 172.67 113.07 172.11C112.25 172.02 111.45 171.76 109.75 171.38C118.72 175.85 134.74 177.25 143.93 167.43C144.15 176.24 143.31 184.58 141.76 192.88C140.52 199.53 139.26 206.18 138.18 212.85C136.66 222.24 137.99 231.58 139.78 240.73C146.37 274.46 148.06 308.52 147.22 342.77C146.88 356.78 144.99 370.61 141 384.09C138.84 391.38 137.7 398.63 139.41 406.28C140.24 409.97 140.27 413.99 139.87 417.79C138.97 426.46 139.61 434.91 141.72 443.35C145.7 459.19 142.84 474.68 139.21 490.18C135.12 507.62 131.34 525.14 127.53 542.65C126.78 546.1 126.43 549.66 126.07 553.18C125.54 558.37 126.92 563.17 130.57 566.83C135.11 571.38 140.13 575.45 144.9 579.78C146.39 581.13 147.73 582.66 148.71 584.47C146.72 582.89 144.73 581.31 142.74 579.73C142.51 580 142.28 580.27 142.06 580.54C142.64 583.31 147.43 583.88 146.51 587.28C144 584.77 141.52 582.3 139.05 579.82C138.61 580.21 138.17 580.59 137.72 580.98C138.28 581.77 138.78 582.61 139.41 583.35C140.65 584.81 142.11 586.12 143.17 587.7C143.53 588.24 142.98 589.4 142.85 590.27C142.14 589.84 141.25 589.55 140.74 588.94C139.02 586.9 137.49 584.7 135.77 582.66C135.25 582.05 134.36 581.75 133.64 581.31C133.4 581.57 133.17 581.84 132.93 582.1C133.68 582.98 134.46 583.85 135.18 584.76C136.38 586.27 137.75 587.69 138.64 589.37C139.02 590.09 138.39 591.35 138.22 592.36C137.49 591.77 136.42 591.33 136.1 590.57C134.63 587.09 132.21 584.59 129.15 582.67C128.88 582.88 128.61 583.09 128.33 583.3C128.9 584.11 129.45 584.92 130.04 585.72C131.43 587.59 133.02 589.36 134.14 591.38C134.53 592.09 134.08 593.72 133.45 594.38C133.06 594.78 131.37 594.42 130.64 593.89C128.01 591.97 125.24 590.09 123.1 587.68C121.63 586.03 120.67 583.61 120.26 581.39C119.5 577.23 118.01 573.68 114.98 570.62C111.19 566.79 111.4 564.67 113.35 559.58C114.86 555.65 115.9 551.35 116.12 547.15C117 530.42 114.6 513.92 112.05 497.44C110.03 484.38 108.03 471.28 109.73 457.99C110.15 454.69 110.67 451.39 111.33 448.13C112.72 441.26 112.74 434.54 110.25 427.84C107.71 421 107.56 413.88 107.47 406.6C107.34 396.42 105.99 386.26 105.03 376.1C103.43 359.2 101.73 342.31 100.1 325.64C102.35 324.31 104.2 323.22 105.61 322.39C102.53 322.88 99.22 323.86 95.92 323.83C91.74 323.79 89.72 321.53 89.36 317.34C89.14 314.67 89.18 311.96 89.35 309.29C89.76 303 88.5 297.4 83.83 292.76C81.26 290.21 79.09 287.24 76.75 284.47C76.52 284.64 76.29 284.82 76.06 284.99C76.8 285.88 77.53 286.78 78.27 287.67C80.33 290.15 82.33 292.69 84.48 295.08C87.2101 298.12 88.4 301.68 88.43 305.69C88.46 309.13 88.36 312.57 88.4 316.01C88.47 321.36 89.6301 322.95 94.79 324.92C94.83 325.58 94.94 326.31 94.89 327.03C93.2 352.45 91.75 377.88 89.65 403.26C88.98 411.33 86.92 419.35 84.85 427.22C82.29 436.92 81.07 446.58 82.75 456.54C85.32 471.77 83.84 486.97 82.39 502.18C81.47 511.8 80.46 521.44 80.21 531.09C80.09 535.92 81.63 540.79 82.36 545.65C82.81 548.67 83.07 551.73 83.53 554.75C83.82 556.64 83.98 558.66 84.81 560.33C86.64 564.03 86.26 567.32 83.36 570.04C79.78 573.4 78.1001 577.49 77.44 582.22C76.9901 585.46 75.5 587.94 72.2 589.36C70.55 590.07 69.5 592.05 67.94 593.11C66.86 593.84 65.39 593.99 64.09 594.4C64.02 593.12 63.43 591.52 63.98 590.64C65.54 588.14 67.57 585.93 69.88 583.04C68.77 583.2 67.84 583.06 67.51 583.43C65.5601 585.67 63.78 588.06 61.87 590.33C61.22 591.1 60.33 591.67 59.55 592.34C59.48 591.22 58.97 589.87 59.42 589.03C60.32 587.36 61.73 585.97 62.96 584.48C63.59 583.71 64.25 582.98 64.9 582.23C64.69 581.96 64.48 581.69 64.27 581.42C63.48 581.87 62.5 582.15 61.94 582.8C60.21 584.83 58.69 587.03 57 589.09C56.55 589.64 55.76 589.91 55.13 590.31C54.91 589.48 54.25 588.4 54.55 587.86C55.32 586.49 56.47 585.31 57.56 584.13C58.4 583.21 59.36 582.41 60.38 581.45C57.96 580.42 56.01 581.98 51.9 587.89C50.29 586.11 51.62 585.06 52.72 583.96C53.78 582.9 54.81 581.81 55.86 580.74C55.57 580.41 55.28 580.07 54.99 579.74C53.05 581.31 51.12 582.88 49.18 584.46C49.04 584.38 48.9 584.3 48.77 584.23C49.87 582.96 50.84 581.54 52.09 580.45C55.08 577.84 58.22 575.39 61.28 572.86C70.43 565.29 73.25 554.96 71.13 544.1C68.48 530.56 64.55 517.2 60.2 504.09C54.74 487.6 50.68 471.04 52.49 453.54C53.9 439.86 55.73 426.22 57.02 412.53C57.54 407.05 57.11 401.47 57.11 395.4C60 400.62 62.4 405.28 62.2 411.14C61.98 417.84 66.44 421.57 72.62 420.79C76.07 420.36 78.8801 417.85 79.12 414.2C77.9901 415.26 77.2801 415.88 76.62 416.55C74.47 418.76 71.9 419.39 68.95 418.59C65.95 417.78 64.07 415.53 64.29 412.73C64.9 405.04 61.18 398.84 58.1 392.39C53.54 382.85 52.48 372.51 51.95 362.25C50.84 340.79 50.04 319.3 49.87 297.82C49.74 281.86 52.93 266.16 56.49 250.66C60.26 234.26 60.25 218.07 55.96 201.87C52.62 189.24 51.24 176.33 50.28 163.35C50.18 162 49.82 160.66 49.58 159.32C49.2 159.35 48.83 159.39 48.45 159.42C48.39 160.39 48.22 161.36 48.3 162.32C49.69 178.5 47.51 194.28 43.02 209.79C42.31 212.24 41.38 214.77 39.96 216.85C36.42 222.04 35.86 227.69 37.03 233.53C39.74 247.1 37.65 260.22 33.98 273.3C30.85 284.46 28 295.7 25.11 306.92C23.82 311.93 24.4 316.86 25.64 321.88C27.78 330.56 25.69 339.16 24.43 347.74C24.36 348.23 23.67 348.63 23.27 349.08C22.74 348.51 21.8 347.95 21.76 347.35C21.62 344.57 21.89 341.77 21.7 339C21.47 335.72 20.92 332.46 20.5 329.19C20.06 329.21 19.63 329.22 19.19 329.24C18.94 330.05 18.7 330.87 18.45 331.68C15.11 330.7 14.23 331.36 13.54 334.82C12.18 341.67 13.71 347.58 18.74 352.53C19.68 353.45 20.47 354.52 21.34 355.52C21.04 355.78 20.74 356.05 20.44 356.31C17.39 352.84 13.39 349.8 11.58 345.77C9.84004 341.89 10.36 336.99 9.36004 332.56C8.35004 337.18 7.27004 342.09 9.58004 346.32C11.79 350.37 15.35 353.69 18.05 357.72C15.7 355.67 13.25 353.71 11.01 351.54C8.62004 349.22 6.39004 346.75 6.22004 343.07C6.07004 339.87 5.67004 336.68 4.77004 333.55C3.53004 338.05 3.25004 342.77 5.25004 346.75C7.21004 350.66 10.63 353.85 13.33 357.46C9.43004 354.51 4.91004 351.85 3.40004 346.81C1.35004 339.92 1.37004 333.17 4.39004 326.12C11.23 310.18 13.41 293.32 11.86 276.03C10.53 261.18 11.04 246.47 14.02 231.79C15.48 224.57 15.91 217.1 16.39 209.71C17.21 197.03 19.42 184.59 21.62 172.09C23.36 162.21 23.18 152 23.91 141.95C24.08 139.6 24.39 137.24 24.79 134.92C26.42 125.41 31.58 118.62 40.5 114.77C48.19 111.45 55.87 108.12 63.53 104.74C65.1 104.05 66.5601 103.12 68.08 102.31C75.3801 98.41 78.12 92.05 77.82 84.11C77.7 81.01 77.35 77.93 77.07 74.43C80.33 77.11 83.5601 79.43 86.37 82.15C91.72 87.32 102.22 87.32 107.5 82.8C110.65 80.11 113.98 77.61 117.41 74.88C117.18 78.13 116.9 81.2 116.76 84.27C116.38 92.55 119.42 99.1 127.12 102.69C134.01 105.9 140.95 109.16 148.16 111.48C164.34 116.68 169.52 125.06 170.94 142C171.55 149.26 170.81 156.66 171.64 163.89C172.64 172.61 175 181.18 176.11 189.9C177.35 199.7 177.61 209.61 178.73 219.43C179.76 228.39 182.04 237.24 182.55 246.2C183.18 257.1 182.34 268.08 182.51 279.03C182.62 286.4 183.09 293.8 183.94 301.12C184.65 307.27 186.02 313.35 187.32 319.41C187.79 321.58 188.69 323.75 189.8 325.68C193.43 331.98 193.07 338.6 191.6 345.35Z" fill="#7D7987"/>
                                    <path d="M174.15 299.4C171.06 280.25 167.81 260.15 164.72 241.03C163.73 247.57 171.68 295.99 174.15 299.4Z" fill="#7D7987"/>
                                    <path d="M30.0199 239.75C26.7399 260.1 23.4799 280.26 20.1099 301.15C25.2699 280.52 28.6299 260.39 30.0199 239.75Z" fill="#7D7987"/>
                                    <path d="M45.9603 170.68C42.4003 188.54 37.8103 205.96 27.2803 221.2C37.0903 210.33 44.5403 186.62 45.9603 170.68Z" fill="#7D7987"/>
                                    <path d="M155.52 196.85C152.49 188.41 150.73 179.52 148.42 170.83C151.26 188.91 155.72 206.38 166.38 220.97C162.87 213.3 158.56 205.31 155.52 196.85Z" fill="#7D7987"/>
                                    <path d="M133.1 495.92C127.84 512.9 124.01 530.16 122.77 547.14C126.12 530.58 129.61 513.25 133.1 495.92Z" fill="#7D7987"/>
                                    <path d="M73.6299 456.84C70.6799 465.06 73.1299 500.6 77.1199 507.6C75.9599 499.16 74.3499 490.74 73.7599 482.26C73.1899 473.82 73.6399 465.31 73.6299 456.84Z" fill="#7D7987"/>
                                    <path d="M72.87 399.82C64.9 384.49 58.02 368.85 56.02 351.45C57.08 369.22 63.98 384.91 72.87 399.82Z" fill="#7D7987"/>
                                    <path d="M123.38 269.84C123.68 269.29 123.75 268.62 123.93 268.01C118.74 276.6 113.94 285.33 108.84 293.87C105.15 300.05 105.62 306.44 107.02 312.96C107.05 298.4 107.15 298.46 113.98 287.06C117.32 281.45 120.27 275.6 123.38 269.84Z" fill="#7D7987"/>
                                    <path d="M140.34 339.63C140.83 356.09 138.19 371.23 134.68 386.25C139.09 374.81 142.99 346.29 140.34 339.63Z" fill="#7D7987"/>
                                    <path d="M97.1299 196.17C97.1299 196.99 97.1299 197.81 97.1299 198.63C97.1899 197.83 97.2099 197.01 97.1299 196.17Z" fill="#7D7987"/>
                                    <path d="M92.9198 211.16C93.7998 209.67 94.6898 208.19 95.9298 206.09C97.0998 214.45 95.0798 222.16 97.1398 229.66C97.1398 219.32 97.1398 208.98 97.1398 198.63C96.8098 203.14 94.5298 207.06 92.0898 210.94C92.3598 211.01 92.6398 211.08 92.9198 211.16Z" fill="#7D7987"/>
                                    <path d="M88.0299 171.33C75.0899 173.93 61.7599 178.11 51.9199 164.26C54.1099 174.58 77.8899 179.18 88.0299 171.33Z" fill="#7D7987"/>
                                    <path d="M118.93 433.56C119.57 431.03 119.01 429.37 116.96 428.1C118.32 430.24 118.28 432.44 117.67 434.9C116.98 437.69 116.72 440.6 116.49 443.48C115.88 451.1 117.8 458.34 119.93 465.54C120.22 465.21 120.33 464.9 120.28 464.62C120.11 463.67 119.92 462.73 119.67 461.8C117.08 452.45 116.54 443.01 118.93 433.56Z" fill="#7D7987"/>
                                    <path d="M116.79 427.99C116.85 428.03 116.9 428.06 116.95 428.1C116.91 428.04 116.89 427.99 116.85 427.93L116.79 427.99Z" fill="#7D7987"/>
                                    <path d="M81.8198 83.55C82.5498 95.2 85.5298 106.03 93.4198 115.01C86.4798 105.64 83.5098 94.83 81.8198 83.55Z" fill="#7D7987"/>
                                    <path d="M84.6798 122.49C75.6598 117.47 66.1098 114.96 55.8198 116.02C60.7098 116.74 65.7198 116.84 70.5398 117.88C75.3598 118.93 79.9698 120.92 84.6798 122.49Z" fill="#7D7987"/>
                                    <path d="M102.99 115.34C109.06 108.98 115.05 92.7 113.55 86.91C112.4 97.28 108.55 106.63 102.99 115.34Z" fill="#7D7987"/>
                                    <path d="M116.39 202.49C120.94 206.95 125.4 211.52 129.89 216.04C130.19 215.74 130.49 215.44 130.78 215.14C129.28 213.71 127.96 211.99 126.24 210.92C122.13 208.37 118.94 205.09 116.4 200.97C114.45 197.8 111.43 195.82 108.19 194.95C110.83 197.36 113.69 199.85 116.39 202.49Z" fill="#7D7987"/>
                                    <path d="M137.46 463.06C138.42 455.44 138.47 447.95 133.82 441.26C137.37 448.17 137.43 455.61 137.46 463.06Z" fill="#7D7987"/>
                                    <path d="M95.4697 135.55C98.5097 143.53 98.1197 151.48 95.5397 160.05C99.7197 154.58 99.4397 138.18 95.4697 135.55Z" fill="#7D7987"/>
                                    <path d="M76.6197 206.59C74.3297 208.21 72.6697 210.7 70.7197 212.8C74.8897 209.68 78.9797 206.67 82.6797 203.24C85.2397 200.86 87.2597 197.89 89.5297 195.18C89.1397 194.86 88.7597 194.55 88.3697 194.23C86.0997 200 81.3697 203.23 76.6197 206.59Z" fill="#7D7987"/>
                                    <path d="M124.62 232.49C124.03 240.51 125.25 248.99 128.7 257.16C127.31 248.73 125.91 240.25 124.62 232.49Z" fill="#7D7987"/>
                                    <path d="M113.98 122.36C114.09 122.65 114.19 122.94 114.3 123.23C121.45 120.7 128.6 118.17 135.74 115.64C135.58 115.37 135.43 115.11 135.27 114.84C128.18 117.34 121.08 119.85 113.98 122.36Z" fill="#7D7987"/>
                                    <path d="M49.5799 151.41C48.8999 143.71 51.6699 136.98 55.6699 130.6C50.6999 136.66 47.8599 143.35 49.5799 151.41Z" fill="#7D7987"/>
                                    <path d="M76.21 234.67C77.35 229.1 78.58 223.04 79.73 217.39C76.77 222.15 75.12 230.51 76.21 234.67Z" fill="#7D7987"/>
                                    <path d="M134.02 400.58C132.32 405.23 130.37 410.59 128.47 415.82C131.41 413.53 134.83 403.23 134.02 400.58Z" fill="#7D7987"/>
                                    <path d="M166.75 166.09C163.38 162.32 160.11 158.65 156.58 154.7C158.72 159.79 161.93 163.57 166.75 166.09Z" fill="#7D7987"/>
                                    <path d="M37.7099 154.9C34.4799 158.52 31.1799 162.23 27.6899 166.14C32.4699 163.39 35.9999 159.87 37.7099 154.9Z" fill="#7D7987"/>
                                    <path d="M141.27 135.42C142.79 139.93 145.39 143.14 149.63 145.27C146.76 141.89 144.11 138.76 141.27 135.42Z" fill="#7D7987"/>
                                    <path d="M116.79 427.99L116.85 427.93C116.8 427.88 116.75 427.82 116.7 427.77C116.73 427.84 116.76 427.92 116.79 427.99Z" fill="#7D7987"/>
                                    <path d="M116.7 427.77C115.37 424.38 114.04 420.99 112.71 417.6C113.07 421.41 113.9 425.01 116.7 427.77Z" fill="#7D7987"/>
                                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="195" height="597">
                                        <g clip-path="url(#clip0)">
                                            <path d="M193.33 330.11C189.42 319.4 186.55 308.66 185.22 297.47C184.51 291.53 184.43 285.5 184.4 279.5C184.34 268.02 184.9 256.52 184.44 245.06C184.17 238.46 182.1 231.95 181.39 225.35C180.1 213.5 179.52 201.56 178.07 189.73C176.99 180.9 174.57 172.23 173.56 163.4C172.74 156.28 173.36 149.01 172.95 141.83C171.9 123.84 165.36 115.54 148.47 109.54C141.92 107.21 135.54 104.36 129.16 101.56C121.28 98.1 117.95 91.78 118.79 83.39C119.42 76.99 120.42 70.62 121.46 64.28C121.67 63 122.55 61.57 123.55 60.74C127.2 57.71 130.35 50.09 128.22 46.22C126.21 42.57 127.25 39.5 127.87 36.11C128.28 33.89 128.65 31.66 128.81 29.42C129.82 15.89 122.71 5.57999 109.71 1.75999C107.56 1.12999 105.31 0.749985 103.09 0.419985C90.31 -1.46001 79.69 3.11998 73.71 13.32C69.84 19.92 69.21 27.34 69.04 34.81C68.97 37.72 69.71 40.8 66.95 43.12C66.33 43.64 66.16 44.9 66.11 45.84C65.8 51.79 67.18 57.1 72.06 61.07C72.72 61.61 73.33 62.55 73.44 63.37C74.33 70.29 75.35 77.21 75.84 84.17C76.35 91.39 73.7001 97.22 66.94 100.69C65.32 101.52 63.78 102.54 62.11 103.27C55.02 106.36 47.92 109.39 40.79 112.4C30.94 116.56 24.73 123.68 22.93 134.34C22.45 137.2 22.09 140.09 21.88 142.98C21.17 152.61 20.92 162.29 19.82 171.87C18.44 183.91 16.3 195.85 14.71 207.87C13.65 215.85 13.48 223.97 12.05 231.87C9.37004 246.68 8.56004 261.48 9.92004 276.46C11.48 293.75 9.09004 310.52 2.23004 326.5C0.0100424 331.67 -0.449958 336.73 0.410042 342.2C1.12004 346.69 2.27004 350.74 5.87004 353.83C9.11004 356.62 11.64 359.79 16.98 359.35C20.42 359.07 22.11 357.83 24.3 355.53C17.85 349.3 12.39 342.93 16.26 333.17C19.24 334.48 20.08 336.51 19.83 339.49C19.58 342.45 19.65 345.51 20.14 348.44C20.31 349.46 22.09 350.76 23.25 350.9C24.15 351.01 25.96 349.62 26.12 348.68C27.7 339.4 29.68 330.14 27.44 320.62C26.67 317.34 25.97 313.67 26.65 310.48C28.97 299.58 31.6 288.71 34.69 278C38.97 263.2 42.02 248.42 38.97 232.92C38.13 228.65 38.14 224.31 40.37 220.05C42.68 215.63 44.57 210.88 45.9 206.07C47.75 199.37 48.9 192.48 50.39 185.49C51.42 190.25 52.24 194.88 53.44 199.42C57.8 215.9 58.72 232.37 54.85 249.15C50.75 266.97 47.62 285 47.68 303.36C47.73 317.01 48.16 330.66 48.75 344.3C49.37 358.47 50.67 372.55 53.4 386.54C54.93 394.37 55.62 402.57 55.21 410.53C54.62 421.98 52.68 433.37 51.31 444.78C49.16 462.61 50.09 480.08 55.97 497.28C60.52 510.58 64.44 524.11 68.11 537.67C72.11 552.45 69.3 565.35 56.11 574.76C53.67 576.5 51.29 578.39 49.14 580.47C46.01 583.51 46.23 586.2 49.77 588.7C51.79 590.13 54.05 591.25 56.25 592.41C58.14 593.41 60.27 594.03 62 595.23C64.94 597.27 66.8 597.25 69.27 594.67C70.44 593.45 71.47 591.8 72.91 591.2C76.87 589.56 78.79 586.56 79.34 582.62C79.96 578.2 81.6 574.49 84.86 571.3C88.31 567.93 88.7401 563.86 86.58 559.45C85.94 558.15 85.75 556.59 85.52 555.13C84.95 551.48 84.49 547.8 83.95 544.14C83.32 539.91 81.99 535.66 82.14 531.46C82.48 521.81 83.39 512.17 84.32 502.55C85.82 487.01 87.29 471.49 84.66 455.94C83.0201 446.29 84.5301 437 86.73 427.58C89.15 417.26 91.37 406.78 92.29 396.25C94.2701 373.45 95.36 350.57 96.83 327.72C96.89 326.85 97.08 325.99 97.21 325.13C97.5 325.12 97.8 325.11 98.09 325.1C98.31 326.7 98.6 328.29 98.75 329.9C100.24 345.52 101.75 361.13 103.15 376.76C104.07 387.03 105.36 397.3 105.47 407.58C105.55 415.11 106.05 422.42 108.72 429.41C110.52 434.13 111.01 438.82 109.96 443.62C105.97 461.79 107.06 479.89 110.14 498.05C112.92 514.38 115.14 530.81 114.15 547.44C113.91 551.51 112.71 555.66 111.18 559.46C109.51 563.59 109.26 567.42 112.39 570.52C116.2 574.3 117.78 578.79 118.91 583.83C119.42 586.11 121.33 588.22 122.98 590.06C124.58 591.83 126.78 593.04 128.51 594.71C131.03 597.15 133.06 597.38 135.81 595.19C136.14 594.93 136.42 594.59 136.78 594.41C140.45 592.58 144.3 591.04 147.77 588.89C151.83 586.36 151.91 583.65 148.51 580.24C147.53 579.26 146.33 578.5 145.29 577.57C140.96 573.72 136.5 570 132.38 565.93C128.93 562.52 127.46 558.08 128.04 553.24C128.79 547.06 129.46 540.83 130.79 534.76C134.23 519.14 138.04 503.61 141.68 488.03C144.8 474.68 147.4 461.22 144.43 447.52C142.07 436.63 140.63 425.77 141.96 414.61C142.28 411.89 142 408.97 141.34 406.3C139.47 398.67 140.86 391.4 143.03 384.11C146.55 372.31 148.57 360.18 148.92 347.93C149.86 314.8 149.35 281.75 143.04 249C140.24 234.47 137.77 219.76 141.38 204.88C142.63 199.74 143.46 194.49 144.48 189.29C145.09 189.76 145.16 190.16 145.24 190.55C147.2 200.43 148.38 210.56 153.68 219.44C155.96 223.26 156.63 227.24 155.77 231.51C153.19 244.32 154.07 256.96 157.53 269.47C160.17 278.99 163.11 288.43 165.49 298.01C167.14 304.62 169.77 311.38 167.67 318.27C164.65 328.18 166.83 337.86 168.06 347.61C168.3 349.5 169.03 351.23 171.48 351.09C173.96 350.94 174.76 349.19 174.86 347.13C174.99 344.34 175.03 341.53 174.77 338.75C174.51 335.93 175.8 334.37 178.14 333.27C180.07 337.41 180.02 343.15 177.78 346.57C176.25 348.89 174.42 351.02 172.62 353.16C170.22 356.02 170.09 357.38 173.55 358.55C176.4 359.51 180.53 359.98 182.86 358.6C193.78 352.13 197.51 341.58 193.33 330.11Z" fill="black"/>
                                        </g>
                                    </mask>

                                    <g mask="url(#mask0)">
                                        <!-- только отображение нижним слоем -->
                                            <path class="is-hide" title="Все тело"  d="M12.5753 -3H183.534L196 597H1L12.5753 -3Z" fill="#F84A92"/>

                                            <mask id="mask1" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="127" width="262" height="191">
                                                <path d="M205.743 148.561L3 224L261 128" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 160.182L3 235.622L261 139.621" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 171.804L3 247.243L261 151.243" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 183.425L3 258.865L261 162.864" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 195.047L3 270.486L261 174.486" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 206.668L3 282.107L261 186.107" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 218.289L3 293.729L261 197.729" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 229.911L3 305.35L261 209.35" stroke="black" stroke-width="3"/>
                                                <path d="M205.743 241.532L3 316.972L261 220.971" stroke="black" stroke-width="3"/>
                                            </mask>
                                            <g mask="url(#mask1)">
                                                <path class="is-hide" title="Поясница" d="M50.5 191H144.5L146.382 277H48.4014L50.5 191Z" fill="#F84A92"/>
                                            </g>
                                        <!-- /только отображение нижним слоем -->

                                        <!-- активные ховер и клик и отображение верхним слоем -->
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M54.3516 0H148.16L155 84H48L54.3516 0Z" fill="#F84A92"><title>Голова</title></path>
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M50.3516 84H144.16L151 105H44L50.3516 84Z" fill="#F84A92"><title>Шея</title></path>
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M47.5 105H152L151 191H49L47.5 105Z" fill="#F84A92"><title>Грудная клетка</title></path>
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover is-active" d="M44 191H151L146.425 277H49.3516L44 191Z" fill="#F84A92"><title>Живот</title></path>
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M43 277H149.502L150 325H43V277Z" fill="#F84A92"><title>Малый таз</title></path>
                                            <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M47 325H154.498L155 597H47V325Z" fill="#F84A92"><title>Ноги</title></path>
                                            <g onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" >
                                                <path d="M3.96804 105H47.8036L51 362H1L3.96804 105Z" fill="#F84A92"/>
                                                <path d="M151.968 105H195.804L199 362H149L151.968 105Z" fill="#F84A92"/>
                                                <title>Руки</title>
                                            </g>
                                        <!-- /активные ховер и клик и отображение верхним слоем -->
                                    </g>
                                    <defs>
                                    <clipPath id="clip0">
                                    <rect width="195" height="596.71" fill="white"/>
                                    </clipPath>
                                    </defs>
                                </svg>

                                <svg class="switch__dummy switch__dummy--woman" width="195" height="597" viewBox="0 0 195 597" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M77.7938 507.61C73.8038 500.61 71.3538 465.07 74.3038 456.85C74.3038 465.33 73.8538 473.83 74.4338 482.27C75.0138 490.75 76.6338 499.16 77.7938 507.61Z" fill="#7D7987"/>
                                    <path d="M135.354 386.26C138.854 371.23 141.504 356.09 141.014 339.64C143.664 346.3 139.764 374.82 135.354 386.26Z" fill="#7D7987"/>
                                    <path d="M129.144 415.83C131.054 410.6 133.004 405.24 134.694 400.59C135.504 403.24 132.074 413.55 129.144 415.83Z" fill="#7D7987"/>
                                    <path d="M179.895 304.807C177.625 289.637 174.935 274.537 172.515 259.387C170.915 249.387 170.015 239.227 167.805 229.367C165.815 220.497 164.525 211.707 164.685 202.637C164.955 187.287 165.315 171.917 165.095 156.567C164.935 145.627 163.235 134.837 158.775 124.657C155.395 116.937 149.825 111.827 141.605 109.807C137.175 108.717 132.705 107.787 128.225 106.987C116.335 104.857 113.055 100.947 112.625 88.9768C112.345 81.1868 116.685 76.0068 121.555 70.7868C123.725 68.4668 125.505 65.5168 126.615 62.5368C127.655 59.7468 127.875 56.4968 124.585 54.4068C124.265 54.2068 124.385 53.2368 124.395 52.6168C124.565 42.8968 125.105 33.1768 124.845 23.4768C124.445 8.56677 109.985 -2.72322 96.2454 0.576776C93.5854 1.21678 90.8054 1.55678 88.0754 1.61678C73.3654 1.91678 64.6054 15.7568 70.8354 28.9168C71.2154 29.7268 71.3454 30.8268 71.1554 31.6968C69.6654 38.3968 69.8254 45.0368 71.5254 51.6668C71.7554 52.5668 71.8354 53.7568 71.4354 54.5268C68.3154 60.4368 69.5954 65.9868 74.8854 70.0968C76.4054 71.2768 77.8654 72.8668 78.6554 74.5868C80.4454 78.4968 82.2054 82.5068 83.2454 86.6568C85.6054 96.0368 83.1154 102.557 73.5754 105.347C68.2354 106.907 62.7354 107.947 57.2854 109.107C47.2854 111.227 40.3154 116.897 36.9954 126.617C35.3654 131.397 33.4254 136.307 33.1054 141.257C32.1554 155.917 31.6154 170.627 31.5154 185.317C31.4054 201.527 32.3454 217.627 27.8054 233.667C24.9354 243.807 24.8754 254.727 23.3554 265.267C20.3954 285.837 17.2854 306.377 14.2854 326.937C13.6554 331.217 13.7454 331.237 17.9854 332.057C17.5254 335.257 20.0354 335.397 22.0754 336.767C25.5154 339.087 26.5154 337.207 27.3354 334.877C28.2554 332.277 28.5854 329.457 29.0854 326.717C29.5854 323.987 29.9754 321.237 30.5454 317.627C31.4854 321.887 32.0454 325.117 32.9754 328.237C33.2054 329.017 34.5454 329.587 35.4854 329.957C35.6754 330.027 36.7354 328.767 36.8154 328.057C37.8254 318.617 39.8854 309.107 37.4854 299.677C35.2854 291.047 36.3054 282.897 39.3354 274.767C42.2954 266.807 44.9754 258.737 48.1454 250.867C54.0854 236.097 55.5054 220.667 55.6454 204.957C55.7054 197.697 56.4654 190.447 56.9054 183.187C57.3654 183.147 57.8254 183.107 58.2854 183.067C61.0054 193.567 64.1154 203.987 66.3054 214.587C67.5954 220.837 67.8354 227.207 63.8354 233.267C45.7254 260.687 39.9454 291.017 45.0054 323.147C47.9354 341.777 52.4754 360.177 56.8554 378.547C61.1254 396.487 62.6154 414.377 61.0054 432.867C59.3554 451.837 60.3954 470.957 64.3454 489.697C66.0654 497.867 69.7854 505.707 70.7654 513.917C72.7054 530.137 73.6154 546.487 74.4454 562.817C74.8054 569.867 71.9554 576.127 67.0754 581.447C64.7854 583.957 62.9054 586.877 61.0854 589.767C59.3054 592.597 60.2554 594.567 63.2954 594.877C69.9154 595.547 76.5254 596.597 83.1554 596.697C86.9254 596.757 90.8554 595.607 94.4354 594.267C95.6054 593.827 96.4854 591.057 96.4754 589.347C96.4754 585.957 96.0554 582.507 95.2954 579.187C89.5554 553.977 88.7754 528.627 93.5454 503.227C96.8254 485.757 98.6054 468.397 95.2654 450.687C93.7454 442.637 93.2054 434.337 92.8854 426.127C92.1454 406.687 93.1954 387.307 96.1154 368.047C96.7754 363.667 97.2754 359.267 97.8454 354.877C98.7154 355.567 98.9554 356.247 99.0454 356.947C100.015 364.757 101.065 372.547 101.905 380.367C104.185 401.747 105.535 423.247 102.215 444.527C99.3854 462.657 98.4154 480.477 102.145 498.557C107.785 525.907 107.435 553.247 100.885 580.477C100.185 583.407 99.9354 586.527 100.065 589.527C100.135 591.237 101.045 593.967 102.215 594.377C105.955 595.667 109.995 596.737 113.905 596.687C120.145 596.607 126.375 595.507 132.615 594.937C136.245 594.597 137.355 592.757 135.415 589.637C133.745 586.947 132.035 584.197 129.865 581.927C123.725 575.527 121.475 567.847 122.035 559.267C123.005 544.427 124.175 529.607 125.265 514.777V514.767C125.295 514.427 125.315 514.087 125.345 513.747C125.325 513.877 125.295 514.007 125.265 514.137V513.827C135.765 486.307 137.175 457.677 135.265 428.767C134.445 416.277 134.175 403.957 136.945 391.687C141.495 371.527 146.445 351.437 150.365 331.147C156.925 297.247 152.585 264.987 134.115 235.197C131.685 231.277 130.305 227.007 131.055 222.167C131.635 218.417 131.725 214.587 131.915 210.787C132.375 201.227 135.755 192.437 139.165 183.537C140.155 191.227 140.915 198.877 140.945 206.537C141.005 221.377 142.635 235.887 147.975 249.857C151.235 258.377 154.455 266.927 157.265 275.597C159.945 283.877 161.065 292.257 158.525 301.007C157.435 304.767 157.875 309.047 158.065 313.067C158.285 317.617 158.905 322.157 159.555 326.677C159.725 327.887 160.635 328.997 161.205 330.147C162.125 329.257 163.545 328.507 163.865 327.437C164.755 324.447 165.185 321.317 165.995 317.307C166.405 319.857 166.655 321.467 166.935 323.067C167.585 326.817 167.995 330.627 169.015 334.267C169.405 335.677 171.005 337.377 172.375 337.747C174.385 338.287 178.355 334.247 179.185 332.177C180.515 331.277 182.445 330.057 182.365 328.967C181.775 320.917 181.085 312.817 179.895 304.807Z" fill="white"/>
                                    <path d="M125.344 513.77C124.234 528.94 123.024 544.11 122.034 559.29C121.474 567.87 123.724 575.54 129.864 581.95C132.034 584.21 133.744 586.97 135.414 589.66C137.354 592.78 136.244 594.63 132.614 594.96C126.374 595.54 120.144 596.63 113.904 596.71C109.994 596.76 105.944 595.69 102.214 594.4C101.044 594 100.144 591.26 100.064 589.549C99.9338 586.539 100.174 583.419 100.884 580.5C107.434 553.28 107.784 525.94 102.144 498.58C98.4138 480.5 99.3838 462.69 102.214 444.55C105.534 423.27 104.184 401.77 101.904 380.39C101.074 372.57 100.024 364.77 99.0438 356.97C98.9538 356.27 98.7138 355.59 97.8438 354.9C97.2738 359.29 96.7838 363.69 96.1138 368.07C93.1938 387.33 92.1438 406.71 92.8838 426.15C93.1938 434.36 93.7438 442.66 95.2638 450.71C98.6038 468.42 96.8238 485.78 93.5438 503.25C88.7738 528.65 89.5538 554 95.2938 579.21C96.0438 582.52 96.4638 585.979 96.4738 589.37C96.4738 591.07 95.6038 593.85 94.4338 594.29C90.8538 595.63 86.9238 596.78 83.1538 596.72C76.5238 596.62 69.9138 595.57 63.2938 594.9C60.2538 594.59 59.3038 592.62 61.0838 589.79C62.9038 586.9 64.7838 583.98 67.0738 581.47C71.9438 576.15 74.8038 569.89 74.4438 562.84C73.6138 546.52 72.7038 530.159 70.7638 513.94C69.7838 505.73 66.0638 497.89 64.3438 489.72C60.3938 470.98 59.3538 451.86 61.0038 432.89C62.6138 414.4 61.1338 396.51 56.8538 378.57C52.4738 360.2 47.9338 341.8 45.0038 323.17C39.9438 291.04 45.7238 260.71 63.8338 233.29C67.8338 227.23 67.5938 220.86 66.3038 214.61C64.1138 204 61.0038 193.58 58.2838 183.09C57.8238 183.13 57.3638 183.17 56.9038 183.21C56.4638 190.47 55.7038 197.72 55.6438 204.98C55.5138 220.69 54.0938 236.12 48.1438 250.89C44.9738 258.76 42.2938 266.83 39.3338 274.79C36.3038 282.92 35.2838 291.07 37.4838 299.7C39.8838 309.13 37.8138 318.64 36.8138 328.08C36.7338 328.79 35.6738 330.06 35.4838 329.98C34.5438 329.62 33.2038 329.05 32.9738 328.26C32.0438 325.14 31.4738 321.91 30.5438 317.65C29.9638 321.26 29.5738 324.01 29.0838 326.74C28.5838 329.48 28.2538 332.3 27.3338 334.9C26.5138 337.23 25.5138 339.11 22.0738 336.79C20.0438 335.42 17.5238 335.27 17.9838 332.08C13.7538 331.26 13.6538 331.25 14.2838 326.96C17.2838 306.4 20.3938 285.85 23.3538 265.29C24.8738 254.75 24.9338 243.83 27.8038 233.69C32.3338 217.65 31.4038 201.56 31.5138 185.35C31.6138 170.66 32.1538 155.95 33.1038 141.29C33.4238 136.34 35.3638 131.43 36.9938 126.65C40.3038 116.93 47.2838 111.26 57.2838 109.14C62.7338 107.98 68.2338 106.95 73.5738 105.38C83.1238 102.58 85.6038 96.0695 83.2438 86.6895C82.2038 82.5395 80.4438 78.5295 78.6538 74.6195C77.8638 72.8995 76.4038 71.3095 74.8838 70.1295C69.5838 66.0195 68.3138 60.4695 71.4338 54.5595C71.8338 53.7995 71.7538 52.5995 71.5238 51.6995C69.8238 45.0595 69.6638 38.4295 71.1538 31.7295C71.3438 30.8595 71.2238 29.7495 70.8338 28.9495C64.5938 15.7695 73.3538 1.92954 88.0638 1.61954C90.7938 1.55954 93.5738 1.21954 96.2338 0.579537C109.974 -2.73046 124.434 8.56954 124.834 23.4795C125.094 33.1795 124.554 42.9095 124.384 52.6195C124.374 53.2295 124.254 54.2095 124.574 54.4095C127.864 56.4995 127.644 59.7595 126.604 62.5395C125.494 65.5195 123.714 68.4595 121.544 70.7895C116.674 76.0095 112.344 81.1795 112.614 88.9695C113.044 100.94 116.324 104.86 128.214 106.98C132.704 107.78 137.174 108.71 141.594 109.8C149.814 111.81 155.384 116.93 158.764 124.65C163.224 134.83 164.924 145.62 165.084 156.56C165.314 171.91 164.944 187.27 164.674 202.62C164.514 211.69 165.804 220.49 167.794 229.35C170.004 239.21 170.904 249.36 172.504 259.37C174.924 274.51 177.614 289.62 179.884 304.79C181.084 312.8 181.764 320.89 182.344 328.97C182.424 330.05 180.494 331.28 179.164 332.18C178.334 334.25 174.374 338.29 172.354 337.75C170.984 337.39 169.394 335.68 168.994 334.27C167.974 330.63 167.564 326.82 166.914 323.07C166.634 321.47 166.394 319.86 165.974 317.31C165.174 321.33 164.734 324.45 163.844 327.44C163.524 328.51 162.104 329.26 161.184 330.15C160.614 329 159.714 327.89 159.534 326.68C158.884 322.16 158.264 317.62 158.044 313.07C157.854 309.05 157.414 304.77 158.504 301.01C161.044 292.26 159.924 283.88 157.244 275.6C154.434 266.93 151.214 258.38 147.954 249.86C142.604 235.89 140.984 221.38 140.924 206.54C140.894 198.88 140.134 191.23 139.144 183.54C135.734 192.44 132.364 201.23 131.894 210.79C131.714 214.59 131.624 218.43 131.034 222.17C130.284 227.01 131.664 231.29 134.094 235.2C152.564 264.99 156.904 297.26 150.344 331.15C146.424 351.44 141.474 371.52 136.924 391.69C134.154 403.96 134.424 416.28 135.244 428.77C137.144 457.69 135.744 486.329 125.234 513.859C125.314 512.519 125.154 511.1 125.534 509.84C131.634 489.38 134.604 468.45 134.394 447.14C134.274 434.4 133.384 421.66 132.864 409.27C132.014 410.33 130.884 411.73 129.834 413.03C131.734 405.44 133.704 398.13 135.374 390.74C139.994 370.33 144.984 350 148.894 329.45C153.524 305.11 152.644 280.86 143.284 257.57C139.514 248.2 134.574 239.3 130.074 230.23C129.864 229.81 128.804 229.81 127.324 229.38C130.854 210.84 134.394 192.23 137.854 174.03C124.964 181.16 108.514 179.09 104.824 169.49C110.294 174.28 114.684 176.14 121.564 176.58C132.274 177.26 140.774 170.85 142.584 160.31C143.244 156.47 142.924 152.48 143.214 148.57C143.424 145.75 143.914 142.95 144.274 140.14C144.694 145.92 145.174 151.58 144.544 157.11C144.044 161.52 142.164 165.78 140.944 170.11C140.554 171.5 139.914 172.96 140.034 174.34C141.334 189.1 144.134 203.67 143.484 218.7C143.144 226.47 145.344 234.56 147.554 242.16C150.444 252.12 154.924 261.62 157.884 271.56C160.084 278.95 164.864 286.1 161.584 294.49C160.854 296.35 160.804 298.47 160.244 300.41C157.634 309.44 160.604 318.07 162.414 326.86C163.274 321.12 164.124 315.38 164.984 309.64C165.364 309.59 165.744 309.54 166.124 309.5C167.754 318.15 169.394 326.81 171.024 335.46C171.454 335.41 171.884 335.35 172.324 335.3C172.654 328.24 172.984 321.18 173.304 314.17C176.484 320.39 171.154 327.82 175.694 333.85C176.064 333.83 176.444 333.8 176.814 333.78C176.814 326.75 176.814 319.73 176.814 311.92C180.254 317.87 176.384 324.3 179.494 329.46C180.064 329.37 180.634 329.27 181.214 329.18C175.914 293.86 170.624 258.54 165.254 222.77C163.784 223.63 163.284 223.93 163.564 223.76C163.564 204.06 163.644 184.15 163.534 164.24C163.474 152.8 162.434 141.48 159.134 130.4C155.374 117.77 146.654 111.58 134.114 109.72C126.954 108.66 119.844 107.37 113.884 102.41C113.334 104.21 112.874 105.7 112.414 107.19C112.094 107.18 111.784 107.17 111.464 107.16C111.104 99.9795 110.734 92.7995 110.344 84.9495C102.064 90.7695 94.0238 91.3295 85.6938 84.9195C85.6938 92.9795 85.6938 100.29 85.6938 107.59C85.3938 107.62 85.0838 107.66 84.7838 107.69C84.0638 106.03 83.3538 104.37 82.5338 102.49C75.9038 107.96 67.8738 109.04 60.0338 110.31C47.8538 112.28 40.7238 119.33 37.2338 130.9C33.7438 142.47 32.8538 154.32 32.9038 166.27C32.9638 180.61 33.4738 194.95 33.4838 209.29C33.4838 215.74 34.4338 222.36 30.7738 228.45C29.5238 230.53 29.2438 233.29 28.9038 235.79C27.4438 246.72 26.3738 257.72 24.7038 268.62C22.1538 285.28 19.1638 301.86 16.4738 318.5C15.8838 322.12 15.7838 325.82 15.4538 329.48C15.9238 329.53 16.3938 329.58 16.8538 329.63C20.3538 324.25 15.7938 317.32 19.7138 311.71C19.7138 319.24 19.7138 326.48 19.7138 333.73C20.1138 333.76 20.5238 333.79 20.9238 333.81C24.1338 327.22 20.7938 319.62 24.1938 312.94C24.1938 320.46 24.1938 327.98 24.1938 335.5C24.6138 335.53 25.0238 335.55 25.4438 335.58C27.0838 326.85 28.7238 318.12 30.3638 309.4C30.7238 309.46 31.0838 309.51 31.4438 309.57C32.3338 315.38 33.2138 321.19 34.1038 326.99C35.1838 324.92 35.3538 322.94 35.7438 321C37.3038 313.21 37.8138 305.51 35.6338 297.65C34.1338 292.26 32.6238 287.2 35.6038 281.02C39.9138 272.09 41.7038 261.99 45.3238 252.67C49.3538 242.29 52.5038 231.79 53.1238 220.67C53.3138 217.2 52.1738 213.65 52.5038 210.21C53.6338 198.34 55.1838 186.52 56.4738 174.67C56.6138 173.38 56.5838 171.73 55.9038 170.74C51.7338 164.68 51.5038 157.95 52.0038 151C52.1738 148.62 52.0338 146.22 52.0338 143.83C52.6838 145.13 53.2638 146.57 53.3338 148.04C53.4738 150.95 53.1338 153.89 53.3238 156.79C54.2538 170.5 64.2338 178.67 77.7138 176.12C82.7238 175.17 87.3938 172.42 91.5238 170.76C87.9338 175.28 82.2838 177.69 75.7538 178.5C69.2438 179.31 63.4038 177.55 57.7938 173.83C62.7438 192.61 69.0938 210.89 69.2838 230.1C69.1638 230 68.6238 229.56 68.0938 229.14C66.7438 231.39 65.4838 233.59 64.1338 235.73C47.5238 262.07 41.5438 290.82 46.3738 321.38C49.3738 340.38 54.0538 359.14 58.4038 377.91C61.1138 389.62 61.6338 401.96 67.5238 413.03C66.4238 411.82 65.3238 410.61 64.1638 409.33C63.9438 412.76 63.8138 416.04 63.5238 419.31C61.1638 445.61 60.9338 471.86 67.9638 497.55C73.7138 518.55 75.6238 539.93 76.1138 561.53C76.2838 568.98 74.2538 575.789 69.2538 581.57C67.5238 583.58 66.0638 585.83 64.5738 588.04C64.0238 588.86 63.7638 589.88 63.3038 590.78C62.9238 591.52 62.4538 592.22 62.0338 592.94C62.8938 593.2 63.7338 593.599 64.6038 593.69C66.5738 593.9 68.5638 593.93 70.5438 594.08C72.4138 594.22 74.2738 594.43 76.1438 594.56C78.7038 594.74 81.5038 595.56 83.7838 594.82C86.1638 594.039 88.0438 591.74 89.8838 590.299C90.2038 590.599 90.7938 591.65 91.5738 591.83C94.1338 592.41 95.1838 590.84 94.8738 588.58C94.0438 582.56 93.0438 576.56 91.9638 570.57C91.8838 570.13 90.5838 569.919 89.6438 569.51C91.4838 565.69 90.1938 562.07 88.9738 558.229C87.6038 553.93 86.9938 549.359 86.2638 544.88C86.0238 543.44 86.4438 541.89 86.5638 540.39C87.5038 542.22 87.5938 543.99 87.8338 545.729C88.0738 547.449 88.4638 549.149 88.7838 550.859C89.2038 550.399 89.3238 550.029 89.2838 549.669C87.5738 532.43 90.0938 515.49 92.9338 498.57C95.1038 485.65 97.0838 472.59 94.6438 459.58C90.5838 437.93 90.5238 416.19 91.5638 394.34C91.7438 390.59 90.9138 386.69 91.6838 383.1C96.3838 361.25 98.3438 339.23 96.5538 316.94C96.4238 315.26 95.3138 313.49 94.2138 312.11C92.1538 309.5 89.7738 307.15 87.5238 304.69C87.7338 304.43 87.9438 304.17 88.1538 303.91C91.0038 307.74 94.7238 310.73 99.3338 309.3C103.344 308.05 106.834 305.16 110.064 303.28C107.694 305.9 104.724 309.09 101.874 312.4C101.024 313.39 100.024 314.69 99.9938 315.87C99.7238 325.5 99.5738 335.13 99.5838 344.76C99.5938 360.07 104.504 374.84 104.554 390.17C104.594 405.01 105.044 419.85 105.124 434.69C105.144 438.09 104.674 441.55 103.964 444.89C100.604 460.69 99.9838 476.53 102.604 492.51C105.514 510.28 108.794 528.04 107.424 546.21C107.254 548.44 107.094 550.67 106.924 552.89C107.114 552.91 107.304 552.919 107.504 552.94C108.124 548.58 108.744 544.219 109.504 538.93C111.184 546.219 109.474 552.229 107.704 558.31C106.654 561.93 106.274 565.729 105.484 570.01C105.554 569.93 104.604 570.51 104.424 571.27C103.674 574.35 103.074 577.47 102.574 580.6C102.114 583.47 101.604 586.39 101.664 589.27C101.684 590.18 103.364 591.359 104.514 591.81C105.014 592 106.114 590.669 106.594 590.299C108.454 591.69 110.464 594.13 112.954 594.82C115.484 595.52 118.494 594.39 121.294 594.26C125.054 594.08 128.824 594.12 132.584 593.95C133.204 593.919 134.104 593.4 134.304 592.89C134.504 592.359 134.154 591.459 133.764 590.919C133.504 590.56 132.494 590.7 132.274 590.34C130.684 587.65 129.614 584.55 127.634 582.21C122.134 575.73 119.974 568.28 120.394 560C120.884 550.24 121.324 540.479 122.264 530.76C122.824 525.06 124.294 519.43 125.344 513.77ZM115.314 72.0495C116.774 68.8895 118.504 66.2795 119.204 63.4095C121.934 52.2895 121.824 44.2095 111.044 40.0195C101.814 36.4295 94.4638 31.1395 90.8138 22.8195C88.1438 26.3795 85.5038 30.3295 82.4138 33.8795C78.9338 37.8695 75.3138 41.9395 75.5938 47.4395C76.0238 55.5595 75.4238 64.0295 81.1938 71.1595C80.1738 71.2395 79.6738 71.2895 79.1238 71.3295C84.6138 84.7995 94.3838 88.4095 99.8538 87.5695C107.484 86.3995 116.444 77.6495 117.024 71.0795C116.554 71.3395 116.134 71.5895 115.314 72.0495ZM122.604 25.5295C122.854 15.6795 114.314 5.25954 105.404 3.56954C98.4838 2.25954 92.7338 6.60954 92.0838 13.6495C91.4038 21.0195 96.3938 30.3095 103.104 33.5095C109.714 36.6595 116.524 39.4195 120.974 45.8595C120.024 35.9395 116.884 27.0695 109.694 19.9095C109.934 19.6895 110.174 19.4595 110.414 19.2395C112.634 20.7895 114.844 22.3395 117.064 23.8995C115.214 20.9195 113.034 18.2395 110.274 16.4595C107.464 14.6495 104.084 13.7295 100.554 12.2595C110.794 11.6895 117.524 16.4195 122.604 25.5295ZM91.4438 3.95954C85.2038 1.99954 78.9338 4.56954 74.2838 11.4395C70.3838 17.2095 69.6138 23.5195 72.2438 26.8095C74.2538 23.2095 76.3138 19.5195 78.3738 15.8295C78.6738 15.9795 78.9838 16.1295 79.2838 16.2795C76.6238 23.2195 74.7038 30.2495 75.7238 36.9695C77.7938 35.3295 80.2738 33.8595 82.1038 31.8095C86.5538 26.8495 90.0938 21.4095 90.2138 14.3095C90.2938 10.9995 90.9838 7.69954 91.4438 3.95954ZM120.084 69.4095C125.724 64.5495 127.024 58.4695 122.424 56.0595C122.964 57.9995 123.334 59.3495 123.494 59.9395C122.314 63.2395 121.294 66.0595 120.084 69.4095ZM73.0338 60.0895C73.0338 59.2495 73.0338 57.8795 73.0338 56.5195C69.9938 61.0295 71.5738 66.0295 75.9038 67.8995C74.9538 65.3295 74.0538 62.8695 73.0338 60.0895Z" fill="#7D7987"/>
                                    <path d="M121.864 585.77C121.724 584.87 121.594 583.98 121.374 582.59C123.014 584.84 124.324 586.63 125.164 587.78C120.934 587.78 115.534 587.78 110.124 587.78C110.094 587.37 110.074 586.96 110.044 586.54C113.844 586.3 117.634 586.05 121.864 585.77Z" fill="#7D7987"/>
                                    <path d="M79.0439 414.48C81.2339 410.3 83.2239 406.5 85.2439 402.65C85.6039 407.73 84.8839 412.21 79.0439 414.48Z" fill="#7D7987"/>
                                    <path d="M70.064 587.479C71.414 586.329 72.804 585.15 74.164 583.99C76.844 588.68 81.974 584.179 86.004 587.479C80.254 587.479 75.184 587.479 70.064 587.479Z" fill="#7D7987"/>
                                    <path d="M92.6838 106.82C91.0038 101.66 89.3338 96.5096 87.6538 91.3496C88.0838 91.2096 88.5038 91.0696 88.9338 90.9296C90.6138 96.0896 92.2938 101.24 93.9638 106.4C93.5338 106.54 93.1138 106.68 92.6838 106.82Z" fill="#7D7987"/>
                                    <path d="M125.494 115.48C120.034 116.29 114.564 117.1 109.104 117.91C109.044 117.51 108.974 117.11 108.914 116.72C114.374 115.9 119.834 115.08 125.304 114.27C125.364 114.66 125.424 115.07 125.494 115.48Z" fill="#7D7987"/>
                                    <path d="M87.654 117.93C82.294 117.2 76.944 116.48 71.584 115.75C71.644 115.3 71.704 114.85 71.774 114.4C77.104 115.15 82.434 115.9 87.774 116.65C87.734 117.08 87.694 117.5 87.654 117.93Z" fill="#7D7987"/>
                                    <path d="M111.444 402.98C113.364 406.68 115.254 410.31 117.084 413.84C112.324 412.45 111.014 409.94 111.444 402.98Z" fill="#7D7987"/>
                                    <path d="M102.734 105.87C104.304 101 105.874 96.1295 107.444 91.2695C107.854 91.3995 108.274 91.5295 108.684 91.6695C107.134 96.5795 105.584 101.49 104.034 106.41C103.594 106.22 103.164 106.04 102.734 105.87Z" fill="#7D7987"/>
                                    <path d="M137.364 255.72C134.244 259.92 131.484 263.63 128.734 267.34C130.144 262.52 132.004 258.07 137.364 255.72Z" fill="#7D7987"/>
                                    <path d="M67.5339 266.86C64.7639 263.26 62.0039 259.65 58.9639 255.69C64.3639 257.74 66.0739 262.2 67.5339 266.86Z" fill="#7D7987"/>
                                    <path d="M131.564 160.48C129.784 161.41 127.984 163.12 126.244 163.05C124.504 162.99 122.834 161.14 121.434 159.47C124.744 162.43 127.844 162.55 131.054 158.93C131.224 159.45 131.394 159.96 131.564 160.48Z" fill="#7D7987"/>
                                    <path d="M75.2137 160.39C73.5937 161.35 71.9737 163.08 70.3637 163.07C68.5737 163.06 66.7937 161.46 65.2637 159.83C68.6037 162.54 71.6137 162.36 74.6037 159.07C74.8037 159.51 75.0137 159.95 75.2137 160.39Z" fill="#7D7987"/>
                                    <mask id="mask0_woman" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="195" height="597">
                                        <g clip-path="url(#clip0)">
                                            <path d="M179.9 304.8C177.63 289.63 174.94 274.53 172.52 259.38C170.92 249.38 170.02 239.22 167.81 229.36C165.82 220.49 164.53 211.7 164.69 202.63C164.96 187.28 165.32 171.91 165.1 156.56C164.94 145.62 163.24 134.83 158.78 124.65C155.4 116.93 149.83 111.82 141.61 109.8C137.18 108.71 132.71 107.78 128.23 106.98C116.34 104.85 113.06 100.94 112.63 88.97C112.35 81.18 116.69 76 121.56 70.78C123.73 68.46 125.51 65.51 126.62 62.53C127.66 59.74 127.88 56.49 124.59 54.4C124.27 54.2 124.39 53.23 124.4 52.61C124.57 42.89 125.11 33.17 124.85 23.47C124.45 8.56 109.99 -2.73 96.2502 0.570001C93.5902 1.21 90.8102 1.55 88.0802 1.61C73.3702 1.91 64.6102 15.75 70.8402 28.91C71.2202 29.72 71.3502 30.82 71.1602 31.69C69.6702 38.39 69.8302 45.03 71.5302 51.66C71.7602 52.56 71.8402 53.75 71.4402 54.52C68.3202 60.43 69.6002 65.98 74.8902 70.09C76.4102 71.27 77.8702 72.86 78.6602 74.58C80.4502 78.49 82.2102 82.5 83.2502 86.65C85.6102 96.03 83.1202 102.55 73.5802 105.34C68.2402 106.9 62.7402 107.94 57.2902 109.1C47.2902 111.22 40.3202 116.89 37.0002 126.61C35.3702 131.39 33.4302 136.3 33.1102 141.25C32.1602 155.91 31.6202 170.62 31.5202 185.31C31.4102 201.52 32.3502 217.62 27.8102 233.66C24.9402 243.8 24.8802 254.72 23.3602 265.26C20.4002 285.83 17.2902 306.37 14.2902 326.93C13.6602 331.21 13.7502 331.23 17.9902 332.05C17.5302 335.25 20.0402 335.39 22.0802 336.76C25.5202 339.08 26.5202 337.2 27.3402 334.87C28.2602 332.27 28.5902 329.45 29.0902 326.71C29.5902 323.98 29.9802 321.23 30.5502 317.62C31.4902 321.88 32.0502 325.11 32.9802 328.23C33.2102 329.01 34.5502 329.58 35.4902 329.95C35.6802 330.02 36.7402 328.76 36.8202 328.05C37.8302 318.61 39.8902 309.1 37.4902 299.67C35.2902 291.04 36.3102 282.89 39.3402 274.76C42.3002 266.8 44.9802 258.73 48.1502 250.86C54.0902 236.09 55.5102 220.66 55.6502 204.95C55.7102 197.69 56.4702 190.44 56.9102 183.18C57.3702 183.14 57.8302 183.1 58.2902 183.06C61.0102 193.56 64.1202 203.98 66.3102 214.58C67.6002 220.83 67.8402 227.2 63.8402 233.26C45.7302 260.68 39.9502 291.01 45.0102 323.14C47.9402 341.77 52.4802 360.17 56.8602 378.54C61.1302 396.48 62.6202 414.37 61.0102 432.86C59.3602 451.83 60.4002 470.95 64.3502 489.69C66.0702 497.86 69.7902 505.7 70.7702 513.91C72.7102 530.13 73.6202 546.48 74.4502 562.81C74.8102 569.86 71.9602 576.12 67.0802 581.44C64.7902 583.95 62.9102 586.87 61.0902 589.76C59.3102 592.59 60.2602 594.56 63.3002 594.87C69.9202 595.54 76.5302 596.59 83.1602 596.69C86.9302 596.75 90.8602 595.6 94.4402 594.26C95.6102 593.82 96.4902 591.05 96.4802 589.34C96.4802 585.95 96.0602 582.5 95.3002 579.18C89.5602 553.97 88.7803 528.62 93.5502 503.22C96.8302 485.75 98.6102 468.39 95.2702 450.68C93.7502 442.63 93.2102 434.33 92.8902 426.12C92.1502 406.68 93.2002 387.3 96.1202 368.04C96.7803 363.66 97.2802 359.26 97.8502 354.87C98.7202 355.56 98.9603 356.24 99.0502 356.94C100.02 364.75 101.07 372.54 101.91 380.36C104.19 401.74 105.54 423.24 102.22 444.52C99.3902 462.65 98.4202 480.47 102.15 498.55C107.79 525.9 107.44 553.24 100.89 580.47C100.19 583.4 99.9402 586.52 100.07 589.52C100.14 591.23 101.05 593.96 102.22 594.37C105.96 595.66 110 596.73 113.91 596.68C120.15 596.6 126.38 595.5 132.62 594.93C136.25 594.59 137.36 592.75 135.42 589.63C133.75 586.94 132.04 584.19 129.87 581.92C123.73 575.52 121.48 567.84 122.04 559.26C123.01 544.42 124.18 529.6 125.27 514.77V514.76C125.3 514.42 125.32 514.08 125.35 513.74C125.33 513.87 125.3 514 125.27 514.13V513.82C135.77 486.3 137.18 457.67 135.27 428.76C134.45 416.27 134.18 403.95 136.95 391.68C141.5 371.52 146.45 351.43 150.37 331.14C156.93 297.24 152.59 264.98 134.12 235.19C131.69 231.27 130.31 227 131.06 222.16C131.64 218.41 131.73 214.58 131.92 210.78C132.38 201.22 135.76 192.43 139.17 183.53C140.16 191.22 140.92 198.87 140.95 206.53C141.01 221.37 142.64 235.88 147.98 249.85C151.24 258.37 154.46 266.92 157.27 275.59C159.95 283.87 161.07 292.25 158.53 301C157.44 304.76 157.88 309.04 158.07 313.06C158.29 317.61 158.91 322.15 159.56 326.67C159.73 327.88 160.64 328.99 161.21 330.14C162.13 329.25 163.55 328.5 163.87 327.43C164.76 324.44 165.19 321.31 166 317.3C166.41 319.85 166.66 321.46 166.94 323.06C167.59 326.81 168 330.62 169.02 334.26C169.41 335.67 171.01 337.37 172.38 337.74C174.39 338.28 178.36 334.24 179.19 332.17C180.52 331.27 182.45 330.05 182.37 328.96C181.78 320.91 181.09 312.81 179.9 304.8Z" fill="black"/>
                                        </g>
                                    </mask>
                                    <g mask="url(#mask0_woman)">
                                        <!-- только отображение нижним слоем -->
                                            <path class="is-hide" title="Все тело" d="M12.5753 -3H183.534L196 597H1L12.5753 -3Z" fill="#F84A92"/>
                                            <mask id="mask1_woman" mask-type="alpha" maskUnits="userSpaceOnUse" x="-25" y="135" width="262" height="191">
                                                <path d="M179.743 156.561L-23 232L235 136" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 168.182L-23 243.622L235 147.621" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 179.804L-23 255.243L235 159.243" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 191.425L-23 266.865L235 170.864" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 203.047L-23 278.486L235 182.486" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 214.668L-23 290.107L235 194.107" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 226.289L-23 301.729L235 205.729" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 237.911L-23 313.35L235 217.35" stroke="black" stroke-width="3"/>
                                                <path d="M179.743 249.532L-23 324.972L235 228.971" stroke="black" stroke-width="3"/>
                                            </mask>
                                            <g mask="url(#mask1_woman)">
                                                <path class="is-active" title="Поясница" d="M57.9999 193H137.5V226L151.5 267H43.5L61.9999 224L57.9999 193Z" fill="#F84A92"/>
                                            </g>
                                        <!-- /только отображение нижним слоем -->

                                        <!-- активные ховер и клик и отображение верхним слоем -->
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M54.3516 0H148.16L155 88H48L54.3516 0Z" fill="#F84A92"><title>Голова</title></path>
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M50.3516 88H144.16L151 110H44L50.3516 88Z" fill="#F84A92"><title>Шея</title></path>
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M53 110H144V156L135 193H62.5L53 159.5V110Z" fill="#F84A92"><title>Грудная клетка</title></path>
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover is-active" d="M57.9999 193H137.5V226L151.5 267H43.5L61.9999 224L57.9999 193Z" fill="#F84A92"><title>Живот</title></path>
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M43 267H154.479L155 318H43V267Z" fill="#F84A92"><title>Малый таз</title></path>
                                        <path onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover" d="M40 318H154.465L155 602H40V318Z" fill="#F84A92"><title>Ноги</title></path>
                                        <g onclick="window.location.pathname = '/catalog_in_in.html'" class="svg-hover"  >
                                            <path  d="M140 237.5L138 172L144 157.5V97L165.5 117.5L189.5 337.5L155.5 343.5V285L140 237.5Z" fill="#F84A92"/>
                                            <path d="M31.5 107.5L53 102.5V161.5L57.5 171L59.5 224L41.5 284V340.5H3.96777L31.5 107.5Z" fill="#F84A92"/>
                                            <title>Руки</title>
                                        </g>
                                        <!-- /активные ховер и клик и отображение верхним слоем -->
                                    </g>
                                    <defs>
                                        <clipPath id="clip0">
                                            <rect width="195" height="596.71" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-one">
                <div class="slider-one__in">
                    <div class="swiper-wrapper">
                        {% set items = [{
                                "title": "МРТ головного мозга <br/> в Санкт-Петербурге за  2 900 ₽"
                            }]
                        %}
                        {% for item in items %}
                        <div class="g-offer-main slider-one__slide swiper-slide">
                            <div class="g-offer-main__bg g-abs bg--cover swiper-lazy" data-background="images/pages/home/slide-main.jpg">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="g-offer-main__in">
                                <div class="g-offer-main__text">
                                    <div class="g-offer-main__title">
                                        <span class="g-offer-main__title-txt">{{ item.title | safe }}</span>
                                    </div>
                                    <div class="g-offer-main-feature">
                                        {% set items = [{
                                                "src": "images/pages/home/slider-feature-1.svg",
                                                "title": "Обследование без очередей, отчёт 30 мин"
                                            },{
                                                "src": "images/pages/home/slider-feature-2.svg",
                                                "title": "Бесплатная консультация (интерпретация) врача"
                                            },{
                                                "src": "images/pages/home/slider-feature-3.svg",
                                                "title": "100 % стерильность клиники"
                                            },{
                                                "src": "images/pages/home/slider-feature-4.svg",
                                                "title": "Рекомендовано даже беременным"
                                            }]
                                        %}
                                        {% for item in items %}
                                            <div class="g-offer-main-feature__item">
                                            {% include "template/feature/feature__el.html" %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="g-offer-main__desc">
                                        <div class="g-editor g-editor_desc">
                                            <p>Избавиться от головных болей если лечение не помогает. Исключить / предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="g-offer-main-btn">
                                    <div class="g-offer-main-btn__item">
                                        <button class="g-btn g-btn--bg"  data-toggle="modal" data-target="#modal--buy-click" data-service="МРТ головного мозга <br/> в Санкт-Петербурге за  2 900 ₽" data-id="some_id_1">
                                            <span class="g-btn__txt">онлайн Запись</span>
                                        </button>
                                    </div>
                                    <div class="g-offer-main-btn__item">
                                        <a href="stock__detail.html" class="g-btn-color">
                                            <span class="g-btn-color__txt">Подробнее</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="slider-one__pag swiper-pagination"></div>
                <button class="slider-one-nav slider-one-nav_prev g-abs">
                    <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="slider-one-nav__ellips slider-one-nav__ellips--prev g-abs"></i>
                </button>
                <button class="slider-one-nav slider-one-nav_next g-abs">
                    <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="slider-one-nav__ellips slider-one-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
