{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span>Диагностика</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Диагностика</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog__in">
                        <div class="alphabet__list alphabet__list--catalog">
                            <div class="alphabet__item">
                                <div class="alphabet__letter">К</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Кольпоскопия</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">М</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >МРТ</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">О</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Офтальмоскопия</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">П</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Пальпация</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Р</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Рефрактометрия</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">С</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Суточное мониторирование АД</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Т</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Тимпанометрия</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">У</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >УЗДГ</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >УЗИ</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Ф</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Функция внешнего дыхания</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Х</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >Холтеровское мониторирование</a>
                            </div>
                            <div class="alphabet__item">
                                <div class="alphabet__letter">Э</div>
                                <a href="catalog_in_in.html" class="alphabet__link" >ЭКГ</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Электромиография</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >Эндоскопия</a>
                                <a href="catalog_in_in.html" class="alphabet__link" >ЭЭГ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
