{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Услуги и цены</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Анализы</a><span class="breadcrumbs-txt__split">→</span>Исследования мочи</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Исследования мочи</h1>
                        <div class="g-inner-page__heading-search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_heading" name="search_catalog" class="g-input__search" type="search" placeholder="Поиск по разделу" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="catalog-dop-nav">
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Все</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Общеклинические исследования мочи</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Биохимические исследования мочи</span>
                        </a>
                        <a href="catalog_in_in.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Гормоны и метаболиты в моче</span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">
                            <div class="catalog__list">
                                {% set items = [{
                                        "id": "el_1",
                                        "article": "71-85-200",
                                        "price": "150",
                                        "price_new": "100",
                                        "title": "Гемоглабин",
                                        "desc": "Требуется подготовка: на тощак"
                                    },{
                                        "id": "el_2",
                                        "article": "71-85-200",
                                        "price": "100",
                                        "title": "Гемоглабин",
                                        "desc": "Требуется подготовка: на тощак"
                                    },{
                                        "id": "el_3",
                                        "article": "71-85-200",
                                        "price": "150",
                                        "price_new": "100",
                                        "title": "Гемоглабин",
                                        "desc": "Требуется подготовка: на тощак"
                                    },{
                                        "id": "el_4",
                                        "article": "71-85-200",
                                        "price": "150",
                                        "title": "Гемоглабин",
                                        "desc": "Требуется подготовка: на тощак"
                                    },{
                                        "id": "el_5",
                                        "article": "71-85-200",
                                        "price": "100",
                                        "title": "Гемоглабин",
                                        "desc": "Требуется подготовка: на тощак"
                                    }]
                                %}
                                {% for item in items %}
                                    {% include "template/catalog/card.html" %}
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            <div class="banner-hor">
                                <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-1.jpg)">
                                    <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                                    <a href="" class="banner-hor-el-title">
                                        <span class="banner-hor-el-title__txt">Приём врача&#8209;терапевта <br/>+ ЭКГ в подарок</span>
                                    </a>

                                    <div class="g-price banner-hor-el-price">
                                        <span class="g-price__txt  banner-hor-el-price__txt">
                                            1 200
                                            <span class="g-price__cur currency">₽</span>
                                        </span>
                                    </div>
                                    <div class="banner-hor-el-btn">
                                        <div class="banner-hor-el-btn__item">
                                            <button class="g-btn g-btn--bg g-btn--sm">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <div class="banner-hor-el-btn__item">
                                            <a href="offer__detailed.html" class="g-btn-color g-btn-color--sm">
                                                <span class="g-btn-color__txt">Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-2.jpg)">
                                    <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                                    <a href="" class="banner-hor-el-title">
                                        <span class="banner-hor-el-title__txt">Общее лабораторное обследование</span>
                                    </a>

                                    <div class="g-price banner-hor-el-price">
                                        <span class="g-price__txt  banner-hor-el-price__txt">
                                            <span class="g-price__old">890</span>
                                            <span class="g-price__new">420
                                                <span class="g-price__cur currency">₽</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="banner-hor-el-btn">
                                        <div class="banner-hor-el-btn__item">
                                            <button class="g-btn g-btn--bg g-btn--sm">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <div class="banner-hor-el-btn__item">
                                            <a href="offer__detailed.html" class="g-btn-color g-btn-color--sm">
                                                <span class="g-btn-color__txt">Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
