{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Контакты</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Контакты</h1>
                    </div>

                    <div class="contacts-info">
                        <div class="contacts-info__title let-spacing">Санкт-Петербург  ул. Боровая, 55  м. Обводный канал</div>
                        <div class="contacts-info-btns">
                            <button class="g-btn g-btn--sm contacts-info-btns__item"  data-toggle="modal" data-target="#modal--city">
                                <span class="g-btn__txt">Выбрать другой город</span>
                            </button>
                            <button class="g-btn g-btn--sm g-btn--dop contacts-info-btns__item"  data-toggle="modal" data-target="#modal--office">
                                <span class="g-btn__txt">другой филиал</span>
                            </button>
                        </div>
                    </div>
                    <div id="js-contact-map"  class="contacts-map"></div>
                    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                    <script type="text/javascript">
                      // Группы объектов
                      var myPoints = [
                            {
                              name: "Воронеж",
                              labelPlace: "store1",
                              num: "1",
                              coords: [51.666144, 39.199056],
                              title: 'Тиккурила в Воронеже',
                              address: 'Среднемосковская, 14, 394000 Воронеж, Россия',
                              tel: 'Телефон: <a class="where_buy-map__tel" href="tel:8 (473) 259-97-99">8 (473) 259-97-99</a>',
                              email: 'E-mail: <a class="where_buy-map__link" href="mailto:mirano@vmail.ru">mirano@vmail.ru</a>',
                              www: 'Сайт: <a class="where_buy-map__link" href="www.mirano.ru" target="_blank" rel="nofollow nooperner">www.mirano.ru</a>'
                            }
                        ];
                        // yandex map in contact page initial >>>>>>>>
                        ;(function() {
                            var _mapO = 'js-contact-map';
                            if (document.getElementById(_mapO)) {
                                ymaps.ready(init);
                            }

                            function init() {
                                // РЎРѕР·РґР°РЅРёРµ СЌРєР·РµРјРїР»СЏСЂР° РєР°СЂС‚С‹.
                                var _mapID = _mapO,
                                    _mapCenter = myPoints[0].coords || [51.722274, 39.163854],
                                    myMap = new ymaps.Map(_mapID, {
                                        center: _mapCenter,
                                        zoom: 15,
                                        controls: ["zoomControl"]
                                    }, {
                                        minZoom: 3,
                                        maxZoom: 17,
                                        searchControlProvider: 'yandex#search',
                                        checkZoomRange: true
                                    });

                                myMap.behaviors.disable("scrollZoom");


                                for (var i = 0, l = myPoints.length; i < l; i++) {
                                    createMenuItem(myPoints[i]);
                                }

                                function createMenuItem (item) {
                                    var placemark = new ymaps.Placemark(
                                        item.coords,
                                        {
                                            balloonContent: ["<div class='map__marker'>" + "<div class='map__marker-txt'>" + item.title + "</div>" + "<div class='map__marker-time'>" + item.time + "</div>" + "</div>"],
                                            hintContent: item.title
                                        }
                                    );
                                    if(myPoints.length > 1){
                                        placemark.events.add("click", function(e){
                                            var coords = e.get('target').geometry.getCoordinates();
                                            myMap.setCenter(coords, 15);
                                        });
                                    }
                                  myMap.geoObjects.add(placemark);
                                }
                                if(myPoints.length > 1){
                                    myMap.setBounds(myMap.geoObjects.getBounds(), {checkZoomRange:true});

                                }
                            }

                        }());
                    </script>

                    <div class="contacts-feature">
                        <div class="contacts-feature-list">
                            {% set items = [{
                                    "src": "images/pages/contacts/ico-1.svg",
                                    "title": "Позвоните нам",
                                    "desc": "<p>Есть вопросы?  Номер для связи: <br/>
                                        <a href=\"tel:+7(812)385-46-06\">+7 (812) 385-46-06</a> <br/>
                                        <a href=\"tel:+7(921)943-21-70\">+7 (921) 943-21-70</a> <br/>
                                    <span style=\"color: #7D7987;\">(бесплатный звонок по России)</span><br/>
                                    <a href=\"tel:+7(921)943-21-70\">Заказать обратный звонок</a>
                                </p>"
                                },{
                                    "src": "images/pages/contacts/ico-3.svg",
                                    "title": "Напишите нам",
                                    "desc": "<p>Идеи?  Предложения? <br/>
                                        Мы открыты для Ваших предложений. <br/>
                                        <span style=\"color: #7D7987;\">Написать на</span>: <a href=\"mailto:spb@n-d-c.ru\">spb@n-d-c.ru</a></p>"
                                },{
                                    "src": "images/pages/contacts/ico-2.svg",
                                    "title": "Обратная связь",
                                    "desc": "<p>Поделитесь мнением о нашей работе и помогите нам стать лучше! <br/>
                                        <a href=\"#modal--feedback\" type=\"button\" data-toggle=\"modal\" data-target=\"#modal--feedback\">Оставить отзыв</a></p>"
                                }
                            ]%}
                            {% for item in items %}
                                <div class="contacts-feature-list__item">
                                    <div class="contacts-feature-el">
                                        <div class="contacts-feature-el-img g-abs g-abs_t">
                                            <img class="contacts-feature-el-img__in g-abs" src="{{ item.src }}" role="presentation" alt="ico" />
                                        </div>
                                        <div class="contacts-feature-el__text">
                                            <div class="contacts-feature-el-title">
                                                <span class="contacts-feature-el-title__txt">{{ item.title }}</span>
                                            </div>
                                            <div class="contacts-feature-el__desc">
                                                <div class="g-editor g-editor--desc g-editor--lh-sm">
                                                    {{ item.desc | safe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- @@include("modal/modal_feedback.html") -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
