{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Самодиагностика</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading">
                <h1 class="g-inner-page__heading-txt">Самодиагностика</h1>
            </div>
            <div class="g-inner-page__desc">
                <div class="g-editor g-editor--big">
                    <p>Начать вы можете с того, что пройдите эту небольшую самодиагностику на нашем сайте.</p>
                    <p>Врачи советуют, если есть жалобы или подозрения на проблемы со здоровьем, обратиться к врачу и пройти полную диагностику. Это позволит сохранить Ваше время и сохранить здоровье глаз.</p>
                </div>
            </div>
            <div class="g-diagnosis">
                <div class="g-diagnosis__form">
                    <form action="/">
                        <div class="g-diagnosis-group">
                            <div class="g-diagnosis-group__heading">
                                <div class="g-diagnosis-group__title">Выберите направление</div>
                            </div>
                            <div class="g-checkbox-cont g-diagnosis-group__list g-diagnosis-group__list--x4">
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Проктология</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Пластическая хирургия</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Урология</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Хирургия</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Гинекология</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Офтольмология</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-diagnosis-group__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="diagnos-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Косметология</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="g-diagnosis-group">
                            <div class="g-diagnosis-group__heading">
                                <div class="g-diagnosis-group__title">Что Вас беспокоит?</div>
                            </div>
                            <div class="g-checkbox-cont g-diagnosis-group__list g-diagnosis-group__list--x2">
                                {% set items = [{
                                        "id": "diagnos-2",
                                        "title": "Боль в области глаза"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Безболезненные образования в глазу"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Слезотечение"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Быстрое значительное снижение остроты зрения (вдаль и вблизи)"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Появление «пятна» перед глазом"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Нарушение параллельности взора"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Покраснение глаза"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Светобоязнь"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Изменение положения глаза в орбите"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Медленное ухудшение зрения"
                                    },{
                                        "id": "diagnos-2",
                                        "title": "Выпадения в поле зрения"
                                    }]
                                %}
                                {% for item in items %}
                                    <div class="g-diagnosis-group__item">
                                        <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                            <label class="g-checkbox__label">
                                                <input class="g-checkbox__input" type="radio" name="{{ item.id }}" value="" />
                                                <span class="g-checkbox__wrap">
                                                    <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                    <span class="g-checkbox__txt">{{ item.title }}</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="g-diagnosis-group">
                            <div class="g-diagnosis-group__heading">
                                <div class="g-diagnosis-group__title">Как это выражается?</div>
                                <div class="g-diagnosis-group__desc">
                                    <div class="g-editor g-editor--big g-editor--desc">
                                        <p>Выберите симптомы сопровождающие ваше беспокойство.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g-checkbox-cont g-diagnosis-group__list g-diagnosis-group__list--x2">
                                {% set items = [{
                                        "id": "diagnos-3",
                                        "title": "Ухудшается видимость отдаленных объектов. Вблизи зрение сохранено. Происходит в детском или юношеском возрасте. Зрение вдаль улучшается при коррекции «минусовыми» стеклами"
                                    },{
                                        "id": "diagnos-3",
                                        "title": "Затруднена работа на близком расстоянии (чтение). Зрение вдаль сохранено. Возраст старше 40 лет"
                                    },{
                                        "id": "diagnos-3",
                                        "title": "Снижается острота зрения как вдаль, так и вблизи."
                                    },{
                                        "id": "diagnos-3",
                                        "title": "Ухудшается видимость отдаленных объектов. Вблизи зрение сохранено или улучшается. Происходит в возрасте старше 40 лет"
                                    },{
                                        "id": "diagnos-3",
                                        "title": "Затруднена работа на близком расстоянии (чтение). Зрение вдаль сохранено. Возраст до 40 лет"
                                    }]
                                %}
                                {% for item in items %}
                                    <div class="g-diagnosis-group__item">
                                        <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--brd">
                                            <label class="g-checkbox__label">
                                                <input class="g-checkbox__input" type="radio" name="{{ item.id }}" value="" />
                                                <span class="g-checkbox__wrap">
                                                    <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                    <span class="g-checkbox__txt">{{ item.title }}</span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="g-diagnosis-btn-form">
                            <button class="g-btn g-btn--bg g-btn--wlarge">
                                <span class="g-btn__txt">Поставить диагноз</span>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="g-diagnosis-answer">
                    <div class="g-diagnosis-answer__item">
                        <div class="g-diagnosis-answer-title">
                            <img class="g-diagnosis-answer-title__ico" src="images/pages/diagnosis/diagnosis-ico-1.svg" alt=""/>
                            <div class="g-diagnosis-answer-title__txt">Возможный диагноз</div>
                        </div>
                        <div  class="g-diagnosis-answer__desc">
                            <div class="g-editor g-editor--big">
                                <p>Гиперметропия, глаукома, катаракта, дистрофия центральной зоны сетчатки, частичная атрофия зрительного нерва.</p>
                            </div>
                        </div>
                    </div>
                    <div class="g-diagnosis-answer__item">
                        <div class="g-diagnosis-answer-title">
                            <img class="g-diagnosis-answer-title__ico" src="images/pages/diagnosis/diagnosis-ico-2.svg" alt=""/>
                            <div class="g-diagnosis-answer-title__txt">Ваши действия</div>
                        </div>
                        <div  class="g-diagnosis-answer__desc">
                            <div class="g-editor g-editor--big">
                                <p>Консультация офтальмолога</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-diagnosis-btn">
                    <div class="g-diagnosis-btn__item">
                        <button class="g-btn g-btn--wslide">
                            <span class="g-btn__txt">Распечатать</span>
                        </button>
                    </div>
                    <div class="g-diagnosis-btn__item">
                        <button class="g-btn g-btn--dop g-btn--wslide">
                            <span class="g-btn__txt">Запись на приём</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
