{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

    <div class="g-content">
        <div class="catalog-grid">
            <div class="catalog-grid__sidebar">
                {% include "template/sidebar/sidebar-nav.html" %}
            </div>
            <div class="catalog-grid__content">
                <div class="slider-one">
                    <div class="slider-one__in">
                        <div class="swiper-wrapper">
                            {% set items = [{
                                    "title": "МРТ головного мозга <br/> в Санкт-Петербурге за  2 900 ₽"
                                },{
                                    "title": "МРТ головного мозга <br/> в Санкт-Петербурге за  1 900 ₽"
                                },{
                                    "title": "МРТ головного мозга"
                                },{
                                    "title": "МРТ головного мозга <br/> в Санкт-Петербурге"
                                }]
                            %}
                            {% for item in items %}
                            <div class="g-offer-main slider-one__slide swiper-slide">
                                <div class="g-offer-main__bg g-abs bg--cover swiper-lazy" data-background="images/pages/home/slide-main.jpg">
                                    <div class="swiper-lazy-preloader"></div>
                                </div>
                                <div class="g-offer-main__in">
                                    <div class="g-offer-main__text">
                                        <div class="g-offer-main__title">
                                            <span class="g-offer-main__title-txt">{{ item.title | safe }}</span>
                                        </div>
                                        <div class="g-offer-main-feature">
                                            {% set items = [{
                                                    "src": "images/pages/home/slider-feature-1.svg",
                                                    "title": "Обследование без очередей, отчёт 30 мин"
                                                },{
                                                    "src": "images/pages/home/slider-feature-2.svg",
                                                    "title": "Бесплатная консультация (интерпретация) врача"
                                                },{
                                                    "src": "images/pages/home/slider-feature-3.svg",
                                                    "title": "100 % стерильность клиники"
                                                },{
                                                    "src": "images/pages/home/slider-feature-4.svg",
                                                    "title": "Рекомендовано даже беременным"
                                                }]
                                            %}
                                            {% for item in items %}
                                                <div class="g-offer-main-feature__item">
                                                {% include "template/feature/feature__el.html" %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="g-offer-main__desc">
                                            <div class="g-editor g-editor_desc">
                                                <p>Избавиться от головных болей если лечение не помогает. Исключить / предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="g-offer-main-btn">
                                        <div class="g-offer-main-btn__item">
                                            <button class="g-btn g-btn--bg"  data-toggle="modal" data-target="#modal--buy-click" data-service="МРТ головного мозга <br/> в Санкт-Петербурге за  2 900 ₽" data-id="some_id_1">
                                                <span class="g-btn__txt">онлайн Запись</span>
                                            </button>
                                        </div>
                                        <div class="g-offer-main-btn__item">
                                            <a href="stock__detail.html" class="g-btn-color">
                                                <span class="g-btn-color__txt">Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="slider-one__pag swiper-pagination"></div>
                    <button class="slider-one-nav slider-one-nav_prev g-abs">
                        <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                            <use xlink:href="#symbol-slider_arrow_left"></use>
                        </svg>
                        <i class="slider-one-nav__ellips slider-one-nav__ellips--prev g-abs"></i>
                    </button>
                    <button class="slider-one-nav slider-one-nav_next g-abs">
                        <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                            <use xlink:href="#symbol-slider_arrow_right"></use>
                        </svg>
                        <i class="slider-one-nav__ellips slider-one-nav__ellips--next g-abs"></i>
                    </button>
                </div>

                <div class="g-numbers g-numbers--mb">
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">12 545</div>
                        <div class="g-numbers__title">услуг</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">162</div>
                        <div class="g-numbers__title">специалиста</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">530</div>
                        <div class="g-numbers__title">единиц техники</div>
                    </div>
                    <div class="g-numbers__item">
                        <div class="g-numbers__val">23</div>
                        <div class="g-numbers__title">филиала в городах</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/slider/slider_staff.html" %}
    <div class="slider-one__cont">
        <div class="g-content">
            <div class="g-heading g-heading--mb">
                <div class="g-heading__text">
                    <a href="catalog.html" class="g-heading__link">
                        <span class="g-heading__txt">12 545  услуг</span>
                    </a>
                </div>
                <a href="catalog.html" class="g-heading__link-dop">
                    <span class="g-heading__txt-dop">посмотреть все</span>
                </a>
            </div>

            <div class="slider-one">
                <div class="slider-one__in">
                    <div class="swiper-wrapper">
                        {% set items = [{
                                "title": "Гинекология — решение женских проблем деликатно и быстро"
                            },{
                                "title": "Гинекология — решение женских проблем деликатно и быстро 2"
                            },{
                                "title": "Гинекология — решение женских проблем деликатно и быстро 3"
                            }]
                        %}
                        {% for item in items %}

                        <div class="g-offer-dop slider-one__slide swiper-slide">
                            <div class="g-offer-dop__bg g-bg_cover g-abs swiper-lazy" data-background="images/pages/home/servise-slide.jpg">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="g-offer-dop__in">
                                <div class="g-offer-dop__text">
                                    <div class="g-offer-dop__title">
                                        <span class="g-offer-dop__title-txt">{{ item.title }}</span>
                                    </div>
                                    <div class="g-offer-dop__desc">
                                        <div class="g-editor g-editor_desc">
                                            <p>Открыта онлайн-консультация!
                                            <br/>Не откладывайте лечение и проконсультируйтесь с врачом НДЦ.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="g-offer-dop-act">
                                    <div class="g-offer-dop-act__in">
                                        <div class="g-offer-dop-act__btn">
                                            <button class="g-btn g-btn--bg g-btn--wide">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <div class="g-offer-dop-act__cost">
                                            800 ₽
                                        </div>
                                        <div class="g-offer-dop-act__desc">
                                            <div class="g-offer-dop-act__title">Акция на приём гинеколога</div>
                                            <div class="g-offer-dop-act__date">до 31 ноября</div>
                                        </div>
                                    </div>
                                    <div class="g-offer-dop-act__desc g-offer-dop-act__desc--mob">
                                        <div class="g-offer-dop-act__title">Акция на приём гинеколога</div>
                                        <div class="g-offer-dop-act__date">до 31 ноября</div>
                                    </div>
                                </div>
                                <div class="g-offer-dop-feature">
                                    {% set items = [{
                                            "src": "images/pages/home/service-feature-1.svg",
                                            "title": "<b> Все виды лечения</b> и диагностики в одном центре"
                                        },{
                                            "src": "images/pages/home/service-feature-2.svg",
                                            "title": "<b>Интимная пластика</b> и современные операции"
                                        }]
                                    %}
                                    {% for item in items %}
                                        <div class="g-offer-dop-feature__item">
                                        {% include "template/feature/feature__el.html" %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="slider-one__pag swiper-pagination"></div>
                <button class="slider-one-nav slider-one-nav_prev g-abs">
                    <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="slider-one-nav__ellips slider-one-nav__ellips--prev g-abs"></i>
                </button>
                <button class="slider-one-nav slider-one-nav_next g-abs">
                    <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="slider-one-nav__ellips slider-one-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
    {% include "template/slider/slider_office.html" %}
    {% include "template/slider/slider_offers.html" %}
    {% include "template/slider/slider_news.html" %}
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
