{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Новости</a><span class="breadcrumbs-txt__split">→</span>Если я сделаю МРТ всего тела — это поможет выявить скрытые болезни?</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Если я сделаю МРТ всего тела — это поможет выявить скрытые болезни?</h1>
                    </div>
                    <div class="g-inner-page-date">
                        <span class="g-inner-page-date__txt">22.04.19</span>
                    </div>
                    <div class="g-tag g-inner-page__tag">
                        <a href="news.html" class="g-tag-nav g-vac">
                            <span class="g-tag-nav__txt g-vac__el">Диагностика</span>
                        </a>
                        <a href="news.html" class="g-tag-nav g-vac">
                            <span class="g-tag-nav__txt g-vac__el">Вирусы</span>
                        </a>
                    </div>
                    <div class="g-inner-page-poster">
                        <img class="g-inner-page-poster__img" src="images/pages/news/news_1_big.jpg" alt=""/>
                    </div>
                    <div class="g-inner-page__desc">
                        <div class="g-editor">
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
