{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>филиал НДЦ в Санкт-петербурге</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading g-inner-page__heading--top">
                <h1 class="g-inner-page__heading-txt">филиал НДЦ в Санкт-петербурге</h1>
            </div>

            <div class="contacts-info">
                <div class="contacts-info-btns contacts-info-btns--only">
                    <button class="g-btn g-btn--sm contacts-info-btns__item" data-toggle="modal" data-target="#modal--city">
                        <span class="g-btn__txt">Выбрать другой город</span>
                    </button>
                    <a href="office_map.html" class="g-btn g-btn--sm g-btn--dop contacts-info-btns__item">
                        <span class="g-btn__txt">на карте</span>
                    </a>
                </div>
            </div>

            <div class="g-office-list">
                {% set items = [{
                        "img": "images/pages/office/office_1_sm.jpg",
                        "logo": "images/pages/office/office_1_logo.png",
                        "title": "ЩЁЛКОВО",
                        "desc": "Многопрофильный центр",
                        "address": "1-й Советский переулок, 25",
                        "phone": "8 (496) 250-80-88",
                        "site": "shchelkovo.n-d-c.ru"
                    },{
                        "img": "images/pages/office/office_2_sm.jpg",
                        "logo": "images/pages/office/office_2_logo.png",
                        "title": "Балашиха",
                        "desc": "Центр МРТ",
                        "address": "Советская улица, 42",
                        "phone": "8 (495) 151-10-61",
                        "site": "balashiha.n-d-c.ru"
                    },{
                        "img": "images/pages/office/office_3_sm.jpg",
                        "logo": "images/pages/office/office_3_logo.png",
                        "title": "Королёв",
                        "desc": "Многопрофильный центр",
                        "address": "улица Гагарина, 29",
                        "phone": "8 (495) 151-10-61",
                        "site": "balashiha.n-d-c.ru"
                    },{
                        "img": "images/pages/office/office_2_sm.jpg",
                        "logo": "images/pages/office/office_2_logo.png",
                        "title": "Балашиха",
                        "desc": "Центр МРТ",
                        "address": "Советская улица, 42",
                        "phone": "8 (495) 151-10-61",
                        "site": "balashiha.n-d-c.ru"
                    },{
                        "img": "images/pages/office/office_3_sm.jpg",
                        "logo": "images/pages/office/office_3_logo.png",
                        "title": "Королёв",
                        "desc": "Многопрофильный центр",
                        "address": "улица Гагарина, 29",
                        "phone": "8 (495) 151-10-61",
                        "site": "balashiha.n-d-c.ru"
                    }
                ]%}
                {% for item in items %}
                    <div class="g-office-list__item">
                        {% include "template/office/card-office.html" %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
