{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="breadcrumbs breadcrumbs--top">
                <div class="g-content">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>филиал НДЦ в Санкт-петербурге</div>
                    </div>
                </div>
            </div>
            <div class="g-inner-page__heading g-inner-page__heading--top">
                <h1 class="g-inner-page__heading-txt">филиал НДЦ в Санкт-петербурге</h1>
            </div>

            <div class="contacts-info">
                <div class="contacts-info-btns contacts-info-btns--only">
                    <button class="g-btn g-btn--sm contacts-info-btns__item" data-toggle="modal" data-target="#modal--city">
                        <span class="g-btn__txt">Выбрать другой город</span>
                    </button>
                    <a href="office.html" class="g-btn g-btn--sm g-btn--dop contacts-info-btns__item">
                        <span class="g-btn__txt">списком</span>
                    </a>
                </div>
            </div>
            <div id="js-contact-map"  class="contacts-map"></div>
            <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
            <script type="text/javascript">
              // Группы объектов
              var myPoints = [
                    {
                      name: "Воронеж",
                      labelPlace: "store1",
                      num: "1",
                      coords: [51.666144, 39.199056],
                      title: 'Тиккурила в Воронеже',
                      address: 'Среднемосковская, 14, 394000 Воронеж, Россия',
                      tel: 'Телефон: <a class="where_buy-map__tel" href="tel:8 (473) 259-97-99">8 (473) 259-97-99</a>',
                      email: 'E-mail: <a class="where_buy-map__link" href="mailto:mirano@vmail.ru">mirano@vmail.ru</a>',
                      www: 'Сайт: <a class="where_buy-map__link" href="www.mirano.ru" target="_blank" rel="nofollow nooperner">www.mirano.ru</a>'
                    },
                    {
                      name: "Воронеж",
                      labelPlace: "store2",
                      num: "2",
                      coords: [51.655556, 39.177452],
                      title: 'Строй Микс',
                      address: 'ул. Ворошилова, 16, 394000 Воронеж, Россия',
                      tel: 'Телефон: 8 (473) 261-50-00',
                      email: 'E-mail: mirano@vmail.ru',
                      www: 'Сайт: www.strmix.ru'
                    },
                    {
                      name: "Воронеж",
                      labelPlace: "store3",
                      num: "3",
                      coords: [51.671882, 39.125652],
                      title: 'ТД Квартал',
                      address: 'ул. Холмистая, 68 (ярмарка строительных материалов)',
                      tel: 'Телефон: <a class="where_buy-map__tel" href="tel:8 (473) 239-64-80">8 (473) 239-64-80</a>, <a class="where_buy-map__tel" href="tel:234-79-06">234-79-06</a>',
                      email: '',
                      www: '<a class="where_buy-map__link" href="www.mirano.ru" target="_blank" rel="nofollow nooperner">www.strmix.ru</a>'
                    }
                ];
                // yandex map in contact page initial >>>>>>>>
                ;(function() {
                    var _mapO = 'js-contact-map';
                    if (document.getElementById(_mapO)) {
                        ymaps.ready(init);
                    }

                    function init() {
                        // РЎРѕР·РґР°РЅРёРµ СЌРєР·РµРјРїР»СЏСЂР° РєР°СЂС‚С‹.
                        var _mapID = _mapO,
                            _mapCenter = myPoints[0].coords || [51.722274, 39.163854],
                            myMap = new ymaps.Map(_mapID, {
                                center: _mapCenter,
                                zoom: 15,
                                controls: ["zoomControl"]
                            }, {
                                minZoom: 3,
                                maxZoom: 17,
                                searchControlProvider: 'yandex#search',
                                checkZoomRange: true
                            });

                        myMap.behaviors.disable("scrollZoom");


                        for (var i = 0, l = myPoints.length; i < l; i++) {
                            createMenuItem(myPoints[i]);
                        }

                        function createMenuItem (item) {
                            var placemark = new ymaps.Placemark(
                                item.coords,
                                {
                                    balloonContent: ["<div class='map__marker'>" + "<div class='map__marker-txt'>" + item.title + "</div>" + "<div class='map__marker-time'>" + item.time + "</div>" + "</div>"],
                                    hintContent: item.title
                                }
                            );
                            if(myPoints.length > 1){
                                placemark.events.add("click", function(e){
                                    var coords = e.get('target').geometry.getCoordinates();
                                    myMap.setCenter(coords, 15);
                                });
                            }
                          myMap.geoObjects.add(placemark);
                        }
                        if(myPoints.length > 1){
                            myMap.setBounds(myMap.geoObjects.getBounds(), {checkZoomRange:true});

                        }
                    }

                }());
            </script>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
