{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="g-inner-page">
    <div class="breadcrumbs">
        <div class="g-content">
            <div class="breadcrumbs__wrap">
                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Корзина</div>
            </div>
        </div>
    </div>
    <div class="g-inner-page__heading">
        <div class="g-content">
            <h1 class="g-inner-page__heading-txt">Спасибо !  Ваш заказ принят !</h1>
        </div>
    </div>

    <div class="cart">
        <div class="g-content">
            <div class="cart__in">
                <div class="order-thanks">
                    <div class="order-thanks__desc">
                        <div class="g-editor">
                            <p>Заказ № 3618  от  22 янв  2018  сформирован</p>
                            <p>После подтверждения оплаты на указанную вами почту придёт уведомление о статусе и составе заказа</p>
                            <p>Ожидайте звонка оператора, в ближайшее время он свяжется с Вами для уточнения необходимых деталей.Если заявка оформлена в ночное время, оператор свяжется с Вами после 9:00.</p>
                        </div>
                    </div>
                    <div class="order-thanks__btn">
                        <a href="catalog.html" class="g-btn g-btn--bg">
                            <span class="g-btn__txt">Продолжить покупки</span>
                        </a>
                        <a href="cabinet.html" class="g-btn g-btn--bg">
                            <span class="g-btn__txt">Перейти в личный кабинет</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
