{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="g-inner-page">
    <div class="breadcrumbs">
        <div class="g-content">
            <div class="breadcrumbs__wrap">
                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Корзина</div>
            </div>
        </div>
    </div>
    <div class="g-inner-page__heading">
        <div class="g-content">
            <h1 class="g-inner-page__heading-txt">Оформление заказа</h1>
        </div>
    </div>

    <div class="cart">
        <div class="g-content">
            <div class="cart__in">
                <div class="cart__left">
                    <div class="order-done__list">
                        <div class="order-done__desc">
                            <div class="g-editor g-editor--desc">
                                <p>Заявке присвоен № 70595837</p>
                                <p>Обязательно запишите номер, чтобы оператор смог идентифицировать вашу заявку в системе.</p>
                                <p>Ваша заявка принята для исполнения. <br/>
                                Ожидайте звонка оператора, в ближайшее время он свяжется с Вами для уточнения необходимых деталей.
                                Если заявка оформлена в ночное время, оператор свяжется с Вами после 9-00.</p>
                            </div>
                        </div>
                        <div class="order-done-el">
                            <div class="order-done-el-title">
                                <span class="order-done-el-title__txt Fw(b) Ff(din) Tt(u) t-h3 g-les64">Заказ&#160;&#160;№&#160;3618&#160;&#160;от&#160;&#160;22 янв&#160;&#160;2018&#160;&#160;сформирован</span>
                            </div>
                            <div class="order-done-el-body">
                                <table class="order-done-el-body-table">
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Город</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Воронеж</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Доставка</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Адрес доставки</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Наименование</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Бургер с пикантной курицей, Бургер с пикантной курицей, Бургер с пикантной курицей, Бургер с пикантной курицей х 2 шт</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Способ доставки</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Доставка курьером</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Стоимость</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">24 792 <span class="order-done-el-body__currency g-rub">₽</span></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cabinet-order-el-body-td">
                                            <div class="cabinet-order-el-body__txt Fw(sb) t-h5">Статус</div>
                                        </td>
                                        <td class="cabinet-order-el-body-td">
                                            <div class="cabinet-order-el-body__txt t-h5 g-green">Оплачен </div></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="order-done-el-body">
                                <table class="order-done-el-body-table">
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">ФИО</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Михаил Сергеевич Звягинцев</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Компания</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">ООО «Автосервис»</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Телефон</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">+7 (960) 400-03-15</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Email</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">autos@gmail.com</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt Fw(sb) t-h5">Комментарий к заказу</div>
                                        </td>
                                        <td class="order-done-el-body-td">
                                            <div class="order-done-el-body__txt t-h5">Прошу перед доставкой позвонить за час до выезда на адрес.</div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="order-done-el__btn">
                                <button class="g-btn g-btn--bg g-btn--print" onclick="window.print();">
                                    <svg role="presentation" class="g-btn__ico">
                                        <use xlink:href="#symbol-printer"></use>
                                    </svg>
                                    <span class="g-btn__txt">Распечатать</span>
                                </button>
                                <a href="order__thanks.html" class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">Оплатить</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart__right">
                    <div class="cart-order">
                        <div class="cart-order-title">
                            <div class="cart-order-title__txt">Итого:</div>
                        </div>

                        <div class="order-goods__list">
                            <div class="order-goods-el">
                                <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                    <img class="order-goods-el-img__in g-abs" src="images/pages/catalog/goods-img_sm.jpg" alt="" />
                                </a>
                                <div class="order-goods-el-text">
                                    <a href="goods.html" class="order-goods-el-title">
                                        <span class="order-goods-el-title__txt">Бургер с пикантной курицей</span>
                                    </a>
                                    <div class="order-goods-el-info">
                                        <span class="order-goods-el-info__txt">360/30 гр. 480 ккал</span>
                                    </div>
                                </div>
                                <div class="order-goods-el-data">
                                    <div class="order-goods-el-data-amount">
                                        <span class="order-goods-el-data__txt t-h5 Fw(sb)">1 290 x 3 = 1 290<span class="order-goods-el-data__currency g-rub">₽</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-goods-el">
                                <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                    <img class="order-goods-el-img__in g-abs" src="images/pages/catalog/goods-img_sm.jpg" alt="" />
                                </a>
                                <div class="order-goods-el-text">
                                    <a href="goods.html" class="order-goods-el-title">
                                        <span class="order-goods-el-title__txt">Бургер с пикантной курицей</span>
                                    </a>
                                    <div class="order-goods-el-info">
                                        <span class="order-goods-el-info__txt">360/30 гр. 480 ккал</span>
                                    </div>
                                </div>
                                <div class="order-goods-el-data">
                                    <div class="order-goods-el-data-amount">
                                        <span class="order-goods-el-data__txt t-h5 Fw(sb)">1 290 x 3 = 1 290<span class="order-goods-el-data__currency g-rub">₽</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-goods-el">
                                <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                    <img class="order-goods-el-img__in g-abs" src="images/pages/catalog/goods-img_sm.jpg" alt="" />
                                </a>
                                <div class="order-goods-el-text">
                                    <a href="goods.html" class="order-goods-el-title">
                                        <span class="order-goods-el-title__txt">Бургер с пикантной курицей</span>
                                    </a>
                                    <div class="order-goods-el-info">
                                        <span class="order-goods-el-info__txt">360/30 гр. 480 ккал</span>
                                    </div>
                                </div>
                                <div class="order-goods-el-data">
                                    <div class="order-goods-el-data-amount">
                                        <span class="order-goods-el-data__txt t-h5 Fw(sb)">1 290 x 3 = 1 290<span class="order-goods-el-data__currency g-rub">₽</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="order-data__list">
                            <div class="order-data-item">
                                <div class="order-data__left">
                                    <div class="order-data-item__name">Итого товаров на:</div>
                                </div>
                                <div class="order-data__right">
                                    <div class="order-data-item__val">2 400<span class="order-goods-el-data__currency g-rub">₽</span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-data-item">
                                <div class="order-data__left">
                                    <div class="order-data-item__name">Доставка курьером:</div>
                                </div>
                                <div class="order-data__right">
                                    <div class="order-data-item__val">400<span class="order-goods-el-data__currency g-rub">₽</span>
                                    </div>
                                </div>
                            </div>
                            <div class="order-data-item">
                                <div class="order-data-item__name">Оплата банковской картой</div>
                            </div>
                        </div>
                        <div class="order-data-amount">
                            <div class="order-data__left">
                                <div class="order-data-amount__name">Всего:</div>
                            </div>
                            <div class="order-data__right">
                                <div class="order-data-amount__val Fw(sb)">123 490<span class="order-goods-el-data__currency g-rub">₽</span>
                                </div>
                            </div>
                        </div>
                        <div class="order-data__btn">
                            <button class="g-btn g-btn--bg">
                                <span class="g-btn__txt">Оплатить</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
