{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="g-inner-page">
    <div class="g-content">
        <div class="catalog-grid">
            <div class="catalog-grid__sidebar">
                {% include "template/sidebar/sidebar-nav.html" %}
            </div>
            <div class="catalog-grid__content">
                <div class="breadcrumbs">
                    <div class="breadcrumbs__wrap">
                        <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Оформление заказа</div>
                    </div>
                </div>
                <div class="g-inner-page__heading">
                    <h1 class="g-inner-page__heading-txt">Оформление заказа</h1>
                </div>

                <div class="cart">
                    <div class="cart__in">
                        <form action="/" name="form_order_data" class="g-form order-form_data">
                            <div class="cart__left">
                                <div class="order-gr g-card__diz">
                                    <div class="order-gr-title">
                                        <div class="order-gr-title__txt">Контактные данные</div>
                                    </div>
                                    <div class="order-gr__list">
                                        <div class="g-form-item g-form-item_md">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-name1" class="g-form-item__name-txt">Имя*</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <input id="form_order-g-name1" type="text" class="g-input" name="name_1" value="Михаил" />
                                            </div>
                                        </div>
                                        <div class="g-form-item g-form-item_md">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-name2" class="g-form-item__name-txt">Фамилия*</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <input id="form_order-g-name2" type="text" class="g-input" name="name_2" value="Михаилов"/>
                                            </div>
                                        </div>
                                        <div class="g-form-item g-form-item_md">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-name3" class="g-form-item__name-txt">Отчество</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <input id="form_order-g-name3" type="text" class="g-input" name="name_3" />
                                            </div>
                                        </div>
                                        <div class="g-form-item g-form-item_md">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-email" class="g-form-item__name-txt">E-mail</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <input id="form_order-g-email" type="email" class="g-input" name="email" value="autos@gamil.com" />
                                            </div>
                                        </div>
                                        <div class="g-form-item g-form-item_md">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-phone" class="g-form-item__name-txt">Телефон *</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <input id="form_order-g-phone" type="tel" class="g-input" name="phone" value="+7 (960) 470-07-33" />
                                            </div>
                                        </div>
                                        <div class="g-form-item g-form-item_large">
                                            <div class="g-form-item__name">
                                                <label for="form_order-g-comment" class="g-form-item__name-txt">Комментарий к заказу</label>
                                            </div>
                                            <div class="g-form-item__field">
                                                <textarea id="form_order-g-comment" type="tel" class="g-textarea" name="text" placeholder="Оставьте комментарий к заказу, чтобы указать удобные для вас условия доставки"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cart__right">
                                <div class="cart-order g-card__diz">
                                    <div class="cart-order-title">
                                        <div class="cart-order-title__txt">Итого:</div>
                                    </div>

                                    <div class="order-goods__list">
                                        <div class="order-goods-el">
                                            <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                                <span class="order-goods-el-img__in g-abs bg--cover" style="background-image: url(images/pages/goods/goods-img.jpg)" ></span>
                                            </a>
                                            <div class="order-goods-el-text">
                                                <a href="goods.html" class="order-goods-el-title">
                                                    <span class="order-goods-el-title__txt">МРТ головного мозга</span>
                                                </a>
                                                <div class="order-goods-el-info">
                                                    <span class="order-goods-el-info__txt">Арт: 104</span>
                                                </div>
                                            </div>
                                            <div class="order-goods-el-amount">
                                                <span class="order-goods-el-amount__txt">
                                                    <span class="g-price">
                                                        100 290<span class="currency">₽</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="order-goods-el">
                                            <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                                <span class="order-goods-el-img__in g-abs bg--cover" style="background-image: url(images/pages/goods/goods-img.jpg)" ></span>
                                            </a>
                                            <div class="order-goods-el-text">
                                                <a href="goods.html" class="order-goods-el-title">
                                                    <span class="order-goods-el-title__txt">МРТ головного мозга</span>
                                                </a>
                                                <div class="order-goods-el-info">
                                                    <span class="order-goods-el-info__txt">Арт: 104</span>
                                                </div>
                                            </div>
                                            <div class="order-goods-el-amount">
                                                <span class="order-goods-el-amount__txt">
                                                    <span class="g-price">
                                                        21 290<span class="currency">₽</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="order-goods-el">
                                            <a href="goods.html" class="order-goods-el-img g-abs g-abs_t g-abs_l">
                                                <span class="order-goods-el-img__in g-abs bg--cover" style="background-image: url(images/pages/goods/goods-img.jpg)" ></span>
                                            </a>
                                            <div class="order-goods-el-text">
                                                <a href="goods.html" class="order-goods-el-title">
                                                    <span class="order-goods-el-title__txt">МРТ головного мозга</span>
                                                </a>
                                                <div class="order-goods-el-info">
                                                    <span class="order-goods-el-info__txt">Арт: 104</span>
                                                </div>
                                            </div>
                                            <div class="order-goods-el-amount">
                                                <span class="order-goods-el-amount__txt">
                                                    <span class="g-price">
                                                        1 290<span class="currency">₽</span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-data-amount">
                                        <div class="order-data__left">
                                            <div class="order-data-amount__name">Всего:</div>
                                        </div>
                                        <div class="order-data__right">
                                            <div class="order-data-amount__val">
                                                <span class="g-price">
                                                    123 490<span class="currency">₽</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="order-data__btn">
                                        <a href="order__end.html" class="g-btn g-btn--bg">
                                            <span class="g-btn__txt">Завершить оформление</span>
                                        </a>
                                        <div class="order-data__btn-notice">
                                            <div class="g-editor g-editor--desc g-editor--sm">
                                                <p>Нажатием кнопки «Завершить оформление» я даю своё согласие на обработку персональныйх данных в соответсвии с указанными <a href="" target="_blank" >здесь</a> условиями.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cart-notice g-card__diz">
                                    <div class="cart-notice-title">
                                        <div class="cart-notice-title__txt">Добавьте услуг на сумму свыше 20&#160;000&#160руб. для получения скидки 15%</div>
                                    </div>
                                    <div class="cart-notice-desc">
                                        <div class="g-editor g-editor--sm g-editor--desc">
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
