{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Условия оплаты</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Условия оплаты</h1>
                    </div>
                    <div class="g-inner-page__desc">
                        <div class="g-editor g-editor--big">
                            <img src="images/pages/paysystem/paysystems.png" alt="системы оплаты" />
                            <p><strong>Общие положения</strong></p>
                            <ul>
                                <li>При заключении договора с Потребителем (законным представителем Потребителя) (далее – Потребителем), в том числе при необходимости и с Заказчиком, предоставляет ему (им) в доступной форме информацию о возможности получения в государственных или муниципальных учреждениях здравоохранения соответствующих видов и объемов медицинской помощи без взимания платы в рамках программы государственных гарантий бесплатного оказания гражданам медицинской помощи и территориальной программы государственных гарантий бесплатного оказания гражданам медицинской помощи.</li>
                                <li>Исполнитель определяет цены (тарифы) на предоставляемые платные медицинские услуги самостоятельно.</li>
                            </ul>
                            <p><strong>Общий порядок предоставления платных медицинских услуг</strong></p>
                            <ul>
                                <li>Исполнитель предоставляет платные медицинские услуги, качество которых должно соответствовать условиям договора, а при отсутствии в договоре условий об их качестве — требованиям, предъявляемым к услугам соответствующего вида. В случае если Федеральным законом, иными нормативными правовыми актами Российской Федерации предусмотрены обязательные требования к качеству медицинских услуг, качество предоставляемых платных медицинских услуг должно соответствовать этим требованиям.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
