{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

    <div class="breadcrumbs breadcrumbs--mb">
        <div class="g-content">
            <div class="breadcrumbs__wrap">
                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Услуги</div>
            </div>
        </div>
    </div>

    <div class="g-content">
        <div class="slider-one">
            <div class="slider-one__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "title": "Открыта онлайн-консультация!"
                        },{
                            "title": "Открыта онлайн-консультация 2!"
                        }]
                    %}
                    {% for item in items %}
                    <div class="g-offer-slim slider-one__slide swiper-slide">
                        <div class="g-offer-slim__bg g-bg_cover g-abs swiper-lazy" data-background="images/pages/slider/slider-slim-img-1.jpg">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="g-offer-slim__in">
                            <div class="g-offer-slim__text">
                                <div class="g-offer-slim__title">
                                    <span class="g-offer-slim__title-txt">{{ item.title }}</span>
                                </div>
                                <div class="g-offer-slim__desc">
                                    <div class="g-editor g-editor--desc">
                                        <p>Не откладывайте лечение и проконсультируйтесь с врачом НДЦ.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g-offer-slim-btn">
                                <div class="g-offer-slim-btn__item">
                                    <button class="g-btn g-btn--bg g-btn--wslide">
                                        <span class="g-btn__txt">онлайн Запись</span>
                                    </button>
                                </div>
                                <div class="g-offer-slim-btn__item">
                                    <a href="offer__detailed.html" class="g-btn-color">
                                        <span class="g-btn-color__txt">Подробнее</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider-one__pag swiper-pagination"></div>
            <button class="slider-one-nav slider-one-nav_prev g-abs">
                <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                    <use xlink:href="#symbol-slider_arrow_left"></use>
                </svg>
                <i class="slider-one-nav__ellips slider-one-nav__ellips--prev g-abs"></i>
            </button>
            <button class="slider-one-nav slider-one-nav_next g-abs">
                <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                    <use xlink:href="#symbol-slider_arrow_right"></use>
                </svg>
                <i class="slider-one-nav__ellips slider-one-nav__ellips--next g-abs"></i>
            </button>
        </div>

        <div class="slider-one">
            <div class="slider-one__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "title": "Гинекология — решение женских проблем деликатно и быстро"
                        },{
                            "title": "Гинекология — решение женских проблем деликатно и быстро 2"
                        },{
                            "title": "Гинекология — решение женских проблем деликатно и быстро 3"
                        }]
                    %}
                    {% for item in items %}

                    <div class="g-offer-dop slider-one__slide swiper-slide">
                        <div class="g-offer-dop__bg g-bg_cover g-abs swiper-lazy" data-background="images/pages/home/servise-slide.jpg">
                            <div class="swiper-lazy-preloader"></div>
                        </div>
                        <div class="g-offer-dop__in">
                            <div class="g-offer-dop__text">
                                <div class="g-offer-dop__title">
                                    <span class="g-offer-dop__title-txt">{{ item.title }}</span>
                                </div>
                                <div class="g-offer-dop__desc">
                                    <div class="g-editor g-editor_desc">
                                        <p>Открыта онлайн-консультация!
                                        <br/>Не откладывайте лечение и проконсультируйтесь с врачом НДЦ.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="g-offer-dop-act">
                                <div class="g-offer-dop-act__in">
                                    <div class="g-offer-dop-act__btn">
                                        <button class="g-btn g-btn--bg g-btn--wide">
                                            <span class="g-btn__txt">Записаться</span>
                                        </button>
                                    </div>
                                    <div class="g-offer-dop-act__cost">
                                        800 ₽
                                    </div>
                                    <div class="g-offer-dop-act__desc">
                                        <div class="g-offer-dop-act__title">Акция на приём гинеколога</div>
                                        <div class="g-offer-dop-act__date">до 31 ноября</div>
                                    </div>
                                </div>
                                <div class="g-offer-dop-act__desc g-offer-dop-act__desc--mob">
                                    <div class="g-offer-dop-act__title">Акция на приём гинеколога</div>
                                    <div class="g-offer-dop-act__date">до 31 ноября</div>
                                </div>
                            </div>
                            <div class="g-offer-dop-feature">
                                {% set items = [{
                                        "src": "images/pages/home/service-feature-1.svg",
                                        "title": "<b> Все виды лечения</b> <br/>и диагностики в одном центре"
                                    },{
                                        "src": "images/pages/home/service-feature-2.svg",
                                        "title": "<b>Интимная пластика</b> <br/>и современные операции"
                                    }]
                                %}
                                {% for item in items %}
                                    <div class="g-offer-dop-feature__item">
                                    {% include "template/feature/feature__el.html" %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider-one__pag swiper-pagination"></div>
            <button class="slider-one-nav slider-one-nav_prev g-abs">
                <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                    <use xlink:href="#symbol-slider_arrow_left"></use>
                </svg>
                <i class="slider-one-nav__ellips slider-one-nav__ellips--prev g-abs"></i>
            </button>
            <button class="slider-one-nav slider-one-nav_next g-abs">
                <svg role="presentation" aria-hidden="true" class="slider-one-nav__ico g-abs">
                    <use xlink:href="#symbol-slider_arrow_right"></use>
                </svg>
                <i class="slider-one-nav__ellips slider-one-nav__ellips--next g-abs"></i>
            </button>
        </div>
    </div>

    <div class="g-feature g-feature--bg">
        <div class="g-content">
            <div class="g-feature__list g-feature__list--center">
            {% set items = [{
                    "src": "images/pages/promo/feature-promo-1.svg",
                    "title": "<b>Лауреат конкурса</b> в 2017 годун"
                },{
                    "src": "images/pages/promo/feature-promo-2.svg",
                    "title": "<b>Обучение врачей</b> в известных клиниках Европы"
                },{
                    "src": "images/pages/promo/feature-promo-3.svg",
                    "title": "<b>Оборудование</b> одно из лучших в России"
                }]
            %}
            {% for item in items %}
                <div class="g-feature__list-item">
                {% include "template/feature/feature__el.html" %}
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="g-null"></div>
    </div>

    <div class="g-content">
        <div class="catalog-grid-r">
            <div class="catalog-grid-r__content">
                <div class="g-anchor-nav">
                    <a href="#promo_feature" class="g-anchor-nav__item g-vac js-scrollto">
                        <span class="g-anchor-nav__txt g-vac__el">Процесс лечения</span>
                    </a>
                    <a href="#promo_staff" class="g-anchor-nav__item g-vac js-scrollto">
                        <span class="g-anchor-nav__txt g-vac__el">Врачи</span>
                    </a>
                    <a href="#promo_staff" class="g-anchor-nav__item g-vac js-scrollto">
                        <span class="g-anchor-nav__txt g-vac__el">Цены</span>
                    </a>
                    <a href="#promo_staff" class="g-anchor-nav__item g-vac js-scrollto">
                        <span class="g-anchor-nav__txt g-vac__el">ОТЗЫВЫ</span>
                    </a>
                </div>

                <div class="g-banner-fill g-card__diz">
                    <div class="g-banner-fill__text">
                        <div class="g-banner-fill__title">
                            <span class="g-banner-fill__title-txt">Предупредите развитие заболеваний, которые опасны для жизни!</span>
                        </div>

                        <div class="g-attention g-attention--mb">
                            <svg role="presentation" class="g-attention__ico g-abs g-abs_t g-abs_l">
                                <use xlink:href="#symbol-attention"></use>
                            </svg>
                            <div class="g-editor g-editor--desc g-editor--lh-sm g-attention__desc">
                                <p>Рак шейки матки — частое женское онкологическое заболевание, которое проходит бессимптомно на ранних стадиях!</p>
                            </div>
                        </div>
                        <div class="g-attention g-attention--mb">
                            <svg role="presentation" class="g-attention__ico g-abs g-abs_t g-abs_l">
                                <use xlink:href="#symbol-attention"></use>
                            </svg>
                            <div class="g-editor g-editor--desc g-editor--lh-sm g-attention__desc">
                                <p>Важно наблюдаться у гинеколога каждые полгода, чтобы вовремя диагностировать болезнь и начать лечение.</p>
                            </div>
                        </div>
                        <div class="g-attention g-attention--mb">
                            <svg role="presentation" class="g-attention__ico g-abs g-abs_t g-abs_l" style="fill: #F84A92">
                                <use xlink:href="#symbol-attention"></use>
                            </svg>
                            <div class="g-editor g-editor--desc g-editor--lh-sm g-attention__desc">
                                <p><span style="color: #F84A92">В группе риска:</span> женщины любого возраста, даже после 20 лет. С возрастом риск развития рака увеличивается.</p>
                            </div>
                        </div>
                    </div>
                    <div class="g-banner-fill__bg bg--cover g-abs" style="background-image: url(images/pages/banners/banner-care-1.jpg)"></div>
                </div>

                <div class="g-text">
                    <div class="g-text__title">
                        <div class="g-text__title-txt">При каких симптомах необходим осмотр гинеколога:</div>
                    </div>
                    <div class="g-text__desc">
                        <div class="g-editor">
                            <p>Для профилактики достаточно проходить осмотр у гинеколога 2 раза в год. Но в ряде случаев врача следует посетить внепланово:</p>
                            <ul>
                                <li>Изменение характера выделений (объёма, цвета, запаха и консистенции)</li>
                                <li>Появление зуда и жжения в области половых органов</li>
                                <li>Нерегулярный менструальный цикл (задержка, выделение крови в середине цикла)</li>
                                <li>Острая и ноющая боль, напряжение и стянутость внизу живота</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="g-banner-dup">
                    <div class="g-banner-dup__item">
                        <div class="g-banner-dup__in g-card__diz">
                            <img class="g-banner-dup__ico g-abs g-abs_l" src="images/pages/banners/banner-duplex-1-ico.svg" alt=""/>
                            <div class="g-banner-dup__text">
                                <div class="g-banner-dup__title">
                                    <span class="g-banner-dup__title-txt">Программа <br/>«Женское здоровье»</span>
                                </div>
                                <div class="g-banner-dup-desc">
                                    <div class="g-editor g-editor--desc">
                                        <p>Полный чек-ап</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g-banner-dup__bg bg--cover g-abs" style="background-image: url(images/pages/banners/banner-duplex-1.jpg)"></div>
                        </div>
                    </div>
                    <div class="g-banner-dup__item">
                        <div class="g-banner-dup__in g-card__diz">
                            <img class="g-banner-dup__ico g-abs g-abs_l" src="images/pages/banners/banner-duplex-2-ico.svg" alt=""/>
                            <div class="g-banner-dup__text">
                                <div class="g-banner-dup__title">
                                    <span class="g-banner-dup__title-txt">Чек-ап <br/>«Женское здоровье»</span>
                                </div>
                                <div class="g-banner-dup-desc">
                                    <div class="g-editor g-editor--desc">
                                        <p>Полная диагностика</p>
                                    </div>
                                </div>
                            </div>
                            <div class="g-banner-dup__bg bg--cover g-abs" style="background-image: url(images/pages/banners/banner-duplex-2.jpg)"></div>
                        </div>
                    </div>
                </div>

                <div class="g-banner-fill g-banner-fill--right g-card__diz">
                    <div class="g-banner-fill__text">
                        <div class="g-banner-fill__title">
                            <span class="g-banner-fill__title-txt">Эстетическая гинекология</span>
                        </div>
                        <div class="g-banner-fill-desc">
                            <div class="g-editor g-editor--desc">
                                <p>Такой деликатный повод обращения к гинекологу, как эстетика в интимной зоне, ничуть не уступает по важности красоте лица и фигуры. Это одно из значимых направлений в нашей работе, поскольку большинство женщин указывают на неудобства в этой сфере.</p>
                            </div>
                        </div>
                        <div class="g-banner-fill-desc">
                            <div class="g-editor g-editor--desc g-column--x2">
                                <ul>
                                    <li>Интимная пластика</li>
                                    <li>Увеличение объёма точки G</li>
                                    <li>Увеличение объёма точки G</li>
                                    <li>Плазмолифтинг</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="g-banner-fill__bg bg--cover g-abs" style="background-image: url(images/pages/banners/banner-text-1.jpg)"></div>
                </div>

                <div id="promo_feature" class="g-feature">
                    <div class="g-feature__title">
                        <div class="g-feature__title-txt">Весь комплекс лечения гинекологических проблем:</div>
                    </div>

                    <div class="g-content">
                        <div class="g-feature__list g-feature__list--x4">
                        {% set items = [{
                                "src": "images/pages/promo/feature-ver-promo-1.svg",
                                "title": "Диагностика и все анализы"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-2.svg",
                                "title": "Физиопроцедуры и инъекции"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-3.svg",
                                "title": "Операции любой сложности"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-4.svg",
                                "title": "Интимная пластика"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-5.svg",
                                "title": "Диагностика и все анализы"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-6.svg",
                                "title": "Физиопроцедуры и инъекции"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-7.svg",
                                "title": "Операции любой сложности"
                            },{
                                "src": "images/pages/promo/feature-ver-promo-8.svg",
                                "title": "Интимная пластика"
                            }]
                        %}
                        {% for item in items %}
                            <div class="g-feature__list-item">
                            {% include "template/feature/feature__el-ver.html" %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="g-null"></div>
                </div>

                <div class="slider-tr">
                    <div class="swiper-wrapper">
                        <div class="slider-tr__slide swiper-slide">
                            <a href="https://www.youtube.com/watch?v=VrmzAjm7hd0" class="slider-tr__bg bg--cover g-abs g-abs_t g-abs_l swiper-lazy video" data-background="images/pages/slider/slider-text-r-img-1.jpg" data-fancybox>
                                <span class="swiper-lazy-preloader"></span>
                                <svg role="presentation" aria-hidden="true" class="video__ico g-abs">
                                    <use xlink:href="#symbol-video"></use>
                                </svg>
                            </a>
                            <div class="slider-tr__in">
                                <div class="slider-tr__text">
                                    <div class="slider-tr__title">
                                        <div class="slider-tr__title-txt">Узнайте о современных методах лечения в гинекологии</div>
                                    </div>
                                    <div class="slider-tr__desc">
                                        <div class="g-editor">
                                            <p>Рассказывают врачи-гинекологи НДЦ </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider-tr__slide swiper-slide">
                            <a href="https://www.youtube.com/watch?v=VrmzAjm7hd0" class="slider-tr__bg bg--cover g-abs g-abs_t g-abs_l swiper-lazy video" data-background="images/pages/slider/slider-text-r-img-1.jpg" data-fancybox>
                                <span class="swiper-lazy-preloader"></span>
                                <svg role="presentation" aria-hidden="true" class="video__ico g-abs">
                                    <use xlink:href="#symbol-video"></use>
                                </svg>
                            </a>
                            <div class="slider-tr__in">
                                <div class="slider-tr__text">
                                    <div class="slider-tr__title">
                                        <div class="slider-tr__title-txt">Узнайте о современных методах лечения в гинекологии</div>
                                    </div>
                                    <div class="slider-tr__desc">
                                        <div class="g-editor">
                                            <p>Рассказывают врачи-гинекологи НДЦ </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="slider-tr-nav slider-tr-nav_prev">
                        <svg role="presentation" aria-hidden="true" class="slider-tr-nav__ico g-abs">
                            <use xlink:href="#symbol-slider-prev"></use>
                        </svg>
                    </button>
                    <button class="slider-tr-nav slider-tr-nav_next">
                        <svg role="presentation" aria-hidden="true" class="slider-tr-nav__ico g-abs">
                            <use xlink:href="#symbol-slider-next"></use>
                        </svg>
                    </button>
                </div>

                <div class="g-text">
                    <div class="g-text__title">
                        <div class="g-text__title-txt">Решаем все проблемы на любой стадии</div>
                    </div>

                    <div class="g-tabs g-tabs_block" role="tabpanel">
                        <div class="nav-tabs__cont nav-tabs__cont--view2" >
                            <div class="nav-tabs__wrapper">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac active" href="#gooods-tabs-2-1" role="tab" data-toggle="tab" aria-controls="gooods-tabs-2-1" aria-selected="true">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Эрозия шейки матки</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-2"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-2" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">ЗППП</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-3"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-3" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Эстетика</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-4"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-4" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Воспаление</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-5"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-5" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Киста яичника</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-6"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-6" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Дисплазия</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-7"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-7" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Кандидоз</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-tabs-li">
                                        <a class="nav-tabs-li__a g-vac" href="#goods-tabs-2-8"  role="tab" data-toggle="tab" aria-controls="goods-tabs-2-8" aria-selected="false">
                                            <span class="nav-tabs-li__a-txt g-vac__el">Бесплодие</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div class="tab-content__pane fade show active" id="gooods-tabs-2-1" aria-labelledby="gooods-tabs-2-1-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Эрозия шейки матки — одно из распространённых гинекологических заболеваний, которое представляет собой язвочки на слизистой оболочке шейки. Возникает вследствие гормональных нарушений, воспалительных заболеваний, перенесённых инфекций, травм. Опасно тем, что повышает риск возникновения рака и других осложнений. В большинстве случаев протекает бессимптомно и обнаруживается в ходе планового осмотра гинеколога. При своевременной диагностике и корректном лечении заболевание полностью излечимо.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-2" aria-labelledby="goods-tabs-2-2-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Строго натощак. Между последним приемом пищи и сдачей анализа должно пройти не менее 8-12 часов. За 2 часа до сдачи анализов ребенку следует воздержаться от кофе, чая с сахаром, соков.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-3" aria-labelledby="goods-tabs-2-3-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Аллерген попадает в организм и провоцирует выработку гистамина. Он вызывает проявления на теле у определенной группы людей. Причины воздействия аллергенов на организм до сих пор не найдены. Основные возбудители аллергии:</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-4" aria-labelledby="goods-tabs-2-4-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-5" aria-labelledby="goods-tabs-2-5-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-6" aria-labelledby="goods-tabs-2-6-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-7" aria-labelledby="goods-tabs-2-7-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                </div>
                            </div>
                            <div class="tab-content__pane fade" id="goods-tabs-2-8" aria-labelledby="goods-tabs-2-8-tab" role="tabpanel">
                                <div class="g-editor">
                                    <p>Для проведения диагностики могут применяться методы иммунохроматографии и хемилюминисценции. Однако наиболее распространенным вариантом выполнения исследований, в которых задействована панель потенциальных триггеров в педиатрии, является иммуноблот. Этот анализ основан на выявлении комплексов, образующихся при контакте чужеродных веществ с антителами, содержащимися в сыворотке крови пациента. Оценка чувствительности выполняется ко всем потенциальным провокаторам, представленным в панели, одновременно. Они в виде предварительно подготовленных сред нанесены на пластину-планшет с мембраной, куда добавляется сыворотка крови пациента и необходимые для проведения анализа компоненты (реактивы). Путаница исключена – производители используют специальную маркировку и разделяют локусы (участки пластины), на которые попадает исследуемый материал.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-faq-panel g-card__diz">
                    <svg role="presentation" aria-hidden="true" class="g-faq-panel__ico g-abs g-abs_l">
                        <use xlink:href="#symbol-phone-faq"></use>
                    </svg>
                    <div class="g-faq-panel__title">
                        <span class="g-faq-panel__title-txt">Остались вопросы?</span>
                    </div>
                    <div class="g-faq-panel__phone">
                        <a href="tel:+7(812)385-46-06" class="g-faq-panel__phone-txt">+7 (812) 385-46-06</a>
                    </div>
                    <button class="g-btn g-btn--bg g-btn--wslide g-faq-panel__btn">
                        <span class="g-btn__txt">Задать вопрос</span>
                    </button>
                </div>

                <div class="g-banner-combo g-banner-combo--big g-card__diz">
                    <div class="g-banner-combo__bg bg--cover g-abs g-abs_r" style="background-image: url(images/pages/banners/banner-text-left-1.jpg)"></div>
                    <div class="g-banner-combo__wrap">
                        <div class="g-banner-combo__text">
                            <div class="g-banner-combo__title">
                                <span class="g-banner-combo__title-txt">Полное обследование за 1 визит!</span>
                            </div>
                            <div class="g-banner-combo__desc">
                                <div class="g-editor">
                                    <p>На первом приёме гинеколог проводит консультацию и осмотр. В ходе беседы врач выясняет особенности менструального цикла, время начала половой жизни, применяемые методы контрацепции. По результатам осмотра он может назначить дополнительные обследования.</p>
                                    <p>Вся диагностика в одной клинике:</p>
                                    <ul>
                                        <li><a href="catalog_detail.html">УЗИ</a></li>
                                        <li><a href="catalog_detail.html">Увеличение объёма точки G</a></li>
                                        <li><a href="catalog_detail.html">Видеокольпоскопия</a></li>
                                        <li><a href="catalog_detail.html">Гистероскопия</a></li>
                                        <li>Пайпель-биопсия эндометрия</li>
                                        <li>Медицинские анализы</li>
                                        <li>Консультация гинеколога и смежных специалистов</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-banner-combo g-banner-combo--big g-card__diz">
                    <div class="g-banner-combo__bg bg--cover g-abs g-abs_r" style="background-image: url(images/pages/banners/banner-text-left-2.jpg)"></div>
                    <div class="g-banner-combo__wrap">
                        <div class="g-banner-combo__text">
                            <div class="g-banner-combo__title">
                                <span class="g-banner-combo__title-txt">Современное эффективное лечение</span>
                            </div>
                            <div class="g-banner-combo__desc">
                                <div class="g-editor">
                                    <p>В гинекологическом отделении «НДЦ» проводится целый комплекс процедур, направленных на профилактику и лечение любых заболеваний женской половой системы. Подбор метода лечения индивидуален и зависит от особенностей каждой ситуации..</p>
                                <p>Всё и сразу в НДЦ:</p>
                                <ul>
                                    <li><a href="catalog_detail.html">Процедуры и физиолечение</a></li>
                                    <li><a href="catalog_detail.html">Плазмолифтинг интимный</a></li>
                                    <li><a href="catalog_detail.html">Оперативное лечение</a> (лапароскопия, гистероскопия, интимная пластика) </li>
                                    <li><a href="catalog_detail.html">Гистероскопия</a></li>
                                    <li>Подбор метода контрацепции</li>
                                    <li>ЭКО</li>
                                    <li>Предоставляем все медикаменты. Вам не надо искать и переплачивать за лекарства в аптеке.</li>
                                    <li>Инъекции гиалуроновой кислоты</li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-text">
                    <div class="g-text__title g-text__title--ico">
                        <img class="g-text__title-ico" src="images/pages/banners/text-title__ico.svg" alt="" />
                        <div class="g-text__title-txt">Плазмолифтинг — безопасное решение деликатных проблем</div>
                    </div>
                    <div class="g-text__desc">
                        <div class="g-editor">
                            <p>Процедура позволяет добиться омоложения наружных половых органов и устранить нарушения, вызванные возрастными изменениями и воспалительными заболеваниями.</p>
                        </div>
                    </div>
                    <div class="g-attention g-attention--mb g-attention--big">
                        <svg role="presentation" class="g-attention__ico g-abs g-abs_t g-abs_l">
                            <use xlink:href="#symbol-attention"></use>
                        </svg>
                        <div class="g-editor g-editor--desc g-editor--big g-attention__desc">
                            <p>Плазмолифтинг безопасен, не токсичен и не вызывает аллергических реакций, поскольку используется плазма вашей собственной крови</p>
                        </div>
                    </div>
                    <div class="g-text__desc">
                        <div class="g-editor">
                            <ul>
                                <li>Повышение упругости мышц влагалища</li>
                                <li>Уменьшение рубцов и растяжек после родов</li>
                                <li>Устранение дискомфорта во время полового акта</li>
                                <li>Восстановление менструального цикла</li>
                                <li>Увлажнение слизистой</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="g-banner-combo g-banner-combo--slim g-card__diz">
                    <div class="g-banner-combo__bg bg--cover g-abs g-abs_r" style="background-image: url(images/pages/banners/banner-text-left-slim-1.jpg)"></div>
                    <div class="g-banner-combo__wrap">
                        <div class="g-numbers g-banner-combo__numbers">
                            <div class="g-numbers__item g-numbers__item--one">
                                <div class="g-numbers__val">724</div>
                                <div class="g-numbers__title">женщинам</div>
                            </div>
                        </div>
                        <div class="g-banner-combo__text">
                            <div class="g-banner-combo__title">
                                <span class="g-banner-combo__title-txt">С помощью плазмолифтинга помогли вернутся к полноценной жизни</span>
                            </div>
                            <div class="g-banner-combo__desc">
                                <div class="g-editor g-editor--desc">
                                    <p>врачи-гинекологи НДЦ:</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g-text">
                    <div class="g-text__title">
                        <div class="g-text__title-txt">Гинеколог – необходимый врач для каждой женщины</div>
                    </div>
                    <div class="g-text__desc">
                        <div class="g-editor">
                            <p>Все женщины с юного возраста знают, что посещать гинеколога необходимо хотя бы раз в полгода, даже если ничто не беспокоит. На сегодняшний день наиболее распространенными «женскими» заболеваниями являются: эрозия шейки матки, вагинит, заболевания, передающиеся половым путем, воспалительные заболевания органов малого таза и многие другие. Поэтому услуги гинеколога в Воронеже и других городах России на данный момент очень востребованы.</p>
                        </div>
                    </div>
                </div>
                <div id="promo_staff">
                    {% include "template/slider/slider_staff3.html" %}
                </div>
            </div>
            <div class="catalog-grid-r__sidebar">
                <div class="sidebar-nav-inner" style="background-image: url(images/sidebar-nav-bg.png)">
                    <div class="sidebar-nav-inner__list">
                        {% set items = [{
                                "title": "Лечение эрозии шейки матки"
                            },{
                                "title": "Лечение бесплодия"
                            },{
                                "title": "Подбор контрацепции"
                            },{
                                "title": "Лечение инфекций"
                            },{
                                "title": "Гиперплазия эндометрия матки"
                            },{
                                "title": "Увеличение объема точки G"
                            },{
                                "title": "Восстановление девственности"
                            },{
                                "title": "Интимная пластика"
                            },{
                                "title": "ЭКО"
                            },{
                                "title": "Программа «Женское здоровье»"
                            },{
                                "title": "Видеокольпоскопия"
                            },{
                                "title": "Плазмолифтинг интимный"
                            },{
                                "title": "Гистероскопия"
                            },{
                                "title": "Оперативная гинекология"
                            },{
                                "title": "Пайпель-биопсия эндометрия"
                            },{
                                "title": "Хламидиоз"
                            },{
                                "title": "Уреаплазмоз"
                            },{
                                "title": "Трихомониаз"
                            },{
                                "title": "Комплексные программы для женского здоровья"
                            },{
                                "title": "Дисплазия шейки матки"
                            },{
                                "title": "Кандидоз (молочница)"
                            },{
                                "title": "Внематочная беременность"
                            },{
                                "title": "Киста яичника у женщин"
                            },{
                                "title": "Лечение нарушения менструального цикла"
                            }]
                        %}
                        {% for item in items %}
                            <a href="catalog_detail.html" class="sidebar-nav-inner-item g-vac">
                                <span class="sidebar-nav-inner-item__txt g-vac__el">{{ item.title }}</span>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="banner-hor">
                    <div class="banner-hor-el banner-hor-el--big g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-1.jpg)" >
                        <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                        <a href="" class="banner-hor-el-title">
                            <span class="banner-hor-el-title__txt">Приём врача&#8209;терапевта <br/>+ ЭКГ в подарок</span>
                        </a>

                        <div class="g-price banner-hor-el-price">
                            <span class="g-price__txt g-price__txt--big  banner-hor-el-price__txt">
                                1 200
                                <span class="g-price__cur currency">₽</span>
                            </span>
                        </div>
                        <div class="banner-hor-el-btn">
                            <div class="banner-hor-el-btn__item">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">Записаться</span>
                                </button>
                            </div>
                            <div class="banner-hor-el-btn__item">
                                <a href="offer__detailed.html" class="g-btn-color">
                                    <span class="g-btn-color__txt">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-hor-el banner-hor-el--big g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-2.jpg)">
                        <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                        <a href="" class="banner-hor-el-title">
                            <span class="banner-hor-el-title__txt">Общее лабораторное обследование</span>
                        </a>

                        <div class="g-price banner-hor-el-price">
                            <span class="g-price__txt g-price__txt--big  banner-hor-el-price__txt">
                                <span class="g-price__old">890</span>
                                <span class="g-price__new">420
                                    <span class="g-price__cur currency">₽</span>
                                </span>
                            </span>
                        </div>
                        <div class="banner-hor-el-btn">
                            <div class="banner-hor-el-btn__item">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">Записаться</span>
                                </button>
                            </div>
                            <div class="banner-hor-el-btn__item">
                                <a href="offer__detailed.html" class="g-btn-color">
                                    <span class="g-btn-color__txt">Подробнее</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include "template/seo-text/g-text_seo.html" %}

{% endblock %}
