{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Поиск</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Найдено по запросу «мрт головы»</h1>
                    </div>

                    <div class="catalog-inner-nav">
                        <a href="search.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Услуги и цены <span class="catalog-inner-nav-el__count">(23)</span></span>
                        </a>
                        <a href="search_staff.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Специалисты <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </a>
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Новости и статьи <span class="catalog-inner-nav-el__count">(4)</span></span>
                        </div>
                        <a href="search_faq.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вопросы специалисту <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        {% set items = [{
                                "img": "images/pages/news/news_1_sm.jpg",
                                "title": "Если я сделаю МРТ всего тела — это поможет выявить скрытые болезни?",
                                "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                            },{
                                "img": "images/pages/news/news_2_sm.jpg",
                                "title": "Интуитивный подход: питание вне диеты",
                                "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                            },{
                                "img": "images/pages/news/news_1_sm.jpg",
                                "title": "Приём врача-терапевта + ЭКГ в подарок",
                                "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                            },{
                                "img": "images/pages/news/news_2_sm.jpg",
                                "title": "Интуитивный подход: питание вне диеты",
                                "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                            },{
                                "img": "images/pages/news/news_1_sm.jpg",
                                "title": "Приём врача-терапевта + ЭКГ в подарок",
                                "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                            },{
                                "img": "images/pages/news/news_2_sm.jpg",
                                "title": "Интуитивный подход: питание вне диеты",
                                "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                            }]
                        %}
                        <div class="news__list">
                            {% for item in items %}
                                <div class="news__list-item">
                                {% include "template/news/card-news.html" %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="g-pag g-pag--more">
                            <button class="g-btn g-btn--bg">
                                <span class="g-btn__txt">загрузить ещё</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
