{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Поиск</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Найдено по запросу «мрт головы»</h1>
                    </div>

                    <div class="catalog-inner-nav">
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Услуги и цены <span class="catalog-inner-nav-el__count">(23)</span></span>
                        </div>
                        <a href="search_staff.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Специалисты <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </a>
                        <a href="search_news.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Новости и статьи <span class="catalog-inner-nav-el__count">(4)</span></span>
                        </a>
                        <a href="search_faq.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вопросы специалисту <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </a>
                    </div>

                    <div class="catalog__in">

                        <div class="catalog__in-left">
                            <div class="catalog__list">
                                {% set items = [{
                                        "id": "el_1",
                                        "article": "71-85-200",
                                        "price": "2 650",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_2",
                                        "article": "71-85-200",
                                        "price": "2 700",
                                        "title": "Исследование на нейроваскулярный конфликт",
                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                    },{
                                        "id": "el_3",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_4",
                                        "article": "71-85-200",
                                        "price": "22 200",
                                        "title": "Исследование на нейроваскулярный конфликт",
                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                    },{
                                        "id": "el_5",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_6",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    },{
                                        "id": "el_7",
                                        "article": "71-85-200",
                                        "price": "22 200",
                                        "title": "Исследование на нейроваскулярный конфликт",
                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                    },{
                                        "id": "el_8",
                                        "article": "71-85-200",
                                        "price": "5 300",
                                        "title": "МРТ головного мозга",
                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                    }]
                                %}
                                {% for item in items %}
                                    {% include "template/catalog/card.html" %}
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            {% include "template/stock/stock_ver.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
