{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Поиск</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Найдено по запросу «мрт головы»</h1>
                    </div>

                    <div class="catalog-inner-nav">
                        <a href="search.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Услуги и цены <span class="catalog-inner-nav-el__count">(23)</span></span>
                        </a>
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Специалисты <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </div>
                        <a href="search_news.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Новости и статьи <span class="catalog-inner-nav-el__count">(4)</span></span>
                        </a>
                        <a href="search_faq.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вопросы специалисту <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">
                            {% set items = [{
                                    "img": "images/pages/staff/staff_1_sm.jpg",
                                    "title": "ШОГЕНОВ",
                                    "title2": "Рамиш Курбанович",
                                    "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                                    "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                                    "service": "357 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_3_sm.jpg",
                                    "title": "РЕВЯКИН",
                                    "title2": "Александр Алексеевич",
                                    "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                                    "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "101 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_1_sm.jpg",
                                    "title": "ШОГЕНОВ",
                                    "title2": "Рамиш Курбанович",
                                    "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                                    "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                                    "service": "357 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                }]
                            %}
                            <div class="staff__list-hor">
                                {% for item in items %}
                                    <div class="staff__list-item-hor">
                                    {% include "template/staff/card-staff_hor.html" %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            {% include "template/stock/stock_ver.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
