{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Поиск</div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Найдено по запросу «мрт головы»</h1>
                    </div>

                    <div class="catalog-inner-nav">
                        <a href="search.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Услуги и цены <span class="catalog-inner-nav-el__count">(23)</span></span>
                        </a>
                        <a href="search_staff.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Специалисты <span class="catalog-inner-nav-el__count">(12)</soan></span>
                        </a>
                        <a href="search_news.html" class="catalog-inner-nav-el g-vac">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Новости и статьи <span class="catalog-inner-nav-el__count">(4)</span></span>
                        </a>
                        <div class="catalog-inner-nav-el g-vac is-active">
                            <span class="catalog-inner-nav-el__txt g-vac__el">Вопросы специалисту <span class="catalog-inner-nav-el__count">(12)</span></span>
                        </div>
                    </div>

                    <div class="catalog__in">

                        <div class="catalog__in-left">
                            <div class="g-collaps">
                                {% set items = [{
                                        "id": "faq_1",
                                        "title": "Как часто можно делать МРТ диагностику?"
                                    },{
                                        "id": "faq_2",
                                        "title": "Можно ли делать МРТ детям и с какого возраста?"
                                    },{
                                        "id": "faq_3",
                                        "title": "Есть ли противопоказания для прохождения МРТ?"
                                    },{
                                        "id": "faq_4",
                                        "title": "Как часто можно делать МРТ диагностику?"
                                    },{
                                        "id": "faq_5",
                                        "title": "Можно ли делать МРТ детям и с какого возраста?"
                                    },{
                                        "id": "faq_6",
                                        "title": "Есть ли противопоказания для прохождения МРТ?"
                                    },{
                                        "id": "faq_7",
                                        "title": "Как часто можно делать МРТ диагностику?"
                                    },{
                                        "id": "faq_8",
                                        "title": "Можно ли делать МРТ детям и с какого возраста?"
                                    },{
                                        "id": "faq_9",
                                        "title": "Есть ли противопоказания для прохождения МРТ?"
                                    },{
                                        "id": "faq_10",
                                        "title": "Как часто можно делать МРТ диагностику?"
                                    },{
                                        "id": "faq_11",
                                        "title": "Можно ли делать МРТ детям и с какого возраста?"
                                    },{
                                        "id": "faq_12",
                                        "title": "Есть ли противопоказания для прохождения МРТ?"
                                    }]
                                %}
                                {% for item in items %}
                                    <div class="g-collaps-gr  g-card__diz">
                                        <button class="g-collaps-gr-title" type="button" data-toggle="collapse" data-target="#{{ item.id }}"aria-controls="{{ item.id }}">
                                            <span class="g-collaps-gr-title__txt">{{ item.title }}</span>
                                            <svg role="presentation" aria-hidden="true" class="g-collaps-gr-title__ico g-abs g-abs_r">
                                                <use xlink:href="#symbol-menu-arrow"></use>
                                            </svg>
                                        </button>
                                        <div id="{{ item.id }}" class="collapse">
                                            <div class="g-collaps-gr__list">
                                                <div class="g-editor">
                                                    <p>Головная боль не является болевым ощущением нервной ткани мозга, поскольку в ней отсутствуют болевые рецепторы[2]. Она возникает вследствие воздействия на расположенные в голове или шее 9 областей, чувствительных к болевым ощущениям: череп (надкостница), мышцы, нервы, артерии и вены, подкожная ткань, глаза, носовые пазухи и слизистая оболочка. Способ лечения головной боли зависит от выявленной болезни или причины появления симптома, в большинстве случаев назначаются анальгетики.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            {% include "template/stock/stock_ver.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
