{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}

<div class="home-slider__cont">
    <div class="home-slider">
        <div class="swiper-wrapper">
            <div class="home-slider__slide swiper-slide">
                <img class="home-slider__bg g-abs  g-abs_r swiper-lazy" data-src="images/pages/home/home-slider-1.png" alt="" />

                <div class="swiper-lazy-preloader"></div>
                <div class="home-slider__in">
                    <div class="home-slider__text">
                        <div class="home-slider__title">
                            <span class="home-slider__title-txt">МРТ головного мозга <br/> в Санкт-Петербурге за  2 900 ₽</span>
                        </div>
                        <div class="home-slider-feature">
                            {% set items = [{
                                    "src": "images/pages/home/slider-feature-1.svg",
                                    "title": "Обследование без очередей, отчёт 30 мин"
                                },{
                                    "src": "images/pages/home/slider-feature-2.svg",
                                    "title": "Бесплатная консультация (интерпретация) врача"
                                },{
                                    "src": "images/pages/home/slider-feature-3.svg",
                                    "title": "100 % стерильность клиники"
                                },{
                                    "src": "images/pages/home/slider-feature-4.svg",
                                    "title": "Рекомендовано даже беременным"
                                }]
                            %}
                            {% for item in items %}
                                <div class="home-slider-feature__item">
                                {% include "template/feature/feature__el.html" %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="home-slider__desc">
                            <div class="g-editor g-editor_desc">
                                <p>Избавиться от головных болей если лечение не помогает. Исключить / предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.</p>
                            </div>
                        </div>
                    </div>
                    <div class="home-slider-btn">
                        <div class="home-slider-btn__item">
                            <button class="g-btn g-btn--bg">
                                <span class="g-btn__txt">онлайн Запись</span>
                            </button>
                        </div>
                        <div class="home-slider-btn__item">
                            <a href="offer__detailed.html" class="g-btn-color">
                                <span class="g-btn-color__txt">Подробнее</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-slider__slide swiper-slide">
                <img class="home-slider__bg g-abs  g-abs_r swiper-lazy" data-src="images/pages/home/home-slider-1.png" alt="" />

                <div class="swiper-lazy-preloader"></div>
                <div class="home-slider__in">
                    <div class="home-slider__text">
                        <div class="home-slider__title">
                            <span class="home-slider__title-txt">МРТ головного мозга <br/> в Санкт-Петербурге за  1 900 ₽</span>
                        </div>
                        <div class="home-slider-feature">
                            {% set items = [{
                                    "src": "images/pages/home/slider-feature-1.svg",
                                    "title": "Обследование без очередей, отчёт 30 мин"
                                },{
                                    "src": "images/pages/home/slider-feature-2.svg",
                                    "title": "Бесплатная консультация (интерпретация) врача"
                                },{
                                    "src": "images/pages/home/slider-feature-3.svg",
                                    "title": "100 % стерильность клиники"
                                },{
                                    "src": "images/pages/home/slider-feature-4.svg",
                                    "title": "Рекомендовано даже беременным"
                                }]
                            %}
                            {% for item in items %}
                                <div class="home-slider-feature__item">
                                {% include "template/feature/feature__el.html" %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="home-slider__desc">
                            <div class="g-editor g-editor_desc">
                                <p>Избавиться от головных болей если лечение не помогает. Исключить / предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга.</p>
                            </div>
                        </div>
                    </div>
                    <div class="home-slider-btn">
                        <div class="home-slider-btn__item">
                            <button class="g-btn g-btn--bg">
                                <span class="g-btn__txt">онлайн Запись</span>
                            </button>
                        </div>
                        <div class="home-slider-btn__item">
                            <a href="offer__detailed.html" class="g-btn-color">
                                <span class="g-btn-color__txt">Подробнее</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-slider-pag swiper-pagination"></div>
    <button class="home-slider-nav home-slider-nav_prev g-abs g-abs_r g-abs_b">
        <svg role="presentation" aria-hidden="true" class="home-slider-nav__ico abs">
            <use xlink:href="#symbol-slider_arrow_left"></use>
        </svg>
    </button>
    <button class="home-slider-nav home-slider-nav_next g-abs g-abs_r g-abs_b">
        <svg role="presentation" aria-hidden="true" class="home-slider-nav__ico abs">
            <use xlink:href="#symbol-slider_arrow_right"></use>
        </svg>
    </button>
</div>
    {% include "template/settings/settings.html" %}
{% endblock %}
