{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Специалисты</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Специалисты</h1>
                    </div>

                    <div class="catalog-dop-nav">
                        <a href="staff.html" class="catalog-dop-nav-el g-vac is-active">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Все</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Рентгенология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Хирургия</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Фармакология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Стоматолог</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Эндокринология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Ортопедия</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Аллергология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Диетология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Гинекология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Кардиология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Неврология</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Педиатрия</span>
                        </a>
                        <a href="staff.html" class="catalog-dop-nav-el g-vac">
                            <span class="catalog-dop-nav-el__txt g-vac__el">Урология</span>
                        </a>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">
                            {% set items = [{
                                    "img": "images/pages/staff/staff_1_sm.jpg",
                                    "title": "ШОГЕНОВ",
                                    "title2": "Рамиш Курбанович",
                                    "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                                    "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                                    "service": "357 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_3_sm.jpg",
                                    "title": "РЕВЯКИН",
                                    "title2": "Александр Алексеевич",
                                    "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                                    "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "101 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_1_sm.jpg",
                                    "title": "ШОГЕНОВ",
                                    "title2": "Рамиш Курбанович",
                                    "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                                    "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                                    "service": "357 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_3_sm.jpg",
                                    "title": "РЕВЯКИН",
                                    "title2": "Александр Алексеевич",
                                    "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                                    "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "101 услуг"
                                },{
                                    "img": "images/pages/staff/staff_2_sm.jpg",
                                    "title": "ЗУРАБЯН",
                                    "title2": "Артур Араратович",
                                    "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                                    "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "154 услуг"
                                },{
                                    "img": "images/pages/staff/staff_3_sm.jpg",
                                    "title": "РЕВЯКИН",
                                    "title2": "Александр Алексеевич",
                                    "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                                    "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                                    "service": "101 услуг"
                                }]
                            %}
                            <div class="staff__list-hor">
                                {% for item in items %}
                                    <div class="staff__list-item-hor">
                                    {% include "template/staff/card-staff_hor.html" %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="g-pag g-pag--more">
                                <button class="g-btn g-btn--bg">
                                    <span class="g-btn__txt">загрузить ещё</span>
                                </button>
                            </div>
                        </div>

                        <div class="catalog__in-right">
                            <div class="banner-hor">
                                <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-1.jpg)">
                                    <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                                    <a href="" class="banner-hor-el-title">
                                        <span class="banner-hor-el-title__txt">Приём врача&#8209;терапевта <br/>+ ЭКГ в подарок</span>
                                    </a>

                                    <div class="g-price banner-hor-el-price">
                                        <span class="g-price__txt  banner-hor-el-price__txt">
                                            1 200
                                            <span class="g-price__cur currency">₽</span>
                                        </span>
                                    </div>
                                    <div class="banner-hor-el-btn">
                                        <div class="banner-hor-el-btn__item">
                                            <button class="g-btn g-btn--bg g-btn--sm">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <div class="banner-hor-el-btn__item">
                                            <a href="offer__detailed.html" class="g-btn-color g-btn-color--sm">
                                                <span class="g-btn-color__txt">Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-2.jpg)">
                                    <div class="banner-hor-el__date">с 5 по 31 декабря</div>
                                    <a href="" class="banner-hor-el-title">
                                        <span class="banner-hor-el-title__txt">Общее лабораторное обследование</span>
                                    </a>

                                    <div class="g-price banner-hor-el-price">
                                        <span class="g-price__txt  banner-hor-el-price__txt">
                                            <span class="g-price__old">890</span>
                                            <span class="g-price__new">420
                                                <span class="g-price__cur currency">₽</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="banner-hor-el-btn">
                                        <div class="banner-hor-el-btn__item">
                                            <button class="g-btn g-btn--bg g-btn--sm">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <div class="banner-hor-el-btn__item">
                                            <a href="offer__detailed.html" class="g-btn-color g-btn-color--sm">
                                                <span class="g-btn-color__txt">Подробнее</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
