{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Специалисты</a><span class="breadcrumbs-txt__split">→</span>Анохина Анастасия Андреевна</div>
                        </div>
                    </div>

                    <div class="goods__top">
                        <div class="goods__img g-card__diz bg--cover" style="background-image: url(images/pages/staff/staff_1_sm.jpg)">
                        </div>
                        <div class="goods__text">
                            <div class="goods-heading">
                                <h1 class="goods-heading__txt">Анохина <br/> Анастасия Андреевна</h1>
                            </div>
                            <div class="goods-icon">
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-1.svg" alt="" />
                                </div>
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-3.svg" alt="" />
                                </div>
                                <div class="goods-icon__item g-vac">
                                    <img class="goods-icon__ico g-vac__el" src="images/pages/goods/goods__ico-4.svg" alt="" />
                                </div>
                            </div>
                            <div class="goods__desc">
                                <div class="g-editor g-editor--sm">
                                    <p>Гинеколог-эндокринолог, детский гинеколог</p>
                                </div>
                                <div class="g-editor g-editor--sm g-editor--feature">
                                    <p>
                                        <span>стаж:</span>
                                        <span>45 лет</span>
                                    </p>
                                    <p>
                                        <span>возраст пациентов:</span>
                                        <span>без ограничений  0 +</span>
                                    </p>
                                    <p>
                                        <span>выезд на дом:</span>
                                        <span>нет</span>
                                    </p>
                                    <p>
                                        <span>место приёма:</span>
                                        <span>город Санкт-Петербург  ул. Боровая 55  (м. Обводный канал)</span>
                                    </p>
                                </div>
                                <div class="g-editor g-editor--sm g-editor--grey">
                                    <p>Врач высшей категории. Заведующая отделением гинекологии поликлиники «Дубрава». Кондидат медицинских наук, ассистент кафедры «Акушерство и гинекология» ВГМА им. Н.Н.Бурденко</p>
                                </div>
                            </div>
                        </div>
                        <div class="goods-info">
                            <div class="goods-info-article g-vac">
                                <div class="goods-info-article__txt g-vac__el">71-85-200</div>
                            </div>
                            <div class="goods-info__body">
                                <div class="goods-info__body-in">
                                    <div class="goods-info-btn">
                                        <div class="goods-info-btn__item">
                                            <button class="g-btn g-btn--sm g-btn--wide" data-toggle="modal" data-target="#modal--buy-click" data-staff-kind="Гинеколог-эндокринолог, детский гинеколог"  data-staff="Анохина <br/> Анастасия Андреевна" data-id="some_id_1">
                                                <span class="g-btn__txt">Записаться</span>
                                            </button>
                                        </div>
                                        <!-- <div class="goods-info-btn__item">
                                            <button class="g-btn-color g-btn-color--sm g-btn-color--grey">
                                                <span class="g-btn-color__txt">запись в один клик</span>
                                            </button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="goods-info-bank">
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-visa.svg" alt="" />
                                </div>
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-maestro.svg" alt="" />
                                </div>
                                <div class="goods-info-bank__item g-vac">
                                    <img class="goods-info-bank__ico g-vac__el" src="images/pages/paysystem/bank-mir.svg" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="catalog__in">
                        <div class="catalog__in-left">

                            <div class="g-tabs g-tabs_block" role="tabpanel">
                                <div class="nav-tabs__cont" >
                                    <div class="nav-tabs__wrapper">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac active" href="#gooods-desc" role="tab" data-toggle="tab" aria-controls="gooods-desc" aria-selected="true">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Услуги</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-feature"  role="tab" data-toggle="tab" aria-controls="goods-feature" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Научные достижения</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-lead-up"  role="tab" data-toggle="tab" aria-controls="goods-lead-up" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Работает с заболеваниями</span>
                                                </a>
                                            </li>
                                            <li role="presentation" class="nav-tabs-li">
                                                <a class="nav-tabs-li__a g-vac" href="#goods-how"  role="tab" data-toggle="tab" aria-controls="goods-how" aria-selected="false">
                                                    <span class="nav-tabs-li__a-txt g-vac__el">Отзывы</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-content__pane fade show active" id="gooods-desc" aria-labelledby="gooods-desc-tab" role="tabpanel">
                                        <div class="catalog__list-cont">
                                            <div class="catalog__list">
                                                {% set items = [{
                                                        "id": "el_1",
                                                        "article": "71-85-200",
                                                        "price": "2 650",
                                                        "title": "МРТ головного мозга",
                                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                                    },{
                                                        "id": "el_2",
                                                        "article": "71-85-200",
                                                        "price": "2 700",
                                                        "title": "Исследование на нейроваскулярный конфликт",
                                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                                    },{
                                                        "id": "el_3",
                                                        "article": "71-85-200",
                                                        "price": "5 300",
                                                        "title": "МРТ головного мозга",
                                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                                    },{
                                                        "id": "el_1",
                                                        "article": "71-85-200",
                                                        "price": "2 650",
                                                        "title": "МРТ головного мозга",
                                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                                    },{
                                                        "id": "el_2",
                                                        "article": "71-85-200",
                                                        "price": "2 700",
                                                        "title": "Исследование на нейроваскулярный конфликт",
                                                        "desc": "Исследование позволяет провести точную диагностику головного мозга для выявления признаков эпилепсии."
                                                    },{
                                                        "id": "el_3",
                                                        "article": "71-85-200",
                                                        "price": "5 300",
                                                        "title": "МРТ головного мозга",
                                                        "desc": "Диагностика головного мозга позволяет исключить или предотвратить неконтролируемое развитие опухолевых образований и повреждение мозга."
                                                    }]
                                                %}
                                                {% for item in items %}
                                                    {% include "template/catalog/card.html" %}
                                                {% endfor %}
                                            </div>
                                            <div class="g-pag g-pag--more">
                                                <button class="g-btn g-btn--bg">
                                                    <span class="g-btn__txt">загрузить ещё</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-feature" aria-labelledby="goods-feature-tab" role="tabpanel">
                                        <div class="g-editor">
                                            <p>2001 Аспирант кафедры РУДН офтальмологии. Научная диссертация на тему: » ОКТ при сахарном диабете 2 типа»     , ретинография при макулярном отеке, влияние ИАПФ на органы зрения.</p>
                                            <p>2002 Научная диссертация на тему: » ОКТ при сахарном диабете 2 типа»     , ретинография при макулярном отеке, влияние ИАПФ на органы зрения.</p>
                                            <p>2003 Аспирант кафедры РУДН офтальмологии.</p>
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-lead-up" aria-labelledby="goods-lead-up-tab" role="tabpanel">
                                        <div class="g-collaps">
                                            {% set items = [{
                                                    "id": "faq_1",
                                                    "title": "Рассеянный склероз"
                                                },{
                                                    "id": "faq_2",
                                                    "title": "Амнезия"
                                                }]
                                            %}
                                            {% for item in items %}
                                                <div class="g-collaps-gr  g-card__diz">
                                                    <button class="g-collaps-gr-title" type="button" data-toggle="collapse" data-target="#{{ item.id }}"aria-controls="{{ item.id }}">
                                                        <span class="g-collaps-gr-title__txt">{{ item.title }}</span>
                                                        <svg role="presentation" aria-hidden="true" class="g-collaps-gr-title__ico g-abs g-abs_r">
                                                            <use xlink:href="#symbol-menu-arrow"></use>
                                                        </svg>
                                                    </button>
                                                    <div id="{{ item.id }}" class="collapse">
                                                        <div class="g-collaps-gr__list">
                                                            <div class="g-editor">
                                                                <p>Головна́я боль (новолат. cephalalgia, от др.-греч. ἐγκέφαλος «головно́й мозг» + ἄλγος «боль») — один из наиболее распространённых неспецифических симптомов разнообразных заболеваний и патологических состояний, представляющий собой боль в области головы или шеи[1]. Наиболее часто причиной головной боли являются сосудистые нарушения, связанные с расширением или спазмом сосудов внутри или снаружи черепной коробки. Данный общеклинический симптом следует отличать от мигре́ни, являющейся его частным случаем.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="tab-content__pane fade" id="goods-how" aria-labelledby="goods-how-tab" role="tabpanel">

                                        <div class="comments goods-comment__in">
                                            <div class="comments__heading">
                                                <div class="comments-title">
                                                    <div class="comments-title__txt">Отзывы <span class="g-grey">9</span></div>
                                                </div>
                                                <div class="comments__add-btn g-abs g-abs_r g-abs_t">
                                                    <button class="g-btn g-btn--bg g-btn--sm" data-toggle="modal" data-target="#modal--comments">
                                                        <span class="g-btn__txt">Написать отзыв</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="comments__list">
                                                <article class="comment">
                                                    <div class="comment-date">
                                                        <span class="comment-date__txt g-grey">16 декабря 2019</span>
                                                    </div>
                                                    <div class="comment-user">
                                                        <div class="comment-user__avatar g-abs g-abs_t g-abs_l">
                                                            <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/pages/user/user-ico__sm.jpg);"></span>
                                                            <!-- <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/user-ico__nophoto.svg);"></span> -->
                                                        </div>
                                                        <span class="comment-user__name">Иван Иванов</span>
                                                    </div>
                                                    <div class="comment__desc">
                                                        <div class="g-editor g-editor--sm">
                                                            <p>Прекрасный, светлый доктор! Был на УЗИ, рассказала все настолько подробно, с легкой приятной улыбкой на лице. Лучше доктора в своей жизни я не встречал. Только благодаря ей я смог четко узнать картину своего здоровья. Посещал многих УЗИстов, но она предоставила самую подробную и качественную консультацию! Спасибо ей!</p>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="comment">
                                                    <div class="comment-date">
                                                        <span class="comment-date__txt g-grey">16 декабря 2019</span>
                                                    </div>
                                                    <div class="comment-user">
                                                        <div class="comment-user__avatar g-abs g-abs_t g-abs_l">
                                                            <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/pages/user/user-ico__sm.jpg);"></span>
                                                            <!-- <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/user-ico__nophoto.svg);"></span> -->
                                                        </div>
                                                        <span class="comment-user__name">Иван Иванов</span>
                                                    </div>
                                                    <div class="comment__desc">
                                                        <div class="g-editor g-editor--sm">
                                                            <p>Прекрасный, светлый доктор! Был на УЗИ, рассказала все настолько подробно, с легкой приятной улыбкой на лице. Лучше доктора в своей жизни я не встречал. Только благодаря ей я смог четко узнать картину своего здоровья. Посещал многих УЗИстов, но она предоставила самую подробную и качественную консультацию! Спасибо ей!</p>
                                                        </div>
                                                    </div>
                                                </article>
                                                <article class="comment">
                                                    <div class="comment-date">
                                                        <span class="comment-date__txt g-grey">16 декабря 2019</span>
                                                    </div>
                                                    <div class="comment-user">
                                                        <div class="comment-user__avatar g-abs g-abs_t g-abs_l">
                                                            <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/pages/user/user-ico__sm.jpg);"></span>
                                                            <!-- <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/user-ico__nophoto.svg);"></span> -->
                                                        </div>
                                                        <span class="comment-user__name">Иван Иванов</span>
                                                    </div>
                                                    <div class="comment__desc">
                                                        <div class="g-editor g-editor--sm">
                                                            <p>Прекрасный, светлый доктор! Был на УЗИ, рассказала все настолько подробно, с легкой приятной улыбкой на лице. Лучше доктора в своей жизни я не встречал. Только благодаря ей я смог четко узнать картину своего здоровья. Посещал многих УЗИстов, но она предоставила самую подробную и качественную консультацию! Спасибо ей!</p>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>

                                            <div class="comments__pagination">
                                                <button class="g-btn g-btn--bg">
                                                    <span class="g-btn__txt">Показать еще</span>
                                                </button>
                                            </div>
                                            {% include "template/modal/modal_comments.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="catalog__in-right">
                            {% include "template/stock/stock_ver.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
