{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span><a href="index.html" class="breadcrumbs-txt__link">Акции</a><span class="breadcrumbs-txt__split">→</span>Приём врача-терапевта + ЭКГ в подарок</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Приём врача-терапевта + ЭКГ в подарок</h1>
                    </div>
                    <div class="g-inner-page__info">
                        <div class="g-inner-page-date">
                            <span class="g-inner-page-date__txt">с 5 по 31 декабря</span>
                        </div>
                        <div class="g-inner-page-price">
                            <span class="g-inner-page-price__txt">1 200 ₽</span>
                        </div>
                        <div class="g-inner-page-btns">
                            <div class="g-inner-page-btns__item">
                                <button class="g-btn g-btn--bg" data-toggle="modal" data-target="#modal--buy-click" data-service="Приём врача-терапевта + ЭКГ в подарок" data-id="some_id_111">
                                    <span class="g-btn__txt">Записаться</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page-poster">
                        <img class="g-inner-page-poster__img" src="images/pages/stock/stock_1_big.jpg" alt=""/>

                        <div class="g-inner-page-time">
                            <div class="g-inner-page-time__day">
                                <span class="g-inner-page-time__txt">11 дней</span>
                            </div>
                            <div class="g-inner-page-time__clock">
                                <span class="g-inner-page-time__txt">05</span>
                            </div>
                            <div class="g-inner-page-time__split">
                                <span class="g-inner-page-time__txt">:</span>
                            </div>
                            <div class="g-inner-page-time__clock">
                                <span class="g-inner-page-time__txt">51</span>
                            </div>
                            <div class="g-inner-page-time__split">
                                <span class="g-inner-page-time__txt">:</span>
                            </div>
                            <div class="g-inner-page-time__clock">
                                <span class="g-inner-page-time__txt">29</span>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__desc">
                        <div class="g-editor">
                            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Qui repellat blanditiis cum eveniet distinctio eum fuga, non architecto in harum deserunt, aspernatur laudantium aperiam repellendus assumenda dolore nemo voluptas unde.</p>
                            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Qui repellat blanditiis cum eveniet distinctio eum fuga, non architecto in harum deserunt, aspernatur laudantium aperiam repellendus assumenda dolore nemo voluptas unde.</p>
                            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Qui repellat blanditiis cum eveniet distinctio eum fuga, non architecto in harum deserunt, aspernatur laudantium aperiam repellendus assumenda dolore nemo voluptas unde.</p>
                            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Qui repellat blanditiis cum eveniet distinctio eum fuga, non architecto in harum deserunt, aspernatur laudantium aperiam repellendus assumenda dolore nemo voluptas unde.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
