{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs breadcrumbs--in-grid">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Акции</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading g-inner-page__heading--in-grid">
                        <h1 class="g-inner-page__heading-txt">Акции</h1>
                    </div>
                    {% set items = [{
                            "img": "images/pages/stock/stock_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_2_sm.jpg",
                            "title": "Общее лабораторное обследование",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_2_sm.jpg",
                            "title": "Общее лабораторное обследование",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_2_sm.jpg",
                            "title": "Общее лабораторное обследование",
                            "desc": ""
                        }]
                    %}
                    <div class="stock__list">
                        {% for item in items %}
                            <div class="stock__list-item">
                            {% include "template/stock/card-stock.html" %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "template/seo-text/g-text_seo.html" %}
{% endblock %}
