{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
    <div class="g-inner-page">
        <div class="g-content">
            <div class="catalog-grid">
                <div class="catalog-grid__sidebar">
                    {% include "template/sidebar/sidebar-nav.html" %}
                </div>
                <div class="catalog-grid__content">
                    <div class="breadcrumbs">
                        <div class="g-content">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs-txt"><a href="index.html" class="breadcrumbs-txt__link">Главная</a><span class="breadcrumbs-txt__split">→</span>Универсальная текстовая страница</div>
                            </div>
                        </div>
                    </div>
                    <div class="g-inner-page__heading">
                        <h1 class="g-inner-page__heading-txt">Универсальная текстовая страница</h1>
                    </div>
                    <div class="g-inner-page__desc">
                        <div class="g-editor">
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                            <p>Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
