/* Bootstrap Modals
// --------------------------------------------------
// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

  // Kill the scroll on the body*/

.modal-open {
    overflow: hidden;

    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--z-modal);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    text-align: center;

    /* // When fading in the modal, animate it to slide down*/
    &.fade .modal-dialog {
        transform: translate(0, -25%);
        transition: transform 0.3s ease-out;
    }
    &.show .modal-dialog {
        transform: translate(0, 0%);
    }
    &.fade_two {
        transform: scale3d(0, 0, 0);
        transition: all 0.35s ease-in-out;
        .modal-dialog {
            transform: translate(0, 0%);
            transition: none;
        }
    }
    &.fade_two.show {
        transform: scale3d(1, 1, 1);
    }
    @media screen and (max-width: $media_767) {
        & {
            &:after {
                display: none;
            }
        }
    }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: 100%;
    max-width: 47.5em;
    text-align: left;
    pointer-events: none;

    .modal.fade & {
        transition: transform 0.3s ease-out;
        transform: translate(0, -50px);
    }
    .modal.show & {
        transform: none;
    }

    .modal.modal-static & {
        transform: scale(1.02);
    }
    @media (prefers-reduced-motion: reduce) {
        .modal.fade & {
            transition: none;
        }
    }
    &--mid {
        max-width: 65.5em;
    }
    &--big {
        max-width: 115em;
    }
}
.modal-dialog-scrollable {
    display: flex;
    max-height: calc(100% - 1rem);

    .modal-content {
        max-height: calc(100vh - 1rem);
        overflow: hidden;
    }

    .modal-header,
    .modal-footer {
        flex-shrink: 0;
    }

    .modal-body {
        overflow-y: auto;
    }
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: 100%;
    background: #FFF;
    &::before {
        display: block;
        height:  100vh;
        height: min-content;
        content: "";
    }

    &.modal-dialog-scrollable {
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .modal-content {
            max-height: none;
        }

        &::before {
            content: none;
        }
    }
}

.modal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 4.8em 1.5em 2.1em;
    background-color: #fff;
    pointer-events: auto;
    outline: 0;
    height: min-content;
}

.modal-title {
    margin-bottom: 4em;
    text-align: center;
    position: relative;
    z-index: 1;
    &__txt {
        font-size: 2.7em;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    &:after {
        content: "";
        display: block;
        height: 1.1em;
        background: #458FF6;
        opacity: 0.4;
        margin-top: -1.4em;
        position: relative;
        z-index: -1;
    }
}

.modal__form {
    max-width: 26em;
    margin: auto;
    & .g-form__btn {
        margin-bottom: 3.9em;
    }
    &--wide {
        max-width: 100%;
    }
}
.modal-body__title-cont {
    margin-bottom: 0.8rem;
}
.modal-body__title,
.modal-body__staff,
.modal-body__staff-kind,
.modal-body__service {
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: 900;
    letter-spacing: 0.05rem;
    margin-bottom: 0.3rem;
}
.modal-body__staff {
    line-height: 1.3;
}
.modal-body__staff-kind {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--c-grey);
}
.modal-body__desc {
    color: #7D7987;
    margin-bottom: 3.9em;
}
.modal-body__attention {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 3.9em;
}
.modal-answer {
    display: none;
}

.modal-close {
    position: absolute;
    top: -1em;
    left: 100%;
    z-index: 1;
    width: 5em;
    height: 5em;
    margin-left: -5em;
    margin-top: 1em;
    transition: all 0.25s;
    fill: #000;
    &__ico {
        width: 2.8em;
        height: 2.8em;
    }
    &:hover {
        fill: var(--c-hover-dop);
    }
}


/*// Modal background*/

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: calc(var(--z-modal) - 5);
    background: #161821;
    &.fade {
        opacity: 0;
    }
    &.show {
        opacity: 0.35;
    }
}


/*// Measure scrollbar width for padding body during modal show/hide*/

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 767px) {
    .modal-dialog {
        /*max-width: 500px;*/
        margin: 1rem auto;
        &--mid {
            max-width: 65.5em;
        }
        &--big {
            max-width: 72em;
        }
    }
    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem);

        & .modal-content {
            max-height: calc(100vh - 3.5rem);
        }
    }
    .modal-dialog-centered {
        background: none;
        min-height: calc(100% - 3.5rem);
        &::before {
            height: calc(100vh - 3.5rem);
            height: min-content;
        }
    }
    .modal-sm {
        max-width: 300px;
    }

    .modal-content {
        position: relative;
        padding: 5.8em 5em 2.1em;
        border: 1px solid #f4f4f6;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        box-shadow: 1em 4em 4em rgba(#E5E9F6 .4);
    }
    .modal-close {
        margin-left: 0;
        margin-top: 0;
        fill: #fff;
    }
}

@media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
        max-width: 800px;
    }
    .modal-dialog {
        &--big {
            max-width: 92.2em;
        }
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1140px;
    }
    .modal-dialog {
        &--big {
            max-width: 112em;
        }
    }
}

/* bootstrap Modals */
