/*  Bootstrap Tabs */
/* Give the tabs something to sit on */

.nav-tabs {
    &__cont {
        position: relative;
    }
    &__wrapper {
        width: 100%;
        overflow: hidden;
        overflow-x: auto;
        margin: 0 -1.7em 3em;

        &:before {
            content: "";
            display: block;
            height: 0.2em;
            min-height: 1px;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            background: #F4F4F6;
        }
    }
    & {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
        position: relative;
    }
    &-li {
        /*display: table-cell;*/

        &__a {
            height: 5em;
            padding: 0.4em 1.7em;
            position: relative;
            text-align: center;

            &-txt {
                font-size: 1.7em;
                line-height: 1.3;
            }
            /*&-txt-dop {
                display: block;
                margin-top: 0.1rem;
                font-size: 1.8em;
                line-height: 1.15;
                color: #697079;
            }*/
            &:hover {
                color: #458FF6;
            }
            &.active {
                cursor: default;
                color: #458FF6;
                &::before {
                    content: "";
                    display: block;
                    height: 0.3em;
                    min-height: 1px;
                    position: absolute;
                    right: 1.7em;
                    bottom: 0;
                    left: 1.7em;
                    background: #458FF6;
                    border-radius: 0.15em;
                }
            }
        }
    }
    &__cont--view2 & {

        &__wrapper {
            margin: 0 0 2.5em;
            padding: 1px 0 0 1px;

            &:before {
                display: none;
            }
        }
        & {
            display: flex;
            justify-content: flex-start;
        }
        &-li {
            flex-grow: 1;
            min-height: 3.5em;
            &__a {
                height: 100%;
                padding: 0.4em 1.7em;
                position: relative;
                text-align: center;
                border: 1px solid #F4F4F6;
                margin: -1px 0 0 -1px;

                &-txt {
                    font-size: 1.4em;
                    line-height: 1.05;
                    font-weight: 600;
                }
                &:hover {
                    color: #458FF6;
                }
                &.active {
                    cursor: default;
                    color: #458FF6;
                    background: #f0f6fe;
                    z-index: 1;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    @media (--md-767){

        &__wrapper {
            width: auto;
            margin: 0 -1.3em 2.5em;
        }
        & {
            justify-content: flex-start;
        }
        &-li {
            &__a {
                display: flex;
                align-items: center;
                height: 100%;
                min-height: 5em;
                padding: 0.4em 1.3em;
                border-bottom: 2px solid #F4F4F6;

                &-txt {
                    font-size: 1.5em;
                    line-height: 1.2;
                }
                &.active {
                    &::before {
                        right: 1.3em;
                        left: 1.3em;
                    }
                }
            }
        }
        &__cont--view2 & {

            &__wrapper {
                margin: 0 -1.5em 2em;
            }
            &-li {
                &__a {
                    padding: 0.4em 1.4em;

                    &-txt {
                        font-size: 1.3em;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}


/* Hide tabbable panes to start, show them when `.active`*/

.tab-content {
    &__pane {
        display: none;
        &.active {
            display: block;
        }
    }
}


/* bootstrap Tabs */
