/*! Buttons .g-link & .g-btn & .g-back  */

.g-link {
    @extend %abs;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    z-index: 100;
}

.g-btn {
    display: inline-block;
    height: 4.5em;
    min-width: 12em;
    position: relative;
    z-index: 5;
    padding: 0.2em 1.8em 0 2em;
    background: transparent;
    border: 2px solid var(--c-btn-base);
    border-radius: 2.25em;
    -webkit-transition: all .25s;
    transition: all .25s;
    line-height: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
    &__txt {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        letter-spacing: 0.05rem;
        font-size: 1.4em;
        font-weight: 900;
        text-transform: uppercase;
    }
    &:focus {
        outline: none;
    }

    button& {
        padding-right: 2em;
        &:after {
            display: none;
        }
    }
    &:hover {
        color: var(--c-btn-base);
        border-color: var(--c-btn-base-hover);
    }
    &--dop {
        color:  var(--c-btn-dop);
        border-color:  var(--c-btn-dop);
    }
    &--dop:hover {
        color:  var(--c-btn-dop-hover);
        border-color: var(--c-btn-dop-hover);
    }

    &--bg {
        padding: 0.2em 2.2em 0 2.2em;
        color: #fff;
        fill: #fff;
        border-color:  var(--c-btn-base);
        background:  var(--c-btn-base);
        box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    }
    &--bg:hover {
        color: #FFF;
        border-color: var(--c-btn-base-hover);
        background: var(--c-btn-base-hover);
    }
    &--bg:focus {
        box-shadow: 0 0.3em 0.6em rgba(#458FF6, 0.7);
    }
    &--bg:active {
        box-shadow: 0 0 0 rgba(#000, 0);
    }
    &--bg-dop {
        padding: 0.2em 2.2em 0 2.2em;
        color: #fff;
        fill: #fff;
        border-color:  var(--c-btn-dop);
        background:  var(--c-btn-dop);
        box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    }
    &--bg-dop:hover {
        color: #FFF;
        border-color: var(--c-btn-dop-hover);
        background: var(--c-btn-dop-hover);
    }
    &--bg-dop:focus {
        box-shadow: 0 0.3em 0.6em rgba(#6fabff, 0.7);
    }
    &--bg-dop:active {
        box-shadow: 0 0 0 rgba(#000, 0);
    }

    &--wide {
        width: 100%;
    }
    &--wslide {
        min-width: 19.5em;
    }
    &--wlarge {
        min-width: 26.5em;
    }
    &--mid {
        min-width: 10em;
        height: 3.5em;
        padding: 0.2em 1.2em 0 1.5em;
        border-radius: 1.75em;
        button& {
            padding-right: 1.5em;
        }
    }
    &--mid &__txt {
        font-size: 1.3em;
    }
    &--sm {
        min-width: 10em;
        height: 3em;
        padding: 0.1em 1em 0 1.3em;
        border-radius: 1.5em;
        button& {
            padding-right: 1.3em;
        }
    }
    &--sm &__txt {
        font-size: 1.2em;
    }

    @media (--lg) {
        & {

            &--wslide {
                min-width: 17.5em;
            }
            &--wlarge {
                /*min-width: 22.5em;*/
            }
        }
    }
    @media (--md-599) {
        & {
            height: 3.5em;
            padding: 0.1em 1.3em 0 1.5em;
            border-radius: 1.75em;
            &__txt {
                font-size: 1.2em;
            }
            button& {
                padding-right: 1.5em;
            }

            &--sm {
                padding-right: 0.8em;
                padding-left: 1em;
                button& {
                    padding-right: 1em;
                }
            }
            &--sm &__txt {
                font-size: 1.1em;
            }
            &--form {
                height: 4.5em;
                border-radius: 2.25em;
                padding: 0.2em 1.8em 0 2em;
                button& {
                    padding-right: 2em;
                }
            }
            &--form &__txt {
                font-size: 1.3em;
            }
        }
    }
}

.g-btn-color {
    position: relative;
    height: 4.5em;
    padding-top: 0.2em;
    color: var(--c-btn-dop);
    transition: all ease 0.15s;

    &__txt {
        display: inline-block;
        font-size: 1.4em;
        font-weight: 900;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
    }
    &:hover &__txt{
        text-decoration: underline;
    }
    a&,
    label& {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }
    a& &__txt {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
    }
    &[disabled] {
        cursor: default;
        color: var(--c-disabled);
        &__txt{
            text-decoration: underline;
        }
    }
    &[disabled] &__txt{
        text-decoration: underline;
    }
    &--grey {
        color: #98A3AE;
        &:hover {
            color: var(--c-hover-base);
        }
    }
    &--grey &__txt{
        text-decoration: underline;
    }
    &--grey:hover &__txt{
        text-decoration: none;
    }
    &--grey[disabled] {
        &:hover {
            color: var(--c-disabled);
        }
    }
    &--desc {
        height: 3em;
        padding: 0.1em 0 0 0;
        color: var(--c-btn-base);
    }
    &--desc &__txt{
        font-size: 1.3em;
        text-transform: none;
        white-space: nowrap;
        border-bottom: 1px dashed transparent;
    }
    &--desc:hover &__txt{
        text-decoration: none;
        border-bottom: 1px dashed currentColor;
    }
    &--mid {
        height: 3.5em;
        padding: 0.2em 0 0 0;
    }
    &--mid &__txt {
        font-size: 1.3em;
    }
    &--sm {
        height: 3em;
        padding: 0.1em 0 0 0;
    }
    &--sm &__txt {
        font-size: 1.2em;
    }

    @media (--md-599) {
        & {
            height: 3.5em;
            padding-top: 0.1em;
            &__txt {
                font-size: 1.2em;
            }

            &--sm {
            }
            &--sm &__txt {
                font-size: 1.1em;
            }
        }
    }
}
/*! buttons  */
