/*! Editor   */
:root {
    --editor_fs: 1.7rem;
}
.g-editor {
    font-size: var(--editor_fs);
    line-height: 1.5;
    word-break: break-word;

    ul,
    ol {
        margin: 0 0 2rem 2.5rem;
        list-style: disc outside;

        ul,
        ol {
            margin-top: 1rem;
        }
    }

    ul {
        list-style-type: none;
        >li {
            position: relative;
            z-index: 1;
            &:before {
                content: '';
                position: absolute;
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                background: #458FF6;
                top: 0.65rem;
                left: -2.5rem;
            }
        }
        & ul {
            list-style-type: circle;
        }
    }
    ol {
        list-style-type: none;
        /* Убираем исходные маркеры */
        counter-reset: num;
        /* Задаём имя счетчика */
        >li {
            position: relative;
            z-index: 1;
            &:before {
                content: counter(num) '. ';
                /* Выводим число */
                counter-increment: num;
                /* Увеличиваем значение счётчика */
                position: absolute;
                left: -2.4rem;
            }
        }

        ol {
            counter-reset: num2;
        }
        /* Инициируем счетчик вложенного списка */
        ol>li:before {
            counter-increment: num2;
            /* Увеличиваем значение счетчика вложенного списка */
            content: counter(num) "." counter(num2) ". ";
            /* Выводим число */
        }
    }

    p,
    span,
    li {
        font-size: 1em;
        line-height: inherit;
        margin-bottom: 2rem;
        span,
        p {
            margin-bottom: 0;
        }

        +ul,
        +ol {
            margin-top: -1.5rem;
        }
    }

    li {
        margin-bottom: 0.5rem;
        span,
        p {
            margin-bottom: 0;
        }
    }

    a {
        color: var(--c-blue);
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
        &[href^="tel"] {
            color: $cbody;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }

    p:empty,
    span:empty,
    strong:empty,
    em:empty,
    li:empty,
    a:empty {
        display: none;
        border: 0 none;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
    }

    img {
        display: block;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        margin: 0 2rem 2rem 0;
    }

    iframe {
        max-width: 100%;
        margin-bottom: 3rem;
    }

    .table__cont {
        overflow: hidden;
        overflow-x: auto;
    }
    table {
        max-width: 100%;
        word-break: normal;
        margin-bottom: 3rem;
    }

    th,
    td {
        font-size: var(--editor_fs);
        vertical-align: baseline;
        padding: 1rem 2rem;
        border: 1px solid #000;

        td {
            font-size: 1em;
        }
        p,
        span,
        ul,
        ol,
        li {
            margin-bottom: 0;
        }
    }

    th {}
    tr:hover {}

    sup {
        vertical-align: super;
        font-size: x-small;
    }

    pre {
        margin-bottom: 2rem;
        white-space: pre-wrap;
        overflow: auto;
    }

    blockquote {
        font-size: 1.133em;
        line-height: 1.8;
        padding: 0.1rem 0 0 1.7rem;
        margin: 5rem 0;
        border-left: 0.3rem solid $blue;
        p,
        span,
        li {
            margin-bottom: 0;
        }
        &:first-child {
            margin-top: 0;
        }
    }

    h1,
    .h1 {
        font-size: 1.4285em;
        line-height: 1.2;
        margin: 2.5rem 0 2rem;
    }
    h2,
    .h2 {
        font-size: 1.285em;
        line-height: 1.25;
        margin: 2.5rem 0 1.5rem;
    }
    h3,
    .h3 {
        font-size: 1.1428em;
        line-height: 1.35;
        margin: 2rem 0 1rem;
    }
    h4,
    .h4 {
        font-size: 1em;
        line-height: 1.35;
        margin: 2rem 0 1rem;
    }
    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4 {

        &:first-child {
            margin-top: 0;
        }
    }
    h5,
    .h5,
    h6,
    .h6 {
        font-size: 1em;
        margin-bottom: 1rem;
    }

    &--sm {
        font-size: 1.5rem;
        line-height: 1.35;

        p,
        span,
        li {
            margin-bottom: 1rem;
            span,
            p {
                margin-bottom: 0;
            }
        }
        ul,
        ol {
            margin-bottom: 1rem;
        }
    }

    &--big {
        font-size: 1.9rem;
        line-height: 1.6;

        p, span, ul, ol {
            margin-bottom: 3rem;
        }
        li {
            margin-bottom: 1rem;
        }
        p, span, li {
            span, p {
                margin-bottom: 0;
            }
        }
    }

    &--lh-big {
        line-height: 1.7;
    }

    &--lh-sm {
        line-height: 1.2;
    }

    &--desc {
        font-style: normal;
        p,
        span,
        ul,
        ol {
            margin-bottom: 0;
        }
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            font-size: 1em;
            line-height: inherit;
            margin-top: 0;
            margin-bottom: 0;
        }

    }

    &_mb-off {
        p,
        span,
        li,
        ul,
        ol {
            margin-bottom: 0;
        }
    }
    &_h-off {
        font-style: normal;
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3,
        h4,
        .h4,
        h5,
        .h5,
        h6,
        .h6 {
            font-size: 1em;
            line-height: inherit;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    &_a-off {
        a {
            text-decoration: none;
            color: currentColor;
        }
    }
    &--grey {
        color: #7D7987;
    }
    &--feature {
        max-width: 100%;
        p {
            display: flex;

        }
        span:first-of-type {
            min-width: 15.5rem;
            max-width: 15.5rem;
            padding-right: 1.5rem;
            color: #7D7987;
        }
    }
    @media screen and (max-width: 1280px) {
        &{

            &--big {
                font-size: 1.7rem;
                line-height: 1.5;

                p, span {
                    margin-bottom: 2rem;
                }
                li {
                    margin-bottom: 1rem;
                }
                p, span, li {
                    span, p {
                        margin-bottom: 0;
                    }
                }
            }
            &--desc {
                font-style: normal;
                p,
                span,
                li,
                ul,
                ol {
                    margin-bottom: 0;
                }
                h1,
                .h1,
                h2,
                .h2,
                h3,
                .h3,
                h4,
                .h4,
                h5,
                .h5,
                h6,
                .h6 {
                    font-size: 1em;
                    line-height: inherit;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &_mb-off {
                p,
                span,
                li,
                ul,
                ol {
                    margin-bottom: 0;
                }
            }
            &_h-off {
                font-style: normal;
                h1,
                .h1,
                h2,
                .h2,
                h3,
                .h3,
                h4,
                .h4,
                h5,
                .h5,
                h6,
                .h6 {
                    font-size: 1em;
                    line-height: inherit;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &_a-off {
                a {
                    text-decoration: none;
                    color: currentColor;
                }
            }
        }
    }
    @media (--md-767) {
        & {
            font-size: 1.5rem;
            line-height: 1.4;
            ul,
            ol {
                margin: 0 0 1.5rem 2.5rem;
            }

            p, span {
                margin-bottom: 1.5rem;
                +ul,
                +ol {
                    margin-top: -0.5rem;
                }
            }
            li {
                margin-bottom: 1rem;
            }
            p, span, li {
                span, p {
                    margin-bottom: 0;
                }
            }

            ul {
                >li {
                    &:before {
                        width: 0.7rem;
                        height: 0.7rem;
                        top: 0.55rem;
                    }
                }
                & ul {
                    list-style-type: circle;
                }
            }
            blockquote {
                font-size: 1.066em;
                margin: 3.5rem 0 3.5rem -1.5rem;
            }

            table {
                margin-bottom: 2rem;
            }

            .table__cont {
                & {
                    margin-right: -1.5rem;
                    margin-left: -1.5rem;
                }
            }

            &--sm {
                font-size: 1.4rem;
                line-height: 1.4;

                p,
                span,
                li {
                    margin-bottom: 1rem;
                    span,
                    p {
                        margin-bottom: 0;
                    }
                }
                ul,
                ol {
                    margin-bottom: 1rem;
                }
            }

            &--desc {
                font-style: normal;
                p,
                span,
                li,
                ul,
                ol {
                    margin-bottom: 0;
                }
                h1,
                .h1,
                h2,
                .h2,
                h3,
                .h3,
                h4,
                .h4,
                h5,
                .h5,
                h6,
                .h6 {
                    font-size: 1em;
                    line-height: inherit;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &_mb-off {
                p,
                span,
                li,
                ul,
                ol {
                    margin-bottom: 0;
                }
            }
            &_h-off {
                font-style: normal;
                h1,
                .h1,
                h2,
                .h2,
                h3,
                .h3,
                h4,
                .h4,
                h5,
                .h5,
                h6,
                .h6 {
                    font-size: 1em;
                    line-height: inherit;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }

            &_a-off {
                a {
                    text-decoration: none;
                    color: currentColor;
                }
            }
        }
    }
}

/*! editor */
