/*! Form */

.placeholder,
.placeholdersjs {
    color: var(--c-placeholder);
}

 ::-webkit-input-placeholder {
    color: var(--c-placeholder);
    opacity: 1;
}

 ::-o-input-placeholder {
    color: var(--c-placeholder);
}

 :-moz-placeholder {
    color: var(--c-placeholder);
    -moz-opacity: 1;
    opacity: 1;
}

 ::-moz-placeholder {
    color: var(--c-placeholder);
    -moz-opacity: 1;
    opacity: 1;
}

 :-ms-input-placeholder {
    color: var(--c-placeholder);
}

 ::-ms-clear {
    display: none;
}


/*// ::-moz-selection {
  //     background: #b3d4fc;
  //     text-shadow: none;
  // }
  // ::selection {
  //     background: #b3d4fc;
  //     text-shadow: none;
  // }*/

.g-input,
.g-textarea,
.g-input__search {
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    height: 4rem;
    background: #fff;
    border: 1px solid #c7c7cf;
    padding: 0.25rem 1.9rem 0;
    border-radius: 4px;
    color: var(--c-body);
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.15s ease;

    &:focus,
    &:hover {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-color: var(--c-hover-dop);
    }
}

.g-textarea {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 16rem;
    line-height: 1.5;
    resize: none;
    /* // resize: vertical; */
}

form .captcha-img {
    float: left;
    margin-right: 2em;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: searchfield-cancel-button;
    -moz-appearance: searchfield-cancel-button;
    appearance: searchfield-cancel-button;
}

[type="date"]::-webkit-inner-spin-button {
    height: 100%;
}

.g-input[type="file"] {
    background: none;
    border: 0 none;
    padding: 0;
    height: auto;
}

.g-input_file-hide {
    width: 100%;
    opacity: 0;
    text-indent: -10000px;
    z-index: 10;
    cursor: pointer;
}

.g-input__search {
    height: 4rem;
}

.g-search-field {
    max-width: 48em;
    position: relative;
    .g-input__search {
        padding-right: 3.5rem;
        font-size: 1.4em;
    }
    &__btn {
        width: 4.4em;
        z-index: 1;
        fill: #a9adb3;

        &-ico {
            width: 3em;
            height: 3em;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    &__label {
        display: flex;
        align-items: center;
        font-size: 1.4em;
        white-space: nowrap;
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 0 4rem 0 1rem;
        color: var(--c-placeholder);
    }

    /*&:hover &__label,*/
    &__btn:focus ~ &__label,
    &__btn:hover ~ &__label,
    & .g-input__search:focus ~ &__label {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: 0;
        pointer-events: none;
        transition: all 0.15s ease;
    }
}

select {
    font-size: 1.5em;
    min-width: 16rem;
    height: 4rem;
    text-indent: 1.2rem;
    background: #FFF;
    border: 1px solid #c7c7cf;
    border-radius: 3px;
    outline: none;
    box-shadow: none;
}
.g-select__cont {
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 4rem;
        height: 4rem;
        background: #000;
        position: absolute 0 0 * *;
        z-index: 1;
        pointer-events: none;
    }

    select {
        text-indent: 0;
        padding: 0 2rem;
        appearance: none;
    }
}

.g-checkbox {
    &-cont {
        margin-right: -2em;
        clear: fix;

        &__item {
            margin-bottom: 2em;
        }
        &--city {
            display: inline-block;
            margin-right: 0;
        }
        &--office-x3 {
            clear: fix;
            display: flex;
            flex-wrap: wrap;
            margin-right: -3.5em;
        }
        &--office-x3 &__item {
            float: left;
            width: 33.333%;
            padding-right: 3.5em;
        }
    }

    & {
        display: inline-block;
        max-width: 100%;
        min-width: 7.9em;
        margin: 0 2em 0.5em 0;
        position: relative;
        z-index: 1;
        text-align: left;
    }

    &__label {
        display: block;
        min-height: 3em;
        padding: 0.2em 0 0 0;
        cursor: pointer;
        user-select: none;
        white-space: nowrap;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 0;
            height: 2.8em;
        }
    }

    &__input {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        right: auto;
        clip: rect(0, 0, 0, 0);

        &:checked ~  {
            .g-checkbox__wrap .g-checkbox__diz {
                background:  #f0f6fe;
                border-color:  var(--c-hover-dop);
                fill: var(--c-hover-dop);
            }
            .g-checkbox__wrap .g-checkbox__diz--radio {
                background: #f0f6fe;
                &:before {
                    background: var(--c-hover-dop);
                }
            }

            .g-checkbox__wrap .g-checkbox__txt {
            }
        }
        &:focus ~  {
            .g-checkbox__wrap .g-checkbox__diz {
                border-color:  var(--c-hover-dop);
            }
            .g-checkbox__wrap .g-checkbox__txt {
            }
        }
        &[disabled]:hover ~ ,
        &[disabled]:focus ~  {
            .g-checkbox__wrap .g-checkbox__diz {
                border-color: var(--c-disabled);
            }
        }
        &[disabled]:checked:hover ~ ,
        &[disabled]:checked:focus ~  {
            .g-checkbox__wrap .g-checkbox__diz {
                border-color: var(--c-disabled);
            }
        }
    }
    &__wrap {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        position: relative;
        padding-left: 2.6em;
    }
    &__diz {
        position: absolute;
        top: auto;
        left: 0;
        margin-top: 0.2em;
        width: 1.6em;
        height: 1.6em;
        background: #fff;
        border: 1px solid #98A3AE;
        border-radius: 3px;
        fill: transparent;
        z-index: -3;
        transition: all 0.25s;

        &--radio {
            border-radius: 100%;
            &:before {
                content: "";
                display: block;
                width: 0.8em;
                height: 0.8em;
                border-radius: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                transition: all 0.25s;
            }
        }
    }

    &__ico {
        width: 1em;
        height: 0.8em;
        z-index: -1;
    }

    &__txt {
        font-size: 1.5em;
        line-height: 1.35;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        transition: all 0.25s;
        a {
            color: #458FF6;
            &:hover {
                color: var(--c-hover-base);
            }
        }
    }

    &__logo--pay {
        display: block;
        margin: 0.6em 0;
        max-width: 20em;
        max-height: 3em;
    }

    &__info {
        margin-left: 2.6em;
    }
    &__desc {
        display: block;
        margin-top: 0.6rem;
        font-size: 1.5rem;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        color: #7D7987;
    }

    &-pos{
        display: block;
        padding-left: 2.7em;
        min-height: 2.4em;
        margin-bottom: 0.6em;
        position: relative;
        white-space: nowrap;
        color: inherit;
        fill: #98A3AE;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 2.4em;
            width: 0;
        }
        &__ico {
            &-wrap {
                top: 0.3em;
                width: 2em;
                height: 2em;
            }
            & {
                max-height: 100%;
                max-width: 100%;
            }
        }
        &__txt {
            display: inline-block;
            vertical-align: middle;
            max-width: 100%;
            padding: 0.4rem 0;
            font-size: 1.7em;
            font-weight: 600;
            line-height: 1.2;
            color: inherit;
            white-space: normal;
        }
    }

    &--block {
        display: block;
    }

    &--mboff {
        margin-bottom: 0;
    }

    &--brd & {
        &__label {
            min-height: 4em;
            padding: 0.7em 0 0.7em 0;
            border-bottom: 2px solid #F4F4F6;
            &:after {
                height: 2.8em;
            }
        }
        &__wrap {
            padding-left: 3.5em;
        }
        &__diz {
            margin-top: -0.2em;
            width: 2em;
            height: 2em;
            &--radio {
                &:before {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }
        &__txt {
            font-size: 1.7em;
            line-height: 1.2;
            font-weight: 900;
            letter-sapcing: 0.05rem;
        }
    }
    &--big & {
        &__label {
            min-height: 4em;
            padding: 0.7em 0 0.7em 0;
            &:after {
                height: 2.8em;
            }
        }
        &__wrap {
            padding-left: 3.5em;
        }
        &__diz {
            margin-top: -0.2em;
            width: 2em;
            height: 2em;
            &--radio {
                &:before {
                    width: 1.2em;
                    height: 1.2em;
                }
            }
        }
        &__txt {
            font-size: 1.7em;
            line-height: 1.2;
            font-weight: 900;
            letter-sapcing: 0.05rem;
        }
        &__info {
            margin-left: 3.5em;
        }
        &__desc {
            font-size: 1.7rem;
            line-height: 1.3;
        }
    }

    &:hover & {
        &__diz {
            border-color: var(--c-hover-dop);
        }
        &__txt {
            color: var(--c-hover-dop);

            a {
                text-decoration: underline;
            }
        }
    }
    @media (--lg-800){

        &-cont {
            &--office-x3 {
                margin-right: -2em;
            }
            &--office-x3 &__item {
                width: 50%;
                padding-right: 2em;
            }
        }
    }
    @media (--md-767){

        &__label {
            min-height: 3em;
            padding: 0.2em 0 0 0;
            &:after {
                height: 2.8em;
            }
        }
        &__wrap {
            padding-left: 3.5em;
        }
        &__diz {
            margin-top: 0em;
            width: 1.8em;
            height: 1.8em;

            &--radio {
                &:before {
                    width: 1em;
                    height: 1em;
                }
            }
        }

        &__txt {
            font-size: 1.5em;
            line-height: 1.4;
        }

        &--brd &__label {
            min-height: 4em;
            padding: 0.7em 0 0.7em 0;
            &:after {
                height: 2.8em;
            }
        }
    }
    @media (--md-599){

        &-cont {
            &--office-x3 {
                margin-right: 0;
            }
            &--office-x3 &__item {
                width: 100%;
                padding-right: 0;
            }
        }
    }
}

.g-form {
    &-item {
        clear: fix;
        margin-bottom: 2em;
        text-align: left;
        &__name {
            padding: 1.2em 2em 0 0;
            margin-bottom: 0.5em;
            &-txt {
                display: block;
                font-size: 1.4em;
                line-height: 1.3;
                font-weight: 500;
            }
        }
        &__field {
            select {
                width: 100%;
            }
            .nice-select {
                float: none;
            }
        }
        &_checkbox {
            margin-top: 1em;
            margin-bottom: 1.5em;
        }
        &--center {
            text-align: center;
        }
        &_sm,
        &--sm {
            max-width: 22.5em;
        }
        &_md,
        &--md {
            max-width: 27.5em;
        }
        &_large,
        &--large {
            max-width: 44.5em;
        }
        /*.modal & {
            margin-bottom: 2em;
        }*/
    }

    &__btn {
        margin-top: 2.8em;
        text-align: center;
        .g-btn {
            min-width: 21em;
        }
        &_l {
            text-align: left;
        }
        /*.modal & {
            padding-top: 2.5em;
        }*/
    }

    label.error {
        display: block;
        text-align: left;
        margin-top: 0.3rem;
        font-size: 1.2em;
        color: $red;
    }
}

/*! form */
