/*! Grid */

.g-grid {
    $self_indent: 1em;

    &-cont {
        clear: fix;
    }
    & {
        margin: 0 -$self_indent;
        display: flex;
        flex-wrap: wrap;
    }

    &__row {
        float: left;
    }

    &__el {
        float: left;
        padding: 0 $self_indent;
    }

    &_wrap-off {
        flex-wrap: nowrap;
    }

    &_jc-center {
        justify-content: center;
    }

    &_jc-around {
        justify-content: space-around;
    }

    &_jc-between {
        justify-content: space-between;
    }

    &_a-content-s {
        align-content: stretch;
    }

    &_a-item-c {
        align-items: center;
    }

    &_a-item-e {
      align-items: flex-end;
    }

    &_x2 & {
        &__el {
            width: 50%;
        }
    }
    &_x3 & {
        &__el {
            width: 33.333%;
        }
    }
    &_x4 & {
        &__el {
            width: 25%;
        }
    }
    &_x5 & {
        &__el {
            width: 20%;
        }
    }
    &_x6 & {
        &__el {
            width: 16.66%;
        }
    }
    @media screen and (max-width: $media_xl) {
        & {
            &_x3 & {
                &__el {}
            }
        }
    }
    @media screen and (max-width: $media_lg) {
        & {
            &_x3 & {
                &__el {
                    width: 50%;
                }
            }
            &_x4 & {
                &__el {
                    width: 33.333%;
                }
            }
            &_x5 & {
                &__el {
                    width: 25%;
                }
            }
            &_x6 & {
                &__el {
                    width: 20%;
                }
            }
        }
    }
    @media screen and (max-width: $media_md) {
        & {
            &_x4 & {
                &__el {
                    width: 50%;
                }
            }
            &_x5 & {
                &__el {
                    width: 33.333%;
                }
            }
            &_x6 & {
                &__el {
                    width: 25%;
                }
            }
        }
    }
    @media screen and (max-width: $media_sm) {
        & {
            &__el {
                width: 100%;
            }
        }
    }
}

.catalog-grid{
    clear: fix;

    &__sidebar{
        float: left;
        width: 31em;
        min-width: 31em;
    }
    &__content{
        float: right;
        width: 100%;
        padding-left: 34.5em;
        margin-left: -31em;
    }
    @media (--xl-1440) {
        & {
            &__sidebar {
            }
            &__content {
                padding-left: 33.5em;
            }
        }
    }
    @media (--xlarge) {
        & {
            &__sidebar {
                width: 28em;
                min-width: 28em;
            }
            &__content {
                padding-left: 30.5em;
                margin-left: -28em;
            }
        }
    }
    @media (--xl-1279) {
        & {
            &__sidebar {
                display: none;
            }
            &__content {
                float: none;
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
}
.catalog-grid-r{
    clear: fix;

    &__sidebar{
        float: right;
        width: 31em;
        min-width: 31em;
    }
    &__content{
        float: left;
        width: 100%;
        padding-right: 34.5em;
        margin-right: -31em;
    }
    @media (--xl-1400) {
        & {
            &__sidebar {
            }
            &__content {
                padding-right: 33.5em;
            }
        }
    }
    @media (--xl-1330) {
        & {
            &__sidebar {
                width: 26em;
                min-width: 26em;
            }
            &__content {
                padding-right: 28.5em;
                margin-right: -26em;
            }
        }
    }
    @media screen and (max-width: 1150px) {
        & {
            &__sidebar {
                display: none;
            }
            &__content {
                float: none;
                padding-right: 0;
                margin-right: 0;
            }
        }
    }
}

/*! grid */
