@@include("header.html")

  <div class="inner-page">
    <div class="inner-page-breadcrumbs">
      <div class="content">
        <div class="inner-page-breadcrumbs__wrap">
          <div class="inner-page-breadcrumbs-txt"><a href="index.html" class="inner-page-breadcrumbs-txt__link">Главная</a><span class="inner-page-breadcrumbs-txt__split">/</span>Контакты</div>
        </div>
      </div>
    </div>
    <div class="inner-page__heading">
      <div class="content">
        <h1 class="inner-page__heading-txt">Контакты</h1>
      </div>
    </div>
    <div class="contact">
      <div class="content">
        <div class="contact-gr">
          <div class="contact-gr__title">
            <span class="contact-gr__title-txt">Служба технической поддержки</span>
          </div>
          <div class="contact-gr__el g-vac">
            <span class="contact-gr__el-ico-cont abs abs_t abs_l">
              <svg role="presentation" class="contact-gr__el-ico contact-gr__el-ico_clock abs abs_l">
                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-clock"></use>
              </svg>
            </span>
            <span class="contact-gr__el-txt g-vac__el">График работы:  10:00 - 19:00 ежедневно, кроме выходных</span>
          </div>
          <div class="contact-gr__el g-vac">
            <span class="contact-gr__el-ico-cont abs abs_t abs_l">
              <svg role="presentation" class="contact-gr__el-ico contact-gr__el-ico_phone abs abs_l">
                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-phone"></use>
              </svg>
            </span>
            <span class="contact-gr__el-txt g-vac__el"><a href="tel:800550-17-89">8 800 550-17-89</a></span>
          </div>
          <div class="contact-gr__el g-vac">
            <span class="contact-gr__el-ico-cont abs abs_t abs_l">
              <svg role="presentation" class="contact-gr__el-ico contact-gr__el-ico_mail abs abs_l">
                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-mail"></use>
              </svg>
            </span>
            <span class="contact-gr__el-txt g-vac__el"><a href="mailto:support@incore1.ru">support@incore1.ru</a></span>
          </div>
          <div class="contact-gr__el g-vac">
            <span class="contact-gr__el-ico-cont abs abs_t abs_l">
              <svg role="presentation" class="contact-gr__el-ico contact-gr__el-ico_pos abs abs_l">
                <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-pos"></use>
              </svg>
            </span>
            <span class="contact-gr__el-txt g-vac__el">г. Воронеж, пр-т Революции 45, оф. 343</span>
          </div>
          <div class="contact-gr__desc">
            <div class="editor editor_mid">
              <p>Написать или позвонить в службу технической поддержки. Если вы не нашли ответ на свой вопрос в Помощи к сервису (ссылка на FAQ), позвоните по телефону «8 800 550-17-89» или перейдите на <a href="">форму обратной связи внизу</a> и опишите вопрос или проблему.</p>
              <p>Довольно часто для решения проблемы нужно воспроизвести те действия, которые к ней приводят. Поэтому как можно подробнее опишите в форме свои действия и возникающую ошибку, чтобы сотрудник службы поддержки не запрашивал у вас дополнительные сведения и смог оперативно помочь.</p>
            </div>
          </div>
          <div class="contact-gr__btn">
            <a href="#" data-toggle="modal" data-target=".modal_support" class="g-btn g-btn_big">
              <span class="g-btn__txt">Обратная связь</span>
            </a>
          </div>
        </div><!-- /* contact-gr -->
      </div>
      <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
      <script type="text/javascript">
          // Группы объектов
          var myPoints = [
                {
                  coords: [51.684066, 39.164058],
                  idPlace: 'idPlace1',
                  title: 'Title',
                  address: '394000, г. Воронеж, <br/>ул. Солнечная, д. 31Д',
                  phone: '+7 (472) 33-33-33',
                  time: 'пн - пт  09:00 - 18:00 <br/> сб - вс  выходной'
                },
                {
                  coords: [51.684066, 39.164058],
                  idPlace: 'idPlace2',
                  title: 'Title2',
                  address: '394000, г. Воронеж, <br/>ул. Солнечная, д. 31Д',
                  phone: '+7 (472) 33-33-33',
                  time: 'пн - пт  09:00 - 18:00 <br/> сб - вс  выходной'
                }
              ];

              bookListHtml = '<ul>';
              myPoints.forEach(function(item) {
                  bookListHtml += '<li class="book">'
                      + '<a href="/' + item.idPlace + '">' + item.title
                      + ' Author: ' + item.phone + '</a></li>';
              });

              bookListHtml += '</ul>';
              console.log(bookListHtml);
      </script>
      <div id="js-contact-map" class="contact-map"></div>
    </div>
  </div>

@@include("footer.html")