/*! Cart */

.cart {
    padding-top: 1em;
    margin-bottom: 4em;
    &__in {
        clear: fix;
    }
    &__left {
        float: left;
        width: 100%;
        padding-right: 40em;
        margin-right: -40em;
    }
    &__right {
        width: 37.5em;
        float: right;
        position: relative;
        z-index: 1;
    }

    &-el {
        display: block;
        border-bottom: 2px solid var(--bg-line);
        background: #FFF;
        padding: 2em 8em 2.5em 16.5em;
        position: relative;
        min-height: 15.5em;
        clear: fix;
        &-img {
            width: 11.5em;
            height: 11.5em;
            top: 2em;
            left: 2.5em;
            &__in {
                max-height: 100%;
            }
        }
        &__in {
            float: left;
            width: 100%;
            padding-right: 44em;
            margin-right: -44em;
        }
        &-text {
            &__top {
                min-height: 9em;
                margin-bottom: 1em;
            }
        }
        &-title {
            display: block;
            padding: 0 0 1.5em;
            &__txt {
                font-size: 1.6em;
                line-height: 1.5;
            }
            &:hover {
                color: var(--c-hover-base);
            }
        }
        &-info {
            &__txt {
                font-size: 1.3em;
                line-height: 1.3;
            }
        }

        &-data {
            float: right;
            max-width: 44em;
            text-align: right;
            padding-top: 3.8em;
            &-quan {
                float: left;
                width: 13em;
                min-height: 1px;
                text-align: left;
            }
            &-price {
                float: left;
                min-height: 1px;
                min-width: 12.8rem;
                padding: 1em 4.5em 0 0;
                white-space: nowrap;
                text-align: right;
                &__txt {
                    font-size: 2em;
                    line-height: 1;
                    font-weight: 500;
                }
                &__currency {
                    margin-left: 0.3rem;
                }
            }
            &-amount {
                float: left;
                min-height: 1px;
                min-width: 12.7rem;
                padding: 1em 4.5em 0 0;
                white-space: nowrap;
                text-align: right;
                &__txt {
                    font-size: 2em;
                    line-height: 1;
                    font-weight: 500;
                }
                &__currency {
                    margin-left: 0.3rem;
                }
            }
        }

        &-trash {
            width: 5em;
            height: 5em;
            top: 5.2em;
            right: 2.2em;
            fill: var(--body-color);
            &__ico {
                width: 1.6em;
                height: 1.6em;
            }
            &:hover {
                fill: var(--c-hover-base);
            }
        }
    }

    &-amount {
        margin: 2.7em 0 2em;
        padding: 1.5em 3.8em;
        background: #FFF;
        clear: fix;
        text-align: right;
        &__title {
            display: inline-block;
            vertical-align: middle;
            &-txt,
            &-val {
                font-size: 2.4em;
                line-height: 1.5;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
            &-txt {
                margin-right: 1rem;
            }
            &-val{
                white-space: nowrap;
            }
            &-currency {
                margin-left: 0.3rem;
            }
        }
        &__btn {
            display: inline-block;
            vertical-align: middle;
            margin-left: 3.8em;
        }
    }

    &-order {
        background: #FFF;
        clear: fix;
        margin-bottom: 3em;
        &-title {
            padding: 2em 2.5em 1.8em;
            border-bottom: 2px solid var(--bg-line);
            &__txt {
                font-size: 2em;
                line-height: 1.5;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
        }
    }

    &-notice {
        padding: 2.8em 2.5em 2.9em;
        margin-bottom: 3em;
        &-title {
            &__txt {
                font-size: 1.7em;
                line-height: 1.4;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
        }
    }

    @media screen and (max-width: 1150px) {
        & {
            &__left {
                padding-right: 38.5em;
                margin-right: -36.5em;
            }
            &__right {
                width: 36.5em;
            }
            &-el {
                padding: 2em 5em 2.5em 16.5em;
                min-height: 15.5em;
                &-img {
                    width: 11.5em;
                    height: 11.5em;
                    top: 2em;
                    left: 2.5em;
                }
                &__in {
                    padding-right: 40.5em;
                    margin-right: -39em;
                }
                &-title {
                    padding: 0 0 1.5em;
                    &__txt {
                        font-size: 1.6em;
                        line-height: 1.5;
                    }
                }

                &-data {
                    max-width: 39em;
                    &-quan {
                        width: 11.5em;
                    }
                    &-price {
                        padding: 1em 3.5em 0 0;
                    }
                    &-amount {
                        padding: 1em 3.5em 0 0;
                    }
                }

                &-trash {
                    width: 4em;
                    height: 4em;
                    top: 5.7em;
                    right: 1.5em;
                }
            }
            &-order {
                margin-bottom: 2em;
            }
        }
    }
    @media screen and (max-width: 992px) {
        & {
            margin-bottom: 3.5em;

            &__left {
                float: none;
                padding-right: 0;
                margin-right: 0;
            }
            &__right {
                float: none;
                width: auto;
            }

            &-el {
                padding: 2em 5em 1em 16.5em;
                margin-bottom: 2em;
                border-bottom: 0 none;
                &__in {
                    float: none;
                    padding-right: 0;
                    margin-right: 0;
                    padding-bottom: 1.4em;
                    border-bottom: 1px solid #E6E6E6;
                }

                &-title {
                    padding: 0 0 1em;
                }
                &-text {
                    &__top {
                        min-height: 7.4em;
                        & .g-editor {
                            font-size: 1.2em;
                        }
                    }
                }
                &-info {
                    &__txt {
                        font-size: 1.2em;
                    }
                }

                &-data {
                    max-width: none;
                    padding-top: 0.6em;
                    &-quan {
                        width: 11.5em;
                    }
                    &-price {
                        padding: 1em 3.5em 0 0;
                    }
                    &-amount {
                        padding-right: 0;
                        min-width: 10em;
                    }
                }

                &-trash {
                    top: 1.5em;
                    right: 1.5em;
                }
            }
            &-amount {
                margin-top: 0.5em;
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {
            padding-top: 0;
            margin-bottom: 3em;
            &-el {
                padding: 1em 4em 1em 10.5em;
                &__in {
                    padding-bottom: 1.4em;
                    border-bottom: 0 none;
                }

                &-img {
                    width: 8em;
                    height: 8em;
                    top: 1em;
                    left: 1em;
                }

                &-title {
                    padding: 0 0 1em;
                }

                &-data {
                    float: none;
                    border-top: 1px solid #E6E6E6;
                    margin-left: -9.5em;
                    margin-right: -3em;
                    display: flex;
                    justify-content: space-between;
                    &-quan {
                        width: 10em;
                    }
                    &-price {
                        min-width: auto;
                        padding-left: 0;
                        padding-right: 0;
                    }
                    &-amount {
                        padding-right: 0;
                        min-width: auto;
                    }
                }

                &-trash {
                    top: 0em;
                    right: 0;
                }
            }
            &-amount {
                padding: 1.5em 1em 2em;
                text-align: center;
                &__btn {
                    display: block;
                    margin: 0.8em 0 0;
                }
            }
        }
    }
}

.order {
    &-gr {
        padding: 2.5em;
        margin-bottom: 3em;
        &-title {
            margin-bottom: 2em;
            &__txt {
                font-size: 2em;
                line-height: 1.25;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
        }
        &--btn {

        }
    }

    &-goods {
        &__list {
            padding: 2em 2.5em 0.5em;
            border-bottom: 2px solid var(--bg-line);
            clear: fix;
        }

        &-el {
            display: block;
            margin-bottom: 1.5em;
            position: relative;
            padding-left: 9.5em;
            min-height: 8em;
            clear: fix;
            &-img {
                width: 8em;
                height: 8em;
                &__in {
                    max-height: 100%;
                }
            }
            &-text {
                min-height: 6em;
            }
            &-title {
                display: block;
                padding-bottom: 0.5em;
                &__txt {
                    font-size: 1.6em;
                    font-weight: 600;
                }
                &:hover {
                    color: var(--c-hover-base);
                }
            }
            &-info {
                &__txt {
                    font-size: 1.3em;
                    line-height: 1.4;
                }
            }
            &-amount {
                padding-top: 0.1em;
                &__txt {
                    font-size: 1.6em;
                    line-height: 1.3;
                    font-weight: 900;
                }
            }
        }
    }

    &-data {
        &-title {
            padding: 2em 2.5em 1.8em;
            border-bottom: 2px solid var(--bg-line);
            &__txt {
                font-size: 2em;
                line-height: 1.5;
            }
        }
        &__list {
            border-bottom: 2px solid var(--bg-line);
            padding: 2em 2.5em 0.1em;
            clear: fix;
        }
        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2em;
            &__name {
                font-size: 1.4em;
                line-height: 1.4;
                font-weight: 500;
            }
            &__val {
                font-size: 1.4em;
                line-height: 1.4;
                font-weight: 600;
            }
        }
        &__left {
            float: left;
            padding-right: 2rem;
            white-space: nowrap;
            max-width: 70%;
        }
        &__right {
            float: right;
            text-align: right;
        }
        &-amount {
            padding: 1.8em 2.5em 1.7em;
            border-bottom: 2px solid var(--bg-line);
            clear: fix;
            &__name {
                font-size: 1.8em;
                line-height: 1.4;
                font-weight: 900;
                letter-spacing: 0.05rem;
                padding-top: 0.5rem;
            }
            &__val {
                font-size: 2.4em;
                font-weight: 900;
            }
        }
        &__btn {
            padding: 2em 2.5em;
            text-align: center;

            &-notice {
                text-align: left;
                margin-top: 2em;
                .g-editor {
                    font-size: 1.2em;
                    line-height: 1.4;
                }
            }
        }
    }

    &-done {
        &__list {
            margin-bottom: 5em;
        }
        &__desc {
            background: #FFF;
            padding: 2.5em;
            margin-bottom: 3em;
        }
        &-el {
            background: #FFF;
            padding: 1em 0;
            margin-bottom: 2em;
            &-title {
                padding: 1.8em 2.5em 1.4em;
                border-bottom: 2px solid var(--bg-line);
            }
            &-body {
                border-bottom: 2px solid var(--bg-line);
                padding: 2em 2.5em 1.9em;
                &-table {
                    width: 100%;
                }
                &-td {
                    padding-top: 1em;
                    padding-bottom: 1em;
                    &:first-child {
                        width: 16em;
                        padding-right: 2em;
                    }
                }
                &__txt {

                }
            }
            &__btn {
                padding: 2.5em 2.5em 1.5em;
                .g-btn {
                    margin-right: 4em;
                    margin-bottom: 1em;
                }
            }
        }
    }
    &-thanks {
        max-width: 78em;
        background: #FFF;
        margin-bottom: 3em;
        &__desc {
            padding: 2.5em;
            border-bottom: 2px solid var(--bg-line);
        }
        &__btn {
            padding: 2.5em 2.5em 1.5em;
            .g-btn {
                margin-right: 4em;
                margin-bottom: 1em;
            }
        }
    }

    @media screen and (max-width: 1150px) {
        & {
            &-gr {
                margin-bottom: 2em;
                padding-bottom: 1em;
                &--btn {
                    padding-bottom: 2.5em;
                }
            }
            &-done {
                &__desc {
                    margin-bottom: 2em;
                }
                &__list {
                    margin-bottom: 2em;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        & {
            &-gr {
                &--desktop {
                    display: none;
                }
            }
        }
    }
}
/*! cart */
