/*! Catalog */

.catalog{
    &-nav {
        padding: 0 0 0.4em;
        &__list {
            column-count: 4;
            column-gap: 3.5rem;
        }
        &__list--open &-item {
            margin-bottom: 3em;
            &__arrow {
                transform: rotate(90deg);
            }
        }
        &-item {
            position: relative;
            margin-bottom: 1em;
            -moz-column-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
            -webkit-column-fill: auto;
            -moz-column-fill: auto;
            column-fill: auto;
            &:after {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 0.2em;
                background: #F4F4F6;
                min-height: 1px;
            }

            &__in {
                display: block;
                position: relative;
                overflow: hidden;
                padding: 0.2em 1.8em 0.9em 4.5em;
                cursor: pointer;
                color: var(--c-body);
                &:after {
                    height: 3.5em;
                }
                &:hover {
                    color: #F84A92;
                }
            }

            &__ico {
                max-width: 3em;
                max-height: 3em;
                bottom: 0.75em;
            }
            &__txt {
                font-size: 1.5em;
                line-height: 1.25;
                font-weight: 700;
            }
           /* &__arrow {
                width: 0.7em;
                height: 0.9em;
                right: 1em;
                fill: #F84A92;
            }*/

            &-dop {
                &__txt {
                    display: block;
                    padding: 0.8rem 0;
                    cursor: pointer;
                    color: var(--c-body);
                    font-size: 1.4em;
                    line-height: 1.25;
                    font-weight: 600;
                    line-height: 1.3;
                    letter-spacing: 0.05rem;
                    &:hover {
                        color: var(--c-link);
                    }
                }
            }
        }
        &-dop {
            position: relative;
            -moz-column-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
            -webkit-column-fill: auto;
            -moz-column-fill: auto;
            column-fill: auto;
            &:after {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 0.2em;
                background: #F4F4F6;
                min-height: 1px;
            }

            &__in {
                display: block;
                position: relative;
                height: 4.5em;
                overflow: hidden;
                padding: 0.2em 0 0.3em 0;
                cursor: pointer;
                color: var(--c-body);
                &:hover {
                    color: #F84A92;
                }
            }
            &__txt {
                font-size: 1.4em;
                line-height: 1.25;
                font-weight: 600;
            }
        }

        @media (--xlarge) {
            & {
                &__list {
                    column-count: 3;
                    column-gap: 3rem;
                }
            }
        }
        @media (--lg) {
            & {
                &__list {
                    column-count: 2;
                }
            }
        }
        @media (--md-599) {
            & {
                &__list {
                    column-count: 1;
                }
            }
        }
    }
    &-inner {
        &-nav {
            display: flex;
            justify-content: space-between;
            margin: 0 -1.7em 3em;
            overflow: hidden;
            overflow-x: auto;
            position: relative;
            &::before {
                content: "";
                display: block;
                height: 0.2em;
                min-height: 1px;
                position: absolute;
                right: 1.7em;
                bottom: 0;
                left: 1.7em;
                background: #F4F4F6;
            }

            &-el {
                min-height: 5em;
                min-width: 12.5em;
                padding: 0.4em 1.7em;
                position: relative;
                &__txt {
                    font-size: 1.7em;
                    line-height: 1.3;
                }
                &__count {
                    white-space: nowrap;
                    color: var(--c-grey);
                }
                &:hover {
                    color: #458FF6;
                }
                &.is-active {
                    color: #458FF6;
                    &::before {
                        content: "";
                        display: block;
                        height: 0.3em;
                        min-height: 1px;
                        position: absolute;
                        right: 1.7em;
                        bottom: 0;
                        left: 1.7em;
                        background: #458FF6;
                        border-radius: 0.15em;
                    }
                }
            }
        }
        @media (--md-767){

            &-nav {
                margin: 0 -1.3em 3em;
                &::before {
                   display: none;
                }

                &-el {
                    padding: 0.4em 1.3em;
                    text-align: center;
                    border-bottom: 2px solid #F4F4F6;
                    &__txt {
                        font-size: 1.5em;
                        line-height: 1.2;
                    }
                    &__count {
                        font-size: 0.9em;
                    }
                    &.is-active {
                        &::before {
                            right: 1.3em;
                            left: 1.3em;
                            bottom: -2px;
                        }
                    }
                }
            }
        }
    }
    &-dop {
        &-nav {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding: 1px 0 0 1px;
            margin-bottom: 3.5em;
            &-el {
                flex-grow: 1;
                height: 3.5em;
                padding: 0.4em 1.5em;
                border: 1px solid #F4F4F6;
                background: #fff;
                margin: -1px 0 0 -1px;
                position: relative;
                text-align: center;
                &__txt {
                    font-size: 1.4em;
                    font-weight: 600;
                    line-height: 1.25;
                }
                &:hover {
                    color: #458FF6;
                }
                &.is-active {
                    color: #458FF6;
                    background: rgba(#458FF6, 0.1);
                    z-index: 1;
                }
            }
        }
    }
    &__list {
        &-cont {

        }
        &-title {
            margin-bottom: 2em;
            &:after {
                content: "";
                display: block;
                height: 1em;
                background: #458FF6;
                opacity: 0.4;
                margin-top: -1.2em;
                position: relative;
                z-index: -1;
            }
            &-txt {
                font-size: 2.3em;
                font-weight: 900;
                line-height: 1.3;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
            }
        }
    }
    &-el {
        min-height: 13em;
        padding: 1.5em 0.9em 0.9em 1.9em;
        border-color: #98A3AE;
        margin-bottom: 2.5em;
        &__wrap {
            height: 7.3em;
            margin-bottom: 0.1em;
            overflow: hidden;
        }
        &__top {
            display: flex;
            justify-content: space-between;
        }
        &__top & {
            &-title {
                float: left;
                padding-right: 2.5em;
            }
            &-price {
                float: right;
            }
        }
        &__desc {
            color: #7D7987;
            font-weight: 500;
        }
        &__bottom {
            display: flex;
            justify-content: space-between;
        }
        &__bottom & {
            &__article {
                float: left;
            }
            &-btns {
                float: right;
            }
        }
        &-title {
            padding: 0.3em 0 0.5em;
            &__txt {
                font-size:  1.9em;
                font-weight: 700;
                line-height: 1.2;
            }
            &:hover {
                color: var(--c-hover-base);
            }
        }
        &-price {
            padding-top: 0.4em;
            margin-right: 1.1em;
            &__txt {
                font-size:  1.9em;
                font-weight: 900;
                line-height: 1;
                letter-spacing: 0.05rem;
                white-space: nowrap;
            }
        }
        &__article {
            margin: 1rem 0;
            font-size: 1.2em;
            letter-spacing: 0.05rem;
            line-height: 1;
            white-space: nowrap;
            color: #98A3AE;
            &--mob {
                display: none;
            }
        }
        &-btns {
            clear: fix;
            margin-right: -1.2em;
            &__item {
                float: left;
                margin-right: 1.2em;
            }
        }
        @media (--md-599){
            & {
                padding: 1em 0.9em 1em 1.4em;
                margin: 0 0 2em;
            }
            &__wrap {
                height: auto;
                margin-bottom: 0.6em;
            }
            &__top {
                flex-wrap: wrap;
                margin-bottom: 0.7em;
            }
            &__top & {
                &-title {
                    width: 100%;
                    float: none;
                    padding-right: 0;
                }
                &-price {
                    float: right;
                }
            }
            &__desc {
                max-height: 6em;
                overflow: hidden;
            }
            &__bottom {
                display: block;
                celar: fix;
            }
            &__bottom & {
                &__article {
                    display: none;
                }
                &-btns {
                    float: none;
                    display: flex;
                    justify-content: space-between;
                }
            }
            &-title {
                padding: 0.3em 0 0.5em;
                &__txt {
                    font-size:  1.7em;
                    font-weight: 900;
                    line-height: 1.2;
                }
            }
            &-price {
                padding-top: 0.1em;
                margin-right: 0.4em;
                &__txt {
                    font-size:  1.7em;
                }
            }
            &__article {
                display: none;
                &--mob {
                    display: block;
                    margin: 0.5rem 0;
                }
            }
            &-btns {
                &:after {
                    display: none;
                }
                &__item {
                }
            }
        }
        @media (--sm-400){
            & {
                margin-right: -1.5em;
                margin-left: -1.5em;
            }
        }
    }
    &__in {
        clear: fix;
        &-left {
            float: left;
            width: 100%;
            padding-right: 23em;
            margin-right: -19.5em;
        }
        &-right {
            float: right;
            width: 19.5em;
        }
        & .g-pag {
            margin-bottom: 3.5em;
        }
        @media (--xl-1440){
            &-left {
                padding-right: 22em;
                margin-right: -19.5em;
            }
        }
        @media (--lg-800){
            &-left {
                padding-right: 0;
                margin-right: 0;
            }
            &-right {
                display: none;
            }
        }
    }
}

/* catalog */
