/*! Contacts */

.contacts {
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
        &__title {
            margin: 0 2rem 1rem 0;
            font-size: 1.7em;
            line-height: 1.2;
            font-weight: 900;
        }
        &-btns {
            margin-right: -2em;
            &__item{
                margin: 0 2em 1em 0;
            }
            &--only {
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &-feature {
        margin-bottom: 4em;
        &-list {
            display: flex;
            flex-wrap: wrap;
            margin-right: -2.5em;
            &__item {
                float: left;
                width: 33.333%;
                padding: 0 2.5em 3em 0;
            }
        }
        &-el {
            display: block;
            position: relative;
            max-width: 48em;
            padding-top: 7.1em;
            text-align: center;
            &-img {
                width: 6.5em;
                height: 6.5em;
                margin-bottom: 2em;
                overflow: hidden;
                &__in {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            &__text {
                max-height: 30em;
                overflow: hidden;
            }
            &-title {
                &__txt {
                    font-size: 1.7em;
                    line-height: 1.2;
                    font-weight: 900;
                    letter-spacing: 0.05em;
                }
            }
            &__desc {
                margin-top: 1em;
                font-weight: 600;
            }
        }
    }

    &-map {
        height: 54em;
        margin-bottom: 4em;
    }
    @media (--md-767) {
        & {
            &-info {
                flex-wrap: wrap;
                &__title {
                    margin-right: 0;
                    font-size: 1.5em;
                }
            }
        }
    }
    @media (--md-599) {
        & {
            &-feature {
                margin-bottom: 1em;
                &-list {
                    &__item {
                        width: 50%;
                    }
                }

                &-el {
                    padding-top: 6.5em;
                    &-img {
                        width: 5.5em;
                        height: 5.5em;
                        margin-bottom: 2em;
                    }
                    &-title {
                        &__txt {
                            font-size: 1.5em;
                        }
                    }
                    &__desc {
                        margin-top: 0.6em;
                    }
                }
            }
            &-map {
                height: 40em;
                margin: 0 0 3em -1.5em;
            }
        }
    }
    @media (--sm-400) {
        & {
            &-feature {
                &-list {
                    &__item {
                        width: 100%;
                    }
                }
            }
        }
    }
}


/* // contact */
