/*! Goods */

.goods {
    &__top {
        clear: fix;
        padding-top: 3em;
    }
    &__img {
        float: left;
        margin: 0 0 3.5em 0;
        width: 31em;
        height: 31em;
    }
    &__text {
        float: left;
        width: 100%;
        margin-bottom: 3.5em;
        padding-left: 34.5em;
        margin-left: -31em;
        padding-right: 23em;
        margin-right: -19.5em;
    }
    &-heading {
        margin-bottom: 1em;
        &__txt {
            font-size: 2.9em;
            line-height: 1.2;
            font-weight: 900;
            letter-spacing: 0.05rem;
        }
    }
    &-icon {
        margin: 0 -1.5em 1em 0;
        clear: fix;
        &__item {
            float: left;
            width: 6.5em;
            height: 6.5em;
            margin: 0 1.5em 1.5em 0;
            text-align: center;
        }
        &__ico {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__desc {
        font-weight: 500;
    }

    &-info {
        width: 19.5em;
        float: left;
        background: #FFF;
        border: 1px solid #F4F4F6;
        border-radius: 0.3em;
        margin-bottom: 3.5em;
        &__body {
            padding: 4em 1.9em 3em;
            background: #F4F4F6;
            min-height: 15.5em;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            &-in {
                width: 100%;
            }
        }
        &-article {
            height: 3.4em;
            padding:  0 2em;
            &__txt {
                font-size: 1.2em;
                line-height: 1;
                letter-spacing: 0.05rem;
                color: #98A3AE;
            }
        }
        &__price {
            margin-bottom: 1.5em;
        }
        &-btn {
            max-width: 19em;
            margin: auto;
            text-align: center;
            &__item {
                margin-bottom: 0.7em;
            }
        }
        &-bank {
            padding: 1.9em 1.9em 1em;
            margin: 0 -1.1em 0 0;
            clear: fix;
            &__item {
                float: left;
                max-width: 4.4em;
                margin: 0 1.1em 1em 0;
            }
            &__ico {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
    @media (--xl-1440){
        & {
            &__text {
                padding-left: 33.5em;
                padding-right: 22em;
            }
            &-icon {
                &__item {
                    width: 5.5em;
                    height: 5.5em;
                    margin: 0 1.5em 1.5em 0;
                }
            }
        }
    }
    @media (--xl-1366){
        & {
            &__img {
                width: 28em;
                height: 28em;
            }
            &__text {
                padding-left: 30.5em;
                margin-left: -28em;
            }
        }
    }
    @media (--xl-1279){
        & {
            &__img {
                width: 28em;
                height: 28em;
            }
            &__text {
                padding-left: 30.5em;
                margin-left: -28em;
            }
        }
    }
    @media (--lg){
        & {
            &__img {
                display: none;
            }
            &__text {
                padding-left: 0;
                margin-left: 0;
            }
        }
    }
    @media (--md-599){
        & {
            &__top {
                padding-top: 1em;
            }
            &__img {
                display: block;
                float: none;
                margin: 0 auto 2.5em;
            }
            &__text {
                float: none;
                padding-left: 0;
                margin-left: 0;
                padding-right: 0;
                margin-right: 0;
                margin-bottom: 2.5em;
            }
            &-heading {
                margin-bottom: 1em;
                &__txt {
                    font-size: 2em;
                    line-height: 1.3;
                }
            }
            &-icon {
                margin: 0 -1em 1em 0;
                &__item {
                    width: 4em;
                    height: 4em;
                    margin: 0 1em 1em 0;
                }
            }

            &-info {
                float: none;
                width: auto;
                max-width: 56em;
                margin-bottom: 2.5em;
                text-align: center;
                &__body {
                    padding-top: 3em;
                    padding-bottom: 2em;
                    min-height: 5em;
                }
                &-bank {
                    display: inline-block;
                    padding: 1.4em 1.4em 0.1em;
                    margin: 0 -1.1em 0 0;
                }
            }
        }
    }
}

/* goods */
