/*! News */
.news {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3.5em;
        &-item {
            width: 50%;
            padding-right: 3.5em;
            margin-bottom: 3.5em;
        }
        .news-el {
            height: auto;
            max-height: 60em;
            margin-bottom: 0;
        }
        .news-el-img {
            box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
        }
        .news-el__text {
            margin-bottom: 0;
        }
        @media (--xl-1440) {
            & {
                margin-right: -2.5em;
                &-item {
                    padding-right: 2.5em;
                }
            }
        }
        @media (--md-767) {
            & {
                &-item {
                    width: 100%;
                }
            }
        }
    }
}

/*! news */
