/*! Staff */
.staff {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -3.5em;
        &-item {
            width: 33.333%;
            padding-right: 3.5em;
            margin-bottom: 3.5em;
        }
        .staff-el {
            height: auto;
            max-height: 60em;
            margin-bottom: 0;
        }
        .staff-el__text {
            margin-bottom: 0;
        }
        @media (--xlarge) {
            & {
                &-item {
                    width: 50%;
                }
            }
        }
        @media (--xl-1440) {
            & {
                margin-right: -2.5em;
                &-item {
                    padding-right: 2.5em;
                }
            }
        }
        @media (--md-767) {
            & {
                &-item {
                    width: 100%;
                }
                .staff-el__text {
                    height: auto;
                    padding-bottom: 2em;
                }
            }
        }
    }
}

/*! staff */
