<div id="modal--city" class="modal fade modal--city" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog--mid" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <svg role="presentation" class="modal-close__ico g-abs" aria-hidden="true">
                    <use xlink:href="#symbol-cross"></use>
                </svg>
            </button>

            <div class="modal-title">
                <div class="modal-title__txt">Выбор города</div>
            </div>

            <div class="modal-body">
                <form action="/" name="form_city" class="g-form form_buy_click modal__form">
                    <div class="g-form-item g-form-item_checkbox g-form-item--center">
                        <div class="g-form-item__field">
                            <div class="g-checkbox-cont g-checkbox-cont--city">
                                <div class="g-checkbox-cont__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--big">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="city-1" value="" />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Москва</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="g-checkbox-cont__item">
                                    <div class="g-checkbox g-checkbox--block g-checkbox--mboff g-checkbox--big">
                                        <label class="g-checkbox__label">
                                            <input class="g-checkbox__input" type="radio" name="city-1" value="" checked />
                                            <span class="g-checkbox__wrap">
                                                <i class="g-checkbox__diz g-checkbox__diz--radio"></i>
                                                <span class="g-checkbox__txt">Санкт-Петербург</span>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-form__btn g-form__btn--сenter">
                        <button class="g-btn g-btn--bg g-btn--form">
                            <span class="g-btn__txt">изменить город</span>
                        </button>
                    </div>
                </form>
                <div class="modal-body__attention">
                    <div class="g-attention g-attention--sm">
                        <svg role="presentation" class="g-attention__ico g-abs g-abs_l">
                            <use xlink:href="#symbol-attention"></use>
                        </svg>
                        <div class="g-editor g-editor--desc g-editor--grey g-attention__desc">
                            <p>Примечание: при изменении города часть услуг могут иметь другую стоимость.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
