<div id="modal_message" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <svg role="presentation" class="modal-close__ico g-abs" aria-hidden="true">
                    <use xlink:href="#symbol-cross"></use>
                </svg>
            </button>
            <div class="modal-title">
                <div class="modal-title__txt">Написать сообщение</div>
            </div>
            <div class="modal-body">
                <form action="/" name="form_message" class="g-form modal-form form_message">
                    <div class="g-form-item g-form-item_wide">
                        <div class="g-form-item__name">
                            <label for="form_message-name1" class="g-form-item__name-txt">ФИО *</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-name1" type="text" class="g-input" name="name_1" value="" placeholder="Имя *" />
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_wide">
                        <div class="g-form-item__name">
                            <label for="form_message-phone" class="g-form-item__name-txt">Телефон *</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-phone" type="tel" class="g-input" name="phone" value="" placeholder="Телефон *"  />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-email" class="g-form-item__name-txt">Ваш e-mail</label>
                        </div>
                        <div class="g-form-item__field">
                            <input id="form_message-email" class="g-input" name="email" type="email" placeholder="Введите e-mail" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-select" class="g-form-item__name-txt">Ваш select</label>
                        </div>
                        <div class="g-form-item__field">
                            <select id="form_message-select" name="select" class="wide">
                                <option value="" data-display="Выбрать">...</option>
                                <option value="1">HD</option>
                                <option value="2">Full HD</option>
                                <option value="3">Ultra HD</option>
                            </select>
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__name">
                            <label for="form_message-text" class="g-form-item__name-txt">Ваше сообщение</label>
                        </div>
                        <div class="g-form-item__field">
                            <textarea id="form_message-text" class="g-textarea" name="text" placeholder="Введите сообщение"></textarea>
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_checkbox">
                        <div class="g-form-item__field">
                            <div class="g-checkbox-cont">
                                <div class="g-checkbox checkbox_mb-off">
                                    <label class="g-checkbox__label">
                                        <input class="g-checkbox__input" type="checkbox" name="form_agree" value="" />
                                        <span class="g-checkbox__wrap">
                                            <i class="g-checkbox__diz">
                                                <svg role="presentation" class="g-checkbox__ico g-abs">
                                                    <use xlink:href="#symbol-check"></use>
                                                </svg>
                                            </i>
                                            <span class="g-checkbox__txt">Я согласен на обработку персональных данных</span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="g-form__captcha">
                        <img src="images/recaptcha.png" alt="" />
                    </div>
                    <div class="g-form__btn g-form__btn--сenter">
                        <button class="g-btn g-btn--bg g-btn--form">
                            <span class="g-btn__txt">Отправить</span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-answer">
                <div class="editor editor_big">
                    <p>Спасибо, ваша заявка принята, в ближайшее время наш менеджер свяжется с вами для уточнения деталей.</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- modal -->
