<div id="modal--buy-click" class="modal fade modal--buy-click" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <svg role="presentation" class="modal-close__ico g-abs" aria-hidden="true">
                    <use xlink:href="#symbol-cross"></use>
                </svg>
            </button>

            <div class="modal-title">
                <div class="modal-title__txt">Запись на приём</div>
            </div>

            <div class="modal-body">
                <div class="modal-body__title-cont">
                    <!-- <div class="modal-body__title">МРТ головного мозга с контрастом</div> -->
                    <div class="modal-body__staff"></div>
                    <div class="modal-body__staff-kind"></div>
                    <div class="modal-body__service"></div>
                </div>
                <div class="modal-body__desc">
                    <div class="g-editor">
                        <p>Оставьте свои контакты и с вами свяжется сотрудник для уточнения удобного времени и проконсультирует по всем вопросам.</p>
                    </div>
                </div>
                <form action="/" name="form_buy_click" class="g-form form_buy_click modal__form">
                    <input id="modal--buy-click__id" type="hidden" name="service-id" value="" />
                    <div class="g-form-item g-form-item_wide">
                        <div class="g-form-item__field">
                            <input type="text" class="g-input" name="name_1" value="" placeholder="Имя *" />
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_wide">
                        <div class="g-form-item__field">
                            <input type="tel" class="g-input" name="phone" value="" placeholder="Телефон *"  />
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_checkbox">
                        <div class="g-form-item__field">
                            <div class="g-checkbox-cont">
                                <div class="g-checkbox checkbox_mb-off">
                                    <label class="g-checkbox__label">
                                        <input class="g-checkbox__input" type="checkbox" name="form_agree" value="" />
                                        <span class="g-checkbox__wrap">
                                            <i class="g-checkbox__diz">
                                                <svg role="presentation" class="g-checkbox__ico g-abs">
                                                    <use xlink:href="#symbol-check"></use>
                                                </svg>
                                            </i>
                                            <span class="g-checkbox__txt">согласие на обработку <a href="#">персональных данных</a></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-form__captcha">
                        <img src="images/recaptcha.png" alt="" />
                    </div>
                    <div class="g-form__btn g-form__btn--сenter">
                        <button class="g-btn g-btn--bg g-btn--form">
                            <span class="g-btn__txt">Записаться</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
