<div id="modal--faq" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                <svg role="presentation" class="modal-close__ico g-abs" aria-hidden="true">
                    <use xlink:href="#symbol-cross"></use>
                </svg>
            </button>
            <div class="modal-title">
                <div class="modal-title__txt">Обращение в службу поддержки NDC</div>
            </div>
            <div class="modal-body">
                <div class="modal-body__desc">
                    <div class="g-editor">
                        <p>Вы можете задать нам любой вопрос, предложить идею или выразить благодарность:</p>
                    </div>
                </div>
                <form action="/" name="form_faq" class="g-form form_faq modal__form">
                    <div class="g-form-item g-form-item_wide">
                        <div class="g-form-item__field">
                            <input type="text" class="g-input" name="name_1" value="" placeholder="Имя *" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__field">
                            <input  class="g-input" name="email" type="email" placeholder="Введите e-mail *" />
                        </div>
                    </div>
                    <div class="g-form-item">
                        <div class="g-form-item__field">
                            <textarea class="g-textarea" name="text" placeholder="Текст обращения"></textarea>
                        </div>
                    </div>
                    <div class="g-form-item g-form-item_checkbox">
                        <div class="g-form-item__field">
                            <div class="g-checkbox-cont">
                                <div class="g-checkbox checkbox_mb-off">
                                    <label class="g-checkbox__label">
                                        <input class="g-checkbox__input" type="checkbox" name="form_agree" value="" />
                                        <span class="g-checkbox__wrap">
                                            <i class="g-checkbox__diz">
                                                <svg role="presentation" class="g-checkbox__ico g-abs">
                                                    <use xlink:href="#symbol-check"></use>
                                                </svg>
                                            </i>
                                            <span class="g-checkbox__txt">согласие на обработку <a href="#">персональных данных</a></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="g-form__captcha">
                        <img src="images/recaptcha.png" alt="" />
                    </div>
                    <div class="g-form__btn g-form__btn--сenter">
                        <button class="g-btn g-btn--bg g-btn--form">
                            <span class="g-btn__txt">Отправить</span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- <div class="modal-answer">
                <div class="editor editor_big">
                    <p>Спасибо, ваша заявка принята, в ближайшее время наш менеджер свяжется с вами для уточнения деталей.</p>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!-- modal -->
