/*! Card */
.card {
    background: #fff;
    box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    max-width: 34.5em;
    min-width: 23em;
    max-height: 53em;
    padding-bottom: 10em;
    position: relative;
    transition: box-shadow 0.15s ease;

    &-delete {
        z-index: 10;
        top: -2em;
        width: 4em;
        height: 4em;
        background: #FFF;
        border-radius: 100%;
        box-shadow: 0 0.1em 0.4em rgba(0, 0, 0, 0.2);
        fill: var(--c-red);
        &__ico {
            width: 1.5em;
            height: 1.5em;
        }
        &:hover {
            fill: var(--c-hover-base);
        }
    }

    &-img {
        height: 29em;
        position: relative;
        overflow: hidden;
        &__wrap {
            position: 2.9em 2em;
            z-index: 1;
        }
        &__in {
            max-width: 100%;
            max-height: 100%;
            top: 1.5em;
            right: 1.5em;
            left: 1.5em;
        }

        &-stock {
            top: 1.5em;
            right: 5em;
            left: 1.5em;
            z-index: 2;
            &-el {
                display: inline-block;
                margin: 0 0.2em 0.5em 0;
                height: 2.5em;
                border-radius: 1.25em;
                overflow: hidden;
                padding: 0 0.7em 0 1em;
                position: relative;
                color: #FF5858;
                &__bg {
                    z-index: -1;
                    background: #fff;
                    box-shadow: 0 0.3em 0.6em rgba(#000000, 0.1);
                    opacity: 0.7;
                    transition: opacity 0.15s ease;
                }
                &__txt {
                    font-size: 1.3em;
                    line-height: 1.1;
                }
                &:hover &__bg {
                    opacity: 1;
                }
            }
        }
        &-ctrl {
            top: 1.5em;
            left: auto;
            right: 1.5em;
            z-index: 2;
            &-el {
                display: inline-block;
                margin: 0 0.2em 0.5em 0;
                height: 3em;
                width: 3em;
                border-radius: 50%;
                overflow: hidden;
                padding: 0 0.7em 0 1em;
                position: relative;
                fill: currentColor;
                &__ico {
                    transition: fill 0.15s ease;
                }
                &__bg {
                    z-index: -1;
                    background: #fff;
                    box-shadow: 0 0.3em 0.6em rgba(#000000, 0.1);
                    opacity: 0.7;
                    transition: opacity 0.15s ease;
                }
                &--favorite &__ico {
                    width: 1.2em;
                    height: 1.05em;
                }
                &--compare &__ico{
                    width: 1em;
                    height: 1.3em;
                }
                &:hover {
                    fill: var(--c-hover-base);
                }
                &:hover &__bg {
                    opacity: 1;
                }
            }
        }
        &-comments {
            bottom: 0.2em;
            right: 5em;
            left: 1.5em;
            z-index: 2;
            &__el {
                display: inline-block;
                margin: 0 0.2em 0.5em 0;
                border-radius: 1.25em;
                overflow: hidden;
                box-shadow: 0 0.3em 0.6em rgba(#000000, 0.1);
                background: transparent;
                transition: background 0.15s ease;
                &:hover {
                    background: #FFF;
                }
            }
        }
        &-quantity {
            text-align: right;
            bottom: 0.2em;
            left: auto;
            right: 1.3em;
            z-index: 2;
            &-el {
                display: inline-block;
                margin: 0 0.2em 0.5em 0;
                height: 2.5em;
                border-radius: 1.25em;
                overflow: hidden;
                padding: 0 0.7em 0 1em;
                position: relative;
                &__bg {
                    z-index: -1;
                    background: #fff;
                    box-shadow: 0 0.3em 0.6em rgba(#000000, 0.1);
                    opacity: 0.7;
                }
                &__txt {
                    font-size: 1.3em;
                    line-height: 1.1;
                }
                &--enough,
                &--few {
                   color: #fff;
                }
                &--enough &__bg{
                    background: var(--bg-green);
                }
                &--few &__bg{
                    background: #FF5858;
                }
            }
        }
    }

    &-title {
        display: block;
        padding: 1.4em 1.5em 1.3em;
        text-align: center;
        overflow: hidden;
        &__txt {
            font-size: 1.7em;
            font-weight: 500;
            line-height: 1.2;
        }
        &:hover {
            color: var(--c-hover-base);
        }
    }

    &-desc {
        display: block;
        padding: 0 1.5em 0;
        margin-bottom: 0.5em;
        text-align: center;
        overflow: hidden;
        &__editor {
            font-size: 1.4em;
            font-size: 1.3em;
            line-height: 1.4;
        }
    }

    &-info {
        display: block;
        padding: 0 1.5em 0;
        overflow: hidden;
        text-align: center;
        color: #B5B5B5;
        &__txt {
            display: block;
            font-size: 1.3em;
            line-height: 1.5;
        }
    }

    &-text-wrap {
        height: 14em;
        overflow: hidden;
        &__top {
            min-height: 8.5em;
        }
    }

    &-bottom {
        clear: fix;
        height: 4em;
        position: absolute;
        right: 0;
        left: 0;
        bottom: 1.5em;
    }

    &-click-buy {
        display: block;
        position: absolute;
        bottom: 6em;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0 2em;
        height: 4em;
        text-align: center;
        overflow: hidden;
        color: #B5B5B5;
        &__txt {
            font-size: 1.3em;
            line-height: 1.3;
            text-decoration: underline;
        }
        &:hover {
            color: var(--c-hover-base);
        }
    }
    &:hover &-click-buy {
        color: inherit;
        &:hover {
            color: var(--c-hover-base);
        }
    }

    &-cost {
        padding: 0 1em 0 1.5em;
        height: 100%;
        overflow: hidden;
        &__in {
        }
        &__txt {
            display: block;
            white-space: nowrap;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 2em;
            font-weight: 500;
            line-height: 1;
            &_old {
                font-size: 1.3em;
                color: grey;
                font-weight: normal;
                text-decoration: line-through;
            }
            &_new {
                color: red;
            }
        }
    }

    &__quan,
    &__quan.g-quan {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        left: 1.5em;
        bottom: 0;
        background: #FFF;
    }
    &-add {
        &-cont {
            position: absolute;
            top: 0;
            right: 1.5em;
            height: 100%;
        }
        & {
            width: 4em;
            height: 4em;
            overflow: hidden;
            fill: var(--c-btn-base);
            position: relative;
            border-radius: 100%;
            box-shadow: 0 0.3em 0.6em rgba(#000, 0.2);
        }
        &__ico {
            width: 4em;
            height: 4em;
        }

        &:hover {
            fill: var(--c-hover-base);
        }
        &:active {
            box-shadow: 0 0.3em 0.6em rgba(#000, 0);
        }
    }
    &:hover {
        box-shadow: 0 0.3em 1em rgba(#000, 0.2);
    }

    @media screen and (max-width: 599) {
        & {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

.card-root {
    background: #fff;
    box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    max-width: 46em;
    min-width: 16em;
    max-height: 53em;
    position: relative;
    transition: box-shadow 0.15s ease;

    &-img {
        min-height: 26em;
        max-height: 29em;
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            padding-bottom: 67%;
        }
        &__wrap {
            z-index: 1;
        }
        &__in {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-title {
        display: block;
        min-height: 10em;
        max-height: 15em;
        padding: 1.7em 2em 1.5em;
        text-align: center;
        max-height: 100%;
        overflow: hidden;
        &__txt {
            display: block;
            margin-bottom: 1.2rem;
            font-size: 2.4em;
            line-height: 1.25;
        }
        &__count {
            display: block;
            font-size: 1.4em;
            line-height: 1;
            white-space: nowrap;
            color: #B5B5B5;
        }
        &:hover &__txt {
            color: var(--c-hover-base);
        }
    }
    &:hover {
        box-shadow: 0 0.3em 1em rgba(#000, 0.2);
    }

    @media screen and (max-width: 1024px) {
        & {
            &-img {
                min-height: 21.5em;
                max-height: 26em;
            }
            &-title {
                min-height: 8em;
                padding: 1.6em 1.5em 1.5em;
                &__txt {
                    margin-bottom: 0.5rem;
                    font-size: 1.8em;
                    line-height: 1.1;
                }
                &__count {
                    font-size: 1.3em;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        & {
            &-img {
                min-height: 18.5em;
            }
            &-title {
                min-height: 7em;
                padding: 1.4em 1.5em 1.5em;
                &__txt {
                    margin-bottom: 0.5rem;
                    font-size: 1.8em;
                    line-height: 1.1;
                }
                &__count {
                    font-size: 1.2em;
                }
            }
        }
    }
}
.card-group {
    background: #fff;
    box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    max-width: 45em;
    min-width: 16em;
    max-height: 53em;
    position: relative;
    transition: box-shadow 0.15s ease;

    &-img {
        min-height: 26em;
        max-height: 29em;
        position: relative;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }
        &__wrap {
            z-index: 1;
        }
        &__in {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-title {
        display: block;
        min-height: 10em;
        max-height: 15em;
        padding: 1.7em 2em 1.5em;
        text-align: center;
        max-height: 100%;
        overflow: hidden;
        &__txt {
            display: block;
            margin-bottom: 1.2rem;
            font-size: 2.4em;
            line-height: 1.25;
        }
        &__count {
            display: block;
            font-size: 1.4em;
            line-height: 1;
            white-space: nowrap;
            color: #B5B5B5;
        }
        &:hover &__txt {
            color: var(--c-hover-base);
        }
    }
    &:hover {
        box-shadow: 0 0.3em 1em rgba(#000, 0.2);
    }

    @media screen and (max-width: 1024px) {
        & {
            &-img {
                min-height: 21.5em;
                /*max-height: 26em;*/
            }
            &-title {
                min-height: 8em;
                padding: 1.6em 1.5em 1.5em;
                &__txt {
                    margin-bottom: 0.5rem;
                    font-size: 1.8em;
                    line-height: 1.1;
                }
                &__count {
                    font-size: 1.3em;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        & {
            &-img {
                min-height: 18.5em;
            }
            &-title {
                min-height: 7em;
                padding: 1.4em 1.5em 1.5em;
                &__txt {
                    margin-bottom: 0.5rem;
                    font-size: 1.8em;
                    line-height: 1.1;
                }
                &__count {
                    font-size: 1.2em;
                }
            }
        }
    }
    @media screen and (max-width: 374px) {
        & {
            &-img {
                max-height: 26em;
            }
        }
    }
}
.card-special {
    background: #fff;
    box-shadow: 0 0.3em 0.6em rgba(#000, 0.1);
    max-width: 50em;
    min-width: 26.8em;
    min-height: 21.5em;
    max-height: 29em;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.15s ease;
    &::after {
        content: "";
        display: block;
        padding-bottom: 67%;
    }

    &-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
        &__in {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &-title {
        display: inline-block;
        height: 3.5em;
        border-radius: 1.8em;
        padding: 0 1.8em 0 2em;
        bottom: 1em;
        left: 1.5em;
        background: #FFF;
        box-shadow: 0 0.3em 0.6em rgba(#000, 0.2);
        text-align: center;
        &__txt {
            font-size: 1.6em;
            line-height: 1.25;
        }
    }
    &:hover &-title__txt {
        color: var(--c-hover-base);
    }
    &:hover {
        box-shadow: 0 0.3em 1em rgba(#000, 0.2);
    }

    @media screen and (max-width: 767px) {
        & {
            min-height: 18.5em;
            &-title {
                height: 3.2em;
                border-radius: 1.6em;
                &__txt {
                    font-size: 1.4em;
                }
            }
        }
    }
}
/*! card */
