/*! Comments */
.comment {
    &s {
        & {
            padding: 0.5em 0 2.5em 0;
        }
        &__heading {
            margin-bottom: 3em;
            position: relative;
            min-height: 3.5em;
            padding-right: 17em;
        }
        &-title {
            margin-bottom: 1em;
            &__txt {
                font-size: 2.3em;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
        }
        &__add-btn {
            max-width: 16em;
        }
        &__list {

        }

        &__pagination {
            max-width: 66.5em;
            position: relative;
            padding: 3em 0 3em;
            text-align: center;
            border-top: 1px solid var(--bg-grey);
        }
    }

    & {
        max-width: 66.5em;
        position: relative;
        margin-bottom: 3em;
    }

    &-date {
        margin-bottom: 1em;
        &__txt {
            font-size: 1.3em;
            font-weight: 600;
            line-height: 1.45;
            display: inline-block;
            padding-right: 0.5rem;
        }
    }
    &-user {
        padding-left: 5em;
        min-height: 4em;
        white-space: nowrap;
        margin-bottom: 1em;
        position: relative;
        &:after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 4em;
            width: 0;
        }
        &__avatar {
            width: 4em;
            height: 4em;
            border-radius: 100%;
            overflow: hidden;
            &-in {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                border-radius: 100%;
            }
        }
        &__name {
            display: inline-block;
            vertical-align: middle;
            white-space: normal;
            font-size: 1.9em;
            font-weight: 600;
            line-height: 1.45;
        }
    }
    &__desc {

    }
    @media (--md-599) {
        & {

            &s {
                & {
                    padding-top: 0;
                }
                &-title {
                    padding-top: 0.6em;
                    margin-bottom: 1em;
                    &__txt {
                        font-size: 1.9em;
                    }
                }
                &__heading {
                    margin-bottom: 2.5em;
                }


                &__pagination {
                    padding: 1em 0;
                }
            }
            &-user {
                &__name {
                    font-size: 1.7em;
                }
            }
        }
    }
}
/*! comments */
