/*! Cookies */
 .g-cookie {
    position: fixed;
    right: 0;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    min-height: 7em;
    background: #202020;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 0.2em 1.5em rgba(0,0,0, 0.2);
    &__in {
        position: relative;
        padding: 3em 10em 3em 0;
    }
    &__btn {
        height: 5em;
    }
    &_open {
        display: block;
        visibility: visible;
        opacity: 1;
        transform: translateY(100%);
        transition: all 0.35s ease;
    }
    &_hide {
        transform: translateY(0%);
        opacity: 0;
        visibility: hidden;
    }
    &_close {
        display: none;
    }
}
/*! cookies */
