/*! Feature */
.g-feature {
    margin: 3.5em 0 1em;
    &__title {
        margin-bottom: 5.6em;
        &-txt {
            font-size: 2.9em;
            line-height: 1.35;
            font-weight: 900;
            letter-spacing: 0.05rem;
        }
        @media (--xl) {
            & {
                margin-bottom: 4em;

                &-txt {
                    font-size: 2.5em;
                    line-height: 1.25;
                }
            }
        }
        @media (--md-767) {
            & {
                text-align: center;
                margin-bottom: 3.5em;

                &-txt {
                    font-size: 2em;
                }
            }
        }
        @media screen and (max-width: 599px) {
            & {
                margin-bottom: 2.9em;

                &-txt {
                    font-size: 1.9em;
                }
            }
        }
    }

    &-el-ver {
        display: block;
        position: relative;
        max-width: 48em;
        padding-top: 7.4em;
        text-align: center;

        &-img {
            width: 6em;
            height: 6em;
            overflow: hidden;

            &__in {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &__text {
            max-height: 100%;
            overflow: hidden;
            text-align: center;
        }

        &-title {
            &__txt {
                font-size: 1.7em;
                line-height: 1.2;
                font-weight: 600;
                b,
                strong {
                    display: block;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            & {
                padding-top: 5.5em;

                &-img {
                    width: 5em;
                    height: 5em;
                }

                &-title {
                    &__txt {
                        font-size: 1.5em;
                        line-height: 1.3;
                    }
                }
            }
        }
        @media screen and (max-width: 599px) {
            & {
                padding-top: 5em;

                &-img {
                    width: 4em;
                    height: 4em;
                }

                &-title {
                    &__txt {
                        font-size: 1.3em;
                        line-height: 1.3;
                    }
                }
            }
        }
    }

    &-el-hor {
        display: block;
        position: relative;
        max-width: 35em;
        width: 100%;
        min-height: 6.5em;
        padding: 0.2em 0 0 7.5em;
        &:after {
            height: 6.3em;
        }

        &-img {
            width: 6.5em;
            height: 6.5em;
            overflow: hidden;

            &__in {
                max-width: 100%;
                max-height: 100%;
            }
        }
        &__text {
            max-height: 100%;
            overflow: hidden;
        }
        &-title {
            &__txt {
                font-size: 1.7em;
                line-height: 1.2;
                b,
                strong {
                    display: block;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            & {
                min-height: 5em;
                padding: 0.2em 0 0 6.2em;
                &:after {
                    height: 4.8em;
                }

                &-img {
                    width: 5em;
                    height: 5em;
                }
                &-title {
                    &__txt {
                        font-size: 1.5em;
                        line-height: 1.3;
                    }
                }
            }
        }
        @media screen and (max-width: 599px) {
            & {
                min-height: 4em;
                padding: 0.2em 0 0 5.5em;
                &:after {
                    height: 3.8em;
                }

                &-img {
                    width: 4em;
                    height: 4em;
                }
                &-title {
                    &__txt {
                        font-size: 1.3em;
                        line-height: 1.3;
                    }
                }
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-right: -6em;
        &-item {
            padding: 0 6em 0 0;
            margin-bottom: 1.5em;
            max-width: 50%;
        }
        &--center {
            justify-content: center;
        }
        &--center & {
            &-item {
                max-width: 33.333%;
                text-align: left;
            }
        }
        &--x4 & {
            &-item {
                width: 25%;
                margin-bottom: 5.4em;
            }
        }
        @media (--xl) {
            & {
                &--center {
                    margin-right: -4.5em;
                }
                &--center & {
                    &-item {
                        padding-right: 4.5em;
                    }
                }
            }
        }
        @media (--lg) {
            & {
                &--center {
                    margin-right: -3em;
                }
                &--center & {
                    &-item {
                        padding-right: 3em;
                    }
                }
            }
        }
        @media (--md-767){
            & {
                &--center {
                    margin-right: -2.5em;
                }
                &--center & {
                    &-item {
                        padding-right: 2.5em;
                    }
                }
                &--x4 & {
                    &-item {
                        width: 33.333%;
                        margin-bottom: 3em;
                    }
                }
            }
        }
        @media (--md-599){
            & {
                margin-right: 0;
                &-item {
                    padding-right: 0;
                    max-width: 35em;
                }
                &--center {
                    margin-right: -2em;
                }
                &--center & {
                    &-item {
                        max-width: 50%;
                        padding-right: 2em;
                    }
                }
                &--x4 {
                    margin-right: -2em;
                }
                &--x4 & {
                    &-item {
                        padding-right: 2em;
                    }
                }
            }
        }
        @media (--sm-400){
            & {
                &--center {
                    display: inline-block;
                    justify-content: flex-start;
                    text-align: left;
                    margin-right: 0;
                }
                &--center & {
                    &-item {
                        max-width: 35em;
                        padding-right: 0;
                    }
                }
                &--x4 & {
                    &-item {
                        width: 50%;
                        margin-bottom: 3em;
                    }
                }
            }
        }
    }
    &--bg {
        margin-bottom: 6.5em;
        padding: 6.5em 0 5em;
        background: rgba(#458FF6, 0.1);

        @media (--xl) {
            & {
                margin-bottom: 5em;
                padding: 3.9em 0 2.4em;
            }
        }

        @media (--md-599){
            & {
                margin-bottom: 3.5em;
                padding: 2.9em 0 1em;
                text-align: center;
            }
        }
        @media (--sm-400){
            & {
                padding: 2.9em 0 1.5em;
            }
        }
    }
}

/*! feature */
