/*! Footer */

.footer {
    width: 100%;
    margin-top: auto;
    color: var(--c-white);
    &__in {
        clear: fix;
    }
    &__top {
        padding: 3.3em 0 0.6em;
        background: linear-gradient(#67C3F3, #5A98F2);
    }
    &__bottom {
        color: #F4F4F6;
        background: #458FF6;
        &-all{
            padding: 2em 0;
            clear: fix;
        }
    }
    &__bottom & {
        &__left {
            width: 61%;
        }
        &__right {
            width: 39%;
        }
    }
    &__left {
        float: left;
        width: 50%;
    }
    &__right {
        float: right;
        width: 50%;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        padding-top: 0.1em;
        margin-left: -0.4em;
        &__gr {
            float: left;
            min-width: 8em;
            max-width: 42em;
            padding-left: 2em;
            margin-bottom: 2em;
        }
        &-link {
            display: block;
            padding: 0.95em 0;
            color: inherit;
            &__txt {
                font-size: 1.7em;
                font-weight: 900;
                line-height: 1.25;
                text-transform: uppercase;
            }
            &:hover,
            &.is-active {
                color: var(--c-hover-base);
            }
            &.is-active {
                text-decoration: underline;
            }
            &--mob{
                display: none;
            }
        }
        &-dop{
            padding-top: 0.2em;
            &-link {
                display: inline-block;
                width: 100%;
                padding: 0.75em 0;
                color: inherit;
                -moz-column-break-inside: avoid;
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid-column;
                -webkit-column-fill: auto;
                -moz-column-fill: auto;
                column-fill: auto;
                &__txt {
                    font-size: 1.5em;
                    font-weight: 600;
                    line-height: 1.35;
                }

                &:hover,
                &.is-active {
                    color: var(--c-hover-base);
                }
                &.is-active {
                    text-decoration: underline;
                }
            }
        }
    }

    &-gr {
        &__cont {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            clear: fix;
            padding-top: 0.4em;
        }
        & {
            float: left;
            width: 50%;
            max-width: 21em;
            min-width: 19em;
            padding-right: 2em;
            margin-bottom: 2em;
            &--all{
                padding-top: 0.6em;
            }
        }
        &__in{
            margin-bottom: 2.6em;
        }
        &__title {
            margin-bottom: 1.2em;
            &-txt {
                font-size: 1.5em;
                line-height: 1.4;
            }
        }
        &__list {

        }
    }

    &-info {
        & {
            /*margin-top: 1.2em;*/
        }
        &-el {
            display: block;
            padding-left: 3.4em;
            min-height: 3.4em;
            margin-bottom: 0.6em;
            position: relative;
            white-space: nowrap;
            color: inherit;
            fill: #F4F4F6;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 3.4em;
                width: 0;
            }
            &__in {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
            &__ico {
                &-wrap {
                    top: 0.5em;
                    width: 2em;
                    height: 2em;
                }
                & {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            &__txt {
                display: block;
                padding: 0.5rem 0;
                font-size: 1.7em;
                line-height: 1.2;
                color: inherit;
                & a {
                    display: inline-block;
                    color: inherit;
                }
            }
        }
    }

    &-social {
        margin: 0 -0.1em 0 -0.3em;
        &__item {
            height: 4em;
            display: inline-block;
            margin-right: 0.1em;
            transition: opacity 0.15s ease;

            &:hover {
                opacity: 0.6;
            }
        }
        &__ico {
            max-height: 100%;
        }
    }

    &-paysystem {
        margin-right: -0.7em;
        padding-top: 0.4em;
        &__item {
            height: 3.1em;
            display: inline-block;
            vertical-align: top;
            margin-right: 0.7em;
        }
        &__ico {
            max-height: 100%;
        }
    }

    &__text{
        padding: 1.9em 0 0.9em;
        border-bottom: 1px solid rgba(#fff, 0.4);
    }

    &-copyright {
        clear: fix;
        &__block{
            position: relative;
            padding-left: 3.6em;
            float: left;
            margin-right: 4.7em;
        }
        &__ico {
            width: 2em;
            height: 2em;
        }
        &__txt {
            display: block;
            font-size: 1.5em;
            line-height: 1.3;
        }
    }
    &-license {
        overflow: hidden;
        &__txt {
            display: block;
            font-size: 1.5em;
            line-height: 1.3;
        }
    }
    &-politics {
        float: right;
        padding-left: 4.6em;
        &__link {
            display: inline-block;
            height: 3em;
            max-width: 16em;
            text-align: right;
            color: inherit;
            &-txt {
                font-size: 1.5em;
                line-height: 1.3;
                text-decoration: underline;
            }
            &:hover &-txt{
                text-decoration: none;
            }
        }
    }

    &-dev {
        float: left;
        &__item {
            float: left;
            height: 100%;
        }
        &__link {
            display: inline-block;
            height: 3em;
            margin-left: 4.8em;
            color: inherit;
            opacity: 0.4;
            &-txt {
                font-size: 1.5em;
                line-height: 1.3;
            }
            &:hover {
                opacity: 1;
            }
        }
    }

    @media (--xl-1366) {
        & {
            &__top & {
                &__left {
                    width: 40%;
                }
                &__right {
                    width: 60%;
                }
            }

            &-gr {
                &__cont {
                    display: block;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                }
                & {
                    float: none;
                    width: 100%;
                    max-width: 100%;
                    padding-right: 0;
                    margin-bottom: 1em;
                    &--all{
                        padding-top: 0.4em;
                    }
                }
                &__title {
                    margin-bottom: 1em;
                }
            }
        }
    }
    @media (--xl) {
        & {

            &__top & {
                &__left {
                    width: 33%;
                }
                &__right {
                    width: 67%;
                }
            }

            &-copyright {
                &__block{
                    margin-right: 4.5em;
                }
                &__txt {
                    font-size: 1.4em;
                    line-height: 1.3;
                }
            }
            &-license {
                &__txt {
                    font-size: 1.4em;
                }
            }
            &-politics {
                padding-left: 3.6em;
                &__link {
                    &-txt {
                        font-size: 1.4em;
                    }
                }
            }
            &-dev {
                float: left;
                &__item {
                    float: left;
                    height: 100%;
                }
                &__link {
                    height: 3em;
                    margin-left: 2em;
                    &-txt {
                        font-size: 1.4em;
                        line-height: 1.3;
                    }
                }
            }
        }
    }
    @media (--lg1024) {
        & {
            &__top {
                padding: 2.9em 0 0.3em;
            }
            &-nav {
                padding-top: 0.1em;
                margin-left: 0;
                &__gr {
                    max-width: 40em;
                }
                &-link {
                    padding: 0.85em 0;
                    &__txt {
                        font-size: 1.5em;
                    }
                }
                &-dop{
                    &-link {
                        padding: 0.7em 0;
                        &__txt {
                            font-size: 1.4em;
                        }
                    }
                }
            }

            &-gr {
                &__cont {
                    padding-top: 0.2em;
                }
                & {
                    &--all{
                        padding-top: 0.4em;
                    }
                }
                &__title {
                    margin-bottom: 0.8em;
                    &-txt {
                        font-size: 1.4em;
                        line-height: 1.4;
                    }
                }
                &__list {

                }
            }

            &-info {
                & {
                    /*margin-top: 1.2em;*/
                }
                &-el {
                    padding-left: 2.7em;
                    min-height: 3.4em;
                    margin-bottom: 0.1em;
                    &:after {
                        height: 3.4em;
                    }
                    &__txt {
                        font-size: 1.5em;
                        line-height: 1.3;
                    }
                }
            }

            &-social {
                margin: 0 -0.1em 0 -0.3em;
                &__item {
                    height: 4em;
                    display: inline-block;
                    margin-right: 0.1em;
                    transition: opacity 0.15s ease;

                    &:hover {
                        opacity: 0.6;
                    }
                }
                &__ico {
                    max-height: 100%;
                }
            }

            &-paysystem {
                margin-right: -0.7em;
                padding-top: 0.4em;
                &__item {
                    height: 3.1em;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 0.7em;
                }
                &__ico {
                    max-height: 100%;
                }
            }

            &__text{
                .g-editor{
                    font-size: 1.4em;
                    line-height: 1.4;
                }
            }
        }
    }
    @media (--lg) {
        & {

            &-nav {
                &__gr {
                    max-width: 35em;
                }
            }
            &__bottom & {
                &__left {
                    width: 50%;
                }
                &__right {
                    width: 50%;
                }
            }

            &-copyright {
                &__block{
                    padding-left: 3em;
                    float: none;
                    margin-right: 0;
                    margin-bottom: 0.3em;
                }
            }
            &-license {
                padding-left: 3em;
            }
            &-politics {
                padding-left: 2.8em;
            }
        }
    }
    @media (--lg-800) {
        & {

            &-nav {
                &__gr {
                    max-width: 32em;
                }
            }
        }
    }
    @media (--md-767) {
        & {
            &__top & {
                &__left {
                    width: 50%;
                }
                &__right {
                    width: 50%;
                }
            }
            &-nav{
                &__gr{
                    max-width: 100%;
                    &--desktop{
                        display: none;
                    }
                }
                &-link{
                    &--mob{
                        display: block;
                    }
                }
            }

            &__text{
                .g-editor{
                    font-size: 1.3em;
                    line-height: 1.4;
                }
            }

            &__bottom & {
                &__left {
                    float: none;
                    width: 100%;
                    margin-bottom: 0.2em;
                }
                &__right {
                    float: none;
                    width: 100%;
                }
            }
            &-copyright__block {
                padding-top: 0.4em;
                margin-bottom: 0.9em;
            }
            &-politics {
                float: none;
                padding-left: 3em;
                &__link {
                    max-width: 100%;
                    text-align: left;
                }
            }
            &-dev {
                float: none;
                padding-left: 3em;
                &__link {
                    margin-right: 2em;
                    margin-left: 0;
                    height: 2.5em;
                }
            }
        }
    }
    @media (--md-599) {
        & {
            &__top & {
                &__left {
                    font: none;
                    width: 100%;
                }
                &__right {
                    font: none;
                    width: 100%;
                }
            }
            &-nav{
                &__gr{
                    padding-left: 0;
                }
            }
            &__bottom-all {
                padding-bottom: 1em;
            }
            &-copyright {
                &__txt {
                    font-size: 1.3em;
                    br{
                        display: none;
                    }
                }
            }
            &-license {
                &__txt {
                    font-size: 1.3em;
                }
            }
            &-politics {
                &__link {
                    &-txt {
                        font-size: 1.3em;
                    }
                }
            }
            &-dev {
                &__link {
                    &-txt {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}
/*! footer */
