/*! Header */
.header {
    & {
        clear: fix;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        padding-bottom: 4.6em;
        /*z-index: var(--z-header);*/
    }

    &__top {
        height: 4em;
        background: #F4F4F6;
        &-in {
            position: relative;
            height: 100%;
        }
        &-nav {
            height: 100%;
            float: right;
            margin-left: -2.5em;
        }
    }
    &__top &__right{
        width: 100%;
        padding-left: 29em;
        margin-left: -29em;
    }

    &__mid {
        height: 11.6em;
        border-bottom: 6px solid #f4f4f6;
        position: relative;
        background: #fff;
        z-index: 11;
        &-in {
            position: relative;
            padding: 0 0 0 28em;
            margin-right: -0.3em;
            height: 100%;
        }
    }

    &__bottom {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        height: 4.6em;
        border: 1px solid #F4F4F6;
        border-radius: 0 0 2.2em 0;
        background: #fff;
        box-shadow: 1em 4em 5em rgba(#E5E9F6, 0.4);
        &-in {
            display: flex;
            position: relative;
            justify-content: center;
            height: 100%;
        }

        &.is-fixed {
            position: fixed;
            top: 0;
            bottom: auto;
            z-index: var(--z-header);
        }
        &-wrap {
            height: 100%;
            position: relative;
            z-index: 1;
            overflow: hidden;
        }
    }

    &__left {
        float: left;
        height: 100%;
    }

    &__right {
        float: right;
        height: 100%;
    }

    &-nav-top {
        float: left;
        height: 100%;
        position: relative;
        padding: 0.15em 0 0 0;
        margin-left: 2.5em;
        color: inherit;
        &__txt {
            font-size: 1.4em;
            display: inline-block;
            &--brd {
                border-bottom: 1px solid currentColor;
            }
        }
        &:hover {
            color: var(--c-link);
        }
        button&:hover,
        a[href ^= "mailto"]&:hover {
            color: var(--c-hover-dop);
        }
        &:hover &__txt--brd {
            border-bottom-color: transparent;
        }
        &__license {
            float: left;
            height: 100%;
            max-width: 29em;
            overflow: hidden;
            position: relative;
        }
        &__city,
        &--text:hover {
            color: var(--c-body);
        }
        &--mail,
        &__choose {
            color: #458FF6;
        }
        &--mail {
            width: 14.5rem;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &--mail &__txt {
            border-bottom-color: transparent;
        }
        &--mail:hover &__txt {
            border-bottom-color: currentColor;
        }
        &__choose {
            display: inline-block;
            border-bottom: 1px solid transparent;
        }
        &--city {
            min-width: 25em;
            text-align: center;
            margin-left: 10.5%;
        }
        &--city &__txt {
        }
        &--city:hover &__choose {
            border-bottom-color: currentColor;
        }
    }

    &-logo {
        display: block;
        height: 100%;
        max-width: 26em;
        padding: 1.2em 0 1em;
        overflow: hidden;
        &__ico {
            max-width: 100%;
            max-height: 100%;
            &--mob {
                display: none;
            }
        }
    }

    &-burger {
        display: none;
        z-index: 1000;
        width: 4.6em;
        height: 100%;
        &-ico {
            width: 1.9em;
            height: 1.4em;
            right: 0.4em;
            &__line {
                height: 0.2em;
                border-radius: 0.1em;
                min-height: 1px;
                background: #458FF6;
                transition: all 0.25s ease;
            }
        }
        .nav-open & {
            & {
                &-ico {
                    &__line {
                        background: var(--c-hover-base);
                        &.g-abs_c {
                            opacity: 0;
                        }
                        &.g-abs_t {
                            transform: rotate(45deg) translate(0.4em, 0.45em);
                        }
                        &.g-abs_b {
                            transform: rotate(-45deg) translate(0.4em, -0.45em);
                        }
                    }
                }
            }
        }
    }

    &__search {
        position: absolute;
        top: 0.2em;
        right: -0.9em;
        &-in {
        }

        .g-input__search {
            width: 14.5rem;
            opacity: 0;
            border-color: transparent;
            background: transparent;
        }
        .g-input__search:focus {
            width: 34.5rem;
            opacity: 1;
            border-color: #c7c7cf;
            background: #fff;
            box-shadow: 0 0.2rem 0.5rem rgba(#000, 0.2);
        }
    }

    &-search-btn {
        display: none;
    }

    &-cart {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        padding-top: 0.3em;
        margin-left: 8.5em;
        max-width: 15.8em;
        &__in {
            min-height: 5.8em;
            position: relative;
            padding: 0.3em 0 0 4em;
        }
        &__ico {
            width: 3.5em;
            height: 3.5em;
        }
        &__ico-mob {
            display: none;
            width: 2.5em;
            height: 2.5em;
        }
        &-title {
            display: block;
            font-size: 1.6em;
            font-weight: 900;
            letter-spacing: 0.05rem;
            color: var(--c-body);
        }
        &-num {
            display: inline-block;
            margin-top: 0.6em;
            height: 2.1em;
            border-radius: 1em;
            padding: 0.15em 0.5em 0 0.8em;
            overflow: hidden;
            color: #F84A92;
            background: rgba(#458FF6, 0.2);
            &__txt {
                font-size: 1.4em;
                font-weight: 600;
                line-height: 1.1;
            }
        }
        &:hover &-title {
            color: var(--c-hover-base);
        }
    }

    &-info {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        padding-top: 0.4em;
        margin-left: 7.5em;
        &:first-child,
        &:first-of-type {
            margin-left: 0;
        }
        &__in {
            min-height: 5.8em
        }
        &-choose {
            display: inline-block;
            font-size: 1.4em;
            line-height: 1;
            margin-bottom: 0.3rem;
            border-bottom: 1px solid currentColor;
            cursor: pointer;
            &:hover{
                border-color: transparent;
            }
        }
        &-title {
            display: block;
            font-size: 1.4em;
            font-weight: 600;
            color: #7D7987;
            margin-bottom: 0.3rem;
        }
        &-city {
            &__ico  {
                display: none;
            }
        }
        &-phone {
            display: block;
            padding: 0.2rem 0;
            font-size: 1.6em;
            font-weight: 900;
            letter-spacing: 0.05rem;
            color: var(--c-body);
            &__ico  {
                display: none;
            }
        }
        &-text {
            display: block;
            padding: 0.2rem 0 0.1rem;
            font-size: 1.4em;
            line-height: 1.2;
            font-weight: 600;
        }
        &-link {
            display: block;
            width: 100%;
            padding: 0.4rem 0;
            font-size: 1.4em;
            font-weight: 600;
            color: var(--c-blue);
            &__ico  {
                display: none;
            }
            &:hover {
                color: var(--c-btn-base-hover);
                text-decoration: underline;
            }
        }
        &--city {
            max-width: 23.3em;
            text-align: center;
        }
        &--schedule {
            max-width: 16.4em;
            text-align: center;
        }
        &--phone {
            max-width: 15.2em;
        }
        &--mob{
            display: none;
        }
    }

    &-nav {
        flex-grow: 1;
        height: 100%;
        overflow: hidden;
        padding: 0 5em 0 0;
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;
            border-bottom: 1px solid #F9F4F4;
        }

        &__in {
            height: 100%;
            clear: fix;
            position: relative;
        }

        &__list {
            height: 100%;
            overflow: hidden;
            display: flex;
            justify-content: center;
        }
        &-item {
            float: left;
            height: 100%;
            &__in {
                white-space: nowrap;
            }
            &__link {
                display: block;
                overflow: hidden;
                padding: 0 0.9em;
                position: relative;
                text-align: center;
                height: 100%;
                color: inherit;
                transition: color 0.15s ease;
                &:before {
                    content: "";
                    display: block;
                    height: 0.3em;
                    border-radius: 0.2em;
                    min-height: 1px;
                    background: #fd739b;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    width: 80%;
                    margin: auto;
                    transition: all 0.15s ease-in-out;
                }

                &-txt {
                    font-size: 1.6em;
                    font-weight: 900;
                    text-transform: uppercase;
                    letter-spacing: 0.05rem;
                    line-height: 1.3;
                }
                &:hover {
                    color: #fd739b;
                }
            }
            &.is-active &__link:before,
            & &__link:hover:before {
                width: 1.9em;
                transform: translateY(-0.8em);
            }
        }
    }

    @media screen and (max-width: 1400px) {
        & {
            &__top &__right{
                width: auto;
            }
            &__top-nav{
                min-width: 57em;
                margin-left: 5.5em;
            }
            &-nav-top {
                &--city {
                    margin-left: 0;
                }
            }
            &-cart {
                margin-left: 6.5em;
            }

            &-info {
                margin-left: 5em;
                &:first-child,
                &:first-of-type {
                    margin-left: 0;
                }
            }
            &-nav {
                padding-right: 8em;
                margin: 0 0 0 -0.9em;
            }
        }
    }
    @media screen and (max-width: 1280px) {
        & {
            &__top-nav{
                margin-left: 2em;
            }
            &__mid-in {
                display: flex;
                justify-content: flex-end;
                padding-left: 24em;
            }
            &-logo {
                max-width: 22em;
            }
            &-cart {
                margin-left: 5em;
            }

            &-info {
                margin-left: 4em;
                &:first-child,
                &:first-of-type {
                    margin-left: 0;
                }
            }
            &-nav {
                padding-right: 12.5em;
                &-item {
                    &__link {

                        &-txt {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
    @media (--xl) {
        & {
            &__top {
                display: none;
            }
            &__mid {
                height: 8.6em;
                border-bottom-width: 5px;
            }
            &__mid-in {
                padding-left: 23em;
            }
            &-logo {
                max-width: 20.9em;
            }
            &-cart {
                max-width: 14.4em;
                margin-left: 4.5em;
                &-title {
                    font-size: 1.4em;
                }
                &-num {
                    margin-top: 0.7em;
                }
            }

            &-info {
                margin-left: 4.5em;
                &:first-child,
                &:first-of-type {
                    margin-left: 0;
                }
               /* &__in {
                    min-height: 5.8em
                }*/
                &-title,
                &--desktop {
                    display: none;
                }
                &--mob{
                    display: inline-block;
                }
                &-choose {
                    font-size: 1.3em;
                    line-height: 0.85;
                    margin-top: 0.4em;
                    margin-bottom: 0.3rem;
                }
                &-phone {
                    padding: 0.3rem 0;
                    font-size: 1.4em;
                    letter-spacing: 0.05rem;
                }
                &-text {
                    padding: 0.3rem 0 0.2rem;
                    font-size: 1.2em;
                }
                &-link {
                    padding: 0.4rem 0;
                    font-size: 1.3em;
                    font-weight: 500;
                    text-decoration: underline;
                }
                &-city {
                    &__txt{
                        padding: 0.4rem 0 0.2rem;
                        font-size: 1.3em;
                        font-weight: 600;
                    }
                    &__in {
                        color: var(--c-body);
                        margin-right: 0.6rem;
                    }
                    &__choose {
                        color: #458FF6;
                    }
                }
                &-btn-link {
                    font-size: 1.3em;
                    line-height: 0.85;
                    margin-top: 0.4em;
                    margin-bottom: 0.3rem;
                    color: #FD749B;
                }
                &--city-mob {
                    max-width: 21em;
                }
                &--mail {
                    max-width: 13em;
                }
                &--phone {
                    max-width: 14.5em;
                }
            }
            &-nav {
                padding-right: 5em;
                &-item {
                    &__link {
                        &:before {
                            height: 0.2em;
                        }

                        &-txt {
                            font-size: 1.3em;
                            letter-spacing: 0.05rem;
                        }
                    }
                }
            }
            &__search {

                .g-input__search {
                    width: 5rem;
                }
                .g-search-field__label {
                    text-indent: -1000em;
                    color: transparent;
                }
            }
        }
    }
    @media screen and (max-width: 1150px) {
        & {

            &-cart {
                margin-left: 3em;
            }

            &-info {
                margin-left: 2.5em;
                &:first-child,
                &:first-of-type {
                    margin-left: 0;
                }
            }
        }
    }
    @media screen and (max-width: 1023px) {
        & {

            &-info {
                &-city {
                    &__choose {
                        display: none;
                    }
                }
                &--city-mob {
                    max-width: 11.5em;
                }
                &--mail {
                    max-width: 13em;
                }
                &--phone {
                    max-width: 14.5em;
                }
            }

            &-cart {
               max-width: 11.8em;
                &-title {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 992px) {
        & {
            &__mid-in {
                padding-left: 14em;
            }
            &-logo {
                max-width: 12em;
                &__ico{
                    display: none;
                    &--mob{
                        display: block;
                        width: 12em;
                    }
                }
            }

            &-cart {
                margin-left: 1.6em;
                &-num {
                    height: 2em;
                    padding: 0.15em 0.5em 0 0.8em;
                    &__txt {
                        font-size: 1.3em;
                        font-weight: 500;
                    }
                }
            }

            &-info {
                margin-left: 1.8em;
                &:first-child,
                &:first-of-type {
                    margin-left: 0;
                }
            }

            &-nav {
                padding-right: 2em;
                margin: 0 -0.8em 0 -0.7em;
                &__list {
                    justify-content: flex-start;
                }
                &-item {
                    &__link {
                        padding: 0 0.7em;

                        &-txt {
                            font-size: 1.1em;
                            letter-spacing: 0.02rem;
                        }
                    }
                }
            }
            &__search {
                top: 0.35em;
                right: -2.3em;

                .g-input__search {
                    font-size: 1.3em;
                    height: 3.5rem;
                    width: 3.5rem;
                    padding-left: 0;
                }
                .g-input__search:focus {
                    width: 24.5rem;
                    padding-left: 1.9rem;
                }
                .g-search-field-btn__ico {
                    width: 2.5em;
                    height: 2.5em;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        & {
            height: 4.5em;
            z-index: var(--z-header);
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            border: 1px solid #F4F4F6;
            border-radius: 0 0 1.2em 0;
            background: #fff;
            box-shadow: 0.4em 0.8em 1em rgba(#E5E9F6, 0.4);
            padding-bottom: 0;

            &__bottom,
            &-nav {
                display: none;
            }
            & .g-content {
                padding: 0;
            }
            &__mid {
                height: 100%;
                border-bottom: 0 none;
                background: none;
                &-in {
                    margin-right: 0;
                    padding: 0 4.6em 0 10em;
                }
            }

            &-burger {
                display: block;
            }

            &-logo {
                max-width: 8.9em;
                padding: 0.5em 0 0.5em 1.5em;
                &__ico {
                    &--mob {
                        width: auto;
                    }
                }
            }
            &-info {
                float: left;
                padding: 0;
                margin: 0;
                width: 5em;

                &__title,
                &-phone,
                &-phone__txt,
                &-link__txt,
                &-city__txt,
                &-text,
                &-choose,
                &-btn-link,
                &--desktop  {
                    display: none;
                }
                &__in {
                    display: block;
                    height: 100%;
                    min-height: inherit;
                }
                &-phone__ico,
                &-link__ico,
                &-city__ico  {
                    display: block;
                    width: 2.5rem;
                    height: 2.5rem;
                }
                &-phone__ico,
                &-link__ico {
                    bottom: 0.15rem;
                }
                &-phone--main,
                &-link,
                &-city {
                    display: block;
                    height: 100%;
                    position: relative;
                    fill: #458FF6;
                }
            }
            &-search-btn {
                display: block;
                float: left;
                height: 100%;
                width: 5em;
                padding-top: 0.2em;
                overflow: hidden;
                fill: #7D746E;
                position: relative;

                &__ico {
                    width: 2.5em;
                    height: 2.5em;
                }
            }
            &__search {
                display: none;
            }

            &-cart {
                float: left;
                margin-left: 0;
                padding-top: 0;
                &__in {
                    display: block;
                    min-height: 100%;
                    padding: 0;
                    width: 5.4em;
                }
                &__ico {
                    display: none;
                }
                &__ico-mob {
                    display: block;
                    left: 0.3em;
                }
                &-num {
                    position: absolute;
                    bottom: 0.8em;
                    left: 50%;
                    margin-left: 0.3em;
                    z-index: 1;
                    height: 1.1em;
                    border-radius: 0.5em;
                    background: #FD749B;
                    padding: 0.1em 0.2em 0 0.5em;
                    color: #fff;
                    &__txt {
                        font-size: 1em;
                    }
                    &__name {
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {

        }
    }
    @media screen and (max-width: 420px) {
        & {

            &-info,
            &-search-btn {
                width: 4.5em;
            }
            &-cart {
                &__in {
                    width: 4.8em;
                }
            }
        }
    }
    @media screen and (max-width: 400px) {
        & {

            &-info,
            &-search-btn {
                width: 4.3em;
            }
            &-cart {
                &__in {
                    width: 4.6em;
                }
            }
        }
    }
    @media screen and (max-width: 370px) {
        & {
            &-search-btn {
                display: none;
            }
        }
    }
    @media screen and (max-width: 340px) {
        & {

            &-info,
            &-search-btn {
                width: 4em;
            }
            &-cart {
                &__in {
                    width: 4.3em;
                }
            }
        }
    }
    @media screen and (max-width: 319px) {
        & {

            &-info {
                &--mob,
                &-link,
                &-city {
                    display: none;
                }
            }
        }
    }
}

/*! header */
