/*! Base */

html {

    &.is-lock,
    &.is-lock body {
        overflow: hidden;

        .g-overlay {
            opacity: 0.35;
            visibility: visible;
            pointer-events: auto;
        }
    }
}

.g-overlay {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    min-height: 100vh;
    z-index: var(--z-overlay);
    background: #161821;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.35s ease-in-out;
}

body {
    color: var(--c-body);
    /*background: #E5E5E5;*/
    -webkit-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    height: 100%;
}

.g-body__wrap {
    display: flex;
    flex-wrap: wrap;
    min-width: 32em;
    min-height: 100%;
    min-height: 100vh;
    padding-top: 3.5em;
    /*padding-top: var(--header-height);*/
    position: relative;
    overflow: hidden;
    &-in {
        width: 100%;
    }
    /*@media (--lg1024) {
        & {
            padding-top: 2.5em;
        }
    }*/
    @media (--md-767) {
        & {
            padding-top: 6em;
        }
    }
}
.g-body-diz-img {
    width: 111.9em;
    height: 96.8em;
    max-width: 100%;
    max-height: 100%;
    &--left{
        top: 20%;
        left: 50%;
        transform: translateX(-100%);
    }
    &--right{
        top: 60%;
        left: 100%;
        transform: translateX(-50%) rotate(180deg);
    }
}

.g-content {
    max-width: var(--content-w);
    margin: 0 auto;
    box-sizing: padding-box;
    padding: 0 var(--content-p);

    &_large {
        max-width: var(--content-w-large);
    }

    &_h {
        height: 100%;
    }

    & & {
        padding: 0;
        max-width: var(--content-w);
    }
    @media (--lg)  {
        & {
            padding: 0 var(--content-p-med);
        }
    }
    @media (--md-767) {
        & {
            padding: 0 var(--content-p-sm);
        }
    }
}
.g-block {
    margin-top: 1.5em;
    margin-bottom: 6.5em;
    @media (--xl) {
        & {
            margin-bottom: 6em;
        }
    }
    @media (--lg) {
        & {
            margin-bottom: 5em;
        }
    }
    @media (--md-767) {
        & {
            margin-bottom: 4em;
        }
    }
    @media (--md-599) {
        & {
            margin-bottom: 3em;
        }
    }
}
.g-heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    &__text {
        flex-grow: 1;
        &:after {
            content: "";
            display: block;
            height: 1.3em;
            background: #458FF6;
            opacity: 0.4;
            margin-top: -1.7em;
            position: relative;
            z-index: -1;
        }
    }
    &__txt {
        font-size: 3.7em;
        line-height: 1.25;
        font-weight: 900;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    &__link {
        color: inherit;
        text-decoration: none;
        &:hover{
            color: #F84A92;
        }
    }
    &__link-dop {
        display: block;
        padding: 0.6em 0;
        margin: auto 0 0 1.2em;
        position: relative;
        bottom: -1em;
        white-space: nowrap;
        color: inherit;
        text-decoration: none;
        color: #F84A92;
        &:hover{
            text-decoration: underline;
        }
    }
    &__txt-dop {
        font-size: 1.4em;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }
    &--mb {
        margin-bottom: 4.3em;
    }

    @media (--xl) {
        & {
            &__text {
                &:after {
                    height: 1.1em;
                    margin-top: -1.4em;
                }
            }
            &__txt {
                font-size: 2.9em;
            }
            &__txt-dop {
                font-size: 1.3em;
                line-height: 1.3;
            }
            &__link-dop {
                top: 1em;
            }
            &--mb {
                margin-bottom: 3.3em;
            }
        }
    }
    @media (--lg) {
        & {
            &__txt {
                font-size: 2.7em;
            }
            &--mb {
                margin-bottom: 2.8em;
            }
        }
    }
    @media (--md-767) {
        & {
            &__txt {
                font-size: 2.2em;
                line-height: 1.25;
                letter-spacing: 0;
            }
            &--mb {
                margin-bottom: 2.3em;
            }
        }
    }
    @media (--md-599) {
        & {
            &__text {
                &:after {
                    height: 1em;
                    margin-top: -1.2em;
                }
            }
            &__txt {
                font-size: 2em;
                line-height: 1.3;
            }
            &__link-dop {
                top: 1.1em;
            }
            &--mb {
                margin-bottom: 2em;
            }
        }
    }
}

.g-numbers {
    display: flex;
    justify-content: space-between;
    &__item {
        padding: 0 1em;
        text-align: center;
    }
    &__val {
        font-size: 6.7em;
        font-weight: 900;
        line-height: 1;
        white-space: nowrap;
        background: linear-gradient(90deg, #458FF6, #FD749B);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #458FF6;
        display: table;
        margin: 0 auto 0.4rem;
    }
    &__title {
        font-size: 1.9em;
        font-weight: 900;
        line-height: 1.3;
        letter-spacing: 0.05rem;
        text-transform: uppercase;
    }

    &--mb {
        margin-bottom: 5em;
    }
    @media screen and (max-width: 1280px) {
        & {
            &__val {
                font-size: 5.9em;
                margin: 0 auto 0.4rem;
            }
            &__title {
                font-size: 1.7em;
            }
        }
    }
    @media (--lg1024) {
        & {
            &__val {
                font-size: 5.4em;
            }
            &__title {
                font-size: 1.7em;
            }
        }
    }
    @media screen and (max-width: 768px) {
        & {
            &__val {
                font-size: 4.8em;
                margin: 0 auto 0.4rem;
            }
            &__title {
                font-size: 1.3em;
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {
            flex-wrap: wrap;
            &__item {
                width: 50%;
                margin-bottom: 1.5em;
                &--one {
                    width: auto;
                    margin-bottom: 0;
                    padding-left: 0;
                }
            }
            &--mb {
                margin-bottom: 3.5em;
            }
        }
    }
}

.g-collaps {
    & {
        margin-bottom: 3em;
    }
    &-gr {
        margin-bottom: 2em;
        &-title {
            display: block;
            width: 100%;
            position: relative;
            padding: 0.9em 4em 0.8em 2em;
            min-height: 4.8em;
            position: relative;
            text-align: left;
            fill: #458FF6;
            &__ico {
                width: 0.7em;
                height: 0.9em;
                right: 2em;
                bottom: 0.1em;
                transform: rotate(90deg);
            }
            &__txt {
                font-size: 1.7em;
                line-height: 1.25;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
            &[aria-expanded = true] &__ico {
                bottom: 0.1em;
                transform: rotate(-90deg);
            }
        }
        &__list {
            border-top: 1px solid #F4F4F6;
            padding: 1.8em 2em 0.1em;
        }
    }

    @media (--md-599) {

        &-gr {
            &-title {
                padding: 0.9em 3em 0.8em 1.5em;
                &__ico {
                    width: 0.5em;
                    height: 0.7em;
                    right: 1.5em;
                }
                &__txt {
                    font-size: 1.5em;
                }
            }
            &__list {
                padding: 1.5em 1.5em 0.1em;
            }
        }
    }
}

.g-price {
    &__txt {
        font-size: 2.3em;
        font-weight: 900;
        white-space: nowrap;
        &--sm {
            font-size: 1.9em;
            font-weight: 700;
        }
        &--big {
            font-size: 2.9em;
        }
        &--blue {
            color: #458FF6;
        }
    }
    &__old {
        font-size: 0.82em;
        font-weight: normal;
        color: #7D7987;
        text-decoration: line-through;
        margin-right: 1rem;
    }
    &__new {
        color: #F84A92;
    }
}

.banner{
    &-hor {
        &-el {
            max-width: 31em;
            text-align: right;
            position: relative;
            padding-bottom: 4em;
            &__date,
            &-title {
                display: block;
                font-weight: 900;
                letter-spacing: 0.05rem;
            }
            &-title:hover {
                color: var(--c-hover-base);
            }
            &-price {
                margin: 0.3em 0 1em;
            }
            &-btn {
                position: absolute;
                right: 1.5em;
                left: 1.5em;
                bottom: 0.6em;
                text-align: center;
            }
            &--sm {
                height: 39em;
                padding: 1.5em 1.5em 7em;
                margin-bottom: 3.5em;
            }
            &--sm & {
                &__date {
                    font-size: 1.2em;
                    line-height: 1.2;
                    font-weight: 500;
                }
                &-title {
                    padding: 0.7em 0;
                    &__txt {
                        font-size: 1.7em;
                        line-height: 1.2;
                    }
                }
            }
            &--big {
                height: 62em;
                padding: 2em;
                margin-bottom: 3.5em;
            }
            &--big & {
                &__date {
                    font-size: 1.6em;
                    line-height: 1.3;
                }
                &-title {
                    &__txt {
                        font-size: 2.9em;
                        line-height: 1.25;
                    }
                }
            }
        }
    }
}

.g-tabs {
    margin-bottom: 5em;

    @media (--md-599) {
        & {
            margin-bottom: 3.5em;
        }
    }
}

.g-text {
    margin: 6.5em 0;
    &__title {
        margin-bottom: 1.6em;
        &-txt {
            font-size: 2.9em;
            line-height: 1.35;
            font-weight: 900;
            letter-spacing: 0.05rem;
        }
        &-ico {
            width: 8em;
            height: 8em;
            position: absolute;
            top: 0;
            left: 0;
        }
        &--ico {
            display: flex;
            align-items: center;
            position: relative;
            padding-left: 12em;
            min-height: 8em;
        }
    }
    &__desc {
        font-weight: 500;
    }

    @media (--xl) {
        & {
            margin: 5em 0;
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 2.5em;
                    line-height: 1.25;
                }

                &-ico {
                    width: 6.5em;
                    height: 6.5em;
                }
                &--ico {
                    padding-left: 8.5em;
                    min-height: 6.5em;
                }
            }
        }
    }
    @media (--md-767) {
        & {
            margin: 4.5em 0;
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                    font-weight: 900;
                    letter-spacing: 0.05rem;
                }
                &-ico {
                    width: 5.5em;
                    height: 5.5em;
                }
                &--ico {
                    padding-left: 7em;
                    min-height: 5.5em;
                }
            }
        }
    }
    @media (--md-599) {
        & {
            margin: 4em 0;
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 1.9em;
                }
                &-ico {
                    width: 5em;
                    height: 5em;
                }
                &--ico {
                    padding-left: 6.5em;
                    min-height: 5em;
                }
            }
        }
    }
}

.g-faq-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding: 2.5em 4.5em 2.5em 14.5em;
    overflow: hidden;
    min-height: 15em;
    max-height: 25em;
    margin: 3.5em 0 5em;
    &__ico {
        width: 6em;
        height: 6em;
        left: 4.5em;
    }
    &__title {
        &-txt {
            font-size: 2.3em;
            line-height: 1.25;
            font-weight: 900;
        }
    }
    &__phone {
        &-txt {
            font-size: 2.3em;
            line-height: 1.25;
            font-weight: 900;
            color: #458FF6;
        }
    }
    &__btn {
    }
    @media (--lg) {
        & {
            min-height: 12.5em;
            padding: 2.5em 2em 1em 10em;
            &__title {
                margin-bottom: 1.5em;
                &-txt {
                    font-size: 2.1em;
                }
            }
            &__ico {
                left: 2em;
            }
            &__phone {
                margin-bottom: 1.5em;
                &-txt {
                    font-size: 2.1em;
                }
            }
            &__btn {
                margin-bottom: 1.5em;
            }
        }
    }
    @media (--md-767) {
        & {
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            padding: 2.5em 1.5em 1em 1.5em;
            margin: 3.5em 0 4em;
            &__ico {
                position: relative;
                bottom: auto;
                left: 0;
                margin-bottom: 1.5em;
            }
            &__title {
                margin-bottom: 1.5em;
                &-txt {
                    font-size: 1.9em;
                }
            }
            &__phone {
                margin-bottom: 1.5em;
                &-txt {
                    font-size: 1.9em;
                }
            }
            &__btn {
                margin-bottom: 1.5em;
            }
        }
    }
}

.g-attention {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.1em 0 0 8em;
    fill: #458FF6;
    min-height: 6.5em;
    font-weight: 600;
    &__ico {
        width: 6.6em;
        height: 6.5em;
    }
    &--big & {
        &__desc {
            line-height: 1.3;
            font-weight: 700;
        }
    }
    &--mb {
        margin-bottom: 2em;
    }

    @media (--xl) {
        & {
            padding: 0.1em 0 0 8em;
            min-height: 6em;
            &__ico {
                width: 6.1em;
                height: 6em;
            }
        }
    }
    @media (--md-767) {
        & {
            padding: 0.1em 0 0 7em;
            min-height: 5.5em;
            &__ico {
                width: 5.6em;
                height: 5.5em;
            }
        }
    }
    @media (--md-599) {
        & {
            padding: 0.1em 0 0 6.6em;
            min-height: 5em;
            &__ico {
                width: 5.1em;
                height: 5em;
            }
            &--big & {
                &__desc {
                    line-height: 1.3;
                }
            }
            &--mb {
                margin-bottom: 1.7em;
            }
        }
    }
}

.g-banner {
    &-fill {
        position: relative;
        z-index: 1;
        padding: 4.8em 4em 2em 4.5em;
        margin: 5em 0;
        overflow: hidden;
        min-height: 31em;
        max-height: 90em;
        border: 0 none;
        &__bg {
            z-index: -1;
        }
        &__text {
            max-width: 58.6em;
            margin-bottom: 2em;
        }
        &__title {
            margin-bottom: 2.8em;
            &-txt {
                font-size: 2.9em;
                line-height: 1.25;
                font-weight: 900;
            }
        }

        &-desc {
            margin-bottom: 2.5em;
            font-weight: 500;
        }

        &--right &__text {
            margin-left: auto;
            max-width: 69.5%;
            text-align: left;
        }

        @media (--xl) {
            & {
                margin: 5em 0;
                padding: 3.8em 3em 1.8em;
                &__title {
                    &-txt {
                        font-size: 2.5em;
                    }
                }
                &-desc {
                    margin-bottom: 2em;
                }
            }
        }
        @media (--md-767) {
            & {
                margin: 4.5em 0;
                padding: 3.6em 2em 1.8em;
                &__title {
                    margin-bottom: 2.5em;
                    &-txt {
                        font-size: 2em;
                    }
                }
                &__text {
                    margin-bottom: 1.5em;
                }
                &-desc {
                    margin-bottom: 1.5em;
                }
            }
        }
        @media (--md-599) {
            & {
                margin: 3.5em -1.5em;
                padding: 3.1em 1.5em 1.5em 1.5em;
                &__title {
                    margin-bottom: 2.3em;
                    &-txt {
                        font-size: 1.9em;
                    }
                }
                &--right &__text {
                    max-width: 100%;
                }
            }
        }
    }
    &-dup {
        &{
            clear: fix;
            margin: 3.5em -1.5em 5em;
        }
        &__item {
            float: left;
            width: 50%;
            padding: 0 1.5em;
            margin-bottom: 1.5em;
        }
        &__in {
            display: flex;
            align-items: center;
            position: relative;
            z-index: 1;
            padding: 3em 2.5em 2.5em 8em;
            overflow: hidden;
            min-height: 19.5em;
            max-height: 25em;
        }
        &__bg {
            z-index: -1;
        }
        &__ico {
            width: 4.6em;
            max-height: 4.5em;
            left: 2.5em;
        }
        &__text {
            max-width: 58.6em;
            color: #fff;
        }
        &__title {
            margin-bottom: 1em;
            &-txt {
                font-size: 2.3em;
                line-height: 1.25;
                font-weight: 900;
            }
        }
        &-desc {
        }
        @media (--md-767){

            &{
                margin: 2.5em -1.5em 3.5em 0;
            }
            &__item {
                padding: 0 1.5em 0 0;
            }
            &__in {
                flex-wrap: wrap;
                padding-top: 2em;
                padding-left: 2.5em;
            }
            &__bg {
                background-position-x: 20%;
            }
            &__ico {
                position: static;
                width: 4em;
                margin-left: 0;
            }
            &__title {
                margin-bottom: 1em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                }
            }
        }
        @media (--md-599){
            &__item {
                width: 100%;
                padding: 0 1.5em 0 0;
            }
            &__in {
                min-height: 15em;
                padding-left: 8em;
                padding-bottom: 1.5em;
            }
            &__bg {
                background-position-x: 20%;
            }
            &__ico {
                position: absolute;
                width: 4em;
            }
            &__title {
                margin-bottom: 1em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                }
            }
        }
        @media (--sm-400){
            &__in {
                padding-left: 7em;
            }
            &__ico {
                left: 1.5em;
            }
            &__bg {
                background-position-x: left;
            }
        }
    }
    &-combo {
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-height: 90em;
        margin: 3.5em 0 6.5em;
        &__bg {
            width: 31em;
            z-index: -1;
            border-radius: 0.4em 0.4em 2.2em 0.4em;
        }
        &__wrap {
            margin-right: 31em;
            padding: 2em 0 2em 5.2em;
            background: #FFF;
            display: flex;
            align-items: center;
        }
        &__numbers,
        &__text {
            margin-right: 5%;
        }
        &__title {
            margin-bottom: 2.8em;
            &-txt {
                font-size: 2.9em;
                line-height: 1.25;
                font-weight: 900;
            }
        }
        &__desc {
            /*margin-bottom: 2.5em;*/
            font-weight: 500;
        }
        &--big {
            min-height: 34.5em;
        }
        &--big & {
            &__wrap {
                padding-top: 4.8em;
            }
        }

        &--slim {
            min-height: 15em;
        }
        &--slim & {
            &__title {
                margin-bottom: 1em;
                &-txt {
                    font-size: 2.3em;
                }
            }
            &-desc {
                margin-bottom: 0;
            }
        }
        @media (--lg){
            & {
                margin: 2.5em 0 3.5em;
                &__wrap {
                    margin-right: 25em;
                    padding: 3.2em 0 1.5em 3em;
                }
                &__bg {
                    width: 25em;
                }
                &__title {
                    margin-bottom: 2em;
                    &-txt {
                        font-size: 2.5em;
                    }
                }
                &__desc {
                    .g-editor {
                        font-size: 1.5rem;
                        line-height: 1.35;

                        ul {
                            >li {
                                &:before {
                                    width: 0.8rem;
                                    height: 0.8rem;
                                    top: 0.5rem;
                                }
                            }
                        }
                    }
                }
                &--big & {
                    &__wrap {
                        padding-top: 3.2em;
                    }
                }
            }
        }
        @media (--lg){
            & {
                &__wrap {
                    margin-right: 19em;
                    padding: 2.5em 0 1.5em 2.5em;
                }
                &__bg {
                    width: 19em;
                }
                &__title {
                    margin-bottom: 1.8em;
                }
                &__desc {
                }
                &--big & {
                    &__wrap {
                        padding-top: 2.5em;
                    }
                }
            }
        }
        @media (--md-599) {
            & {
                margin: 3.5em -1.5em 4em;
                border-right: 0;
                border-left: 0;
                &__bg {
                    position: static;
                    height: 19em;
                    width: 100%;
                    border-radius: 0.4em 0.4em 0 0;
                }
                &__wrap {
                    margin-right: 0;
                    padding: 2em 1.5em 2em 1.5em;
                }
                &__numbers {
                    margin-right: 1em;
                }
                &__text {
                    margin-right: 0;
                }
                &__title {
                    margin-bottom: 1.5em;
                    &-txt {
                        font-size: 1.9em;
                    }
                }

                &--slim & {
                    &__title {
                        margin-bottom: 1em;
                        &-txt {
                            font-size: 1.9em;
                        }
                    }
                    &-desc {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.g-diagnosis {
    &-group {
        margin-bottom: 3.5em;
        &__heading {
            text-align: center;
            margin-bottom: 4em;
        }
        &__title {
            font-size: 2.9em;
            font-weight: 900;
            line-height: 1.2;
            leter-spacing: 0.05rem;
        }
        &__desc {
            margin-top: 1em;
            font-weight: 600;
            color: #7D7987;
        }
        &__list {
            clear: fix;
            column-gap: 3.5rem;
            &--x2 {
                column-count: 2;
            }
            &--x3 {
                column-count: 3;
            }
            &--x4 {
                column-count: 4;
            }
        }
        &__item {
            display: inline-block;
            width: 100%;
            padding: 0 0 4em 0;
            -moz-column-break-inside: avoid;
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid-column;
            -webkit-column-fill: auto;
            -moz-column-fill: auto;
            column-fill: auto;
        }
    }
    &__form {
        margin-bottom: 5.5em;
    }
    &-btn-form {
        text-align: center;
    }

    &-answer {
        margin-bottom: 5.5em;
        overflow: hidden;
        margin-left: 2px;
        clear: fix;
        &__item {
            float: left;
            width: 50%;
            padding: 0 5.2em;
            border-left: 2px solid #F4F4F6;
            margin-left: -2px;
        }
        &-title {
            display: flex;
            align-items: center;
            min-height: 6.5em;
            margin-bottom: 2.5em;
            &__ico {
                max-width: 6.5em;
                max-height: 6.5em;
                margin-right: 2em;
            }
            &__txt {
                font-size: 2.9em;
                font-weight: 900;
                line-height: 1.2;
                leter-spacing: 0.05rem;
            }
        }
        &__desc {
            font-weight: 500;
        }
    }

    &-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        clear: fix;
        margin: 0 0 3.5em 0;
        padding: 4.5em 0 0 3.5em;
        border-top: 2px solid #F4F4F6;
        &__item {
            float: left;
            margin: 0 3.5em 1.5em 0;
        }
    }
    @media (--xl-1150){
        &{

            &-group {
                &__title {
                }
                &__list {
                    column-gap: 3rem;
                    &--x3,
                    &--x4 {
                        column-count: 3;
                    }
                }
                &__item {
                    padding: 0 0 3.5em 0;
                }
            }
        }
    }
    @media (--lg){
        &{

            &-group {
                &__title {
                    font-size: 2.5em;
                }
                &__list {
                    column-gap: 2.5rem;
                    &--x2,
                    &--x3,
                    &--x4 {
                        column-count: 2;
                    }
                }
                &__item {
                    padding: 0 0 3em 0;
                }
            }

            &-answer {
                margin-bottom: 5em;
                &__item {
                    padding: 0 2.5em;
                }
                &-title {
                    min-height: 6em;
                    margin-bottom: 2em;
                    &__ico {
                        max-width: 6em;
                        max-height: 6em;
                    }
                    &__txt {
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
    @media (--md-767){
        &{

            &-group {
                &__heading {
                    margin-bottom: 2.5em;
                }
                &__title {
                    font-size: 2em;
                    line-height: 1.2;
                }
                &__desc {
                    margin-top: 0.6em;
                }
                &__item {
                    padding: 0 0 2em 0;
                }
            }
        }
    }
    @media (--md-599){
        &{

            &-group {
                &__list {
                    &--x2,
                    &--x3,
                    &--x4 {
                        column-count: 1;
                    }
                }
            }
            &-answer {
                margin-bottom: 1.5em;
                margin-left: 0;
                &__item {
                    width: 100%;
                    padding: 0;
                    margin: 0 0 1.5em 0;
                    border: 0 none;
                }
                &-title {
                    min-height: 5em;
                    margin-bottom: 2em;
                    &__ico {
                        max-width: 5em;
                        max-height: 5em;
                        margin-right: 2em;
                    }
                    &__txt {
                        font-size: 2em;
                    }
                }
            }

            &-btn {
                margin: 0 0 3em 0;
                padding-top: 3.5em;
                &__item {
                    margin-right: 0;
                }
            }
        }
    }
}

.g-anchor-nav {
    margin: 0 -1em 2.5em 0;
    clear: fix;
    &__item {
        float: left;
        display: inline-block;
        margin: 0 1em 1em 0;
        height: 3.5em;
        min-width: 10em;
        padding: 0.2em 1.8em 0 2em;
        background: #f0f6fe;
        border-radius: 1.75em;
        -webkit-transition: all .25s;
        transition: all .25s;
        line-height: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        color: #458FF6;
    }
    &__txt {
        letter-spacing: 0.05rem;
        font-size: 1.3em;
        font-weight: 900;
        text-transform: uppercase;
    }
    @media (--md-599) {
        & {
            margin: 0 -0.8em 2em 0;
            &__item {
                margin: 0 0.8em 0.8em 0;
                padding: 0.1em 1.3em 0 1.5em;
                height: 2.5em;
                min-width: 6em;
                border-radius: 1.25em;
            }
            &__txt {
                font-size: 1.1em;
            }
        }
    }
}

.g-tag {
    margin: 0 -0.5em 2.5em 0;
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
    &-nav {
        display: inline-block;
        margin: 0 0.5em 1em 0;
        height: 2.6em;
        border-radius: 1.3em;
        min-width: 8em;
        padding: 0.2em 1em 0 1.2em;
        background: #f0f6fe;
        -webkit-transition: all .25s;
        transition: all .25s;
        line-height: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        color: #458FF6;
        &__txt {
            letter-spacing: 0.05rem;
            font-size: 1.5em;
            font-weight: 600;
        }
    }
    @media (--md-599) {
        & {
            &-nav {
                margin: 0 0.5em 0.5em 0;
                height: 2em;
                border-radius: 1em;
                min-width: 6em;
                &__txt {
                    font-size: 1.3em;
                    font-weight: 500;
                }
            }
        }
    }
}

.alphabet {
    &__list{
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
        -webkit-column-gap: 3em;
        -moz-column-gap: 3em;
        column-gap: 3em;
        margin: 0 0 4em;
        padding-top: 1em;
    }
    &__item {
        -moz-column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid-column;
        -webkit-column-fill: auto;
        -moz-column-fill: auto;
        column-fill: auto;
        margin-bottom: 1.5em;
        padding-left: 1.4rem;
    }
    &__letter {
        font-size: 1.7em;
        font-weight: 900;
        display: block;
        padding: 0.1rem 0 0.3rem;
        margin-left: -1.3rem;
    }
    &__link {
        display: block;
        padding: 0.5rem 0;
        font-size: 1.5em;
        line-height: 1.3;
        text-decoration: none;
        &:hover {
            color: var(--c-link);
        }
    }
    @media (--md-767){
        & {
            &__list{
                -webkit-columns: 2;
                -moz-columns: 2;
                columns: 2;
                -webkit-column-gap: 2.5em;
                -moz-column-gap: 2.5em;
                column-gap: 2.5em;
                padding-top: 0.5em;
            }
        }
    }
    @media (--sm-400){
        & {
            &__list{
                -webkit-columns: 1;
                -moz-columns: 1;
                columns: 1;
                padding-top: 0.1em;
            }
        }
    }
}

.g-offer-main {
    &,
    &.swiper-slide {
        height: 60em;
    }
    &__in {
        position: relative;
        z-index: 2;
        padding: 6em 4em 9em 7em;
        height: 100%;
        max-width: 76em;
    }

    &__text {
        overflow: hidden;
        height: 100%;
    }
    &__title {
        margin-bottom: 3.3em;
        &-txt {
            font-size: 3.7em;
            line-height: 1.25;
            font-weight: 900;
        }
    }
    &-feature {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.7em;
        &__item {
            width: 50%;
            padding-right: 2em;
            margin-bottom: 1.5em;
        }
    }
    &__desc {
        margin-bottom: 1.5em;
        .g-editor {
            font-size: 1.8em;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    &-btn{
        clear: fix;
        &__item {
            float: left;
            margin-right: 2.6em;
        }
    }

    @media (--xl) {
        & {
            &,
            &.swiper-slide {
                height: 54.5em;
            }
            &__title {
                margin-bottom: 3.3em;
                &-txt {
                    font-size: 3.1em;
                    line-height: 1.35;
                }
            }
        }
    }

    @media (--lg1024) {
        & {
            &,
            &.swiper-slide {
                height: 45.5em;
            }

            &__in {
                padding: 3.4em 3em 8em 5em;
                max-width: 76em;
            }

            &__text {
                overflow: hidden;
                height: 100%;
            }
            &__title {
                margin-bottom: 3em;
                &-txt {
                    font-size: 2.7em;
                    line-height: 1.35;
                }
            }
            &-feature {
                margin-bottom: 1.7em;
                &__item {
                    width: 50%;
                    padding-right: 2em;
                    margin-bottom: 1.5em;
                }
            }
            &__desc {
                margin-bottom: 1.5em;
                .g-editor {
                    font-size: 1.6em;
                    line-height: 1.5;
                }
            }

            &-btn{
                &__item {
                    float: left;
                    margin-right: 2.6em;
                }
                .g-btn-color {
                    height: 4em;
                    .g-btn-color__txt {
                        font-size: 1.3em;
                    }
                }
                .g-btn--bg {
                    height: 4em;

                    .g-btn__txt {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    @media (--md-599) {
        & {
            &,
            &.swiper-slide {
                height: 46.5em;
            }

            &__in {
                padding: 2em 2em 6em 2em;
            }
            &__text {
                overflow: hidden;
                height: 100%;
            }
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                }
            }
            &-feature {
                margin-bottom: 1em;
                &__item {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 1em;
                }
            }
            &__desc {
                margin-bottom: 1em;
                .g-editor {
                    font-size: 1.4em;
                    line-height: 1.45;
                }
            }

            &-btn{
                &__item {
                    margin-right: 1.5em;
                }
                .g-btn-color {
                    height: 3.5em;
                    .g-btn-color__txt {
                        font-size: 1.2em;
                    }
                }
                .g-btn--bg {
                    height: 3.5em;

                    .g-btn__txt {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

.g-offer-dop {
    &,
    &.swiper-slide {
        height: 60em;
    }
    &__in {
        position: relative;
        z-index: 2;
        padding: 6em 4em 9em 7em;
        height: 100%;
        max-width: 76em;
    }

    &__text {
        max-width: 59.4em;
        overflow: hidden;
    }
    &__title {
        margin-bottom: 3.3em;
        &-txt {
            font-size: 3.7em;
            line-height: 1.25;
            font-weight: 900;
        }
    }
    &-act {
        margin: 1.4em 0 5em;
        &__in {
            display: inline-flex;
            align-items: center;
            padding: 1em 2em 1em 1.5em;
            height: 7.5em;
            border-radius: 3.7em;
            background: rgba(#458FF6, 0.1);
        }
        &__btn {
            margin-right: 2em;
            width: 19.5em;
        }
        &__cost {
            margin-right: 2rem;
            font-size: 2.3em;
            line-height: 1.25;
            font-weight: 900;
            color: #F84A92;
            white-space: nowrap;
        }
        &__desc {
            margin-right: 1rem;
            &--mob {
                display: none;
            }
        }
        &__title {
            font-size: 1.9em;
            line-height: 1.2;
            font-weight: 500;
        }
        &__date {
            font-size: 2.3em;
            line-height: 1;
            font-weight: 900;
        }
    }
    &-feature {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.7em;
        &__item {
            width: 50%;
            padding-right: 2em;
            margin-bottom: 1.5em;
        }
    }
    &__desc {
        margin-bottom: 1.5em;
        .g-editor {
            font-size: 1.8em;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    &-btn{
        clear: fix;
        &__item {
            float: left;
            margin-right: 2.6em;
        }
    }

    @media screen and (max-width: 1024px) {
        & {
            &,
            &.swiper-slide {
                height: 47.5em;
            }

            &__in {
                padding: 3.4em 3em 8em 5em;
            }

            &__text {
            }
            &__title {
                margin-bottom: 3.3em;
                &-txt {
                    font-size: 3.1em;
                    line-height: 1.35;
                }
            }
            &__desc {
                margin-bottom: 1.5em;
                .g-editor {
                    font-size: 1.7em;
                    line-height: 1.5;
                }
            }

            &-act {
                &__in {
                    padding: 0.6em 1.6em 0.6em 1.2em;
                    height: 6em;
                    border-radius: 3em;
                }
                &__btn {
                    width: 15em;
                    .g-btn--bg {
                        height: 4em;
                        .g-btn__txt {
                            font-size: 1.3em;
                        }
                    }
                }
                &__cost {
                    font-size: 1.9em;
                }
                &__desc {
                    margin-right: 1rem;
                }
                &__title {
                    font-size: 1.7em;
                }
                &__date {
                    font-size: 1.7em;
                    text-transform: uppercase;
                }
            }

            &-feature {
                margin-bottom: 1.7em;
                &__item {
                    width: 50%;
                    padding-right: 2em;
                    margin-bottom: 1.5em;
                }
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {
            &,
            &.swiper-slide {
                height: 46.5em;
            }

            &__in {
                padding: 2em 2em 6em 2em;
            }
            &__bg {
                background-position-x: 61%;
            }
            &__text {
            }
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                }
            }
            &__desc {
                margin-bottom: 1em;
                .g-editor {
                    font-size: 1.4em;
                    line-height: 1.45;
                }
            }

            &-act {
                margin-bottom: 3em;
                &__in {
                    padding: 0.2em 0.5em 0.2em 0.5em;
                    height: 4.5em;
                    border-radius: 2.2em;
                }
                &__btn {
                    width: 14.5em;
                    .g-btn--bg {
                        height: 3.5em;

                        .g-btn__txt {
                            font-size: 1.2em;
                        }
                    }
                }
                &__cost {
                    font-size: 1.7em;
                }
                &__desc {
                    display: none;
                    &--mob {
                        display: block;
                        margin-top: 1.5em;
                    }
                }
                &__title {
                    font-size: 1.4em;
                }
                &__date {
                    font-size: 1.4em;
                }
            }
            &-feature {
                margin-bottom: 1em;
                &__item {
                    width: 100%;
                    padding-right: 0;
                    margin-bottom: 1em;
                }
            }
        }
    }
}

.g-offer-slim{
    &,
    &.swiper-slide {
        height: 31em;
    }

    &__in {
        position: relative;
        z-index: 2;
        padding: 5.5em 4em 9em 7em;
        height: 100%;
        max-width: 76em;
    }

    &__text {
        overflow: hidden;
        height: 100%;
    }
    &__title {
        margin-bottom: 2em;
        &-txt {
            font-size: 3.7em;
            line-height: 1.25;
            font-weight: 900;
        }
    }
    &__desc {
        margin-bottom: 1.5em;
        .g-editor {
            font-size: 1.8em;
            line-height: 1.5;
            font-weight: 500;
        }
    }

    &-btn{
        clear: fix;
        margin-right: -2.6em;
        &__item {
            float: left;
            margin-right: 2.6em;
        }
    }
    @media (--lg1024) {
        & {
            &,
            &.swiper-slide {
                height: 26em;
            }

            &__in {
                padding: 3.4em 3em 8em 5em;
            }
            &__title {
                &-txt {
                    font-size: 3.1em;
                    line-height: 1.35;
                }
            }
            &__desc {
                .g-editor {
                    font-size: 1.7em;
                    line-height: 1.5;
                }
            }

            &-btn{
                .g-btn--bg {
                    height: 4em;
                    min-width: inherit;
                    .g-btn__txt {
                        font-size: 1.3em;
                    }
                }
                .g-btn-color {
                    height: 4em;
                    .g-btn-color__txt {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    @media (--md) {
        & {

        }
    }
    @media (--md-599) {
        & {
            &,
            &.swiper-slide {
                height: 23em;
            }

            &__bg {
                background-position-x: 0%;
            }

            &__in {
                padding: 2em 2em 6em 2em;
            }
            &__title {
                margin-bottom: 2em;
                &-txt {
                    font-size: 2em;
                    line-height: 1.25;
                }
            }
            &__desc {
                margin-bottom: 1em;
                .g-editor {
                    font-size: 1.4em;
                    line-height: 1.45;
                }
            }

            &-btn{
                margin-right: -2em;
                &__item {
                    margin-right: 2em;
                }
                .g-btn--bg {
                    height: 3.5em;
                    padding-right: 1.6em;
                    padding-left: 1.6em;
                    .g-btn__txt {
                        font-size: 1.2em;
                    }
                }
                .g-btn-color {
                    height: 3.5em;
                    .g-btn-color__txt {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

.switch {
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        height: 0.5em;
        bottom: 0.6em;
        left: 0;
        right: 0;
        background: #F3F7FF;
    }
    &__input {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        right: auto;
        clip: rect(0, 0, 0, 0);

        &:checked ~  {
            .switch__in .switch-diz-bar {
                transform: translateX(-1.1em);
            }
            .switch__in .switch-diz-bar__dot {
                background: #FD749B;
            }
            .switch__in .switch-diz-bar__arrow--l {
                opacity: 0;
            }
            .switch__in .switch-diz-bar__arrow--r {
                opacity: 1;
            }
            .switch__dummy--man {
                display: none;
            }
            .switch__dummy--woman {
                display: block;
            }
        }
    }
    &__dummy {
        display: block;

        & .svg-hover,
        & .is-hide {
            cursor: pointer;
            opacity: 0;
        }
        & .svg-hover:hover,
        & .is-active {
            opacity: 0.16;
        }
        &--man {

        }
        &--woman {
            display: none;
        }
    }
    &__in {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2em;
    }
    &__button {
        padding: 1em 0 0.9em;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
        &--left {
            color: #FD749B;
        }
        &--right {
            color: #458FF6;
        }
    }
    &__txt {
        font-size: 1.3em;
        font-weight: 500;
        line-height: 1.3;
    }
    &-diz {
        width: 4em;
        height: 2em;
        padding: 2px;
        border-radius: 1em;
        overflow: hidden;
        background: linear-gradient(to left, #458FF6, #FD749B);

        &__in {
            width: 100%;
            height: 100%;
            border-radius: 1em;
            background: #fff;
            overflow: hidden;
            cursor: pointer;
        }
        &-bar {
            height: 100%;
            position: relative;
            width: 3.9em;
            align-items: center;
            transition: all 0.15s ease;
            transform: translateX(0.75em);
            &__dot {
                width: 1.2em;
                height: 1.2em;
                border-radius: 100%;
                background: #458FF6;
            }
            &__arrow {
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 1.108em;
                height: 0.705em;
                transition: opacity;
                &--l {
                    left: 0;
                    fill: #F84A92;
                    opacity: 1;
                }
                &--r {
                    right: 0;
                    fill: #458FF6;
                    opacity: 0;
                }
            }
        }
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2.5em 4em 0;
    &--x3 & {
        &__item {
            width: 33.333%;
        }
    }
    &__item {
        float: left;
        min-width: 15em;
        max-width: 50em;
        padding: 0 2.5em 2.5em 0;
    }
    &-el {
        display: block;
        position: relative;
        max-width: 42em;
        max-height: 25em;
        overflow: hidden;
        &:after {
            content: '';
            display: block;
            padding-bottom: 100%;
        }
        &:before {
            content: '';
            display: block;
            position: absolute;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: #161821;
            transition: opacity 0.15s ease;
        }
        &__ico {
            width: 4em;
            height: 4em;
            opacity: 0;
            z-index: 2;
            transform: scale(0.8);
            transition: all 0.15s ease;
        }
        &:hover {
           &:before {
               opacity: 0.35;
           }
        }
        &:hover &__ico {
            opacity: 1;
            transform: scale(1);
        }
    }

    @media (--lg)  {
        & {
            margin-right: calc(-1*var(--content-p-med));
            &__item {
                padding: 0 var(--content-p-med) var(--content-p-med) 0;
            }
        }
    }
    @media (--md-767) {
        & {
            margin-right: calc(-1*var(--content-p-sm));
            &__item {
                padding: 0 var(--content-p-sm) var(--content-p-med) 0;
            }
        }
    }
    @media (--md-599) {
        & {
            & {
                margin-right: -1em;
            }
            &__item {
                padding-right: 1em;
            }
            &--x3 & {
                &__item {
                    width: 50%;
                }
            }
        }
    }
}

.mob-desc {
    &__check  {
        display: none;
        margin: auto;
        right: auto;
        width: 0;
        height: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
    }
    &__check:checked ~ & {
        &__wrap {
            max-height: 100em;
        }

        &__btn  {
            margin-top: -0.8em;
            .g-btn-color__txt:before{
                content: "Скрыть ↑";
            }
        }
    }

    &__wrap {
        @media (--md-767) {
            & {
                max-height: 40em;
            }
        }
    }
    &__btn,
    &__btn.g-btn-color,
    a&__btn,
    label&&__btn {
        display: none;
    }
    &__btn .g-btn-color__txt:before {
        content: "Подробнее ↓";
    }
    @media (--md-599) {
        & {
            &__btn,
            &__btn.g-btn-color,
            a&__btn,
            label&&__btn {
                display: block;
            }
        }
    }
}
/* base */
