/*! Inner page */

.g-inner-page {
    & {
        margin-bottom: 3.5em;
    }
    &__heading {
        padding-top: 1.6em;
        margin-bottom: 3.5em;
        &:after {
            content: "";
            display: block;
            height: 1.3em;
            background: #458FF6;
            opacity: 0.4;
            margin-top: -1.7em;
            position: relative;
            z-index: -1;
        }
        &-txt {
            font-size: 3.7em;
            line-height: 1.25;
            letter-spacing: 0.05rem;
            font-weight: 900;
            text-transform: uppercase;
        }
        &--in-grid {
            margin-bottom: 2.5em;
            display: flex;
            justify-content: space-between;
            &:after{
                display: none;
            }
        }
        &--in-grid &-txt {
            font-size: 2.9em;
            line-height: 1.25;
            text-transform: none;
        }
        &-search {
            width: 20.5em;
            min-width: 20.5em;
            margin: -0.5em 0 0 2em;
        }
    }
    &__tag {
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    &-date {
        margin: 0 2.5em 1.3em 0;
        &__txt {
            font-size: 1.7em;
            font-weight: 900;
            line-height: 1.2;
        }
    }
    &-price {
        display: block;
        margin: 0 2.5em 1.3em 0;
        &__txt {
            font-size: 2.9em;
            font-weight: 900;
            line-height: 1.23;
        }
    }
    &-btns{
        clear: fix;
        margin: 0 0 1.3em 0;
        &__item {
            float: left;
            margin-right: 2em;
        }
    }
    &__info{
        clear: fix;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__info & {
        &-date,
        &-price,
        &-btns{
            float: left;
            margin-right: 3.5em;
        }
    }
    &-poster {
        margin-bottom: 3.1em;
        position: relative;
        &__img {
            min-height: 25em;
            max-height: 47em;
            object-fit: cover;
            border: 1px solid #F4F4F6;
            border-radius: 0.4em 0.4em 2.2em 0.4em;
            box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
        }
    }

    &-time {
        position: absolute;
        left: 2.5em;
        bottom: 2.5em;
        clear: fix;
        background: #fff;
        border-radius: 0.3em;
        &__txt {
            font-size: 1.9em;
            font-weight: 900;
            line-height: 1.23;
        }
        &__day,
        &__clock,
        &__split{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4em;
        }
        &__day{
            padding: 0 2em;
        }
        &__day,
        &__split{
            color: #7D7987;
        }
        &__split{
            width: 2em;
        }

        &__clock{
            min-width: 4em;
            color: #fff;
            background: #98A3AE;
            border-radius: 0.3em;
        }

    }
    &__add-btn{
        margin-bottom: 2.5em;
    }
    &__desc {
        margin-bottom: 4.5em;
    }

    @media (--xl) {
        & {
            &__heading {
                &:after {
                    height: 1.1em;
                    margin-top: -1.4em;
                }
                &-txt {
                    font-size: 2.7em;
                }
                &--in-grid &-txt {
                    font-size: 2.5em;
                }
            }
        }
    }
    @media (--lg) {
        & {
            &__heading {
                display: block;
                justify-content: flex-start;
                &-search {
                    width: 25.5em;
                    min-width: 25.5em;
                    margin: 2.5em 0 0;
                }
            }
        }
    }
    @media (--md-767) {
        & {
            &__heading {
                &:after {
                    height: 1.1em;
                    margin-top: -1.4em;
                }
                &-txt {
                    font-size: 2.2em;
                    letter-spacing: 0;
                }
                &--in-grid &-txt {
                    font-size: 2em;
                }
            }
            &-date {
                margin-bottom: 1em;
                &__txt {
                    font-size: 1.4em;
                    font-weight: 600;
                }
            }
            &__tag {
                margin-bottom: 1em;
            }
        }
    }
    @media (--md-599) {
        &__heading {
            padding-top: 1.6em;
            margin-bottom: 3.5em;
            &:after {
                height: 1em;
                margin-top: -1.2em;
            }
            &-txt {
                font-size: 2em;
                line-height: 1.3;
            }
            &--in-grid  {
                padding-top: 1em;
                margin-bottom: 1.7em;
            }
            &--in-grid &-txt {
                font-size: 1.9em;
            }
        }
        &-time {
            left: 2em;
            bottom: 2em;
            &__txt {
                font-size: 1.7em;
            }
            &__day,
            &__clock,
            &__split{
                height: 3.5em;
            }
            &__day{
                padding: 0 1.5em;
            }
            &__split{
                width: 1.5em;
            }
            &__clock{
                min-width: 3.5em;
            }

        }
    }
}

.breadcrumbs {
    &__wrap {
        overflow: hidden;
    }
    &-txt {
        padding: 0.8rem 0;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.3em;
        line-height: 1.3;
        font-weight: 500;
        color: #616161;
        &__link {
            padding: 0.8rem 0;
            color: #616161;
            &:hover {
                text-decoration: underline;
            }
        }
        &__split {
            margin: 0 0.3rem;
        }
    }
    &--mb {
        margin: -1em 0 2.5em;
    }
    .catalog-grid__content & {
        padding-top: 0;
        margin-top: -0.4em;
    }

    @media screen and (max-width: 767px) {
        & {
            display: none;
        }
    }
}

.promo {
    padding-top: 2.2em;
    @media (--md-599) {
        & {
            padding-top: 1em;
        }
    }
}
/*! inner page */
