@import "../abstracts/*.css";

/*! Navigation */

.g-nav {
    $link_p: 3em;

    & {
        height: $nav_h;
        overflow: hidden;
        background: #fff;
        border-bottom: 1px solid $brd_grey;
        clear: fix;
    }
    &__in {
        height: 100%;
        clear: fix;
        position: relative;
    }

    &__list {
        float: left;
        width: 100%;
        margin-left: -$link_p;
        height: 100%;
        overflow: hidden;
        clear: fix;
    }
    &-item {
        float: left;
        height: 100%;

        &__link {
            height: 100%;
            overflow: hidden;
            padding: 0.15em m($link_p - 0.3em) 0 $link_p;
            position: relative;
            transition: color 0.15s;
            &-txt {
                font-size: 1.6em;
                line-height: 0.95;
                white-space: nowrap;
                border-bottom: 1px solid #bfbfbf;
                transition: color 0.15s;
            }
            &:hover {
                color: $green;
            }
            &:hover & {
                &-txt {
                    border-bottom-color: transparent;
                }
            }
            &.active & {
                &-txt {
                    border-bottom-color: $green;
                }
            }
        }
    }
}


/*! navigation */
