/* Navigation mobile */
.nav-mob {
    z-index: var(--z-nav);
    position: fixed;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    max-height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    padding: 5em 0 0.2em;
    pointer-events: none;
    transform: translateX(0%);
    transition: transform 0.35s ease-in-out;
    background: #FFF;

    &__in {
        height: 100%;
        background: #FFF;
        padding: 0 1.5em 1em;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    &__list {
        margin-bottom: 2em;
        padding: 0 1.5em;
    }
    &-title {
        display: block;
        padding: 2em 0;
        text-align: center;
        &__txt {
            font-size: 2em;
            line-height: 1.3;
            letter-spacing: 0.05rem;
            font-weight: 900;
            text-transform: uppercase;
            position: relative;
            z-index: 1;
        }
        &:after {
            content: "";
            display: block;
            height: 0.9em;
            background: #458FF6;
            opacity: 0.4;
            margin-top: -1.2em;
            position: relative;
            z-index: 0;
        }
    }
    &-item {
        display: block;
        height: 4em;
        padding: 0 2em;
        color: var(--c-body);
        transition: all 0.15s ease;
        &__txt {
            font-size: 1.3em;
            line-height: 1.3;
            letter-spacing: 0.05rem;
            font-weight: 900;
            text-transform: uppercase;
        }
        &:active {
            color: var(--c-hover-base);
        }
    }
    &__search {
        margin-bottom: 2em;
        .g-input__search {
            padding-left: 3.4rem;
        }
    }

    &-cart {
        &__in {
            display: inline-block;
            min-height: 5.8em;
            position: relative;
            padding: 0.6em 0 0 3.5em;
        }
        &__ico {
            width: 2.5em;
            height: 2.5em;
        }
        &-title {
            display: block;
            font-size: 1.4em;
            font-weight: 900;
            letter-spacing: 0.05rem;
            color: var(--c-body);
        }
        &-num {
            display: inline-block;
            margin-top: 0.6em;
            height: 2em;
            border-radius: 1em;
            padding: 0.15em 0.5em 0 0.8em;
            overflow: hidden;
            color: #F84A92;
            background: rgba(#458FF6, 0.2);
            &__txt {
                font-size: 1.3em;
                font-weight: 600;
                line-height: 1.1;
            }
        }
        &:hover {
            color: var(--c-hover-base);
        }
    }

    &-info {
        margin-bottom: 1.5em;
        &__in {
            display: inline-block;
        }
        &-choose {
            display: inline-block;
            font-size: 1.3em;
            line-height: 1;
            padding: 0.4rem 0;
            margin: 0 0 0 3.5rem;
            text-decoration: underline;
            cursor: pointer;
            &:hover{
                text-decoration: none;
            }
        }
        &-phone {
            display: block;
            height: 2.5rem;
            position: relative;
            padding: 0.2rem 0 0 3.5rem;
            font-size: 1.4em;
            font-weight: 900;
            letter-spacing: 0.05rem;
            color: var(--c-body);
            fill: var(--c-blue);
            &__ico  {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        &-text {
            display: block;
            font-size: 1.2em;
            font-weight: 600;
            margin: 0.2rem 0 0 3.5rem;
        }
        &-link {
            display: block;
            position: relative;
            height: 2.5rem;
            padding: 0.4rem 0 0 3.5rem;
            font-size: 1.3em;
            font-weight: 600;
            color: var(--c-blue);
            fill: var(--c-blue);
            &__ico  {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
        &-city {
            display: inline-block;
            position: relative;
            height: 2.5em;
            padding-left: 3.5em;
            color: var(--c-blue);
            fill: var(--c-blue);
            &__txt{
                padding: 0.4rem 0 0.2rem;
                font-size: 1.3em;
                font-weight: 600;
            }
            &__in {
                color: var(--c-body);
                margin-right: 0.6rem;
            }
            &__ico  {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &-schema {
            margin: 0 0 0.3rem 3.5rem;
            &__txt,
            &__choose{
                padding: 0.4rem 0;
                font-size: 1.3em;
                font-weight: 600;
            }
            &__choose{
                text-decoration: underline;
                cursor: pointer;
                &:hover{
                    text-decoration: none;
                }
            }
        }
        &-btn-link {
            font-size: 1.3em;
            padding: 0.4rem 0;
            margin: 0 0 0 3.5rem;
            color: #FD749B;
        }
    }

    .nav-open & {
        & {
            transform: translateX(-100%);
            pointer-events: auto;
        }
    }
    .nav-open.no-transform & {
        & {
            left: 0;
        }
    }

    @media screen and (min-width: 767px) {
        & {
            display: none;
        }
    }
}

/* navigation mobile */
