/*! News card */

.news-el {
    max-width: 49em;
    height: 55.6em;
    position: relative;
    margin-bottom: 2.5em;

    &__tag {
        margin-bottom: 0;
    }

    &-img {
        display: block;
        height: 31em;
        position: relative;
        border-radius: 0 0 2em 0;
        overflow: hidden;
        &__in {
            transition: transform 0.35s ease-in-out;
        }
        &:hover &__in {
            transform: scale(1.05);
        }
    }

    &__text {
        color: #7D7987;
        &-wrap {
            max-height: 23.6em;
            overflow: hidden;
        }
    }

    &-title {
        display: block;
        padding: 1.7em 0 0.9em;
        color: #161821;
        &__txt {
            font-size: 2.3em;
            font-weight: 900;
            line-height: 1.33;
        }
        &:hover {
            color: var(--c-hover-base);
        }
    }
    &__desc {
    }

    @media screen and (max-width: 1024px) {
        & {

            &-title {
                padding: 1.7em 0 0.9em;
                &__txt {
                    font-size: 1.9em;
                    line-height: 1.33;
                }
            }
            &__desc {
                & .g-editor{
                    font-style: 1.5em;
                    line-height: 1.5;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        & {

            &-title {
                padding: 1.7em 0 0.9em;
                &__txt {
                    font-size: 1.7em;
                    line-height: 1.33;
                }
            }
            &__desc {
                & .g-editor{
                    font-style: 1.4em;
                    line-height: 1.4;
                }
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {
            height: auto;
            max-height: 51.6em;
        }
    }
}

/*! news card */
