/*! Offers card */
.offers-el {
    max-width: 102.4em;
    height: 42.5em;
    overflow: hidden;
    position: relative;
    border-radius: 0.3em 0.3em 2em 0.3em;
    box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.3);
    margin-bottom: 3em;

    &-img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-radius: 0 0 2em 0;
        overflow: hidden;
        &__in {
        }
        /*&:before {
            content:"";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: #4D4D4D;
            opacity: 0.5;
            transition: all 0.25s ease;
        }*/
    }

    &__text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        padding: 2.5em;
        &-wrap {
            max-width: 85%;
            overflow: hidden;
        }
    }

    &-date {
        display: block;
        margin-bottom: 1.4em;
        &__txt {
            font-size: 1.7em;
            font-weight: 900;
            line-height: 1.2;
        }
    }
    &-title {
        display: block;
        margin-bottom: 1.3em;
        max-height: 100%;
        overflow: hidden;
        &__txt {
            font-size: 3.7em;
            font-weight: 900;
            line-height: 1.23;
        }
    }
    &-price {
        display: block;
        margin-bottom: 1.3em;
        max-height: 100%;
        overflow: hidden;
        &__txt {
            font-size: 3.7em;
            font-weight: 900;
            line-height: 1.23;
            color: #458FF6;
        }
    }

    &-desc {

    }
    &-time {
        position: absolute;
        left: 2.7em;
        bottom: 1.7em;
        clear: fix;
        background: #fff;
        border-radius: 0.3em;
        &__txt {
            font-size: 1.9em;
            font-weight: 900;
            line-height: 1.23;
        }
        &__day,
        &__clock,
        &__split{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 4em;
        }
        &__day{
            padding: 0 2em;
        }
        &__day,
        &__split{
            color: #7D7987;
        }
        &__split{
            width: 2em;
        }

        &__clock{
            min-width: 4em;
            color: #fff;
            background: #98A3AE;
            border-radius: 0.3em;
        }

    }
    &-btns{
        position: absolute;
        right: 2.7em;
        bottom: 1.7em;
        clear: fix;
        &__item {
            float: left;
            margin-left: 2em;
        }
    }

    &:hover &-img {
        /*&:before {
            background: #000;
            opacity: 0.6;
        }*/
    }
    @media screen and (max-width: 1024px) {
        &{
            height: 35em;

            &__text {
                padding: 2.5em 5em;
            }

            &-date {
                margin-bottom: 1.4em;
                &__txt {
                    font-size: 1.6em;
                }
            }
            &-title {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 3.1em;
                    line-height: 1.23;
                }
            }
            &-price {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 3.1em;
                }
            }

            &-desc {

            }
            &-time {
                position: absolute;
                left: 5em;
                bottom: 2em;
                &__txt {
                    font-size: 1.7em;
                }

            }
            &-btns{
                right: 5em;
                bottom: 2em;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &{
            height: 35em;

            &__text {
                padding: 2.5em 5em;
            }

            &-date {
                margin-bottom: 1.4em;
                &__txt {
                    font-size: 1.6em;
                }
            }
            &-title {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 3.1em;
                    line-height: 1.23;
                }
            }
            &-price {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 3.1em;
                }
            }

            &-desc {

            }
            &-time {
                display: none;
            }
            &-btns{
                right: 0;
                left: 5em;
            }
        }
    }
    @media screen and (max-width: 599px) {
        &{
            height: 34.5em;

            &__text {
                padding: 2.5em 2em;
            }

            &-date {
                margin-bottom: 1.4em;
                &__txt {
                    font-size: 1.5em;
                }
            }
            &-title {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 2.3em;
                    line-height: 1.23;
                }
            }
            &-price {
                margin-bottom: 1.3em;
                &__txt {
                    font-size: 2.3em;
                }
            }

            &-desc {

            }
            &-time {
                display: none;
            }
            &-btns{
                display: flex;
                flex-direction: row-reverse;
                right: auto;
                left: 2em;
                &__item {
                    margin-right: 2em;
                    margin-left: 0;
                }
            }
        }
    }
}
/*! offers card */
