/*! Office card */
.office-el {
    max-width: 60em;
    height: 60em;
    border: 1px solid #F4F4F6;
    border-radius: 0.3em 0.3em 2em 0.3em;
    background: #fff;
    box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;

    &-img {
        display: block;
        position: relative;
        padding-bottom: 5.8em;
        margin: -1px -1px 0;
        &__in {
            display: block;
            height: 31em;
            border-radius: 0 0 2em 0;
            overflow: hidden;
            opacity: 0.5;
            transiton: opacity 0.15s ease;
        }
    }

    &-logo {
        width: 11.6em;
        height: 11.6em;
        background: #fff;
        border-radius: 100%;
        &__ico{
            max-width: 6.5em;
            max-height: 6.5em;
        }
    }

    &__text {
        padding: 0 2.5em;
        &-wrap {
            max-height: 100%;
            overflow: hidden;
        }
    }
    &-title {
        display: block;
        margin-bottom: 0.5em;
        overflow: hidden;
        &__txt {
            font-size: 1.9em;
            font-weight: 900;
            line-height: 1.23;
            letter-spacing: 0.05rem;
            text-transform: uppercase;
        }
    }

    &-desc {
        &__txt{
            font-size: 1.7em;
            line-height: 1.3;
            color: #7D7987;
        }
    }

    &-info {
        & {
            padding-top: 1.2em;
            margin-left: -0.3em;
        }
        &-el {
            display: block;
            padding-left: 3.4em;
            min-height: 3.4em;
            margin-bottom: 0.6em;
            position: relative;
            white-space: nowrap;
            color: inherit;
            fill: #98A3AE;
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                height: 3.4em;
                width: 0;
            }
            &__in {
                display: inline-block;
                vertical-align: middle;
                max-width: 100%;
            }
            &__ico {
                &-wrap {
                    top: 0.5em;
                    width: 2em;
                    height: 2em;
                }
                & {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            &__txt {
                display: block;
                padding: 0.5rem 0;
                font-size: 1.7em;
                line-height: 1.2;
                color: inherit;
                a& {
                    display: inline-block;
                    color: #458FF6;
                    &:hover{
                        opacity: 0.5;
                    }
                }
            }
            &--long &__txt {
                white-space: normal;
            }
        }
    }

    &:hover &-img__in {
        opacity: 1;
    }
    .swiper-wrapper & {
        margin-bottom: 0;
    }
    @media screen and (max-width: 1024px) {
        & {
            height: 47.5em;

            &-img {
                padding-bottom: 5em;
                &__in {
                    height: 22.5em;
                }
            }

            &-logo {
                width: 10em;
                height: 10em;
                &__ico{
                    max-width: 5.8em;
                    max-height: 5.8em;
                }
            }

            &__text {
                padding: 0 1.9em;
            }
            &-title {
                display: block;
                margin-bottom: 0.5em;
                overflow: hidden;
                &__txt {
                    font-size: 1.7em;
                }
            }

            &-desc {
                &__txt{
                    font-size: 1.5em;
                }
            }

            &-info {
                &-el {
                    padding-left: 3.1em;
                    min-height: 3.1em;
                    margin-bottom: 0.1em;
                    &:after {
                        height: 3.1em;
                    }
                    &__ico {
                        &-wrap {
                            top: 0.4em;
                        }
                    }
                    &__txt {
                        padding: 0.4rem 0;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 599px) {
        & {
            height: 44.5em;

            &-img {
                padding-bottom: 3.7em;
            }

            &-logo {
                width: 7.4em;
                height: 7.4em;
                &__ico{
                    max-width: 4.2em;
                    max-height: 4.2em;
                }
            }

            &__text {
                padding: 0 1.7em;
            }
            &-title {
                &__txt {
                    font-size: 1.6em;
                }
            }

            &-desc {
                &__txt{
                    font-size: 1.4em;
                }
            }

            &-info {
                &-el {
                    &__txt {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}
.g-office-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3.5em;
    clear: fix;
    &__item {
        max-width: 46em;
        width: 33.333%;
        float: left;
        padding-right: 3.5em;
        margin-bottom: 3em;
        & .office-el {
            margin-bottom: 0;
        }
    }
    @media (--xl-1440) {
        & {
            margin-right: -2.5em;
            &__item {
                padding-right: 2.5em;
            }
        }
    }
    @media (--lg) {
        & {
            margin-right: -2em;
            &__item {
                padding-right: 2em;
            }
        }
    }
    @media (--lg-l) {
        & {
            &__item {
                width: 50%;
            }
        }
    }
    @media (--md-599) {
        & {
            &__item {
                width: 100%;
            }
        }
    }
}
/*! office card */
