/*! Pagination */

.g-pag {
    margin: 3em 0 5em;
    text-align: center;
    &__in,
    &__list {
        clear: fix;
    }
    &__list {
        display: inline-block;
    }
    &__link,
    &__current,
    &__split,
    &__prev,
    &__next {
        float: left;
        width: auto;
        height: 3.2em;
        min-width: 3.2em;
        margin-right: 1em;
        padding: 0 0.3em 0 0.5em;
        background: #FFF;
        border: 1px solid #E2E2E2;
        text-align: center;
        color: #616161;
        fill: #616161;
        transition: all 0.15s ease;
        &:hover {
            fill: var(--c-btn-dop);
        }
    }
    &__link {
        &:hover {
            color: var(--c-btn-dop);
        }
    }
    &__current {
        background: var(--c-btn-dop);
        border-color: var(--c-btn-dop);
        color: #fff;
        &:hover {
            color: #fff;
        }
    }
    &__split {
        background: none;
        border: 0 none;
        &:hover {
            color: var(--c-body);
        }
    }
    &__prev,
    &__next {
        position: relative;
        &-ico {
            width: 0.71em;
            height: 1.4em;
            transition: transform 0.15s ease;
        }
        &:hover {
            fill: var(--c-btn-dop);
        }

        &:hover & {
            &-ico {
                animation: right_left 0.6s infinite linear;
            }
        }
    }
    &__txt {
        font-size: 1.4em;
        white-space: nowrap;
    }

    @media (--md-599) {
        & {
            margin: 1.5em 0 3em;

            &__link,
            &__current,
            &__split {
                margin-right: 0.5em;
            }
            &__next {
                margin-left: 1em;
                &-ico {
                    left: 0;
                }
            }
            &__next &__txt {
                display: none;
            }
            &--more {
                .g-btn {
                    height: 4em;
                    border-radius: 2em;
                    &__txt {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
    @media (--sm-400) {
        & {

            &__next {
                display: none;
            }
        }
    }
    @media screen and (max-width: 360px) {
        & {

            &__list {
                float: left;
                margin-right: -0.3em;
            }

            &__link,
            &__current,
            &__split {
                margin-right: 0.3em;
            }
            &__split {
                min-width: 2rem;
            }
        }
    }
}
@keyframes right_left {
    0% { transform: translateX(0%) }
    30% { transform: translateX(25%) }
    70% { transform: translateX(-25%) }
    100% { transform: translateX(0%) }
}

/*! pager */
