/*! Seo-text */
.seo-text {
    margin: 8.7em 0 6.5em;

    &__title {
        margin-bottom: 6em;
    }
    &__desc {

    }

    @media (--xlarge) {
        & {
            margin: 5.7em 0 4.5em;

            &__title {
                margin-bottom: 3.5em;
            }
            &__desc {

            }
        }
    }
    @media (--lg1024) {
        & {

            &__title {
                margin-bottom: 3.5em;
            }
            &__desc {
                .g-editor {
                    font-size: 1.6em;
                }
            }
        }
    }
    @media (--md-767) {
        & {
            margin: 2.1em 0 2em;
            &__title {
                margin-bottom: 2.5em;
            }
            &__desc {
                max-height: 40em;
                overflow: hidden;
                .g-editor {
                    font-size: 1.4em;
                }
            }
        }
    }
    @media (--md-599) {
        & {
            margin: 2.1em 0 2em;
            &__title {
                margin-bottom: 2.3em;
            }
            &__desc {
                max-height: 36em;
                overflow: hidden;
                .g-editor {
                    font-size: 1.3em;
                }
            }
        }
    }
}
/*! seo-text */
