/*! Sidebar */
.sidebar {
    &-nav {
        border: 1px solid #F4F4F6;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 100% 90%;
        background-size: 12.7em 16.1em;
        box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.3);
        padding: 0 0 0.4em;
        &__wrap {
        }
        &__title {
            position: relative;
            padding: 0.1em 6em 0;
            height: 4.8em;
            text-align: center;
            fill: #7D7987;
            &:before {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                height: 0.1em;
                min-height: 1px;
                background: #F4F4F6;
            }
            &-ico {
                width: 3em;
                height: 3em;
                left: 1.8em;
                bottom: 0.1em;
            }

            &-txt {
                font-size: 1.4em;
                line-height: 1.35;
                font-weight: 900;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
            }
        }
        &-item {
            position: relative;
            &:after {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                right: 2em;
                left: 1.9em;
                height: 0.2em;
                background: #F4F4F6;
                min-height: 1px;
            }

            &__in {
                position: relative;
                height: 4.5em;
                overflow: hidden;
                padding: 0.2em 1.8em 0.3em 6.5em;
                cursor: pointer;
                &:hover {
                    color: #F84A92;
                }
            }

            &__ico {
                max-width: 3em;
                max-height: 3em;
                left: 1.8em;
                bottom: 0.35em;
            }
            &__txt {
                font-size: 1.4em;
                line-height: 1.35;
                font-weight: 600;
            }
            &-btn {
                width: 5em;
                fill: #458FF6;
                &__ico {
                    width: 0.7em;
                    height: 0.9em;
                }
                &:hover {
                    fill: #F84A92;
                }

            }
            &-dop {
                display: none;
                width: 103.5em;
                min-width: 24em;
                position: absolute;
                top: 0;
                left: 100%;
                z-index: 100;
                padding-left: 1.1em;
                margin-top: -1.3em;
                &__list {
                    clear: fix;
                    padding: 2em 2em 2em 4em;
                    border: 2px solid #458FF6;
                    border-radius: 0.4em 0.4em 2.2em 0.4em;
                    background: #fff;
                    box-shadow: 1em 4em 5em rgba(#E5E9F6, 0.4);
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    max-height: 41.2em;
                }
                &__txt {
                    display: block;
                    width: 33.333%;
                    position: relative;
                    padding: 1rem  2.5rem 1rem 0;
                    font-size: 1.3em;
                    line-height: 1.3;
                    font-weight: 500;
                    letter-spacing: 0.05rem;
                    &:hover {
                        color: #F84A92;
                    }
                }
                &__angle {
                    position: absolute;
                    left: 0.3em;
                    top: 2.5em;
                    width: 1em;
                    height: 2em;
                    overflow: hidden;
                    &:after {
                        content: "";
                        display: block;
                        width: 2em;
                        height: 2em;
                        border: 2px solid #458FF6;
                        background: #FFFFFF;
                        transform: matrix(0.71, -0.69, 0.72, 0.71, 0, 0);
                        margin-left: 0.5em;
                    }
                }
            }
            &:hover &-dop {
                display: block;
            }
        }

        @media (--xl-1440) {
            & {

                &-item {
                    &-dop {
                        width: calc(100vw - 37.6em);
                        padding-left: 1.1em;
                        &__list {
                            padding: 2em 1em 2em 3em;
                            max-height: 44em;
                        }
                    }
                }
            }
        }
        @media (--xlarge) {
            & {

                &-item {
                    &-dop {
                        width: calc(100vw - 34.6em);
                        padding-left: 1.1em;
                    }
                }
            }
        }
    }
    &-nav-inner {
        border: 1px solid #F4F4F6;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 100% 90%;
        background-size: 12.7em 16.1em;
        box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.3);
        padding: 0 0 0.4em;
        margin-bottom: 3.5em;
        &__wrap {
        }
        &-item {
            position: relative;
            overflow: hidden;
            padding: 0.6em 1.9em 0.7em 1.9em;
            cursor: pointer;
            &::after {
                height: 3.2em;
            }
            &:hover {
                color: #F84A92;
            }
            &:before {
                content:"";
                display: block;
                position: absolute;
                bottom: 0;
                right: 2em;
                left: 1.9em;
                height: 0.2em;
                background: #F4F4F6;
                min-height: 1px;
            }
            &__txt {
                font-size: 1.4em;
                line-height: 1.35;
                font-weight: 600;
            }
        }
    }
}

/*! sidebar */
