/*! Sliders */
.g-slider-card {
    margin-bottom: 3.8em;
    &__wrap {
        margin: 0 -3.5em;
        position: relative;
    }
    &__in {
        position: relative;
        overflow: hidden;
        padding: 0.6em 3.5em 7.4em;
    }

    .card,
    .news-el,
    .news-el-img,
    .offers-el,
    .office-el,
    .staff-el {
        margin-bottom: 0;
        box-shadow: none;
    }
    .news-el {
        height: auto;
        max-height: 66.6em;
    }

    & .swiper-slide-visible  .card,
    & .swiper-slide-visible  .news-el-img,
    & .swiper-slide-visible  .offers-el,
    & .swiper-slide-visible  .office-el,
    & .swiper-slide-visible  .staff-el {
        box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
    }


    &-nav {
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 1.5em;
        left: 50%;
        width: 4em;
        height: 4em;
        fill: #458FF6;
        &__ico {
           width: 2.9em;
           height: 1.9em;
        }
        &_next {
            margin-left: 10em;
        }
        &_prev {
            margin-left: -14em;
        }
        &:hover {
            fill: var(--c-hover-base);
        }
        &.swiper-button-disabled {
            cursor: default;
            opacity: 0.5;
            &:hover {
                fill: #616161;
            }
        }
    }

    .swiper-container-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 29px;
    }
    & .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }
    & .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
    }
    & .swiper-pagination-bullet-active {
        background: #FD749B;
    }

    @media (--xl-1400) {
       & {
            &__wrap {
                margin-right: -2.5em;
                margin-left: -2.5em;
            }
            &__in {
                padding-right: 2.5em;
                padding-left: 2.5em;
            }
        }
    }
    @media screen and (max-width: 1024px) {
       & {

            &__wrap {
                margin: 0 -2.5em 3.5em;
            }
            &__in {
                padding-right: 2.5em;
                padding-left: 2.5em;
            }
            &-nav {
                border-radius: 100%;
                overflow: hidden;
                width: 5em;
                height: 5em;
                top: 0.6em;
                bottom: 7.4em;
                margin: auto;
                &__ico {
                   width: 2em;
                   height: 1.3em;
                   z-index: 1;
                }
                &__ellips {
                    display: block;
                    width: 2.5em;
                    height: 5em;
                    overflow: hidden;
                    &--prev,
                    &--next {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 5em;
                            height: 5em;
                            border-radius: 50%;
                            top: 0;
                        }
                    }
                    &--prev {
                        left: auto;
                        &:after {
                            right: 0;
                            background: linear-gradient(to left, #F4F4F6 50%, #FCFCFE 40%);
                        }
                    }
                    &--next {
                        right: auto;
                        &:after {
                            left: 0;
                            background: linear-gradient(to right, #F4F4F6 50%, #FCFDFE 100%);
                        }
                    }
                }
                &_next,
                &_prev {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        left: 1px;
                        border-radius: 50%;
                    }
                }
                &_next {
                    left: auto;
                    right: 0;
                    &:after {
                        background: linear-gradient( to right,  #F7F8FC 50.52%, #FCFDFE 100% );

                    }
                }
                &_prev {
                    left: 0;
                    &:after {
                        background: linear-gradient( to left,  #FCFCFE 50.52%, #fff 100% );
                    }
                }
            }

            &--news & {
                &-nav {
                    top: 17.5em;
                    bottom: auto;
                }
            }
        }
    }
    @media (--lg) {
       & {
       }
    }
    @media screen and (max-width: 767px) {
       & {

            &__wrap {
                margin: 0 -2em;
            }
            &__in {
                padding-right: 2em;
                padding-left: 2em;
            }
       }
    }
    @media screen and (max-width: 599px) {
       & {
            margin-bottom: 0;

            &__wrap {
                margin: 0 -1.5em;
            }
            &__in {
                padding-right: 1.5em;
                padding-left: 1.5em;
                padding-bottom: 7em;
            }
            &-nav {
                top: 0.6em;
                bottom: 6.9em;
                margin: auto;
                width: 3em;
                height: 3em;
                &__ico {
                   width: 1.2em;
                   height: 0.8em;
                }
                &__ellips {
                    width: 1.5em;
                    height: 3em;
                    &--prev,
                    &--next {
                        &:after {
                            width: 3em;
                            height: 3em;
                        }
                    }
                }
            }

            .swiper-container-horizontal>.swiper-pagination-bullets,
            .swiper-pagination-custom, .swiper-pagination-fraction{
                bottom: 44px;
            }
            .swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 5px;
            }
            .swiper-pagination-bullet {
                width: 6px;
                height: 6px;
            }

            &--news & {
                &-nav {
                    top: 17.5em;
                    bottom: auto;
                }
            }
        }
    }
}

.g-offers-slider {

    @media screen and (max-width: 1024px) {
       & {
            &-nav {
                top: 24em;
            }
       }
    }
}

.slider-one {
    &__cont {
    }

    & {
        margin: 0 0 4.6em;
        padding: 0 0 6.4em;
        position: relative;
    }
    &__in {
        position: relative;
        overflow: hidden;
        border: 1px solid #F4F4F6;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        background-color: #fff;
        box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
    }

    .swiper-wrapper {
    }

    &__slide {
        background: #FFF;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        overflow: hidden;
    }

    &-nav {
        display: block;
        position: absolute;
        z-index: 10;
        top: auto;
        right: auto;
        bottom: 0.5em;
        left: 50%;
        width: 4em;
        height: 4em;
        fill: #458FF6;
        &__ico {
           width: 2.9em;
           height: 1.9em;
        }
        &__ellips {
            display: none;
        }
        &_next {
            margin-left: 10em;
        }
        &_prev {
            margin-left: -14em;
        }
        &:hover {
            fill: var(--c-hover-base);
        }
        &.swiper-button-disabled {
            cursor: default;
            opacity: 0.5;
            &:hover {
                fill: #616161;
            }
        }
    }

    &__pag {
        bottom: 19px;
        &.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 6px;
        }
        &.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            white-space: nowrap;
        }
        & .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }
        & .swiper-pagination-bullet-active {
            background: #FD749B;
        }
    }
    @media (max-width: 1024px) {
        & {
            &-nav {
                border-radius: 100%;
                overflow: hidden;
                width: 5em;
                height: 5em;
                top: 0;
                bottom: 6.9em;
                &__ico {
                   width: 2em;
                   height: 1.3em;
                   z-index: 1;
                }
                &__ellips {
                    display: block;
                    width: 2.5em;
                    height: 5em;
                    overflow: hidden;
                    &--prev,
                    &--next {
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            width: 5em;
                            height: 5em;
                            border-radius: 50%;
                            top: 0;
                        }
                    }
                    &--prev {
                        left: auto;
                        &:after {
                            right: 0;
                            background: linear-gradient(to left, #F4F4F6 50%, #FCFCFE 40%);
                        }
                    }
                    &--next {
                        right: auto;
                        &:after {
                            left: 0;
                            background: linear-gradient(to right, #F4F4F6 50%, #FCFDFE 100%);
                        }
                    }
                }
                &_next,
                &_prev {
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        bottom: 1px;
                        left: 1px;
                        border-radius: 50%;
                    }
                }
                &_next {
                    left: auto;
                    right: 0;
                    margin-right: -2.5em;
                    &:after {
                        background: linear-gradient( to right,  #F7F8FC 50.52%, #FCFDFE 100% );

                    }
                }
                &_prev {
                    left: 0;
                    margin-left: -2.5em;
                    &:after {
                        background: linear-gradient( to left,  #FCFCFE 50.52%, #fff 100% );
                    }
                }
            }
        }
    }
    @media (--md-599) {
       & {
            padding: 0 0 3em;
            &-nav {
                width: 3em;
                height: 3em;
                top: 0;
                bottom: 3em;
                &__ico {
                   width: 1.2em;
                   height: 0.8em;
                }
                &__ellips {
                    width: 1.5em;
                    height: 3em;
                    &--prev,
                    &--next {
                        &:after {
                            width: 3em;
                            height: 3em;
                        }
                    }
                }
                &_next {
                    margin-right: -1.5em;
                }
                &_prev {
                    margin-left: -1.5em;
                }
            }

            &__pag {
                bottom: 4px;
                &.swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 5px;
                }
                & .swiper-pagination-bullet {
                    width: 6px;
                    height: 6px;
                }
            }
        }
    }
}

.video {
    fill: #161821;
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background: #161821;
        opacity: 0;
        transition: opacity 0.15s ease;
    }
    &__ico {
        width: 8em;
        height: 8em;
        opacity: 0.4;
        z-index: 2;
        transition: fill 0.15s ease;
    }
    &:hover {
        fill: var(--c-hover-base);
        &:before {
            opacity: 0.35;
        }
    }
    &:hover &__ico {
        opacity: 0.9;
    }
}

.slider-tr {
    padding: 1em  4em 6.5em;
    margin: 0 -4em;
    position: relative;
    overflow: hidden;

    .swiper-wrapper {
    }

    &__slide {
        min-height: 31em;
    }

    &-nav {
        display: block;
        position: absolute;
        z-index: 10;
        top: auto;
        right: auto;
        top: 100%;
        margin-top: -12em;
        left: 48.5em;
        width: 6.4em;
        height: 6.5em;
        fill: #458FF6;
        &__ico {
           width: 2.3em;
           height: 4.2em;
        }
        &__ellips {
            display: none;
        }
        &_next {
            margin-left: 6.5em;
        }
        &:hover {
            opacity: 0.6;
        }
        &.swiper-button-disabled {
            cursor: default;
            opacity: 0.5;
            &:hover {
                fill: #616161;
            }
        }
    }
    &__bg {
        z-index: 5;
        width: 43.1em;
        height: 31em;
        border: 1px solid #F4F4F6;
        border-radius: 0.4em 0.4em 2.2em 0.4em;
        background-color: #fff;
        box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.3);
    }
    &__in {
        position: relative;
        z-index: 2;
        padding: 1em 0 1em 46em;
        height: 100%;
    }

    &__text {
        overflow: hidden;
        height: 100%;
    }
    &__title {
        margin-bottom: 2em;
        &-txt {
            font-size:2.3em;
            line-height: 1.25;
            font-weight: 900;
        }
    }
    &__desc {
        margin-bottom: 1.5em;
        font-weight: 500;
    }

    &-btn{
        clear: fix;
        margin-right: -2.6em;
        &__item {
            float: left;
            margin-right: 2.6em;
        }
    }
    @media (--lg1024) {
        & {
            margin-bottom: 3em;

            &__in {
                /*padding: 3.4em 3em 8em 5em;*/
            }
            &__title {
                &-txt {
                    font-size: 3.1em;
                    line-height: 1.35;
                }
            }
            &__desc {
                .g-editor {
                    font-size: 1.7em;
                    line-height: 1.5;
                }
            }

            &-btn{
                .g-btn--bg {
                    height: 4em;
                    min-width: inherit;
                    .g-btn__txt {
                        font-size: 1.3em;
                    }
                }
                .g-btn-color {
                    height: 4em;
                    .g-btn-color__txt {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    @media (--md) {
        & {

        }
    }
    @media (--md-599) {
        & {
            margin: 0 -1.5em;
            &__bg {
                position: relative;
                max-width: 45em;
                width: auto;
                height: 22.5em;
            }
            &__in {
                padding: 1em 1.5em 1em;
                height: auto;
            }

            &__title {
                margin-bottom: 1.5em;
                &-txt {
                    font-size: 1.9em;
                }
            }
            &__desc {
                margin-bottom: 1.5em;
            }
        }
    }
}

/*! sliders */
