/*! Staff card */
.staff-el {
    max-width: 41em;
    height: 54em;
    overflow: hidden;
    position: relative;
    margin-bottom: 5em;

    &-img {
        display: block;
        position: relative;
        height: 27em;
        transition: opacity 0.15s ease;
        &__in {
            max-width: 100%;
            max-height: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }

    &__text {
        padding: 0 2em 0 2.4em;
        height: 25em;
        overflow: hidden;
    }
    &-service {
        top: 2em;
        right: 2em;
        height: 2em;
        border-radius: 1em;
        padding: 0.1em 0.5em 0 0.8em;
        overflow: hidden;
        color: #F84A92;
        background: rgba(#458FF6, 0.2);
        &__txt {
            font-size: 1.3em;
            font-weight: 500;
            line-height: 1.1;
        }
    }
    &-title {
        display: block;
        padding: 0.2em 0 0.5em;
        margin-bottom: 0.5em;
        overflow: hidden;
        color: var(--c-hover-dop);
        transition: color 0.15s ease;
        &__name1 {
            display: block;
            font-size: 1.9em;
            font-weight: 900;
            line-height: 1.33;
            letter-spacing: 0.05rem;
        }
        &__name2 {
            display: block;
            font-size: 1.9em;
            font-weight: 700;
            line-height: 1.33;
        }
        &:hover {
           color: var(--c-hover-base);
        }
    }

    &-desc {
        margin-bottom: 0.9em;
    }
    &-dop {
        color: #98A3AE;
    }

    /*&:hover &-img__in {
        opacity: 1;
    }*/

    @media screen and (max-width: 1024px) {
        & {
            height: 47.6em;

            &-img {
                height: 23em;
            }
            &__text {
                padding: 0 1.7em 0 1.9em;
                height: 22.3em;
                overflow: hidden;
            }
            &-service {
                height: 1.6em;
                padding: 0.1em 0.5em 0 0.8em;
                &__txt {
                    font-size: 1.2em;
                }
            }
            &-title {
                &__name1,
                &__name2 {
                    font-size: 1.7em;
                }
            }

            &-desc {
                margin-bottom: 0.9em;
            }
            &-desc,
            &-dop {
                .g-editor{
                    font-size: 1.3em;
                    line-height: 1.55;
                }
            }
        }
    }
    @media (--md-599) {
        & {
            height: 40.5em;

            &-img {
                height: 22em;
            }
            &__text {
                padding: 0 1.7em 0 1.9em;
                height: 16.6em;
                overflow: hidden;
            }
            &-service {
                height: 1.6em;
                padding: 0.1em 0.5em 0 0.8em;
                &__txt {
                    font-size: 1.2em;
                }
            }
            &-title {
                &__name1 {
                    font-size: 1.6em;
                }
                &__name2 {
                    font-size: 1.5em;
                }
            }
            &-desc,
            &-dop {
                .g-editor{
                    font-size: 1.2em;
                }
            }
        }
    }
}
.staff-el-hor {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 3em;

    &-img {
        display: block;
        position: relative;
        min-width: 20em;
        height: 25em;
        margin-right: 2.5em;
        transition: opacity 0.15s ease;
        &__in {
            max-width: 100%;
            max-height: 100%;
        }
        &:hover {
            opacity: 0.7;
        }
    }

    &__text {
        width: 100%;
        padding: 2em 2em 0 0;
        max-height: 30em;
        overflow: hidden;
    }
    &-service {
        top: 2em;
        right: 2em;
        height: 2em;
        border-radius: 1em;
        padding: 0.1em 0.5em 0 0.8em;
        overflow: hidden;
        color: #F84A92;
        background: rgba(#458FF6, 0.2);
        &__txt {
            font-size: 1.3em;
            font-weight: 500;
            line-height: 1.1;
        }
    }
    &-title {
        display: block;
        padding: 0.2em 0 0.5em;
        margin-bottom: 0.5em;
        overflow: hidden;
        color: var(--c-hover-dop);
        transition: color 0.15s ease;
        &__name1 {
            display: block;
            font-size: 1.9em;
            font-weight: 900;
            line-height: 1.33;
            letter-spacing: 0.05rem;
        }
        &__name2 {
            display: block;
            font-size: 1.9em;
            font-weight: 700;
            line-height: 1.33;
        }
        &:hover {
           color: var(--c-hover-base);
        }
    }

    &-desc {
        margin-bottom: 0.9em;
    }
    &-dop {
        color: #98A3AE;
    }

    &-btn {
        margin: 2em 0;
        clear: fix;
        &__item {
            float: left;
            margin-right: 2.6em;
        }
    }
    /*&:hover &-img__in {
        opacity: 1;
    }*/

    @media screen and (max-width: 1024px) {
        & {

            &-img {
                min-width: 18em;
                height: 23em;
            }
            &__text {
            }
            &-service {
                height: 1.6em;
                padding: 0.1em 0.5em 0 0.8em;
                &__txt {
                    font-size: 1.2em;
                }
            }
            &-title {
                &__name1,
                &__name2 {
                    font-size: 1.7em;
                }
            }

            &-desc {
                margin-bottom: 0.9em;
            }
            &-desc,
            &-dop {
                .g-editor{
                    font-size: 1.3em;
                    line-height: 1.55;
                }
            }
        }
    }
    @media (--md-599) {
        & {

            &-img {
                min-width: 16em;
                height: 17em;
                margin-right: 1.5em;
            }
            &__text {
                padding-right: 1.5em;
            }
            &-service {
                height: 1.6em;
                padding: 0.1em 0.5em 0 0.8em;
                &__txt {
                    font-size: 1.2em;
                }
            }
            &-title {
                &__name1 {
                    font-size: 1.6em;
                }
                &__name2 {
                    font-size: 1.5em;
                }
            }
            &-desc,
            &-dop {
                .g-editor{
                    font-size: 1.2em;
                }
            }
        }
    }
    @media (--sm) {
        & {
            max-width: 44em;
            flex-direction: column;
            &-img {
                margin-right: 0;
            }
            &__text {
                padding-left: 1.5em;
            }
            &-btn {
                margin: 1.5em 1.5em;
                &__item {
                    float: left;
                    margin-right: 1.6em;
                }
            }
        }
    }
}
/*! staff card */
