<nav id="nav-mob" class="nav-mob">
    <div class="nav-mob__in">
        <div class="nav-mob-title">
            <span class="nav-mob-title__txt">Навигация</span>
        </div>
        <div class="nav-mob__list">
            <a href="catalog.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">Услуги и цены</span>
            </a>
            <a href="stock.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">АКЦИИ</span>
            </a>
            <a href="promo.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">ПРОМО</span>
            </a>
            <a href="staff.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">Специалисты</span>
            </a>
            <a href="faq.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">Вопрос врачу</span>
            </a>
            <a href="news.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">Новости / статьи</span>
            </a>
            <a href="about.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">О центре</span>
            </a>
            <a href="contact.html" class="nav-mob-item g-vac">
                <span class="nav-mob-item__txt g-vac__el">Контакты</span>
            </a>
        </div>

        <div class="nav-mob__search g-vac">
            <div class="g-search-field">
                <form action="search.html">
                    <input class="g-input__search" type="search" placeholder="Поиск по услугам" autocomplete="off">
                    <button class="g-search-field__btn g-abs g-abs_r" type="submit">
                        <img class="g-search-field__ico g-abs" src="images/search_btn.svg" alt="" />
                    </button>
                </form>
            </div>
        </div>

        <div class="nav-mob-info">
            <div class="nav-mob-info__in g-vac__el">
                <button class="nav-mob-info-city" data-toggle="modal" data-target="#modal--city">
                    <span class="nav-mob-info-city__txt g-vac__el">
                       <span class="nav-mob-info-city__in">Санкт-Петербург</span>
                       <span class="nav-mob-info-city__choose">другой город</span>
                    </span>
                    <svg role="presentation" class="nav-mob-info-city__ico g-abs g-abs_l">
                        <use xlink:href="#symbol-position"></use>
                    </svg>
                </button>
                <div class="nav-mob-info-schema">
                    <span class="nav-mob-info-schema__txt">ул. Боровая, 55  м. Обводный канал</span>
                    <span class="nav-mob-info-schema__choose">схема проезда</span>
                </div>
                <div>
                    <button class="nav-mob-info-btn-link"  data-toggle="modal" data-target="#modal--office">другой филиал</button>
                </div>
            </div>
        </div>
        <div class="nav-mob-info">
            <div class="nav-mob-info__in">
                <a href="tel:+7(812)385-46-06" class="nav-mob-info-phone nav-mob-info-phone--main g-vac">
                    <svg role="presentation" class="nav-mob-info-phone__ico g-abs g-abs_l">
                        <use xlink:href="#symbol-phone"></use>
                    </svg>
                    <span class="nav-mob-info-phone__txt g-vac__el">+7 (812) 385-46-06</span>
                </a>
                <a href="tel:+7(812)385-46-06" class="nav-mob-info-phone g-vac">
                    <span class="nav-mob-info-phone__txt g-vac__el">+7 (812) 385-46-06</span>
                </a>
                <div class="nav-mob-info-text">ежедневно 9:00 - 22:00</div>
            </div>
        </div>
        <div class="nav-mob-cart">
            <a href="cart.html" class="nav-mob-cart__in">
                <svg role="presentation" class="nav-mob-cart__ico g-abs g-abs_l g-abs_t">
                    <use xlink:href="#symbol-cart_mob"></use>
                </svg>
                <span class="nav-mob-cart-title">Корзина пуста</span>
                <span class="nav-mob-cart-num g-vac">
                    <span class="nav-mob-cart-num__txt g-vac__el">
                        <span class="nav-mob-cart-num__count">0</span>
                        <span class="nav-mob-cart-num__name">услуг</span>
                    </span>
                </span>
            </a>
        </div>
        <div class="nav-mob-info">
            <div class="nav-mob-info__in">
                <a href="mailto:spb@n-d-c.ru" class="nav-mob-info-link g-vac">
                    <svg role="presentation" class="nav-mob-info-link__ico g-abs g-abs_l">
                        <use xlink:href="#symbol-email"></use>
                    </svg>
                    <span class="nav-mob-info-link__txt g-vac__el">spb@n-d-c.ru</span>
                </a>
                <button class="nav-mob-info-choose" data-toggle="modal" data-target="#modal_message">написать сообщение</button>
            </div>
        </div>
    </div>
</nav>
<!-- /* nav-mob -->
<div class="g-overlay js-nav-mob__close"></div>
