<div class="g-feature-el-ver g-vac">
    <div class="g-feature-el-ver-img g-abs g-abs_t">
        <img class="g-feature-el-ver-img__in g-abs" src="{{ item.src }}" role="presentation" alt="ico" />
    </div>
    <div class="g-feature-el-ver__text g-vac__el">
        <div class="g-feature-el-ver-title">
            <span class="g-feature-el-ver-title__txt">{{ item.title | safe }}</span>
        </div>
    </div>
</div>
