<div class="g-feature">
    <div class="g-content">
        <div class="g-feature-title">
            <span class="g-feature-title__txt">Достоинства</span>
        </div>
        <div class="g-feature__in">
            {% include "template/feature/feature__list.html" %}
        </div>
    </div>
</div>
