<div class="g-feature-el-hor g-vac">
    <div class="g-feature-el-hor-img g-abs g-abs_l g-abs_t">
        <img class="g-feature-el-hor-img__in g-abs" src="{{ item.src }}" role="presentation" alt="ico" />
    </div>
    <div class="g-feature-el-hor__text g-vac__el">
        <div class="g-feature-el-hor-title">
            <span class="g-feature-el-hor-title__txt">{{ item.title | safe }}</span>
        </div>
    </div>
</div>
