<div class="g-feature__list">
    <div class="g-grid g-grid--x4 g-grid--jc-center">
        {% set  items = [
                {
                    title: "Весь товар сертифицирован",
                    src: "images/pages/worth/worth-1.svg"
                },
                {
                    title: "Быстрая тех. поддержка",
                    src: "images/pages/worth/worth-2.svg"
                },
                {
                    title: "Возврат товара до 15 дней",
                    src: "images/pages/worth/worth-3.svg"
                },
                {
                    title: "Гарантия качества",
                    src: "images/pages/worth/worth-4.svg"
                },
                {
                    title: "Быстрая доставка",
                    src: "images/pages/worth/worth-5.svg"
                },
                {
                    title: "Подарочные сертификаты",
                    src: "images/pages/worth/worth-6.svg"
                }
            ]
        %}
        {% for item in items %}
            {% include "template/feature/feature__el.html" %}
        {% endfor %}
    </div>
</div>
