/*! Font-size settings */

html,
body,
table,
button,
input,
textarea,
select {
    font-size: 10px;
    font-family: 'Lato', 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

ymaps {
    font-family: 'Lato', 'Open Sans', 'Roboto', 'Ubuntu', sans-serif;
}

.Fw\(400\) {
    font-weight: 400;
}

.Fw\(b\),
.Fw\(700\),
strong,
b,
.fwb {
    font-weight: bold;
}

.Fw\(m\),
.Fw\(500\) {
    font-weight: 500;
}

.Fw\(sb\),
.Fw\(600\) {
    font-weight: 600;
}
.Fw\(heavy\),
.Fw\(900\) {
    font-weight: 900;
}

em,
i,
.Fs\(i\) {
    font-style: italic;
}

.Fz\(10\) {
    font-size: 1em;
    line-height: 1.5;
}

h6,
.h6,
.t-h6 {
    font-size: 1.5em;
    line-height: 1.6;
}

h5,
.h5,
.t-h5 {
    font-size: 1.7em;
    line-height: 1.45;
}

h4,
.h4,
.t-h4 {
    font-size: 1.9em;
    line-height: 1.75;
}

h3,
.h3,
.t-h3 {
    font-size: 2.3em;
    line-height: 1.4;
}

h2,
.h2,
.t-h2 {
    font-size: 2.9em;
    line-height: 1.25;
}

h1,
.h1,
.t-h1 {
    font-size: 3.7em;
    line-height: 1.2;
}

@media (--lg) {
    h3,
    .h3,
    .t-h3 {
        font-size: 2.1em;
    }

    h2,
    .h2,
    .t-h2 {
        font-size: 2.3em;
    }

    h1,
    .h1,
    .t-h1 {
        font-size: 2.7em;
    }
}
@media (--md-767) {

    h3,
    .h3,
    .t-h3 {
        font-size: 1.9em;
    }

    h2,
    .h2,
    .t-h2 {
        font-size: 2em;
    }

    h1,
    .h1,
    .t-h1 {
        font-size: 2.2em;
    }
}
@media (--md-599) {

    h2,
    .h2,
    .t-h2 {
        font-size: 1.8em;
        line-height: 1.4;
    }

    h1,
    .h1,
    .t-h1 {
        font-size: 2em;
        line-height: 1.3;
    }
}
/*! font-size settings */
