/*! Setting base element */

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--c-body);
    &:focus {
        outline-color: var(--c-blue);
    }

    &[href ^="tel"] {
        white-space: nowrap;
        cursor: default;
    }
    &[href ^="mailto"] {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

iframe {
    max-width: 100%;
}

/* wrap element */

.g-wrap {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* visual hidden element */

.g-visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0 none;
    outline: 0 none;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Null and clearfix*/

.g-null {
    display: inline-block;
    width: 0px;
    height: 0px;
    font-size: 0px;
    clear: both;
}

html[xmlns] .g-null {
    display: block;
}

/* Vertical align middle element */

.g-vac {
    display: block;
    white-space: nowrap;
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        width: 0;
    }
    &__el {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
        line-height: 1;
    }
}

/* Diz absolute */

.g-diz,
.g-diz__img,
.g-diz__bg {
    display: block;
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.g-abs {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    &_t {
        bottom: auto;
    }
    &_r {
        left: auto;
    }
    &_b {
        top: auto;
    }
    &_l {
        right: auto;
    }
}

.g-card__diz {
    border: 1px solid #f8f8f9;
    border-radius: 0.4em 0.4em 2.2em 0.4em;
    background: #fff;
    box-shadow: 0.6em 3em 4em rgba(#E5E9F6, 0.4);
}

.let-spacing {
    letter-spacing: 0.05rem;
}
.g-bg_cover,
.bg--cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* background image */

/* column */

.g-column_x2,
.g-column--x2 {
    column-count: 2;
    column-gap: 3rem;
    @media screen and (max-width: 767px) {
        & {
            column-count: 1;
            column-gap: 0;
        }
    }
}

.currency {
    font-weight: 600;
    margin-left: 0.5rem;
}
.g-grey {
    color: var(--c-grey);
}

/*! Atomic classes */

.D\(b\) {
    display: block;
}

.D\(ib\) {
    display: inline-block;
}

.Fl\(start\) {
    float: left;
}

.Fl\(end\) {
    float: right;
}

.Fl\(n\) {
    float: none;
}

.H\(100\%\) {
    height: 100%;
}

.Pos\(r\) {
    position: relative;
}

.Ta\(end\) {
    text-align: right;
}

.Ta\(c\) {
    text-align: center;
}

.Tbl\(f\) {
    table-layout: fixed;
}

.Tt\(u\) {
    text-transform: uppercase;
}

.V\(h\) {
    visibility: hidden;
}

.V\(v\) {
    visibility: visible;
}

.W\(100\%\) {
    width: 100%;
}

.Whs\(n\) {
    white-space: normal;
}

.Whs\(nw\) {
    white-space: nowrap;
}

/*! atomic classes */
