<div class="g-slider-card g-slider-card--x3">
    <div class="g-content">
        <div class="g-heading g-heading--mb">
            <div class="g-heading__text">
                <a href="staff.html" class="g-heading__link">
                    <span class="g-heading__txt">Специлисты и врачи</span>
                </a>
            </div>
            <a href="staff.html" class="g-heading__link-dop">
                <span class="g-heading__txt-dop">посмотреть всех</span>
            </a>
        </div>
        <div class="g-slider-card__wrap">
            <div class="g-slider-card__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "img": "images/pages/staff/staff_1_sm.jpg",
                            "title": "ШОГЕНОВ",
                            "title2": "Рамиш Курбанович",
                            "desc": "Невролог, вертебролог, вертеброневролог, вестибулолог, иглорефлексотерапия,  мануальный терапевт, аутоплазмотерапия (prp-терапия).",
                            "dop": "1 категория, стаж 11 лет. Рейтинг PD 4.5: опыт доктора 8.4, отзывы 8.3",
                            "service": "357 услуг"
                        },{
                            "img": "images/pages/staff/staff_2_sm.jpg",
                            "title": "ЗУРАБЯН",
                            "title2": "Артур Араратович",
                            "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                            "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                            "service": "154 услуг"
                        },{
                            "img": "images/pages/staff/staff_3_sm.jpg",
                            "title": "РЕВЯКИН",
                            "title2": "Александр Алексеевич",
                            "desc": "Рентгенолог, травматолог, ортопед. МРТ-исследование внутренних органов и мягких тканей разной локализации, МР-ангиография и МРТ с контрастированием.",
                            "dop": "Стаж 8 лет. Занимает 580 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                            "service": "101 услуг"
                        },{
                            "img": "images/pages/staff/staff_2_sm.jpg",
                            "title": "ЗУРАБЯН",
                            "title2": "Артур Араратович",
                            "desc": "Рентгенолог, травматолог, ортопед. Первый Санкт-Петербургский государственный медицинский университет имени академика И. П. Павлова.",
                            "dop": "Стаж 8 лет. Занимает 715 место в рейтинге лучших рентгенологов Санкт-Петербурга",
                            "service": "154 услуг"
                        }
                    ]%}
                    {% for item in items %}
                        <div class="g-offers-slider__slide  swiper-slide">
                            {% include "template/staff/card-staff.html" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <button class="g-slider-card-nav g-slider-card-nav_prev ">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--prev g-abs"></i>
                </button>
                <button class="g-slider-card-nav g-slider-card-nav_next">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
