<div class="g-slider-card g-slider-card--x3">
    <div class="g-content">
        <div class="g-heading g-heading--mb">
            <div class="g-heading__text">
                <a href="office.html" class="g-heading__link">
                    <span class="g-heading__txt">23  филиала</span>
                </a>
            </div>
            <a href="office.html" class="g-heading__link-dop">
                <span class="g-heading__txt-dop">ДРУГИЕ →</span>
            </a>
        </div>
        <div class="g-slider-card__wrap">
            <div class="g-slider-card__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "img": "images/pages/office/office_1_sm.jpg",
                            "logo": "images/pages/office/office_1_logo.png",
                            "title": "ЩЁЛКОВО",
                            "desc": "Многопрофильный центр",
                            "address": "1-й Советский переулок, 25",
                            "phone": "8 (496) 250-80-88",
                            "site": "shchelkovo.n-d-c.ru"
                        },{
                            "img": "images/pages/office/office_2_sm.jpg",
                            "logo": "images/pages/office/office_2_logo.png",
                            "title": "Балашиха",
                            "desc": "Центр МРТ",
                            "address": "Советская улица, 42",
                            "phone": "8 (495) 151-10-61",
                            "site": "balashiha.n-d-c.ru"
                        },{
                            "img": "images/pages/office/office_3_sm.jpg",
                            "logo": "images/pages/office/office_3_logo.png",
                            "title": "Королёв",
                            "desc": "Многопрофильный центр",
                            "address": "улица Гагарина, 29",
                            "phone": "8 (495) 151-10-61",
                            "site": "balashiha.n-d-c.ru"
                        },{
                            "img": "images/pages/office/office_2_sm.jpg",
                            "logo": "images/pages/office/office_2_logo.png",
                            "title": "Балашиха",
                            "desc": "Центр МРТ",
                            "address": "Советская улица, 42",
                            "phone": "8 (495) 151-10-61",
                            "site": "balashiha.n-d-c.ru"
                        },{
                            "img": "images/pages/office/office_3_sm.jpg",
                            "logo": "images/pages/office/office_3_logo.png",
                            "title": "Королёв",
                            "desc": "Многопрофильный центр",
                            "address": "улица Гагарина, 29",
                            "phone": "8 (495) 151-10-61",
                            "site": "balashiha.n-d-c.ru"
                        }
                    ]%}
                    {% for item in items %}
                        <div class="g-office-slider__slide  swiper-slide">
                            {% include "template/office/card-office.html" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <button class="g-slider-card-nav g-slider-card-nav_prev ">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--prev g-abs"></i>
                </button>
                <button class="g-slider-card-nav g-slider-card-nav_next">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
