<div class="g-slider-card g-slider-card--news">
    <div class="g-content">
        <div class="g-heading g-heading--mb">
            <div class="g-heading__text">
                <a href="news.html" class="g-heading__link">
                    <span class="g-heading__txt">Новости / статьи</span>
                </a>
            </div>
            <a href="news.html" class="g-heading__link-dop">
                <span class="g-heading__txt-dop">ДРУГИЕ →</span>
            </a>
        </div>
        <div class="g-slider-card__wrap">
            <div class="g-slider-card__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "img": "images/pages/news/news_1_sm.jpg",
                            "title": "Если я сделаю МРТ всего тела — это поможет выявить скрытые болезни?",
                            "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                        },{
                            "img": "images/pages/news/news_2_sm.jpg",
                            "title": "Интуитивный подход: питание вне диеты",
                            "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                        },{
                            "img": "images/pages/news/news_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                        },{
                            "img": "images/pages/news/news_2_sm.jpg",
                            "title": "Интуитивный подход: питание вне диеты",
                            "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                        },{
                            "img": "images/pages/news/news_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": "Диффузионная МРТ показывает органы и ткани не так подробно, как классическая. Если здоровый человек пройдет такую процедуру, он сможет узнать, что у него нет крупных опухолей, увеличенных лимфоузлов и больших участков..."
                        },{
                            "img": "images/pages/news/news_2_sm.jpg",
                            "title": "Интуитивный подход: питание вне диеты",
                            "desc": "Сейчас, когда каждые две недели появляются новые диеты, стойко владеет нашими мыслями лишь один план питания — и это не диета, как сразу было заявлено его основателями..."
                        }]
                    %}
                    {% for item in items %}
                        <div class="g-news-slider__slide swiper-slide">
                        {% include "template/news/card-news.html" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <button class="g-slider-card-nav g-slider-card-nav_prev ">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--prev g-abs"></i>
                </button>
                <button class="g-slider-card-nav g-slider-card-nav_next">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
