<div class="g-slider-card g-slider-card--x2">
    <div class="g-content">
        <div class="g-heading g-heading--mb">
            <div class="g-heading__text">
                <a href="stock.html" class="g-heading__link">
                    <span class="g-heading__txt">Акции</span>
                </a>
            </div>
            <a href="stock.html" class="g-heading__link-dop">
                <span class="g-heading__txt-dop">посмотреть все</span>
            </a>
        </div>
        <div class="g-slider-card__wrap">
            <div class="g-slider-card__in">
                <div class="swiper-wrapper">
                    {% set items = [{
                            "img": "images/pages/stock/stock_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_2_sm.jpg",
                            "title": "Общее лабораторное обследование",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_1_sm.jpg",
                            "title": "Приём врача-терапевта + ЭКГ в подарок",
                            "desc": ""
                        },{
                            "img": "images/pages/stock/stock_2_sm.jpg",
                            "title": "Общее лабораторное обследование",
                            "desc": ""
                        }
                    ]%}
                    {% for item in items %}
                        <div class="g-offers-slider__slide  swiper-slide">
                            {% include "template/stock/card-stock.html" %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <button class="g-slider-card-nav g-slider-card-nav_prev ">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_left"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--prev g-abs"></i>
                </button>
                <button class="g-slider-card-nav g-slider-card-nav_next">
                    <svg role="presentation" aria-hidden="true" class="g-slider-card-nav__ico g-abs">
                        <use xlink:href="#symbol-slider_arrow_right"></use>
                    </svg>
                    <i class="g-slider-card-nav__ellips g-slider-card-nav__ellips--next g-abs"></i>
                </button>
            </div>
        </div>
    </div>
</div>
