<div class="news-el">
    <div class="g-tag news-el__tag">
        <a href="news.html" class="g-tag-nav g-vac">
            <span class="g-tag-nav__txt g-vac__el">Диагностика</span>
        </a>
        <a href="news.html" class="g-tag-nav g-vac">
            <span class="g-tag-nav__txt g-vac__el">Вирусы</span>
        </a>
    </div>
    <a href="news__detail.html" class="news-el-img">
        <span class="news-el-img__in g-abs g-bg_cover" style="background-image: url({{ item.img }})"></span>
    </a>
    <div class="news-el__text">
        <div class="news-el__text-wrap">
            <a href="news__detail.html" class="news-el-title">
                <span class="news-el-title__txt">{{ item.title }}</span>
            </a>
            <div class="g-editor g-editor--desc Fw(m)">
                {{ item.desc }}
            </div>
        </div>
    </div>
</div>
