<div class="catalog-el  g-card__diz">
    <div class="catalog-el__wrap">
        <div class="catalog-el__top">
            <a href="catalog_detail.html"  class="catalog-el-title">
                <span class="catalog-el-title__txt">{{ item.title }}</span>
            </a>

            <div class="catalog-el__article catalog-el__article--mob">{{ item.article }}</div>

            <div class="g-price catalog-el-price">
                <span class="g-price__txt g-price__txt--sm">
                    {% if item.price_new %}
                    <span class="g-price__old">{{ item.price }}</span>
                    <span class="g-price__new">{{ item.price_new }}<span class="g-price__cur currency">₽</span>
                    </span>
                    {% else %}
                    <span class="g-price__num">{{ item.price }}</span><span class="g-price__cur currency">₽</span>
                    {% endif %}
                </span>
            </div>
        </div>
        <div class="catalog-el__desc">
            <div class="g-editor g-editor--sm g-editor--desc">
                <p>{{ item.desc }}</p>
            </div>
        </div>
    </div>

    <div class="catalog-el__bottom">
        <div class="catalog-el__article">{{ item.article }}</div>
        <div class="catalog-el-btns">
            <div class="catalog-el-btns__item">
                <a href="catalog_detail.html" class="g-btn-color g-btn-color--sm">
                    <span class="g-btn-color__txt">Подробнее</span>
                </a>
            </div>
            <div class="catalog-el-btns__item">
                <button class="g-btn-color g-btn-color--sm g-btn-color--grey"  data-toggle="modal" data-target="#modal--buy-click" data-service="{{ item.title }}" data-id="some_id_1">
                    <span class="g-btn-color__txt">запись в один клик</span>
                </button>
            </div>
            {% if item.cart %}
            <div class="catalog-el-btns__item">
                <button class="g-btn g-btn--sm">
                    <span class="g-btn__txt">Удалить</span>
                </button>
            </div>

            {% else %}
            <div class="catalog-el-btns__item">
                <button class="g-btn g-btn--sm">
                    <span class="g-btn__txt">в корзину</span>
                </button>
            </div>

            {% endif %}
        </div>
    </div>
</div>
