<div class="g-cat-card">
    <div class="g-cat-card__in">
        <a href="catalog.html" class="g-link"></a>
        <div class="g-cat-card-ico g-abs g-abs_t g-abs_l">
            <img class="g-cat-card-ico__in" src="@@ico_src" alt="ico" role="presentation" />
        </div>
        <div class="g-cat-card-bg g-abs">
            <div class="g-cat-card-bg__in g-abs" style="background-image: url(@@bg_src)" ></div>
        </div>
        <div class="g-cat-card-title g-abs g-abs_b g-abs_l">
            <span class="g-cat-card-title__txt Ff(din)">@@title</span>
        </div>
    </div>
</div>
