<div class="g-cat-card-cover">
    <a href="catalog.html" class="g-link"></a>
    <div class="g-cat-card-cover__in g-abs g-vac">
        <div class="g-cat-card-cover__content g-vac__el">
            <div class="g-cat-card-cover-ico g-abs g-abs_t">
                <img class="g-cat-card-cover-ico__in" src="@@ico_src" alt="ico" role="presentation" />
            </div>
            <div class="g-cat-card-cover-title">
                <span class="g-cat-card-cover-title__txt Ff(din)">@@title</span>
            </div>
            <div class="g-cat-card-cover-btn">
                <div class="g-btn g-btn_big g-btn_bg_black">
                    <span class="g-btn__txt">Подробнее</span>
                </div>
            </div>
        </div>
    </div>
    <div class="g-cat-card-cover-bg g-abs">
        <div class="g-cat-card-cover-bg__in g-abs g-bg_cover" style="background-image: url(@@bg_src)" ></div>
    </div>
</div>
