<ul class="catalog-group-list">
    <!-- img set 480x480px -->
    {% set items = [{
            "img": "images/pages/catalog/catalog_group_1.jpg",
            "title": "Элеганца",
            "count": "6 товаров"
        },{
            "img": "images/pages/catalog/catalog_group_2.jpg",
            "title": "Сидней",
            "count": "2 товара"
        },{
            "img": "images/pages/catalog/catalog_group_3.jpg",
            "title": "Русь Петровская",
            "count": "12 товаров"
        },{
            "img": "images/pages/catalog/catalog_group_4.jpg",
            "title": "Наполи",
            "count": "4 товара"
        },{
            "img": "images/pages/catalog/catalog_group_5.jpg",
            "title": "Новелла",
            "count": "4 товара"
        },{
            "img": "images/pages/catalog/catalog_group_6.jpg",
            "title": "Марсель",
            "count": "1 товар"
        },{
            "img": "images/pages/catalog/catalog_group_7.jpg",
            "title": "Жасмин",
            "count": "3 товара"
        },{
            "img": "images/pages/catalog/catalog_group_7.jpg",
            "title": "Даймонд Наоми",
            "count": "3 товара"
        },{
            "img": "images/pages/catalog/catalog_group_7.jpg",
            "title": "Доминика",
            "count": "1 товар"
        },{
            "img": "images/pages/catalog/catalog_group_7.jpg",
            "title": "Барокко",
            "count": "4 товара"
        }]
    %}
    {% for item in items %}
        <li class="catalog-group-list__item">
            <div class="card-group">
                <div class="card-group-img">
                    <a href="catalog_in_in.html" class="card-group-img__wrap g-abs">
                        <i class="card-group-img__in g-abs g-bg_cover" style="background-image: url({{ item.img }})"></i>
                    </a>
                </div>
                <a href="catalog_in_in.html" class="card-group-title">
                    <span class="card-group-title__txt">{{ item.title }}</span>
                    <span class="card-group-title__count">{{ item.count }}</span>
                </a>
            </div>
        </li>
      {% endfor %}
</ul>
