<ul class="catalog-root-list">
    <!-- img set 480x308px -->
    {% set items = [{
            "img": "images/pages/catalog/catalog_root_2.jpg",
            "title": "Коллекции гостиных",
            "count": "50 товаров"
        },{
            "img": "images/pages/catalog/catalog_root_1.jpg",
            "title": "Гостиные элементы",
            "count": "301 товар"
        },{
            "img": "images/pages/catalog/catalog_root_4.jpg",
            "title": "Мебель для гостиной",
            "count": "58 товаров"
        },{
            "img": "images/pages/catalog/catalog_root_3.jpg",
            "title": "Мягкая мебель",
            "count": "12 товаров"
        }]
    %}
    {% for item in items %}
        <li class="catalog-root-list__item">
            <div class="card-root">
                <div class="card-root-img">
                    <a href="catalog_in.html" class="card-root-img__wrap g-abs">
                        <i class="card-root-img__in g-abs g-bg_cover" style="background-image: url({{ item.img }})"></i>
                    </a>
                </div>
                <a href="catalog_in.html" class="card-root-title">
                    <span class="card-root-title__txt">{{ item.title }}</span>
                    <span class="card-root-title__count">{{ item.count }}</span>
                </a>
            </div>
        </li>
      {% endfor %}
</ul>
