<ul class="catalog-list">
    <!-- img set 700x700px -->
    {% set items = [{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Ветеринарный магнитно-резонансный томограф (МРТ) Vet-MR Grande",
            "cost": "1 200 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-2.jpg",
            "title": "УЗИ-сканер Aplio i900",
            "cost": "136 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-3.jpg",
            "title": "Рентген Ultimax-i",
            "cost": "203 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-4.jpg",
            "title": "Рентген Radrex-i",
            "cost": "267 450"
        },{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Ветеринарный магнитно-резонансный томограф (МРТ) Vet-MR Grande",
            "cost": "1 200 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-2.jpg",
            "title": "УЗИ-сканер Aplio i900",
            "cost": "100 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-3.jpg",
            "title": "Рентген Ultimax-i",
            "cost": "136 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-4.jpg",
            "title": "Рентген Radrex-i",
            "cost": "200 450"
        },{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Ветеринарный магнитно-резонансный томограф (МРТ) Vet-MR Grande",
            "cost": "1 200 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-2.jpg",
            "title": "УЗИ-сканер Aplio i900",
            "cost": "68 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-3.jpg",
            "title": "Рентген Ultimax-i",
            "cost": "237 450"
        },{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Ветеринарный магнитно-резонансный томограф (МРТ) Vet-MR Grande",
            "cost": "1 200 450"
        }]
    %}
    {% for item in items %}
        <li class="catalog-list__item">
            {% include "template/catalog/card.html" %}
        </li>
    {% endfor %}
</ul>
