<form name="form_cat_sorting" action="#">
    <div class="cat-sorting-base">
        <div class="cat-sorting-base__name">
            <span class="cat-sorting-base__name-txt">Сортировать :</span>
        </div>
        <div class="cat-sorting-base__list">
            <div class="cat-sorting-item-cont">
                <div class="cat-sorting-item">
                    <input id="cat_sorting_pop" class="cat-sorting-item__input" type="radio" name="cat_sorting" value="" />
                    <label for="cat_sorting_pop" class="cat-sorting-item__label">
                        <span class="cat-sorting-item__txt">по популярности</span>
                    </label>  
                </div>
                <div class="cat-sorting-item cat-sorting-item_price">
                    <input id="cat_sorting_price"  class="cat-sorting-item__input cat-sorting-item__input_price" type="radio" name="cat_sorting" value="" checked />
                    <input id="cat_sorting_price_low" class="cat-sorting-item__input_price_low" type="checkbox" name="cat_sorting_price_low"  value="" checked />
                    <label for="cat_sorting_price_low" class="cat-sorting-item__label cat-sorting-item__label_dop"></label> 
                    <label for="cat_sorting_price" class="cat-sorting-item__label">
                        <span class="cat-sorting-item__txt">по цене</span>
                        <i class="cat-sorting-item__diz g-abs g-abs_r">
                            <i class="cat-sorting-item__diz-line g-abs g-abs_t"></i>
                            <i class="cat-sorting-item__diz-line g-abs g-abs_c"></i>
                            <i class="cat-sorting-item__diz-line g-abs g-abs_b"></i>
                        </i>
                    </label> 
                </div>
                <div class="cat-sorting-item">
                    <input id="cat_sorting_name" class="cat-sorting-item__input" type="radio" name="cat_sorting" value="" />
                    <label for="cat_sorting_name" class="cat-sorting-item__label ">
                        <span class="cat-sorting-item__txt">по названию</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="cat-sorting-amount">
        <div class="cat-sorting-amount__name">
            <span class="cat-sorting-amount__name-txt">Товаров на странице</span>
        </div>
        <div class="cat-sorting-amount__field">
            <div class="g-select__cont">
                <select class="g-select g-select_sm" name="">
                    <option value="">9</option>
                    <option value="">15</option>
                    <option value="">21</option>
                    <option value="">27</option>
                    <option value="">33</option>
                </select>
                <svg role="presentation" class="g-select__ico g-abs g-abs_r">
                    <use xlink:href="#symbol-arrow_text-down"></use>
                </svg>
            </div>
        </div>
    </div>
</form>
