<ul class="catalog-favorite-list">
    <!-- img set 700x700px -->
    {% set items = [{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Гостиная Жасмин фарфоровый",
            "cost": "199 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-2.jpg",
            "title": "Гостиная Марсель",
            "cost": "123 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-3.jpg",
            "title": "Спальня Барокко, белый с золотой патиной",
            "cost": "200 450"
        },{
            "img": "images/pages/catalog/goods-img_sm-4.jpg",
            "title": "Прихожая Новелла, дуб шамони/глянец",
            "cost": "87 450"
        },{
            "img": "images/pages/catalog/goods-img_sm.jpg",
            "title": "Жасмин. Погонаж № 236, цвет Bianco Alpino",
            "cost": "265 450"
        }]
    %}
    {% for item in items %}
        <li class="catalog-favorite-list__item">
            {% include "template/catalog/card.html" %}
        </li>
    {% endfor %}
</ul>
