<div class="office-el">
    <a href="office__detail.html" class="g-link"></a>
    <div class="office-el-img">
        <span class="office-el-img__in g-bg_cover" style="background-image: url({{ item.img }})"></span>
        <span class="office-el-logo g-abs g-abs_b">
            <img class="office-el-logo__ico g-abs" src="{{ item.logo }}" alt="{{ item.title }}" />
        </span>
    </div>
    <div class="office-el__text">
        <div class="office-el__text-wrap">
            <div class="office-el-title">
                <span class="office-el-title__txt">{{ item.title }}</span>
            </div>
            <div class="office-el-desc">
                <div class="office-el-desc__txt">{{ item.desc }}</div>
            </div>
            <div class="office-el-info">
                <div class="office-el-info-el office-el-info-el--long">
                    <div class="office-el-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                        <svg role="presentation" class="office-el-info-el__ico g-abs">
                            <use xlink:href="#symbol-position"></use>
                        </svg>
                    </div>
                    <div class="office-el-info-el__in">
                        <div class="office-el-info-el__txt Fw(sb)">{{ item.address }}
                        </div>
                    </div>
                </div>
                <div class="office-el-info-el">
                    <div class="office-el-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                        <svg role="presentation" class="office-el-info-el__ico g-abs">
                            <use xlink:href="#symbol-phone"></use>
                        </svg>
                    </div>
                    <div class="office-el-info-el__in">
                        <a href="tel:8(496)250-80-885" class="office-el-info-el__txt Fw(heavy)">{{ item.phone }}</a>
                    </div>
                </div>
                <div class="office-el-info-el">
                    <div class="office-el-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                        <svg role="presentation" class="office-el-info-el__ico g-abs">
                            <use xlink:href="#symbol-site"></use>
                        </svg>
                    </div>
                    <div class="office-el-info-el__in">
                        <a href="www.n-d-c.ru" class="office-el-info-el__txt">{{ item.site }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
