<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='ru' lang='ru' class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <meta name='description' content='' />
    <meta content="width=device-width,initial-scale=1,user-scalable=no" name="viewport" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="x-rim-auto-match" content="none" />
    <!-- <meta property="og:image" content='images/logo-200-vk.png'  /> -->
    <!-- <meta name="application-name" content="Title" /> -->
    <!-- <meta name="msapplication-tooltip" content="Description"/> -->
    <!-- <meta name = "apple-mobile-web-app-title" content = "Артатом">
    <meta name="apple-mobile-web-app-status-bar-style" content="#eb4c56"> -->
    <!-- <link type='image/x-icon' rel='icon' href='images/favicon/favicon.ico' /> -->
    <!-- <link type='image/x-icon' rel='shortcut icon' href='images/favicon/favicon.ico' /> -->
    <!-- <link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="images/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="images/favicon/ms-icon-144x144.png" />
    <meta name="msapplication-config" content="images/favicon/browserconfig.xml"/>
    <meta name="theme-color" content="#ffffff" /> -->
    <link type='text/css' rel='stylesheet' href='css/style_main.css' />
    <link type='text/css' rel='stylesheet' href='js/vendor/swiper-slider_4/swiper.min.css' />
    <link rel="stylesheet" href="js/vendor/fancybox/jquery.fancybox.css">

    <!--[if lt IE 10]>
        <script src="js/vendor/classList.min.js"></script>
        <script src="js/vendor/html5shiv.min.js"></script>
    <![endif]-->
</head>
{% from "macros/btns.html" import  btn, button %}

<body>
    {% include "sprites/sprites_label/svg/symbols.svg" %}
    <header id="header" class="header">
        <div class="header__top">
            <div class="g-content g-content_h">
                <div class="header__top-in">
                    <div class="header-nav-top__license g-vac ">
                        <span class="header-nav-top__txt g-vac__el">лицензия № 78-01 004654</span>
                    </div>
                    <div class="header__right">
                        <button class="header-nav-top g-vac header-nav-top--city" data-toggle="modal" data-target="#modal--city">
                            <span class="header-nav-top__txt g-vac__el Whs(n) Fw(sb)">
                               <span class="header-nav-top__city">Санкт-Петербург</span> <span class="header-nav-top__choose">Выбрать город</span>
                            </span>
                        </button>
                        <div class="header__top-nav">
                            <a href="catalog_map.html" class="header-nav-top g-vac">
                                <span class="header-nav-top__txt header-nav-top__txt--brd g-vac__el">Карта услуг</span>
                            </a>
                            <a href="payment-terms.html" class="header-nav-top g-vac">
                                <span class="header-nav-top__txt header-nav-top__txt--brd g-vac__el">Условия оплаты</span>
                            </a>
                            <a href="mailto:spb@n-d-c.ru" class="header-nav-top header-nav-top--mail g-vac">
                                <span class="header-nav-top__txt g-vac__el Fw(sb)">spb@n-d-c.ru</span>
                            </a>
                            <button class="header-nav-top g-vac" data-toggle="modal" data-target="#modal_message">
                                <span class="header-nav-top__txt header-nav-top__txt--brd g-vac__el">Написать сообщение</span>
                            </button>
                            <div class="g-null"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__mid">
            <div class="g-content g-content_h g-content_large">
                <div class="header__mid-in">
                    <button type="button" class="header-burger g-abs g-abs_r g-abs_t js-nav-mob__open">
                        <span class="header-burger-ico g-abs">
                            <span class="header-burger-ico__line g-abs g-abs_t"></span>
                            <span class="header-burger-ico__line g-abs g-abs_c"></span>
                            <span class="header-burger-ico__line g-abs g-abs_b"></span>
                        </span>
                    </button>
                    <a href="index.html" class="header-logo g-vac g-abs g-abs_l">
                        <span class="header-logo__in g-vac__el">
                            <img class="header-logo__ico" src="images/logo.svg" alt="shop_logo" />
                            <img class="header-logo__ico header-logo__ico--mob" src="images/logo_mob.svg" alt="shop_logo" />
                        </span>
                    </a>
                    <div class="header__right">
                        <div class="header-info header-info--city-mob header-info--mob g-vac">
                            <div class="header-info__in g-vac__el">
                                <a href="#" class="header-info-city" data-toggle="modal" data-target="#modal--city">
                                    <span class="header-info-city__txt g-vac__el Whs(n) Fw(sb)">
                                       <span class="header-info-city__in">Санкт-Петербург</span> <span class="header-info-city__choose">другой город</span>
                                    </span>
                                    <svg role="presentation" class="header-info-city__ico g-abs">
                                        <use xlink:href="#symbol-position"></use>
                                    </svg>
                                </a>
                                <div>
                                    <div class="header-info-choose">схема проезда</div>
                                </div>
                                <div>
                                    <button class="header-info-btn-link" data-toggle="modal" data-target="#modal--office">другой филиал</button>
                                </div>
                            </div>
                        </div>
                        <div class="header-info header-info--city header-info--desktop g-vac Ta(c)">
                            <div class="header-info__in g-vac__el">
                                <div class="header-info-choose" data-toggle="modal" data-target="#modal--office">Выбрать другой филиал</div>
                                <div class="header-info-text">ул. Боровая, 55  м. Обводный канал</div>
                                <a href="#" class="header-info-link">Схема проезда</a>
                            </div>
                        </div>
                        <div class="header-info header-info--schedule header-info--desktop g-vac">
                            <div class="header-info__in g-vac__el">
                                <div class="header-info-title">График работы</div>
                                <div class="header-info-text">ежедневно 9:00 - 22:00</div>
                                <button class="header-info-link" data-toggle="modal" data-target="#modal--buy-click" data-id="id_form">Запись на приём</button>
                            </div>
                        </div>
                        <div class="header-info header-info--phone g-vac">
                            <div class="header-info__in g-vac__el">
                                <div class="header-info-title">Диспетчерская служба</div>
                                <a href="tel:+7(812)385-46-06" class="header-info-phone header-info-phone--main">
                                    <svg role="presentation" class="header-info-phone__ico g-abs">
                                        <use xlink:href="#symbol-phone"></use>
                                    </svg>
                                    <span class="header-info-phone__txt">+7 (812) 385-46-06</span>
                                </a>
                                <a href="tel:+7(812)385-46-06" class="header-info-phone">
                                    <span class="header-info-phone__txt">+7 (812) 385-46-06</span>
                                </a>
                                <div class="header-info-text header-info--mob">ежедневно 9:00 - 22:00</div>
                            </div>
                        </div>
                        <div class="header-info header-info--mail header-info--mob g-vac">
                            <div class="header-info__in g-vac__el">
                                <a href="mailto:spb@n-d-c.ru" class="header-info-link">
                                    <svg role="presentation" class="header-info-link__ico g-abs">
                                        <use xlink:href="#symbol-email"></use>
                                    </svg>
                                    <span class="header-info-link__txt">spb@n-d-c.ru</span>
                                </a>
                                <div class="header-info-choose" data-toggle="modal" data-target="#modal_message">написать сообщение</div>
                            </div>
                        </div>
                        <div class="header-cart g-vac">
                            <a href="cart.html" class="header-cart__in g-vac__el">
                                <svg role="presentation" class="header-cart__ico g-abs g-abs_t g-abs_l">
                                    <use xlink:href="#symbol-cart"></use>
                                </svg>
                                <svg role="presentation" class="header-cart__ico-mob g-abs">
                                    <use xlink:href="#symbol-cart_mob"></use>
                                </svg>
                                <span class="header-cart-title">Корзина пуста</span>
                                <span class="header-cart-num g-vac">
                                    <span class="header-cart-num__txt g-vac__el">
                                        <span class="header-cart-num__count">0</span>
                                        <span class="header-cart-num__name">услуг</span>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <button class="header-search-btn js-nav-mob__open">
                            <img class="header-search-btn__ico" src="images/search.svg" alt="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="header__bottom-wrap">
                <div class="g-content g-content_h">
                    <div class="header__bottom-in">
                        <nav class="header-nav">
                            <div class="header-nav__in">
                                <ul class="header-nav__list">
                                    <li class="header-nav-item">
                                        <a href="catalog.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">Услуги и цены</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="stock.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">АКЦИИ</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="promo.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">ПРОМО</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="staff.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">Специалисты</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="faq.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">Вопрос врачу</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="news.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">Новости / статьи</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="about.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">О центре</span>
                                        </a>
                                    </li>
                                    <li class="header-nav-item">
                                        <a href="contacts.html" class="header-nav-item__link g-vac js-spy-link">
                                            <span class="header-nav-item__link-txt  g-vac__el">Контакты</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>

                        <div class="header__search">
                            <div class="g-search-field header__search-in">
                                <form action="search.html">
                                    <input id="search_main" name="text" class="g-input__search" type="search" placeholder="Поиск услуги" autocomplete="off">
                                    <button class="g-search-field__btn g-abs g-abs_r">
                                        <img class="g-search-field-btn__ico g-abs g-abs" src="images/search_btn.svg" alt="" />
                                    </button>
                                    <label class="g-search-field__label" for="search_main">Поиск услуги</label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class='g-body__wrap'>
        <!-- TOP Part end -->
