
:root {
    --z-modal: 1000;
    --z-cookie: 970;
    --z-header: 955;
    --z-nav: 950;
    --z-overlay: 948;
    --z-footer: 940;

    --content-p: 2.5em;
    --content-p-med: 2em;
    --content-p-sm: 1.5em;
    --content-w: 139.5em;
    --content-w-large: var(--content-w);

    --header-height: 22.2em;

    --c-black: #161821;
    --c-red: #FE2C40;
    --c-white: #fff;
    --c-grey: #7D7987;
    --c-green: #3AC048;
    --c-blue: #458FF6;
    --c-blue-hover: #12AAFF;

    --c-body: #161821;
    --c-hover-base: #F84A92;
    --c-hover-dop: #458FF6;
    --c-btn-base: #458FF6;
    --c-btn-base-hover: #6fabff;
    --c-btn-dop: #F84A92;
    --c-btn-dop-hover: #fa7aaf;
    --c-link: var(--c-hover-base);
    --c-disabled: #D3D3D3;
    --c-placeholder: #9faab4;

    --bg-wite: #fff;
    --bg-black: #111;
    --bg-line: #F4F4F6;
}

@custom-media --xl-1600 (max-width: 1600px);
@custom-media --xl-1440 (max-width: 1440px);
@custom-media --xl-1400 (max-width: 1420px);
@custom-media --xl-1366 (max-width: 1366px);
@custom-media --xl-1330 (max-width: 1330px);
@custom-media --xlarge (max-width: 1280px);
@custom-media --xl-1279 (max-width: 1279px);
@custom-media --xl (max-width: 1200px);
@custom-media --xl-1150 (max-width: 1150px);
@custom-media --lg1024 (max-width: 1024px);
@custom-media --lg (max-width: 992px);
@custom-media --lg-l (max-width: 959px);
@custom-media --lg-800 (max-width: 800px);
@custom-media --md (max-width: 768px);
@custom-media --md-767 (max-width: 767px);
@custom-media --md-599 (max-width: 599px);
@custom-media --sm (max-width: 567px);
@custom-media --sm-400 (max-width: 400px);
@custom-media --sm-360 (max-width: 360px);
@custom-media --sm-h800 (max-height: 800px);
@custom-media --sm-h700 (max-height: 700px);
