<div class="footer-nav">
    <div class="footer-nav__gr">
        <a href="index.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Главная</span>
        </a>
        <a href="catalog.html" class="footer-nav-link footer-nav-link--mob">
            <span class="footer-nav-link__txt">Услуги и цены</span>
        </a>
        <a href="stock.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Акции</span>
        </a>
        <a href="promo.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Промо</span>
        </a>
        <a href="staff.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Специалисты</span>
        </a>
        <a href="faq.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Вопрос врачу</span>
        </a>
        <a href="news.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Новости / статьи</span>
        </a>
        <a href="about.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">О центре</span>
        </a>
        <a href="payment-terms.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Условия оплаты</span>
        </a>
        <!-- <a href="text-page.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Вакансии</span>
        </a> -->
        <a href="office.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Филиалы</span>
        </a>
        <a href="contacts.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Контакты</span>
        </a>
    </div>
    <div class="footer-nav__gr footer-nav__gr--desktop">
        <a href="catalog.html" class="footer-nav-link">
            <span class="footer-nav-link__txt">Услуги и цены</span>
        </a>
        <div class="footer-nav-dop g-column_x2">
            <a href="diagnostics.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Самодиагностика</span>
            </a>
            <a href="analyzes.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Анализы</span>
            </a>
            <a href="catalog_diagnos.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Диагностика</span>
            </a>
            <a href="abult_department.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Взрослое отделение</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Детское отделение</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Профосмотр</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Вызов врача/медсестры</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Травмпункт</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Косметология</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Стоматология</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Справки и документы</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Для организаций</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Паллиативная медицина и реабилитация</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Скорая помощь</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">ВВЭ</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Телемедицина</span>
            </a>
            <a href="catalog__in.html" class="footer-nav-dop-link">
                <span class="footer-nav-dop-link__txt">Прививочный кабинет</span>
            </a>
        </div>
    </div>
</div>
