    <!-- BOTTOM Part start -->
    <footer id="footer" class="footer">
        <div class="footer__top">
            <div class="g-content">
                <div class="footer__in">
                    <div class="footer__right">
                        {% include "template/footer/footer-nav.html" %}
                    </div>
                    <div class="footer__left">
                        <div class="footer-gr__cont">
                            <div class="footer-gr footer-gr--info">
                                <div class="footer-info">
                                    <div class="footer-info-el">
                                        <div class="footer-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                                            <svg role="presentation" class="footer-info-el__ico g-abs">
                                                <use xlink:href="#symbol-position"></use>
                                            </svg>
                                        </div>
                                        <div class="footer-info-el__in">
                                            <div class="footer-info-el__txt Fw(sb)">Санкт-Петербург
                                                <br/>1-й Советский переулок, 25
                                            </div>
                                        </div>
                                    </div>
                                    <div class="footer-info-el">
                                        <div class="footer-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                                            <svg role="presentation" class="footer-info-el__ico g-abs">
                                                <use xlink:href="#symbol-phone"></use>
                                            </svg>
                                        </div>
                                        <div class="footer-info-el__in">
                                            <a href="tel:8(496)250-80-885" class="footer-info-el__txt Fw(heavy)">8 (496) 250-80-88</a>
                                        </div>
                                    </div>
                                    <div class="footer-info-el">
                                        <div class="footer-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                                            <svg role="presentation" class="footer-info-el__ico g-abs">
                                                <use xlink:href="#symbol-site"></use>
                                            </svg>
                                        </div>
                                        <div class="footer-info-el__in">
                                            <a href="www.n-d-c.ru" class="footer-info-el__txt">www.n-d-c.ru</a>
                                        </div>
                                    </div>
                                    <div class="footer-info-el">
                                        <div class="footer-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                                            <svg role="presentation" class="footer-info-el__ico g-abs">
                                                <use xlink:href="#symbol-email"></use>
                                            </svg>
                                        </div>
                                        <div class="footer-info-el__in">
                                            <a href="mailto:mail@n-d-c.ru" class="footer-info-el__txt">mail@n-d-c.ru</a>
                                        </div>
                                    </div>
                                    <div class="footer-info-el">
                                        <div class="footer-info-el__ico-wrap g-abs g-abs_l g-abs_t">
                                            <svg role="presentation" class="footer-info-el__ico g-abs">
                                                <use xlink:href="#symbol-time"></use>
                                            </svg>
                                        </div>
                                        <div class="footer-info-el__in">
                                            <div class="footer-info-el__txt">9:00 - 22:00 <br/>ежедневно</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer-gr footer-gr--all">
                                <div class="footer-gr__in footer-gr__in--pay">
                                    <div class="footer-gr__title">
                                        <div class="footer-gr__title-txt">Способы оплаты</div>
                                    </div>
                                    <div class="footer-gr__list">
                                        <div class="footer-paysystem">
                                            <div class="footer-paysystem__item g-vac">
                                                <img class="footer-paysystem__ico g-vac__el" src="images/pages/paysystem/pay_system_visa.svg" alt="visa" role="presentation" />
                                            </div>
                                            <div class="footer-paysystem__item g-vac">
                                                <img class="footer-paysystem__ico g-vac__el" src="images/pages/paysystem/pay_system_master.svg" alt="mastercard" role="presentation" />
                                            </div>
                                            <div class="footer-paysystem__item g-vac">
                                                <img class="footer-paysystem__ico g-vac__el" src="images/pages/paysystem/pay_system_mir.svg" alt="mir" role="presentation" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer-gr__in footer-gr__in-soc">
                                    <div class="footer-gr__title">
                                        <div class="footer-gr__title-txt">Поделиться в соц. сетях</div>
                                    </div>
                                    <div class="footer-gr__list">
                                        <div class="footer-social">
                                            <a href="vk.com" class="footer-social__item g-vac" rel="alternate nofollow noopener noreferrer" target="_blank"              >
                                                <img class="footer-social__ico g-vac__el" src="images/pages/social/soc_vk.svg" alt="vk.ru" role="presentation" />
                                            </a>
                                            <a href="instagram.com" class="footer-social__item g-vac" rel="nofollow noopener noreferrer" target="_blank"              >
                                                <img class="footer-social__ico g-vac__el" src="images/pages/social/soc_insta.svg" alt="instagram.com" role="presentation" />
                                            </a>
                                            <a href="odnoklasniki.ru.com" class="footer-social__item g-vac" rel="nofollow noopener noreferrer" target="_blank"              >
                                                <img class="footer-social__ico g-vac__el" src="images/pages/social/soc_odnok.svg" alt="odnoklasniki.ru" role="presentation" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <div class="g-content">
                <div class="footer__in">
                    <div class="footer__text">
                        <div class="g-editor g-editor--sm g-column_x2">
                            <p>Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Статей 435 и 437 Гражданского кодекса РФ.</p>
                            <p>Данный веб-сайт использует файлы cookie для предоставления сервисов и улучшения взаимодействия с пользователем. Продолжая просмотр веб-сайта, Вы автоматически соглашаетесь на использование файлов cookie согласно нашей политике в отношении файлов cookie.</p>
                        </div>
                    </div>
                    <div class="footer__bottom-all">
                        <div class="footer__left">
                            <div class="footer-copyright">
                                <div class="footer-copyright__block">
                                    <svg role="presentation" class="footer-copyright__ico g-abs g-abs_l">
                                        <use xlink:href="#symbol-copyright"></use>
                                    </svg>
                                    <span class="footer-copyright__txt">2011 – 2020  НДЦ
                                        <br/>Все права защищены</span>
                                </div>
                                <div class="footer-license">
                                    <span class="footer-license__txt">НДЦ-Санкт-Петербург диагностический центр <br/>ООО «НДЦ-СПб»  лицензия № 78-01 004654</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer__right">
                            <div class="footer-politics g-vac">
                                <div class="footer-politics__in g-vac__el">
                                    <a href="text-page.html" class="footer-politics__link g-vac">
                                        <span class="footer-politics__link-txt g-vac__el">Политика обработки персональных данных</span>
                                    </a>
                                </div>
                            </div>
                            <div class="footer-dev g-vac">
                                <div class="footer-dev__in g-vac__el">
                                    <div class="footer-dev__item">
                                        <a href="http://artatom.ru/" target="_blank" class="footer-dev__link g-vac" rel="noopener">
                                            <span class="footer-dev__link-txt g-vac__el">Сайт создан Артатом</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <img class="g-body-diz-img g-body-diz-img--left g-diz" src="images/body_bg_ball.svg" alt="" role="presentation" />
    <img class="g-body-diz-img g-body-diz-img--right g-diz" src="images/body_bg_ball.svg" alt="" role="presentation" />
</div>
{% include "template/nav/nav_mob.html" %}
{% include "template/cookie/cookie.html" %}
{% include "template/modal/modal.html" %}
{% include "template/modal/modal_buy_one.html" %}
{% include "template/modal/modal_city.html" %}
{% include "template/modal/modal_office.html" %}
<script src='js/device.min.js'></script>
<script src='js/vendor/autosize.min.js'></script>
<script src='js/artatom.js'></script>
<script src='js/vendor/svg4everybody/svg4everybody.min.js'></script>
<script src='js/vendor/svg4everybody/svg4everybody_init.js'></script>
<script src='js/vendor/swiper-slider_4/swiper.min.js'></script>
<script src='js/aa_slider.js'></script>
<script src='js/aa_scroll.js'></script>
<!-- jQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
<script type='text/javascript' src='js/vendor/ResizeSensor.min.js'></script>
<script type='text/javascript' src='js/vendor/theia-sticky-sidebar.min.js'></script>
<script>
    jQuery(document).ready(function() {
        jQuery('.catalog-grid-r__content, .catalog-grid-r__sidebar').theiaStickySidebar({
          // Settings
          additionalMarginTop: 44
        });
    });
</script>
<script type='text/javascript' src='js/vendor/bootstrap/util.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/collapse.js'></script>
<script type='text/javascript' src='js/vendor/bootstrap/tab.js'></script>
<!-- <script type='text/javascript' src='js/vendor/bootstrap/dropdown.js'></script> -->
<script type='text/javascript' src='js/vendor/bootstrap/modal.js'></script>
<script>
    (function(){
        var modalClick = document.getElementById('modal--buy-click');
        var modalInputId = modalClick.querySelector('#modal--buy-click__id');
        var modalService = modalClick.querySelector('.modal-body__service');
        var modalStaff = modalClick.querySelector('.modal-body__staff');
        var modalStaffKind = modalClick.querySelector('.modal-body__staff-kind');
        $(modalClick).on('show.bs.modal', function (event) {
            let button = event.relatedTarget;
            let service = button.getAttribute('data-service');
            let staff = button.getAttribute('data-staff');
            let staffKind = button.getAttribute('data-staff-kind');
            let id = button.getAttribute('data-id');
            if (service) {
                modalService.innerHTML = "Услуга: " + service;
            } else { modalService.style.display = 'none'; }
            if (staff) {
                modalStaff.innerHTML  = "Заявка на прием к специалисту: <br/> " + staff;
            } else { modalStaff.style.display = 'none'; }
            if (staffKind) {
                modalStaffKind.textContent = staffKind;
            } else { modalStaffKind.style.display = 'none'; }
            modalInputId.value = id;
        });
        $('.modal').on('shown.bs.modal', function(){
            // hime mobile menu
            documentElement.style.paddingRight = "";
            documentElement.classList.remove("is-lock");
            documentElement.classList.remove("nav-open");
        })
    })();
</script>

<script src='js/vendor/fancybox/jquery.fancybox.min.js'></script>
<!-- <script type='text/javascript' src='js/aa_modal.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/force/force.min.js'></script>
<script type='text/javascript' src='js/vendor/force/force_init.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/magnific/jquery.magnific-popup.min.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/fancybox/jquery.fancybox.min.js'></script> -->
<!-- <script type='text/javascript' src='js/vendor/inputmask/jquery.inputmask.bundle.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/jquery.validate.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/additional-methods.min.js'></script>
<script type='text/javascript' src='js/vendor/jqueryValidation/localization/messages_ru.min.js'></script>
<script src='//www.google.com/recaptcha/api.js'></script>
<script type='text/javascript' src='js/aa_form-verification.js'></script> -->
</body>

</html>
