<div class="offers-el">
    <a href="offers__detail.html" class="g-link"></a>
    <div class="offers-el-img">
        <span class="offers-el-img__in g-abs g-bg_cover" style="background-image: url({{ item.img }})"></span>
    </div>
    <div class="offers-el__text">
        <div class="offers-el__text-wrap">
            <div class="offers-el-date">
                <span class="offers-el-date__txt">с 5 по 31 декабря</span>
            </div>
            <div class="offers-el-title">
                <span class="offers-el-title__txt">{{ item.title }}</span>
            </div>
            <div class="offers-el-price">
                <span class="offers-el-price__txt">1 200 ₽</span>
            </div>
            <div class="offers-el-desc">
                <div class="g-editor g-editor_big g-editor_desc">
                    <p>{{ item.desc }}</p>
                </div>
            </div>
        </div>
        <div class="offers-el-time">
            <div class="offers-el-time__day">
                <span class="offers-el-time__txt">11 дней</span>
            </div>
            <div class="offers-el-time__clock">
                <span class="offers-el-time__txt">05</span>
            </div>
            <div class="offers-el-time__split">
                <span class="offers-el-time__txt">:</span>
            </div>
            <div class="offers-el-time__clock">
                <span class="offers-el-time__txt">51</span>
            </div>
            <div class="offers-el-time__split">
                <span class="offers-el-time__txt">:</span>
            </div>
            <div class="offers-el-time__clock">
                <span class="offers-el-time__txt">29</span>
            </div>
        </div>
        <div class="offers-el-btns">
            <div class="offers-el-btns__item">
                <a href="stock__detail.html" class="g-btn-color">
                    <span class="g-btn-color__txt">Подробнее</span>
                </a>
            </div>
            <div class="offers-el-btns__item">
                <button class="g-btn g-btn--bg">
                    <span class="g-btn__txt">Записаться</span>
                </button>
            </div>
        </div>
    </div>
</div>
