<div class="banner-hor">
    <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-1.jpg)">
        <div class="banner-hor-el__date">с 5 по 31 декабря</div>
        <a href="" class="banner-hor-el-title">
            <span class="banner-hor-el-title__txt">Приём врача&#8209;терапевта <br/>+ ЭКГ в подарок</span>
        </a>

        <div class="g-price banner-hor-el-price">
            <span class="g-price__txt  banner-hor-el-price__txt">
                1 200
                <span class="g-price__cur currency">₽</span>
            </span>
        </div>
        <div class="banner-hor-el-btn">
            <div class="banner-hor-el-btn__item">
                <button class="g-btn g-btn--bg g-btn--sm" data-toggle="modal" data-target="#modal--buy-click" data-service="Приём врача&#8209;терапевта <br/>+ ЭКГ в подарок" data-id="some_id_12">
                    <span class="g-btn__txt">Записаться</span>
                </button>
            </div>
            <div class="banner-hor-el-btn__item">
                <a href="stock__detail.html" class="g-btn-color g-btn-color--sm">
                    <span class="g-btn-color__txt">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
    <div class="banner-hor-el banner-hor-el--sm g-card__diz bg--cover" style="background-image: url(images/pages/banners/banner-hor-2.jpg)">
        <div class="banner-hor-el__date">с 5 по 31 декабря</div>
        <a href="" class="banner-hor-el-title">
            <span class="banner-hor-el-title__txt">Общее лабораторное обследование</span>
        </a>

        <div class="g-price banner-hor-el-price">
            <span class="g-price__txt  banner-hor-el-price__txt">
                <span class="g-price__old">890</span>
                <span class="g-price__new">420
                    <span class="g-price__cur currency">₽</span>
                </span>
            </span>
        </div>
        <div class="banner-hor-el-btn">
            <div class="banner-hor-el-btn__item">
                <button class="g-btn g-btn--bg g-btn--sm"  data-toggle="modal" data-target="#modal--buy-click" data-service="Общее лабораторное обследование" data-id="some_id_111">
                    <span class="g-btn__txt">Записаться</span>
                </button>
            </div>
            <div class="banner-hor-el-btn__item">
                <a href="stock__detail.html" class="g-btn-color g-btn-color--sm">
                    <span class="g-btn-color__txt">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</div>
