<div class="staff-el-hor g-card__diz">
    <a href="staff_detail.html" class="staff-el-hor-img">
        <img class="staff-el-hor-img__in g-abs" src="{{ item.img }}" alt="" />
        <span class="staff-el-hor-service g-abs g-abs_t g-abs_r g-vac">
            <span class="staff-el-hor-service__txt g-vac__el">{{ item.service }}</span>
        </span>
    </a>
    <div class="staff-el-hor__wrap">
        <div class="staff-el-hor__text">
            <div class="staff-el-hor__text-wrap">
                <a href="staff_detail.html" class="staff-el-hor-title">
                    <span class="staff-el-hor-title__name1">{{ item.title }}</span>
                    <span class="staff-el-hor-title__name2">{{ item.title2 }}</span>
                </a>
                <div class="staff-el-hor-desc">
                    <div class="g-editor g-editor--sm g-editor--desc">{{ item.desc }}</div>
                </div>
                <div class="staff-el-hor-dop">
                    <div class="g-editor g-editor--sm g-editor--desc">{{ item.dop }}</div>
                </div>
            </div>
        </div>

        <div class="staff-el-hor-btn">
            <div class="staff-el-hor-btn__item">
                <button class="g-btn g-btn--sm g-btn--bg" data-toggle="modal" data-target="#modal--buy-click" data-staff-kind="Гинеколог-эндокринолог, детский гинеколог"  data-staff="{{ item.title }} <br/> {{ item.title2 }}" data-id="some_id_1">
                    <span class="g-btn__txt">онлайн Запись</span>
                </button>
            </div>
            <div class="staff-el-hor-btn__item">
                <a href="staff_detail.html" class="g-btn-color g-btn-color--sm">
                    <span class="g-btn-color__txt">Подробнее</span>
                </a>
            </div>
        </div>
    </div>
</div>
