<div class="staff-el g-card__diz">
    <a href="staff_detail.html" class="staff-el-img">
        <img class="staff-el-img__in g-abs" src="{{ item.img }}" alt="" />
        <span class="staff-el-service g-abs g-abs_t g-abs_r g-vac">
            <span class="staff-el-service__txt g-vac__el">{{ item.service }}</span>
        </span>
    </a>
    <div class="staff-el__text">
        <div class="staff-el__text-wrap">
            <a href="staff_detail.html" class="staff-el-title">
                <span class="staff-el-title__name1">{{ item.title }}</span>
                <span class="staff-el-title__name2">{{ item.title2 }}</span>
            </a>
            <div class="staff-el-desc">
                <div class="g-editor g-editor--sm g-editor--desc">{{ item.desc }}</div>
            </div>
            <div class="staff-el-dop">
                <div class="g-editor g-editor--sm g-editor--desc">{{ item.dop }}</div>
            </div>
        </div>
    </div>
</div>
