@import "../../css/partials/abstracts/*.css";


/*! Slider_swiper */

@import "../../js/vendor/swiper-slider_4/swiper.min.css";
.swiper-wrapper [data-src] {
    display: none;
}

.home-slider {
    position: relative;
    margin: 1.4em 0 6.5em;
    &__slide {
        width: 50%;
        height: 32.5em;
        overflow: hidden;
        color: #fff;
        border-radius: 1em 1em 4em 1em;
        box-shadow: 0 1.5em 1.5em rgba(#293342, 0.25);
    }
    &__in {
        position: relative;
        padding: 3.4em 4em;
        height: 100%;
    }
    &__bg {
        background-color: #293342;
        z-index: -1;
    }
    &__text {
        overflow: hidden;
        height: 20.5em;
        margin-bottom: 2.1em;
    }
    &__title {
        margin-bottom: 2.5em;
        &-txt {
            font-size: 2.4em;
            line-height: 1.4;
            font-weight: bold;
        }
    }
    &__desc {
        margin-bottom: 2.9em;
        .editor {
            font-weight: 600;
            font-size: 1.4em;
            line-height: 1.8;
        }
    }
    &__desc2 {
        .g-editor {
            font-size: 1.2em;
            line-height: 1.7;
        }
    }
    &__btn {}

    &__nav {
        cursor: pointer;
        size: 4em;
        z-index: 10;
        background: $bg_blue;
        border-radius: 100%;
        box-shadow: 0 0.5em 0.4em rgba(#1C355A, 0.4);
        overflow: hidden;
        fill: #fff;
        @extend trans_bg;
        &-ico {
            size: 0.65em 1.1em;
        }
        &_next {
            right: -2em;
        }
        &_prev {
            left: -2em;
        }
        &_next & {
            &-ico {
                left: 0.1em;
            }
        }
        &_prev & {
            &-ico {
                right: 0.1em;
            }
        }
        &:hover {
            background: $bg_blue_hover;
        }
        &.swiper-button-disabled {
            fill: transparent;
        }
    }
}

.service-cab-slider {
    position: relative;
    padding-bottom: 3em;
    overflow: hidden;

    &__in {
        max-width: 68em;
        margin: 0 auto;
        text-align: left;
    }
    &__img {
        &-cont {
            min-height: 30em;
            max-height: 42em;
            overflow: hidden;
            position: relative;
        }
        & {
            display: block;
            max-height: 100%;
            max-width: 100%;
        }
    }
    &__text {
        margin-top: 1.9em;
    }

    .swiper-pagination {
        bottom: 0;
    }

    &__btn {
        cursor: pointer;
        size: 4em;
        z-index: 1;
        fill: $cbody;
        &-ico {
            size: 0.9em 1.6em;
        }
        &_next {
            right: 0;
        }
        &_prev {
            left: 0;
        }
        &:hover {
            fill: $blue;
        }
        &.swiper-button-disabled {
            fill: transparent;
        }
    }
}

.g-client {
    margin: 7em 0 11.4em;

    &__list {
        clear: fix;
        text-align: center;
        position: relative;
        padding: 0 3em;
    }
    &-el {
        display: inline-block;
        height: 7.6em;
        padding: 0 3em;
        &__img {
            max-width: 100%;
            max-height: 100%;
        }
        &__link {
            @extend trans_opacity;
            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__slider {
        display: inline-block;
        max-width: 100%;
        overflow: hidden;
        .swiper-slide {
            width: auto;
        }
        &.swiper-container-horizontal {
            display: block;
            &~.g-client__slider-btn {
                display: block;
            }
        }
        &-btn {
            display: none;
            cursor: pointer;
            size: 4em;
            z-index: 1;
            fill: $cbody;
            &-ico {
                size: 0.9em 1.6em;
            }
            &_next {
                right: -1.6em;
            }
            &_prev {
                left: -1.6em;
            }
            &:hover {
                fill: $blue;
            }
            &.swiper-button-disabled {
                fill: transparent;
            }
        }
    }
}


/*! slider_swiper */
