
<div class="g-content">
    <div class="comments">

        <div class="comments__heading">
            <div class="comments-title">
                <div class="comments-title__txt">Отзывы и оценки <span class="g-grey">9</span></div>
            </div>
            <div class="comment-info">
                <div class="comment-info__in">
                    <span class="comment-info__points g-vac">
                        <span class="comment-info__txt g-vac__el">3,5 <span class="comment-info__title">балла</span></span>
                    </span>
                    <span class="comment-info__counts g-vac">
                        <span class="comment-info__txt g-vac__el">6 <span class="comment-info__title">отзывов</span></span>
                    </span>
                </div>
            </div>
            <div class="comment-info">
                <div class="comment-info__in comment-info__in--sm">
                    <span class="comment-info__points g-vac">
                        <span class="comment-info__txt g-vac__el">3,5</span>
                    </span>
                    <span class="comment-info__counts g-vac">
                        <span class="comment-info__txt g-vac__el">6 <span class="comment-info__title">отзывов</span></span>
                    </span>
                </div>
            </div>
            <div class="comment-info">
                <div class="comment-info__in comment-info__in--big">
                    <span class="comment-info__points g-vac">
                        <span class="comment-info__txt g-vac__el">3,5 <span class="comment-info__title">балла</span></span>
                    </span>
                </div>
            </div>
            <div class="comment-info">
                <a href="#comments" class="comment-info__in comment-info__in--bg-off comment-info__in--fs16 comment-info__in--link">
                    <span class="comment-info__points g-vac">
                        <span class="comment-info__txt g-vac__el">3,5 <span class="comment-info__title">балла</span></span>
                    </span>
                    <span class="comment-info__counts g-vac">
                        <span class="comment-info__txt g-vac__el">6 <span class="comment-info__title">отзывов</span></span>
                    </span>
                </a>
            </div>
            <div class="comments__add-btn g-abs g-abs_r g-abs_t">
                <button class="g-btn g-btn--bg g-btn--big g-btn--wide">
                    <span class="g-btn__txt">Написать отзыв</span>
                </button>
            </div>
        </div>
        <div class="comments__list">
            <article class="comment">
                <div class="comment-date">
                    <span class="comment-date__txt g-grey">16 декабря 2019</span>
                </div>
                <div class="comment-user">
                    <div class="comment-user__avatar g-abs g-abs_t g-abs_l">
                        <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/pages/user/user-ico__sm.jpg);"></span>
                        <!-- <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/user-ico__nophoto.svg);"></span> -->
                    </div>
                    <span class="comment-user__name">Иван Иванов</span>
                </div>

                <div class="comment-info">
                    <div class="comment-info__in comment-info__in--big">
                        <span class="comment-info__points g-vac">
                            <span class="comment-info__txt g-vac__el">3,5 <span class="comment-info__title">балла</span></span>
                        </span>
                        <span class="comment-info__resume g-vac g-grey">
                            <span class="comment-info__txt comment-info__txt--big g-vac__el">Отличное блюдо</span>
                        </span>
                    </div>
                </div>
                <div class="comment__desc">
                    <div class="g-editor g-editor--mb-sm">
                        <p><strong>Достоинства:</strong> Очень вкусно и питательно. Полностью окупает свою цену.</p>
                        <p><strong>Недостатки:</strong> Слишком много оливок</p>
                        <p><strong>Комментарий:</strong> Отличный вариант за свои деньги</p>
                    </div>
                </div>
                <div class="comment-like">
                    <button class="comment-like-el comment-like-el--good" data-count="6">
                        <svg role="presentation" class="comment-like-el__ico g-abs g-abs_l">
                            <use xlink:href="#symbol-finger_up"></use>
                        </svg>
                    </button>
                    <button class="comment-like-el comment-like-el--bad" data-count="0">
                        <svg role="presentation" class="comment-like-el__ico g-abs g-abs_l">
                            <use xlink:href="#symbol-finger_down"></use>
                        </svg>
                    </button>
                </div>
            </article>
            <article class="comment">
                <div class="comment-date">
                    <span class="comment-date__txt g-grey">16 декабря 2019</span>
                </div>
                <div class="comment-user">
                    <div class="comment-user__avatar g-abs g-abs_t g-abs_l">
                        <span class="comment-user__avatar-in g-bg__cover" style="background-image: url(images/user-ico__nophoto.svg);"></span>
                    </div>
                    <span class="comment-user__name">Иван Иванов</span>
                </div>

                <div class="comment-info">
                    <div class="comment-info__in comment-info__in--big">
                        <span class="comment-info__points g-vac">
                            <span class="comment-info__txt g-vac__el">3,5 <span class="comment-info__title">балла</span></span>
                        </span>
                        <span class="comment-info__resume g-vac g-grey">
                            <span class="comment-info__txt comment-info__txt--big g-vac__el">Отличное блюдо</span>
                        </span>
                    </div>
                </div>
                <div class="comment__desc">
                    <div class="g-editor g-editor--mb-sm">
                        <p><strong>Достоинства:</strong> Очень вкусно и питательно. Полностью окупает свою цену.</p>
                        <p><strong>Недостатки:</strong> Слишком много оливок</p>
                        <p><strong>Комментарий:</strong> Отличный вариант за свои деньги</p>
                    </div>
                </div>
                <div class="comment-like">
                    <button class="comment-like-el comment-like-el--good" data-count="6">
                        <svg role="presentation" class="comment-like-el__ico g-abs g-abs_l">
                            <use xlink:href="#symbol-finger_up"></use>
                        </svg>
                    </button>
                    <button class="comment-like-el comment-like-el--bad" data-count="0">
                        <svg role="presentation" class="comment-like-el__ico g-abs g-abs_l">
                            <use xlink:href="#symbol-finger_down"></use>
                        </svg>
                    </button>
                </div>
            </article>
        </div>

        <div class="comments__pagination">
            <button class="g-btn g-btn--bg">
                <span class="g-btn__txt">Показать еще</span>
            </button>
        </div>
    </div>
    <script>
        'use strict'
        const comments = document.querySelector('.comments');
        comments.addEventListener('click', (event)=>{
            const target = event.target;
            const likeEl = target.closest('.comment-like-el');
            if ( likeEl ) {
                let count = +likeEl.getAttribute('data-count');
                count++;
                likeEl.setAttribute('data-count', count);
                likeEl.classList.add('is-active');
            }
        });
    </script>
</div>
