<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Slider Swiper</span>
        </div>
        <div class="settings__desc">
            <div class="home-slider">
                <div class="swiper-wrapper">
                    <div class="home-slider__slide swiper-slide">
                        <div class="home-slider__in">
                            <a href="service_inner.html" class="g-link"></a>
                            <div class="home-slider__bg g-bg_img g-abs swiper-lazy" data-background="images/pages/home/home-slider-1.jpg">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="home-slider__text">
                                <div class="home-slider__title">
                                    <span class="home-slider__title-txt">СМС-рассылка</span>
                                </div>
                                <div class="home-slider__desc">
                                    <div class="g-editor g-editor_big g-editor_desc">
                                        <p>Мы организуем СМС-рассылку через интернет, и ваши потенциальные покупатели оперативно получат необходимую информацию.</p>
                                    </div>
                                </div>
                                <div class="home-slider__desc2">
                                    <div class="g-editor g-editor_desc">
                                        <p>Остались вопросы? Заполните форму заявки или позвоните нам и мы проконсультируем вас по телефону</p>
                                    </div>
                                </div>
                            </div>
                            <div class="home-slider__btn">
                                <a href="service_inner.html" class="g-btn">
                                    <span class="g-btn__txt">Оставить заявку</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="home-slider__slide swiper-slide">
                        <div class="home-slider__in">
                            <a href="service_inner.html" class="g-link"></a>
                            <div class="home-slider__bg g-bg_img g-abs swiper-lazy" data-background="images/pages/home/home-slider-2.jpg">
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                            <div class="home-slider__text">
                                <div class="home-slider__title">
                                    <span class="home-slider__title-txt">СМС-рассылка</span>
                                </div>
                                <div class="home-slider__desc">
                                    <div class="g-editor g-editor_big g-editor_desc">
                                        <p>Мы организуем СМС-рассылку через интернет, и ваши потенциальные покупатели оперативно получат необходимую информацию.</p>
                                    </div>
                                </div>
                                <div class="home-slider__desc2">
                                    <div class="g-editor g-editor_desc">
                                        <p>Остались вопросы? Заполните форму заявки или позвоните нам и мы проконсультируем вас по телефону</p>
                                    </div>
                                </div>
                            </div>
                            <div class="home-slider__btn">
                                <a href="service_inner.html" class="g-btn">
                                    <span class="g-btn__txt">Оставить заявку</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="home-slider__nav home-slider__nav_prev g-abs g-abs_l">
                    <svg role="presentation" aria-hidden="true" class="home-slider__nav-ico g-abs">
                        <use xlink:href="#symbol-slider-prev"></use>
                    </svg>
                </button>
                <button class="home-slider__nav home-slider__nav_next g-abs g-abs_r">
                    <svg role="presentation" aria-hidden="true" class="home-slider__nav-ico g-abs">
                        <use xlink:href="#symbol-slider-next"></use>
                    </svg>
                </button>
            </div>

            <div class="service-cab-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="service-cab-slider__in">
                            <div class="service-cab-slider__img-cont js-magnific-cont">
                                <img class="service-cab-slider__img swiper-lazy js-magnific-preview" data-src="images/pages/service/service-cab-1.jpg" alt="img-name" />
                                <div class="swiper-lazy-preloader"></div>
                                <a href="images/pages/service/service-cab-1_big.jpg" class="js-magnific__trigger g-link"></a>
                            </div>
                            <div class="service-cab-slider__text">
                                <div class="g-editor g-editor_big g-editor_mb-off g-editor_off">
                                    <p>Личный кабинет позволяет в многопользовательском режиме осуществлять доступ к статистике, совершать рассылки и вести диалоги с пользователями.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="service-cab-slider__in">
                            <div class="service-cab-slider__img-cont">
                                <img class="service-cab-slider__img swiper-lazy" data-src="images/pages/service/service-cab-1.jpg" alt="img-name" />
                                <div class="swiper-lazy-preloader"></div>
                                <a href="https://www.youtube.com/watch?v=__kZJZlXTec" class="js-magnific-trigger_media g-link g-link_video">
                                    <svg role="presentation" aria-hidden="true" class=" g-link_video__ico g-abs">
                                        <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-video"></use>
                                    </svg>
                                </a>
                            </div>
                            <div class="service-cab-slider__text">
                                <div class="g-editor g-editor_big g-editor_mb-off g-editor_off">
                                    <p>Личный кабинет позволяет в многопользовательском режиме осуществлять доступ к статистике, совершать рассылки и вести диалоги с пользователями.</p>
                                    <p>Личный кабинет позволяет в многопользовательском режиме осуществлять доступ к статистике, совершать рассылки и вести диалоги с пользователями.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
                <button class="service-cab-slider__btn service-cab-slider__btn_prev g-abs g-abs_l">
                    <svg role="presentation" aria-hidden="true" class="service-cab-slider__btn-ico g-abs">
                        <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-slider-prev"></use>
                    </svg>
                </button>
                <button class="service-cab-slider__btn service-cab-slider__btn_next g-abs g-abs_r">
                    <svg role="presentation" aria-hidden="true" class="service-cab-slider__btn-ico g-abs">
                        <use xlink:href="images/sprites/sprites_label/svg/symbols.svg#symbol-slider-next"></use>
                    </svg>
                </button>
            </div>

            <div class="g-client">
                <div class="g-client__list">
                    <div class="g-client__slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <a href="company_link" class="g-client-el__link" rel="noopener noreferrer nofollow" target="__blank">
                                        <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-1.png" alt="company_name" />
                                        <span class="swiper-lazy-preloader"></span>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-2.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-3.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-4.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-5.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <a href="company_link" class="g-client-el__link" rel="nofollow noopener">
                            <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-1.png" alt="company_name" />
                            <span class="swiper-lazy-preloader"></span>
                          </a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-2.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="g-client-el g-vac">
                                    <img class="g-client-el__img g-vac__el swiper-lazy" data-src="images/pages/our_client/client-3.png" alt="company_name" />
                                    <span class="swiper-lazy-preloader"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="g-client__slider-btn g-client__slider-btn_prev g-abs g-abs_l">
                        <svg role="presentation" aria-hidden="true" class="g-client__slider-btn-ico g-abs">
                            <use xlink:href="#symbol-slider-prev"></use>
                        </svg>
                    </button>
                    <button class="g-client__slider-btn g-client__slider-btn_next g-abs g-abs_r">
                        <svg role="presentation" aria-hidden="true" class="g-client__slider-btn-ico g-abs">
                            <use xlink:href="#symbol-slider-next"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <script type='text/javascript' src='js/vendor/swiper-slider_4/swiper.min.js'></script>
            <script src="js/aa_slider.js"></script>
        </div>
    </div>
</div>
