<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Cards</span>
        </div>
        <div class="settings__desc">
            <div class="cabinet-card">
                <a href="goods.html" class="cabinet-card-img g-abs g-abs_t g-abs_l">
                    <span class="cabinet-card-img__in g-bg--cover g-abs" style="background-image: url(images/pages/catalog/goods-img_sm.jpg)" ></span>
                </a>
                <div class="cabinet-card__in">
                    <div class="cabinet-card-text">
                        <div class="cabinet-card-text__top">
                            <a href="goods.html" class="cabinet-card-title">
                                <span class="cabinet-card-title__txt">Спальня Барокко, белый с золотой патиной</span>
                            </a>
                        </div>
                        <div class="cabinet-card-info">
                            <span class="cabinet-card-info__txt">Артикуль 12312532</span>
                        </div>
                    </div>
                </div>
                <div class="cabinet-card-data">
                    <div class="cabinet-card-data-price">
                        <span class="cabinet-card-data-price__txt">100 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                    <div class="cabinet-card-data-quan">
                        <span class="cabinet-card-data-quan__txt">1 </span>
                    </div>
                    <div class="cabinet-card-data-amount">
                        <span class="cabinet-card-data-amount__txt">200 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="cabinet-card cabinet-card--onebtn">
                <a href="goods.html" class="cabinet-card-img g-abs g-abs_t g-abs_l">
                    <span class="cabinet-card-img__in g-bg--cover g-abs" style="background-image: url(images/pages/catalog/goods-img_sm.jpg)" ></span>
                </a>
                <div class="cabinet-card__in">
                    <div class="cabinet-card-text">
                        <div class="cabinet-card-text__top">
                            <a href="goods.html" class="cabinet-card-title">
                                <span class="cabinet-card-title__txt">Спальня Барокко, белый с золотой патиной</span>
                            </a>
                        </div>
                        <div class="cabinet-card-info">
                            <span class="cabinet-card-info__txt">Артикуль 12312532</span>
                        </div>
                    </div>
                </div>
                <div class="cabinet-card-data">
                    <div class="cabinet-card-data-price">
                        <span class="cabinet-card-data-price__txt">100 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                    <div class="cabinet-card-data-quan">
                        <div class="g-quan cart__quan js-quan">
                            <button type="button" class="g-quan__btn g-quan__btn_minus  g-abs g-abs_l js-quan__minus">
                                <i class="g-quan__btn-ico g-abs">
                                <i class="g-quan__btn-ico-line g-quan__btn-ico-line_h g-abs"></i>
                                </i>
                            </button>
                            <input name="quantity" class="g-quan__num js-quan__num" autocomplete="off" data-max="10" type="tel" value="1">
                            <button type="button" class="g-quan__btn g-quan__btn_plus g-abs g-abs_r is-active  js-quan__plus">
                                <i class="g-quan__btn-ico g-abs">
                                    <i class="g-quan__btn-ico-line g-quan__btn-ico-line_h g-abs"></i>
                                    <i class="g-quan__btn-ico-line g-quan__btn-ico-line_v g-abs"></i>
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="cabinet-card-data-amount">
                        <span class="cabinet-card-data-amount__txt">199 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                </div>
                <button type="button" class="cabinet-card-trash g-abs g-abs_t g-abs_r is-active" title="Удалить">
                    <svg role="presentation" class="cabinet-card-trash__ico g-abs">
                        <use xlink:href="#symbol-trash"></use>
                    </svg>
                </button>
            </div>
            <div class="cabinet-card cabinet-card--twobtn">
                <a href="goods.html" class="cabinet-card-img g-abs g-abs_t g-abs_l">
                    <span class="cabinet-card-img__in g-bg--cover g-abs" style="background-image: url(images/pages/catalog/goods-img_sm.jpg)" ></span>
                </a>
                <div class="cabinet-card__in">
                    <div class="cabinet-card-text">
                        <div class="cabinet-card-text__top">
                            <a href="goods.html" class="cabinet-card-title">
                                <span class="cabinet-card-title__txt">Спальня Барокко, белый с золотой патиной</span>
                            </a>
                        </div>
                        <div class="cabinet-card-info">
                            <span class="cabinet-card-info__txt">Артикуль 12312532</span>
                        </div>
                    </div>
                </div>
                <div class="cabinet-card-data">
                    <div class="cabinet-card-data-price">
                        <span class="cabinet-card-data-price__txt">10 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                    <div class="cabinet-card-data-quan">
                        <div class="g-quan cart__quan js-quan">
                            <button type="button" class="g-quan__btn g-quan__btn_minus  g-abs g-abs_l js-quan__minus">
                                <i class="g-quan__btn-ico g-abs">
                                <i class="g-quan__btn-ico-line g-quan__btn-ico-line_h g-abs"></i>
                                </i>
                            </button>
                            <input name="quantity" class="g-quan__num js-quan__num" autocomplete="off" data-max="10" type="tel" value="1">
                            <button type="button" class="g-quan__btn g-quan__btn_plus g-abs g-abs_r is-active  js-quan__plus">
                                <i class="g-quan__btn-ico g-abs">
                                    <i class="g-quan__btn-ico-line g-quan__btn-ico-line_h g-abs"></i>
                                    <i class="g-quan__btn-ico-line g-quan__btn-ico-line_v g-abs"></i>
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="cabinet-card-data-amount">
                        <span class="cabinet-card-data-amount__txt">1 919<span class="cabinet-card-data-price__currency g-rub">₽</span>
                        </span>
                    </div>
                </div>
                <button type="button" class="cabinet-card-trash g-abs g-abs_t g-abs_r" title="Удалить">
                    <svg role="presentation" class="cabinet-card-trash__ico g-abs">
                        <use xlink:href="#symbol-trash"></use>
                    </svg>
                </button>
                <button type="button" class="cabinet-card-cart g-abs g-abs_t g-abs_r" title="добавить в корзину">
                    <svg role="presentation" class="cabinet-card-cart__ico g-abs">
                        <use xlink:href="#symbol-cart_card"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
