<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Forms</span>
        </div>
        <div class="settings__desc">

            <form action="/" name="form_cabinet" class="g-form g-form--lr cabinet-form__in"  style="max-width: 64em">
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-name1" class="g-form-item__name-txt">Имя*</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-name1" type="text" class="g-input" name="name_1" value="Михаил" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-name2" class="g-form-item__name-txt">Фамилия*</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-name2" type="text" class="g-input" name="name_2" value="Михаилов"/>
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-name3" class="g-form-item__name-txt">Отчество</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-name3" type="text" class="g-input" name="name_3" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-email" class="g-form-item__name-txt">E-mail</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-email" type="email" class="g-input" name="email" value="autos@gmail.com" />
                    </div>
                </div>
                <div class="g-form-item g-form-item--sm">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-phone" class="g-form-item__name-txt">Телефон *</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-phone" type="tel" class="g-input" name="phone" value="+7 (960) 470-07-33" />
                    </div>
                </div>
                <div class="g-form-item g-form-item--large">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-place" class="g-form-item__name-txt">Регион</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-place" type="text" class="g-input" name="place" value=" Воронежская обл." />
                    </div>
                </div>
                <div class="g-form-item g-form-item--large">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-city" class="g-form-item__name-txt">Город</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-city" type="text" class="g-input" name="city" value=" Воронеж" />
                    </div>
                </div>
                <div class="g-form-item g-form-item--large">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-address" class="g-form-item__name-txt">Адрес</label>
                    </div>
                    <div class="g-form-item__field g-form-item__field">
                        <input id="form_cabinet-g-address" type="text" class="g-input" name="address" value="ул. Хользунова, 8, 233" />
                    </div>
                </div>
                <div class="g-form-item g-form-item--sm">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-postcode" class="g-form-item__name-txt">Индекс</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_cabinet-g-postcode" type="text" class="g-input" name="postcode" placeholder="Не указан" />
                    </div>
                </div>
                <div class="g-form-item g-form-item--md">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-pass_old" class="g-form-item__name-txt">Старый пароль *</label>
                    </div>
                    <div class="g-form-item__field js-input-pass">
                        <input id="form_cabinet-g-pass_old" type="password" class="g-input js-input-pass__in" name="pass_old"  />

                        <button type="button" class="g-form-item__field-btn g-abs g-abs_r js-input-pass__btn">
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_open g-abs">
                                <use xlink:href="#symbol-eye"></use>
                            </svg>
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_close g-abs">
                                <use xlink:href="#symbol-eye_close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="g-form-item g-form-item--md">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-pass_new" class="g-form-item__name-txt">Новый пароль *</label>
                    </div>
                    <div class="g-form-item__field js-input-pass">
                        <input id="form_cabinet-g-pass_new" type="password" class="g-input js-input-pass__in" name="pass_new"  />

                        <button type="button" class="g-form-item__field-btn g-abs g-abs_r js-input-pass__btn">
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_open g-abs">
                                <use xlink:href="#symbol-eye"></use>
                            </svg>
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_close g-abs">
                                <use xlink:href="#symbol-eye_close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="g-form-item g-form-item_md">
                    <div class="g-form-item__name">
                        <label for="form_cabinet-g-pass_new_repeat" class="g-form-item__name-txt">Повторить пароль *</label>
                    </div>
                    <div class="g-form-item__field js-input-pass">
                        <input id="form_cabinet-g-pass_new_repeat" type="password" class="g-input js-input-pass__in" name="pass_new_repeat"  />

                        <button type="button" class="g-form-item__field-btn g-abs g-abs_r js-input-pass__btn">
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_open g-abs">
                                <use xlink:href="#symbol-eye"></use>
                            </svg>
                            <svg role="presentation" class="g-form-item__field-btn-ico g-form-item__field-btn-ico_close g-abs">
                                <use xlink:href="#symbol-eye_close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="g-form-item g-form-item_checkbox">
                    <div class="g-form-item__field">
                        <div class="g-checkbox-cont">
                            <div class="g-checkbox g-checkbox--block">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_stay" value="" checked="checked"/>
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Оставаться в системе</span>
                                </label>
                            </div>
                            <div class="g-checkbox g-checkbox--block">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_subscribe" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Получать новости и акции</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-form__btn">
                    <div class="g-form__btn-left">
                        <button type="reset" class="g-btn-color g-btn-color--cancel">
                            <span class="g-btn-color__txt">Отмена</span>
                        </button>
                    </div>
                    <div class="g-form__btn-right">
                        <button class="g-btn g-btn--bg">
                            <span class="g-btn__txt">Сохранить изменения</span>
                        </button>
                    </div>
                </div>
            </form>

            <form action="/" name="form_" class="g-form" style="max-width: 64em">
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-name" class="g-form-item__name-txt">Ваше имя</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-name" type="text" class="g-input" name="name" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-phone" class="g-form-item__name-txt">Номер телефона</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-phone" type="tel" class="g-input" name="phone" data-mask-phone="+7 (999) 999-99-99" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-email" class="g-form-item__name-txt">E-mail</label>
                    </div>
                    <div class="g-form-item__field">
                        <input id="form_-g-email" type="email" class="g-input" name="email" />
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-email" class="g-form-item__name-txt">Select</label>
                    </div>
                    <div class="g-form-item__field">
                        <div class="g-select__cont">
                            <select name="" id="">
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                                <option value="">fadsfdsf</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="g-form-item">
                    <div class="g-form-item__name">
                        <label for="form_-g-text" class="g-form-item__name-txt">Дополнительная информация</label>
                    </div>
                    <div class="g-form-item__field">
                        <textarea id="form_-g-text" class="g-textarea" name="text"></textarea>
                    </div>
                </div>
                <div class="g-form-item g-form-item_checkbox">
                    <div class="g-form-item__field">
                        <div class="g-checkbox-cont">
                            <div class="g-checkbox g-checkbox_mb-off">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_agree" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                      <svg role="presentation" class="g-checkbox__ico g-abs">
                                        <use xlink:href="#symbol-check"></use>
                                      </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен на обработку персональных данных</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-form-item g-form-item_checkbox">
                    <div class="g-form-item__field">
                        <div class="g-checkbox-cont">
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-checkbox">
                                <label class="g-checkbox__label">
                                    <input class="g-checkbox__input" type="checkbox" name="form_name-checkbox-gr-1" value="" />
                                    <i class="g-checkbox__diz g-abs g-abs_l">
                                        <svg role="presentation" class="g-checkbox__ico g-abs">
                                            <use xlink:href="#symbol-check"></use>
                                        </svg>
                                    </i>
                                    <span class="g-checkbox__txt">Я согласен</span>
                                </label>
                            </div>
                        </div>
                        <div class="g-radio-cont">
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                            <div class="g-radio">
                                <label class="g-radio__label">
                                    <input class="g-radio__input" type="radio" name="form_name-radio-gr-1" value="" />
                                    <i class="g-radio__diz g-abs g-abs_l"></i>
                                    <span class="g-radio__txt">Я согласен</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="g-form__btn">
                    <button class="g-btn g-btn_big">
                        <span class="g-btn__txt">Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
