<div class="settings__item" style="margin: 4em 0">
    <div class="g-content">
        <div class="settings__title" style="text-align: center; margin-bottom: 2em; text-transform: uppercase;">
            <span class="settings__title-txt t-h1">Buttons</span>
        </div>
        <div class="settings__desc">
            <a href="offers.html" class="g-btn g-btn--bg">
                <span class="g-btn__txt">Link Назад к списку</span>
            </a>
            <br/>
            <br/>
            <button class="g-btn g-btn--bg">
                <span class="g-btn__txt">Button</span>
            </button>
            <br/>
            <br/>
            <button class="g-btn g-btn--bg g-btn--mid g-btn--w18">
                <span class="g-btn__txt">Отправить</span>
            </button>
            <button class="g-btn g-btn--bg g-btn--big">
                <span class="g-btn__txt">Написать отзыв</span>
            </button>
            <br/>
            <br/>
            <button class="g-btn-color g-btn-color--grey">
                <span class="g-btn-color__txt">Купить в один клик</span>
            </button>
            <button class="g-btn-color g-btn-color--grey" disabled>
                <span class="g-btn-color__txt">Купить в один клик</span>
            </button>
            <a href="" class="g-btn-color">
                <span class="g-btn-color__txt">Узнать подробнее</span>
            </a>
            <br/>
            <br/>
            <button class="g-btn-color g-btn-color--cancel">
                <span class="g-btn-color__txt">ButtonОтмена</span>
            </button>
            <button class="g-btn-color g-btn-color--cancel" disabled>
                <span class="g-btn-color__txt">Отмена</span>
            </button>
            <a href="" class="g-btn-color g-btn-color--cancel">
                <span class="g-btn-color__txt">LinkОтмена</span>
            </a>
            <br/>
            <br/>
            <a href="" class="g-btn-color">
                <span class="g-btn-color__txt">Подробнее</span>
            </a>
            <a href="" class="g-btn-color" disabled>
                <span class="g-btn-color__txt">Узнать подробнее</span>
            </a>
            <br/>
            <br/>
            <a href="cabinet__order.html" class="g-btn-color g-btn-color--back">
                <span class="g-btn-color__txt">← Вернуться к списку заказов</span>
            </a>
            <br/>
            <br/>
            <button type="reset" class="g-btn g-btn--reset">
                <span class="g-btn__txt">Сбросить</span>
                <svg role="presentation" class="g-btn__reset-ico g-abs g-abs_r">
                    <use xlink:href="#symbol-cross"></use>
                </svg>
            </button>
            <br/>
            <br/>
            <button class="g-btn g-btn--bg g-btn--print" onclick="window.print();">
                <svg role="presentation" class="g-btn__ico">
                    <use xlink:href="#symbol-printer"></use>
                </svg>
                <span class="g-btn__txt">Распечатать</span>
            </button>

            <a href="pdf.pdf" class="g-btn g-btn--bg g-btn--pdf" target="_blank" rel="nofollow noopener">
                <svg role="presentation" class="g-btn__ico">
                    <use xlink:href="#symbol-file_pdf"></use>
                </svg>
                <span class="g-btn__txt Fw(sb)">Скачать PDF</span>
            </a>
        </div>
    </div>
</div>
