<div class="sidebar-nav" style="background-image: url(images/sidebar-nav-bg.png)">
    <div class="sidebar-nav__wrap">
        <div class="sidebar-nav__title g-vac">
            <svg role="presentation" aria-hidden="true" class="sidebar-nav__title-ico g-abs g-abs_l">
                <use xlink:href="#symbol-menu"></use>
            </svg>
            <div class="sidebar-nav__title-txt g-vac__el">Услуги и цены</div>
        </div>
        <div class="sidebar-nav__list">
            {% set items = [{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-1.svg",
                    "title": "Телемедицина",
                    "itemsDop": [{
                                "title": "Гематологические исследования"
                            },{
                                "title": "Биохимические исследования"
                            },{
                                "title": "Гормональные исследования"
                            },{
                                "title": "Иммунологические исследования"
                            },{
                                "title": "Аллергологические исследования"
                            },{
                                "title": "Маркеры аутоимунных заболеваний"
                            },{
                                "title": "Онкомаркеры"
                            },{
                                "title": "Микроэлементы"
                            },{
                                "title": "Исследования мочи"
                            },{
                                "title": "Исследование структуры почечного камня"
                            },{
                                "title": "Исследования кала"
                            },{
                                "title": "Исследования спермы"
                            },{
                                "title": "Диагностика инфекционных заболеваний"
                            },{
                                "title": "Цитологические исследования"
                            },{
                                "title": "Гистологические исследования"
                            },{
                                "title": "Онкогематологические исследования"
                            },{
                                "title": "Генетические предрасположенности"
                            },{
                                "title": "Наследственные заболевания"
                            },{
                                "title": "Наследственные заболевания обмена веществ"
                            },{
                                "title": "Определение биологического родства"
                            },{
                                "title": "Дисбиотические состояния кишечника и влагалища"
                            },{
                                "title": "Диагностические профили"
                            },{
                                "title": "Популярные исследования"
                            },{
                                "title": "Дополнительные услуги"
                            }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "diagnostics.html",
                    "src": "images/pages/catalog/catalog-ico-2.svg",
                    "title": "Самодиагностика"
                },{
                    "href": "analyzes.html",
                    "src": "images/pages/catalog/catalog-ico-3.svg",
                    "title": "Анализы",
                    "itemsDop": [{
                            "title": "Аллергологические исследования"
                        },{
                            "title": "Биохимические исследования"
                        },{
                            "title": "Гематологические исследования"
                        },{
                            "title": "Генетические предрасположенности"
                        },{
                            "title": "Гистологические исследования"
                        },{
                            "title": "Гормональные исследования"
                        },{
                            "title": "Диагностика инфекционных заболеваний"
                        },{
                            "title": "Диагностические профили"
                        },{
                            "title": "Дисбиотические состояния кишечника и влагалища"
                        },{
                            "title": "Дополнительные услуги"
                        },{
                            "title": "Иммунологические исследования"
                        },{
                            "title": "Исследование структуры почечного камня"
                        },{
                            "title": "Исследования кала"
                        },{
                            "title": "Исследования мочи"
                        },{
                            "title": "Исследования спермы"
                        },{
                            "title": "Маркеры аутоимунных заболеваний"
                        },{
                            "title": "Микроэлементы"
                        },{
                            "title": "Наследственные заболевания"
                        },{
                            "title": "Наследственные заболевания обмена веществ"
                        },{
                            "title": "Онкогематологические исследования"
                        },{
                            "title": "Онкомаркеры"
                        },{
                            "title": "Определение биологического родства"
                        },{
                            "title": "Популярные исследования"
                        },{
                            "title": "Цитогенетические исследования"
                        },{
                            "title": "Цитологические исследования"
                        }],
                    "itemsDopLink": "catalog_in_in_analyzes.html"
                },{
                    "href": "catalog_diagnos.html",
                    "src": "images/pages/catalog/catalog-ico-4.svg",
                    "title": "Диагностика",
                    "itemsDop": [{
                            "title": "Кольпоскопия"
                        },{
                            "title": "МРТ"
                        },{
                            "title": "Офтальмоскопия"
                        },{
                            "title": "Пальпация"
                        },{
                            "title": "Рефрактометрия"
                        },{
                            "title": "Тимпанометрия"
                        },{
                            "title": "УЗДГ"
                        },{
                            "title": "УЗИ"
                        },{
                            "title": "Функция внешнего дыхания"
                        },{
                            "title": "Функция внешнего дыхания"
                        },{
                            "title": "Холтеровское мониторирование"
                        },{
                            "title": "ЭКГ"
                        },{
                            "title": "Электромиография"
                        },{
                            "title": "Эндоскопия"
                        },{
                            "title": "ЭЭГ"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "adult_department.html",
                    "src": "images/pages/catalog/catalog-ico-5.svg",
                    "title": "Взрослое отделение",
                    "itemsDop": [{
                            "title": "Аллерголог"
                        },{
                            "title": "Андролог"
                        },{
                            "title": "Вакцинация"
                        },{
                            "title": "Ведение беременности. Планирование"
                        },{
                            "title": "Вертебролог"
                        },{
                            "title": "Врач ЛФК"
                        },{
                            "title": "Гастроэнтеролог"
                        },{
                            "title": "Гинеколог"
                        },{
                            "title": "Гинеколог (юверолог)"
                        },{
                            "title": "Гирудотерапевт"
                        },{
                            "title": "Дерматолог"
                        },{
                            "title": "Диетолог"
                        },{
                            "title": "Кардиолог"
                        },{
                            "title": "Лор"
                        },{
                            "title": "Маммолог"
                        },{
                            "title": "Невролог"
                        },{
                            "title": "Онколог"
                        },{
                            "title": "Ортопед-травматолог"
                        },{
                            "title": "Офтальмолог"
                        },{
                            "title": "Педиатр"
                        },{
                            "title": "Процедурный кабинет"
                        },{
                            "title": "Терапевт"
                        },{
                            "title": "Травматолог-ортопед"
                        },{
                            "title": "Уролог"
                        },{
                            "title": "Физиотерапевт"
                        },{
                            "title": "Функциональный диагност"
                        },{
                            "title": "Хирург"
                        },{
                            "title": "Эндокринолог"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-6.svg",
                    "title": "Детское отделение",
                    "itemsDop": [{
                            "title": "Аллерголог"
                        },{
                            "title": "Андролог"
                        },{
                            "title": "Вакцинация"
                        },{
                            "title": "Ведение беременности. Планирование"
                        },{
                            "title": "Вертебролог"
                        },{
                            "title": "Врач ЛФК"
                        },{
                            "title": "Гастроэнтеролог"
                        },{
                            "title": "Гинеколог"
                        },{
                            "title": "Гинеколог (юверолог)"
                        },{
                            "title": "Гирудотерапевт"
                        },{
                            "title": "Дерматолог"
                        },{
                            "title": "Диетолог"
                        },{
                            "title": "Кардиолог"
                        },{
                            "title": "Лор"
                        },{
                            "title": "Маммолог"
                        },{
                            "title": "Невролог"
                        },{
                            "title": "Онколог"
                        },{
                            "title": "Ортопед-травматолог"
                        },{
                            "title": "Офтальмолог"
                        },{
                            "title": "Педиатр"
                        },{
                            "title": "Процедурный кабинет"
                        },{
                            "title": "Терапевт"
                        },{
                            "title": "Травматолог-ортопед"
                        },{
                            "title": "Уролог"
                        },{
                            "title": "Физиотерапевт"
                        },{
                            "title": "Функциональный диагност"
                        },{
                            "title": "Хирург"
                        },{
                            "title": "Эндокринолог"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-7.svg",
                    "title": "Прививочный кабинет",
                    "itemsDop": [{
                            "title": "Гематологические исследования"
                        },{
                            "title": "Биохимические исследования"
                        },{
                            "title": "Гормональные исследования"
                        },{
                            "title": "Иммунологические исследования"
                        },{
                            "title": "Аллергологические исследования"
                        },{
                            "title": "Маркеры аутоимунных заболеваний"
                        },{
                            "title": "Онкомаркеры"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-8.svg",
                    "title": "Профосмотр",
                    "itemsDop": [{
                            "title": "Гематологические исследования"
                        },{
                            "title": "Биохимические исследования"
                        },{
                            "title": "Гормональные исследования"
                        },{
                            "title": "Иммунологические исследования"
                        },{
                            "title": "Аллергологические исследования"
                        },{
                            "title": "Маркеры аутоимунных заболеваний"
                        },{
                            "title": "Онкомаркеры"
                        },{
                            "title": "Микроэлементы"
                        },{
                            "title": "Исследования мочи"
                        },{
                            "title": "Исследование структуры почечного камня"
                        },{
                            "title": "Исследования кала"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-9.svg",
                    "title": "Вызов врача/медсестры",
                    "itemsDop": [{
                            "title": "Вызов врача/медсестры"
                        },{
                            "title": "Вызов врача на дом"
                        },{
                            "title": "Вызов медсестры на дом"
                        },{
                            "title": "ЭКГ на дому"
                        },{
                            "title": "Анализы на дому"
                        },{
                            "title": "УЗИ на дому"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-10.svg",
                    "title": "Травмпункт",
                    "itemsDop": [{
                            "title": "Вакцинация"
                        },{
                            "title": "Вскрытие гнойников, нарывов"
                        },{
                            "title": "Вывихи, травмы суставов"
                        },{
                            "title": "Наложение гипса"
                        },{
                            "title": "Ожоги, обморожения"
                        },{
                            "title": "Переломы"
                        },{
                            "title": "Растяжение связок"
                        },{
                            "title": "Укусы животных/насекомых"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-11.svg",
                    "title": "Косметология",
                    "itemsDop": [{
                            "title": "Аппликация ретинола"
                        },{
                            "title": "Биоревитализация кожи"
                        },{
                            "title": "Контурная пластика"
                        },{
                            "title": "Механическая чистка"
                        },{
                            "title": "Миостимуляция"
                        },{
                            "title": "Обертывание"
                        },{
                            "title": "Парафинотерапия рук"
                        },{
                            "title": "Пилинг"
                        },{
                            "title": "Фонофорез"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-12.svg",
                    "title": "Стоматология",
                    "itemsDop": [{
                            "title": "Беременным"
                        },{
                            "title": "Виниры"
                        },{
                            "title": "Детская стоматология"
                        },{
                            "title": "Диагностика"
                        },{
                            "title": "Имплантация"
                        },{
                            "title": "Исправление прикуса"
                        },{
                            "title": "Лечение во сне"
                        },{
                            "title": "Лечение десен"
                        },{
                            "title": "Лечение зубов"
                        },{
                            "title": "Отбеливание"
                        },{
                            "title": "Протезирование"
                        },{
                            "title": "Протезирование All-on-4"
                        },{
                            "title": "Профессиональная чистка"
                        },{
                            "title": "Средства для ухода"
                        },{
                            "title": "Удаление зубов"
                        },{
                            "title": "Эстетическая стоматология"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-13.svg",
                    "title": "Справки и документы",
                    "itemsDop": [{
                            "title": "Заключение для поступающего"
                        },{
                            "title": "Заключение об отсутствии медицинских противопоказаний к владению оружием по форме № 002-0/у"
                        },{
                            "title": "Заключение при устройстве на работу по приказу 302н (профосмотр)"
                        },{
                            "title": "Листок нетрудоспособности"
                        },{
                            "title": "Медицинская карта ребенка по форме № 026/у-2000"
                        },{
                            "title": "Медицинская справка 061/у"
                        },{
                            "title": "Медицинские книжки (ЛМК) на государственную гражданскую службу по форме 001-ГС/у по форме 072/у-04"
                        },{
                            "title": "Санаторно-курортная карта"
                        },{
                            "title": "Справка в бассейн"
                        },{
                            "title": "Справка для ГИБДД по форме № 003-В/у"
                        },{
                            "title": "Справка для посещения спортивной секции по форме 083/5-89"
                        },{
                            "title": "Справка для работы с использованием сведений, составляющих государственную тайну"
                        },{
                            "title": "Справка о временной нетрудоспособности по форме № 095/у"
                        },{
                            "title": "Справка о годности к управлению маломерным судном"
                        },{
                            "title": "Справка по форме № 086/у"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-14.svg",
                    "title": "Для организаций",
                    "itemsDop": [{
                            "title": "Аттестация рабочих мест (СОУТ)"
                        },{
                            "title": "Вакцинация"
                        },{
                            "title": "Организация здравпункта"
                        },{
                            "title": "Предсменный и послесменный медицинский осмотр"
                        },{
                            "title": "Профосмотр"
                        },{
                            "title": "Профосмотр и предрейсовый осмотр"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-15.svg",
                    "title": "Паллиативная медицина и реабилитация",
                    "itemsDop":  [{
                            "title": "Паллиативная помощь взрослым"
                        },{
                            "title": "Паллиативная помощь детям"
                        },{
                            "title": "Стационар"
                        },{
                            "title": "Служба сиделок"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-16.svg",
                    "title": "Скорая помощь",
                    "itemsDop": [{
                            "title": "Госпитализация"
                        },{
                            "title": "Транспортировка"
                        },{
                            "title": "Сопровождение"
                        },{
                            "title": "Неотложная помощь"
                        },{
                            "title": "Реанимация"
                        },{
                            "title": "Выезд врача на дом"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                },{
                    "href": "catalog_in_in.html",
                    "src": "images/pages/catalog/catalog-ico-17.svg",
                    "title": "ВВЭ",
                    "itemsDop": [{
                            "title": "Невропатолог"
                        },{
                            "title": "Психиатр"
                        },{
                            "title": "Стоматолог"
                        },{
                            "title": "Хирург"
                        },{
                            "title": "Терапевт"
                        },{
                            "title": "Дерматовенеролог"
                        }],
                    "itemsDopLink": "catalog_in_in.html"
                }]
            %}
            {% for item in items %}
                <div class="sidebar-nav-item">
                    <a href="{{ item.href }}" class="sidebar-nav-item__in g-vac">
                        <img class="sidebar-nav-item__ico g-abs g-abs_l" src="{{ item.src }}" alt="" />
                        <span class="sidebar-nav-item__txt g-vac__el">{{ item.title }}</span>
                    </a>

                    {% if item.itemsDop %}
                    <button class="sidebar-nav-item-btn g-abs g-abs_r">
                        <svg role="presentation" aria-hidden="true" class="sidebar-nav-item-btn__ico g-abs">
                            <use xlink:href="#symbol-menu-arrow"></use>
                        </svg>
                    </button>
                    <div class="sidebar-nav-item-dop">
                        <div class="sidebar-nav-item-dop__list">
                            {% for el in item.itemsDop %}
                                <a href="{{ item.itemsDopLink }}" class="sidebar-nav-item-dop__txt">{{ el.title }}</a>
                            {% endfor %}
                        </div>
                        <div class="sidebar-nav-item-dop__angle"></div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
